.sidebar {
  display: flex;
  flex-direction: column;
  height: auto !important;
  bottom: 0;
  width: var(--doc-sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--ifm-z-index-fixed);
  background-color: var(--ifm-background-color);
  border-right: 1px solid var(--ifm-toc-border-color);
  transition: transform var(--ifm-transition-fast) ease;
  padding-top: 45px;
  box-sizing: border-box;
}

.sidebarWithHideableNavbar {
  top: var(--ifm-navbar-height);
  height: auto !important;
  bottom: 0;
}

.sidebarHidden {
  transform: translateX(-100%);
}

.sidebarLogo {
  display: flex !important;
  align-items: center;
  margin: 0 var(--ifm-navbar-padding-horizontal);
  min-height: var(--ifm-navbar-height);
  max-height: var(--ifm-navbar-height);
  color: inherit !important;
  text-decoration: none !important;
}

.sidebarLogo img {
  margin-right: 0.5rem;
  height: 2rem;
}

.contentWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/* Target the inner menu to make it scrollable */
.contentWrapper :global(.menu) {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: 100px !important;
  box-sizing: border-box;
}