/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url("./fonts/fonts.css");

:root {
  --purplePrimary: #6720ff;
  --purpleSecondary: #7e41ff;
  --purpleDarken: #6322ee;
  --textPrimary: #1e1923;
  --textSecondary: #443f49;
  --textThirdary: #706b77;

  --tintColor: #f3f3f3;
  --tintAccentColor: rgba(123, 9, 255, 0.05);

  --ifm-color-primary: var(--purplePrimary);
  --ifm-color-primary-dark: var(--purpleDarken);
  --ifm-color-primary-darker: var(--purpleDarken);
  --ifm-color-primary-darkest: var(--purpleDarken);
  --ifm-color-primary-light: var(--purpleSecondary);
  --ifm-color-primary-lighter: var(--purpleSecondary);
  --ifm-color-primary-lightest: var(--purpleSecondary);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  // from code
  --ifm-menu-color-background-hover: var(--tintColor);
  --ifm-menu-color-background-active: var(--tintAccentColor);
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJub25lIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYuODYxNzcgNC44NjIwMUM3LjEyMjEyIDQuNjAxNjYgNy41NDQyMyA0LjYwMTY2IDcuODA0NTggNC44NjIwMUwxMC40NzEyIDcuNTI4NjhD MTAuNzMxNiA3Ljc4OTAzIDEwLjczMTYgOC4yMTExNCAxMC40NzEyIDguNDcxNDlMNy44MDQ1OCAxMS4xMzgyQzcuNTQ0MjMgMTEuMzk4NSA3LjEyMjEyIDExLjM5ODUgNi44NjE3NyAxMS4xMzgyQzYuNjAxNDIgMTAuODc3OCA2LjYwMTQyIDEwLjQ1NTcgNi44NjE3NyAxMC4xOTUzTDkuMDU3MDMgOC4wMDAwOEw2Ljg2MTc3IDUuODA0ODJDNi42MDE0MiA1LjU0NDQ3IDYuNjAxNDIgNS4xMjIzNiA2Ljg2MTc3IDQuODYyMDFaIiBmaWxsPSIjNDIzRjQ3IiBzdHlsZT0iZmlsbDojNDIzRjQ3O2ZpbGw6Y29sb3IoZGlzcGxheS1wMyAwLjI1ODggMC4yNDcxIDAuMjc4NCk7ZmlsbC1vcGFjaXR5OjE7Ii8+Cjwvc3ZnPgo=");

  --footer-link-color: #fff;
  --footer-link-color: #808080;
  --footer-background-color: #191919;
  --footer-color: var(--ifm-footer-link-color);
  --footer-link-color: var(--ifm-footer-link-color);
  --footer-title-color: var(--ifm-color-white);
  --footer-link-hover-color: var(--ifm-color-white);

  //   font-family: Inter;
  // font-size: 32px;
  // font-style: normal;
  // font-weight: 700;
  // line-height: 36px;

  --heading-color: var(--textPrimory);
  --heading-margin-top: 0;
  --heading-margin-bottom: var(--ifm-spacing-vertical);
  --heading-font-family: Inter;
  --heading-font-weight: 700;
  --heading-line-height: 1.25;
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.85rem;
  // хук нужен для того, что в каких-то стилях переопределяют базовые переменные и сами на себя они ссылаться не могут.
  --ifm-heading-margin-top: var(--heading-margin-top);
  --ifm-heading-margin-bottom: var(--heading-margin-bottom);
  --ifm-heading-font-family: var(--heading-font-family);
  --ifm-heading-font-weight: var(--heading-font-weight);
  --ifm-heading-line-height: var(--heading-line-height);
  --ifm-h1-font-size: var(---h1-font-size);
  --ifm-h2-font-size: var(---h2-font-size);
  --ifm-h3-font-size: var(---h3-font-size);
  --ifm-h4-font-size: var(---h4-font-size);
  --ifm-h5-font-size: var(---h5-font-size);
  --ifm-h6-font-size: var(---h6-font-size);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  font-family: Inter;
  color: var(--textSecondary);
  a {
    text-decoration: none !important;
  }
}
.theme-doc-sidebar-item-category-level-1 {
  &.menu__list-item {
    margin-bottom: 32px;
  }

  & > .menu__list-item-collapsible {
    &:hover {
      background: none;
    }
    .menu__link {
      font-weight: 600;
      color: var(--textPrimary) !important;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 12px;
    }
  }

  & > .menu__list {
    padding-left: 0 !important;
  }
}

.menu {
  padding-right: 16px !important;
  padding-top: 20px !important;
  padding-left: 16px !important;
}

.menu__list .menu__list {
  padding-left: 16px;
  margin: 0;
}

.menu__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--textSecondary);

  &:hover:not(&--active) {
    color: var(--textPrimary);
  }

  padding: 6px 16px;

  &--active {
    font-weight: 600;
    color: var(--purplePrimary);
  }
}

.menu__list-item-collapsible {
  border-radius: 8px;
  &--active {
    &:hover {
      background-color: var(--ifm-menu-color-background-active);
    }
    background-color: var(--ifm-menu-color-background-active);
  }
  flex-wrap: nowrap;
  align-items: center;

  &:hover {
    .menu__caret::before {
      opacity: 100%;
    }
  }
  .menu__link {
    padding-right: 0;
    color: var(--textPrimary);
    font-weight: 400;

    flex: unset;
  }

  .menu__caret {
    box-sizing: content-box;
    padding: 10px;
    padding-left: 0px;
    flex: 1;

    width: 16px;
    height: 16px;

    &:before {
      transform: rotateZ(90deg);
      transition: all 0.3s ease;
      background: var(--ifm-menu-link-sublist-icon);
      height: 16px;
      width: 16px;
      opacity: 50%;
    }
  }

  &.menu__list-item-collapsible--active {
    .menu__link {
      font-weight: 600;
      color: var(--purplePrimary);
    }
  }
}

.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(0deg);
}

.menu__list-item {
  margin-top: 0 !important;
}

.navbar {
  padding: 10px 32px;

  &__items {
    gap: 8px;
  }

  &__logo {
    width: 106px;
    height: 28px;
    margin: 0;
  }

  &__brand {
    margin-right: 32px;
  }

  &__link {
    &--feedback {
      display: none;
    }

    &--sign-up {
      display: flex;
      padding: 8px 24px;
      border-radius: 8px;
      background: var(--purplePrimary);
      color: white;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      transition: all 0.3s ease;

      &:hover {
        background: var(--purpleSecondary);
        color: white;
      }
    }
    svg[class*="iconExternalLink"] {
      display: none;
    }
  }

  &__locale-link {
    color: transparent;
    &:hover {
      color: transparent;
    }
    height: 24px;
    width: 24px;
    display: block;

    svg {
      transition: all 0.3s ease;

      height: 24px;
      width: 24px;
      color: initial;
      margin: 0;
    }
  }
}

.navbar__item {
  padding: 8px 12px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;

  &:has(.navbar__locale-link) {
    padding: 6px 0;

    &:hover svg {
      color: var(--purpleSecondary);
    }
  }

  &.navbar__link {
    &--active {
      font-weight: 600;
    }
  }
  &.dropdown {
    a::after {
      content: none;
    }
  }
}

.dropdown {
  &__menu {
    // opacity: 1;
    // visibility: visible;
    padding: 8px;
  }
  &__link {
    border-radius: 8px;
    width: 100%;
    margin: 0;
    padding: 6px 16px;
    display: inline-block;
    &:hover {
      background-color: var(--ifm-menu-color-background-hover);
      color: var(--textPrimary);
    }
    color: var(--textSecondary);

    &--active {
      background-color: var(--ifm-menu-color-background-active);
      color: var(--purplePrimary);
      font-weight: 600;
      &:hover {
        background-color: var(--ifm-menu-color-background-active);
        color: var(--purpleSecondary);
      }
    }
    svg {
      display: none;
    }
  }
}

.footer--dark {
  --ifm-footer-background-color: var(--footer-background-color);
  --ifm-footer-color: var(--footer-color);
  --ifm-footer-link-color: var(--footer-link-color);
  --ifm-footer-title-color: var(--footer-title-color);
  --ifm-footer-link-hover-color: var(--footer-link-hover-color);
}

.footer {
  padding: 32px 16px;

  &__link-item {
    text-decoration: none !important;

    svg {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;

    border-bottom: 1px #242424 solid;
    flex-wrap: wrap;
  }

  &__logo-icon {
    height: 32px;
    width: 122px;
    flex: 0 0 122px;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__social-icon {
    display: block;
    width: 32px;
    height: 32px;

    &:hover img {
      filter: invert(41%) sepia(100%) saturate(7482%) hue-rotate(246deg)
        brightness(96%) contrast(104%);
    }
  }
  &__social-svg {
    width: 32px;
    height: 32px;
  }
  &__bottom {
    display: flex;
    justify-content: start;
  }

  &__copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__col {
    &:has(.footer__header) {
      flex: 1 0 100%;

      .footer__title {
        display: none;
      }
      .footer__links {
        background-color: green;
      }
    }
  }
}

.breadcrumbs {
  margin-bottom: 24px;
  &__item {
    &:first-child {
      .breadcrumbs__link {
        &::before {
          content: "Docs";
        }
        svg {
          display: none;
        }
      }
    }

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--textSecondary);
    text-decoration: none;
    &:hover {
      color: var(--textPrimary);
    }

    &:last-child::after {
      content: none !important;
    }

    &::after {
      content: "/" !important;
      color: var(--purplePrimary) !important;
      background: none !important;
      padding-left: 4px;
      padding-right: 4px;
      opacity: 1 !important;
      height: auto !important;
      margin: 0 !important;
    }

    &--active {
      .breadcrumbs__link {
        color: var(--textPrimary);
        background: none !important;
        &:hover {
          color: var(--textPrimary);
        }
      }
    }
  }

  &__link {
    padding: 0;
    color: var(--purplePrimary);

    &:hover {
      color: var(--purpleSecondary);
      background: none !important;
    }
  }
}

.table-of-contents {
  padding: 0;
  border: none;
  &::before {
    content: "On this page";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--textSecondary);
  }

  li {
    margin: 4px 0;
  }

  &__link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    &:hover {
      color: var(--purplePrimary);
    }
  }
}

.theme-doc-version-badge {
  background: none;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--textThirdary);
}

main {
  & > .container {
    padding-top: 56px !important;
  }

  article {
    padding-right: 40px;
    padding-left: 40px;
  }

  header {
  }

  .markdown h1 {
    --ifm-h1-font-size: var(--h1-font-size);
  }
  .markdown h1:first-child {
    --ifm-h1-font-size: var(--h1-font-size);
    --ifm-heading-margin-top: var(--heading-margin-top);
    --ifm-heading-margin-bottom: var(--heading-margin-bottom);
    --ifm-heading-font-family: var(--heading-font-family);
    --ifm-heading-font-weight: var(--heading-font-weight);
    --ifm-heading-line-height: var(--heading-line-height);
  }

  .markdown > h2 {
    --ifm-h2-font-size: var(--h2-font-size);
    margin-top: 28px;
    margin-bottom: 16px;
  }
  .markdown > h3 {
    --ifm-h3-font-size: var(--h3-font-size);

    margin-top: 28px;
    margin-bottom: 12px;
  }
  .markdown > p {
    color: var(--textSecondary);
    margin-bottom: 20px;
    margin-top: 16px;
  }

  .markdown img {
    border-radius: 12px;
    border: 1px solid #f0f0f0 !important;
    background: #faf9fc !important;
    padding: 8px;
  }
}

.support {
  padding-top: 36px;
  padding-bottom: 64px;
  display: flex;
  gap: 8px;
  align-items: center;

  &__button {
    background: white;
    display: flex;
    padding: 6px 16px 6px 12px;
    align-items: center;
    gap: 8px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: var(--purpleSecondary);
      border-color: var(--purpleSecondary);
    }
  }
}

.pagination-nav {
  margin: 0 !important;
  margin-bottom: 48px !important;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__sublabel {
    display: none;
  }

  &__label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: var(--textPrimary);

    &:hover {
      color: var(--purplePrimary);
    }
  }

  &__link {
    padding: 0;
    border: none;
  }
}

.alert {
  border-radius: 12px;
  padding: 16px;
  border: 1px solid;
  display: flex;
  // justify-content: space-between;
  gap: 8px;

  & > div:first-child {
    font-size: 0;
    color: transparent;
    span {
      width: 24px;
      height: 24px;
      font-size: 16px;
      color: initial;
      margin: 0;
    }
  }
  a {
    color: inherit !important;
    text-decoration: underline !important;
  }

  &--warning {
    background: #fffdf0;
    border: 1px solid #fbe7b0;
    color: #784930;
  }
  &--danger {
    background: #fff8f8;
    border: 1px solid #ffd0d2;
    color: #873636;
  }
  &--info {
    background: #f5fbff;
    border: 1px solid #b0e2ff;
    color: #004991;
  }
  &--secondary {
    background: #faf9fc;
    border: 1px solid #e7e7e7;
    color: var(--textPrimary);
  }
  &--success {
    background: #f0fef9;
    border: 1px solid #97f3d8;
    color: #004f38;
  }
}