openapi: 3.1.0
info:
  title: API de servidor de Adapty
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: Servidor de producción
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: Crear perfil
      description: Crea un nuevo usuario final de tu app en Adapty.
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: La plataforma del dispositivo donde el usuario tiene tu app instalada
      responses:
        '200':
          description: Perfil creado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '500':
          description: Error interno del servidor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: "Jane"
              last_name: "Doe"
              gender: "f"
              email: "jane.doe@example.com"
              phone_number: "+1234567890"
              birthday: "2000-12-31"
              ip_country: "FR"
              store_country: "US"
              store: "app_store"
              analytics_disabled: true
              custom_attributes:
                - key: "favourite_sport"
                  value: "yoga"
              installation_meta:
                device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                device: "string"
                locale: "en"
                os: "string"
                platform: "iOS"
                timezone: "Europe/Rome"
                user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
                idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
                idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
                advertising_id: ""
                android_id: ""
                android_app_set_id: ""
    get:
      summary: Obtener perfil
      description: Recupera los detalles de un usuario final existente de tu app.
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Perfil recuperado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d333-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "d8533a10-bcce-4e33-8c9d-88b05ac56559"
                  customer_user_id: "77B14FB4-FD2A-4D38-AA3A-4C433F79863C"
                  total_revenue_usd: 9.99
                  segment_hash: "fdaeef7f8aaa33c9"
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels:
                    - access_level_id: "premium"
                      store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000335013007"
                      store_original_transaction_id: "2000000335013007"
                      offer: null
                      starts_at: null
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: "2025-01-05T13:27:47.461425+00:00"
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000815013007"
                      store_original_transaction_id: "2000000815013007"
                      offer: null
                      environment: "Sandbox"
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: "7a5f9a7d-e236-33e6-96d8-53a3c59c5562"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Profile not found"]
                error_code: "profile_does_not_exist"
                status_code: 404
        '500':
          description: Error interno del servidor
    patch:
      summary: Actualizar perfil
      description: Actualiza la información del perfil de usuario
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Perfil actualizado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: Eliminar perfil
      description: Elimina el perfil de usuario
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '204':
          description: Perfil eliminado correctamente
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor

  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: Registrar transacción
      description: Crea una nueva transacción para un usuario final de tu app en Adapty y proporciona un nivel de acceso. La transacción creada por este método aparecerá en tus análisis y en el Event Feed, y se enviará a todas las integraciones.
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Transacción registrada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: Ejemplo de compra única
                value:
                  purchase_type: "one_time_purchase"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_lifetime"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 9.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  variation_id: "variation_123"
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: Ejemplo de suscripción
                value:
                  purchase_type: "subscription"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_monthly"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 4.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  originally_purchased_at: "2024-01-15T10:30:00Z"
                  expires_at: "2024-02-15T10:30:00Z"
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: "variation_123"
                  offer:
                    category: "introductory"
                    type: "free_trial"
                    id: "trial_offer_123"
                  refunded_at: null
                  cancellation_reason: null

  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: Otorgar nivel de acceso
      description: Proporciona un nivel de acceso a tu usuario final sin incluir información sobre la transacción. Resulta útil si tienes bonificaciones por referidos u otros eventos relacionados con tus productos. El nivel de acceso otorgado por este método no se reflejará en tus análisis. Solo se enviará a la integración de webhooks y, únicamente en ese caso, aparecerá en el Event Feed.
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Nivel de acceso otorgado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: Otorgar acceso inmediatamente
                value:
                  access_level_id: "premium"
              scheduled_grant:
                summary: Otorgar acceso con fechas de inicio y fin
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"
                  expires_at: "2024-12-31T23:59:59Z"
              lifetime_grant:
                summary: Otorgar acceso de por vida
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"

  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: Revocar nivel de acceso
      description: Elimina un nivel de acceso de un usuario final de tu app en Adapty.
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Nivel de acceso revocado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: Revocar acceso inmediatamente
                value:
                  access_level_id: "premium"
              scheduled_revoke:
                summary: Programar la revocación del acceso
                value:
                  access_level_id: "premium"
                  revoke_at: "2024-12-31T23:59:59Z"

  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: Obtener configuración de Refund Saver
      description: Obtén la preferencia de Refund Saver para este usuario (si Adapty debe solicitar rechazar o aprobar su solicitud de reembolso) y la preferencia de uso compartido de datos (si el usuario dio su consentimiento para compartir sus datos con Apple).
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Configuración recuperada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "no_preference"
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: El perfil no existe
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Establecer configuración de Refund Saver
      description: Establece la preferencia de reembolso individualmente para el usuario y registra si el usuario dio su consentimiento para compartir sus datos. De forma predeterminada, Refund Saver siempre solicita a Apple que rechace la solicitud de reembolso del usuario. Puedes cambiar este comportamiento predeterminado para todos los usuarios en el Adapty Dashboard, o ajustarlo para un usuario específico mediante el Dashboard, el SDK de Adapty o la API de servidor.
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: "grant"
              consent: true
      responses:
        '200':
          description: Configuración actualizada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "grant"
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: El perfil no existe
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
                validation_error:
                  summary: Error de validación
                  value:
                    errors: ["Profile refund saver settings must have either consent or custom_preference or both"]
                    error_code: "validation_error"
                    status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: Validar compra de Stripe
      description: |
        Valida una compra utilizando el token de Stripe proporcionado, usando las credenciales de Stripe en la configuración de tu app dentro del Adapty Dashboard.
        Si la compra es válida, el historial de transacciones se importa desde Stripe al perfil en Adapty con el customer_user_id especificado.
        Si no existía ningún perfil con ese customer_user_id, se creará uno nuevo.

        Los eventos del perfil se generan durante el proceso y las transacciones importadas se contabilizan en el MTR.
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: "stripe_receipt_validation_result"
                attributes:
                  customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
                  stripe_token: "<YOUR_STRIPE_TOKEN>"
      responses:
        '200':
          description: Compra validada correctamente
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: Solicitud incorrecta
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: "none is not an allowed value"
                    source:
                      pointer: "/data/attributes/stripe_token"
                    status: "400"
        '401':
          description: No autorizado
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Error interno del servidor
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: Validar compra de Paddle
      description: |
        Valida una compra utilizando el token de Paddle proporcionado, usando las credenciales de Paddle en la configuración de tu app dentro del Adapty Dashboard.
        Si la compra es válida, el historial de transacciones se importa desde Paddle al perfil en Adapty con el customer_user_id especificado.
        Si no existía ningún perfil con ese customer_user_id, se creará uno nuevo.
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
              paddle_token: "live_7d279f61a3339fed520f7cd8c08"
      responses:
        '200':
          description: Compra validada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "Jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions:
                    - purchase_id: "5a7ab471-2299-45f7-ad69-1d395c1256e3"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: No se encontraron productos
                  value:
                    errors: ["No products found"]
                    error_code: "no_products_found"
                    status_code: 400
                paddle_api_key_not_found:
                  summary: Clave API de Paddle no encontrada
                  value:
                    errors: ["Paddle API key not found"]
                    error_code: "paddle_api_key_not_found"
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Credenciales de Paddle no válidas o compra no encontrada
                  value:
                    errors: ["Invalid Paddle credentials or purchase not found"]
                    error_code: "invalid_paddle_credentials_or_purchase_not_found"
                    status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: Obtener identificadores de integración
      description: Recupera los identificadores de integración de un perfil.
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      responses:
        '200':
          description: Identificadores de integración recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: "XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A"
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: "33w6yv5DPqVlyMVbjW31xvzJLtJ3"
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: "333ed338-757d-466a-a672-ab92db196a1f"
                pushwoosh_hwid: null
                firebase_app_instance_id: "C333B35DF1DB418E99F7B815E9F5C549"
                airbridge_device_id: null
                appsflyer_id: "1741933337626-3179568"
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Establecer identificadores de integración
      description: Añade identificadores de integración a un perfil.
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: El ID único del cliente en tu sistema. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: El ID único del perfil en tu sistema. La mejor opción si trabajas con perfiles anónimos. Se requiere `adapty-customer-user-id` o `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: "example_pushwoosh_hwid"
              mixpanel_user_id: "example_mixpanel_user_id"
              facebook_anonymous_id: "example_facebook_anonymous_id"
              firebase_app_instance_id: "example_firebase_app_instance_id"
              amplitude_user_id: "example_amplitude_user_id"
              amplitude_device_id: "example_amplitude_device_id"
              appmetrica_device_id: "example_appmetrica_device_id"
              appmetrica_profile_id: "example_appmetrica_profile_id"
              one_signal_subscription_id: "example_one_signal_subscription_id"
              one_signal_player_id: "example_one_signal_player_id"
              branch_id: "example_branch_id"
              appsflyer_id: "example_appsflyer_id"
              adjust_device_id: "example_adjust_device_id"
              airbridge_device_id: "example_airbridge_device_id"
              tenjin_analytics_installation_id: "example_tenjin_analytics_installation_id"
              posthog_distinct_user_id: "example_posthog_distinct_user_id"
      responses:
        '200':
          description: Identificadores de integración establecidos correctamente. El cuerpo de la respuesta está vacío.
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["At least one integration identifier must be provided."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Perfil no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/:
    get:
      summary: Listar paywalls
      description: Recupera una lista de paywalls de tu app.
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Número de página para la paginación
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Número de elementos por página
      responses:
        '200':
          description: Paywalls recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: "LlkTlizT"
                    paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-08T07:27:06.754527+00:00"
                    created_at: "2025-07-08T07:27:06.754541+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                        title: "mFUQPcJQ"
                        product_set: "uncategorised"
                        offer: null
                  - title: "Premium Subscription"
                    paywall_id: "a1cf7850-1bb8-4151-8336-a4e588730c55"
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-28T08:15:13.722680+00:00"
                    created_at: "2025-07-25T13:40:01.789853+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: "https://example.com/purchase"
                    products:
                      - product_id: "b136422f-8153-402a-afbb-986929c68f6a"
                        title: "Premium Monthly"
                        product_set: "uncategorised"
                        offer:
                          product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                          title: "Free Trial"
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "page_size"
                    errors: ["Invalid page_size parameter. Must be between 1 and 100."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: Obtener paywall
      description: Recupera un paywall específico de tu app.
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: El identificador único del paywall a recuperar
      responses:
        '200':
          description: Paywall recuperado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Paywall no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Actualizar paywall
      description: |
        Actualiza el Remote Config de un paywall específico. Este endpoint te permite modificar los valores del Remote Config que ayudan a personalizar la apariencia y el comportamiento del paywall.

        **Importante:** Si actualizas un Remote Config, se sobrescribirán todos los Remote Configs existentes. Si necesitas conservar los Remote Configs actuales, primero obtén el paywall, copia los remote_configs y modifica únicamente los objetos necesarios en la solicitud de actualización.
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: El identificador único del paywall a actualizar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: "en"
                  data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
      responses:
        '200':
          description: Paywall actualizado correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "remote_configs"
                    errors: ["At least one field must be provided"]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Paywall no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        Las solicitudes a la API deben autenticarse con tu clave API secreta en la cabecera **Authorization**
        con el valor `Api-Key {your_secret_api_key}`, por ejemplo,
        `Api-Key secret_live_...`. Puedes encontrar esta clave en el Adapty Dashboard ->
        **App Settings** -> pestaña **General** -> sección **API keys**.
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: Nombre de tu usuario final
        last_name:
          type: string
          nullable: true
          description: Apellido de tu usuario final
        gender:
          type: string
          nullable: true
          enum: [f, m, o]
          description: Género de tu usuario final
        email:
          type: string
          nullable: true
          format: email
          description: Correo electrónico de tu usuario final
        phone_number:
          type: string
          nullable: true
          description: Número de teléfono de tu usuario final
        birthday:
          type: string
          format: date
          nullable: true
          description: Fecha de nacimiento de tu usuario final
        ip_country:
          type: string
          nullable: true
          description: País del usuario final en formato ISO 3166-2
        ip_v4_address:
          type: string
          nullable: true
          description: Dirección IPv4 del usuario final
        store_country:
          type: string
          nullable: true
          description: País del store del usuario final
        store:
          type: string
          nullable: true
          enum: [app_store, play_store, stripe, adapty, paddle]
          description: La plataforma que el usuario utiliza para realizar compras in-app en tu app
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: Token de cuenta del store
        att_status:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3]
          description: Estado de Apple App Tracking Transparency (0=no determinado, 1=restringido, 2=denegado, 3=autorizado)
        analytics_disabled:
          type: boolean
          nullable: true
          description: Opción para darse de baja de los análisis externos
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Permite establecer hasta 30 atributos personalizados para el perfil
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: "Jane"
        last_name: "Doe"
        gender: "f"
        email: "jane.doe@example.com"
        phone_number: "+1234567890"
        birthday: "2000-12-31"
        ip_country: "FR"
        ip_v4_address: "192.168.1.1"
        store_country: "US"
        store: "app_store"
        store_account_token: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: "favourite_sport"
            value: "yoga"
        installation_meta:
          device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          device: "iPhone 15 Pro"
          locale: "en"
          os: "iOS 17.1"
          platform: "iOS"
          timezone: "Europe/Rome"
          user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
          app_build: "1.0.0"
          app_version: "1.0.0"
          adapty_sdk_version: "2.0.0"
          idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
          idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
          advertising_id: ""
          android_id: ""
          android_app_set_id: ""

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data

    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: El ID interno de tu app
        profile_id:
          type: string
          format: uuid
          description: ID de perfil de Adapty
        customer_user_id:
          type: string
          nullable: true
          description: El ID de tu usuario en tu sistema
        total_revenue_usd:
          type: number
          format: float
          description: Un valor decimal que representa los ingresos totales en USD generados por el perfil
        segment_hash:
          type: string
          description: Parámetro interno
        timestamp:
          type: integer
          format: int64
          description: Hora de la respuesta en milisegundos; necesario para resolver una condición de carrera
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Se permite un máximo de 30 atributos personalizados por perfil
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: Array de objetos de nivel de acceso. Array vacío si el cliente no tiene niveles de acceso
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: Array de objetos de suscripción. Array vacío si el cliente no tiene suscripciones
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: Array de objetos de compras no suscritas. Array vacío si el cliente no tiene compras
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: La clave debe ser una cadena de texto de no más de 30 caracteres. Solo se permiten letras, números, guiones, puntos y guiones bajos
        value:
          oneOf:
            - type: string
            - type: number
          description: El valor del atributo no debe superar los 50 caracteres. Solo se permiten cadenas de texto y números decimales como valores
      required:
        - key
        - value

    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: Identificador único del dispositivo
        device:
          type: string
          nullable: true
          description: Información del dispositivo
        locale:
          type: string
          nullable: true
          description: Configuración regional del dispositivo
        os:
          type: string
          nullable: true
          description: Información del sistema operativo
        platform:
          type: string
          nullable: true
          enum: [iOS, macOS, iPadOS, Android, visionOS, web]
          description: Plataforma (iOS, Android, etc.)
        timezone:
          type: string
          nullable: true
          description: Zona horaria del dispositivo
        user_agent:
          type: string
          nullable: true
          description: Cadena de user agent
        app_build:
          type: string
          nullable: true
          description: Versión de compilación de la app
        app_version:
          type: string
          nullable: true
          description: Versión de la app
        adapty_sdk_version:
          type: string
          nullable: true
          description: Versión del SDK de Adapty
        idfa:
          type: string
          nullable: true
          description: Identificador para anunciantes de iOS
        idfv:
          type: string
          nullable: true
          description: Identificador para proveedores de iOS
        advertising_id:
          type: string
          nullable: true
          description: ID de publicidad de Android
        android_id:
          type: string
          nullable: true
          description: ID de dispositivo Android
        android_app_set_id:
          type: string
          nullable: true
          description: ID de conjunto de apps de Android
      required:
        - device_id

    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: Identificador del nivel de acceso
        store:
          type: string
          description: Store donde se adquirió el nivel de acceso
        store_product_id:
          type: string
          description: ID del producto en el store
        store_base_plan_id:
          type: string
          nullable: true
          description: ID del plan base en el store
        store_transaction_id:
          type: string
          description: ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: ID de la transacción original en el store
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Detalles de la oferta, si se aplicó una oferta promocional o introductoria
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo comienza el nivel de acceso
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió el nivel de acceso
        originally_purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió originalmente el nivel de acceso
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo expira el nivel de acceso
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se canceló la renovación
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se detectó el problema de facturación
        is_in_grace_period:
          type: boolean
          description: Si el nivel de acceso está en período de gracia
        cancellation_reason:
          type: string
          nullable: true
          description: Motivo de la cancelación

    Subscription:
      type: object
      properties:
        store:
          type: string
          description: Store donde se adquirió la suscripción
        store_product_id:
          type: string
          description: ID del producto en el store
        store_base_plan_id:
          type: string
          nullable: true
          description: ID del plan base en el store
        store_transaction_id:
          type: string
          description: ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: ID de la transacción original en el store
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Detalles de la oferta, si se aplicó una oferta promocional o introductoria
        environment:
          type: string
          description: Entorno (Sandbox, Production)
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió la suscripción
        originally_purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió originalmente la suscripción
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo expira la suscripción
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se canceló la renovación
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se detectó el problema de facturación
        is_in_grace_period:
          type: boolean
          description: Si la suscripción está en período de gracia
        cancellation_reason:
          type: string
          nullable: true
          description: Motivo de la cancelación

    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Identificador único de la compra
        store:
          type: string
          description: Store donde se realizó la compra
        store_product_id:
          type: string
          description: ID del producto en el store
        store_base_plan_id:
          type: string
          nullable: true
          description: ID del plan base en el store
        store_transaction_id:
          type: string
          description: ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: ID de la transacción original en el store
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se realizó la compra
        environment:
          type: string
          description: Entorno (Sandbox, Production)
        is_refund:
          type: boolean
          description: Si se trata de un reembolso
        is_consumable:
          type: boolean
          description: Si se trata de una compra consumible

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Origen del error
              errors:
                type: array
                items:
                  type: string
                description: Array de mensajes de error
        error_code:
          type: string
          description: Nombre corto del error
        status_code:
          type: integer
          description: Código de estado HTTP
      required:
        - errors
        - error_code
        - status_code

    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type

    OneTimePurchaseDTO:
      type: object
      title: Compra única
      description: Datos de transacción para una compra única
      properties:
        purchase_type:
          type: string
          enum: [one_time_purchase]
          description: Tipo de compra
        store:
          type: string
          description: Store donde se realizó la compra. Los valores habituales son `app_store`, `play_store`, `stripe`, `paddle` o cualquier identificador de store personalizado
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Entorno donde se realizó la compra
        store_product_id:
          type: string
          description: ID del producto en el store
        store_transaction_id:
          type: string
          description: ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: ID de la transacción original en el store
        is_family_shared:
          type: boolean
          default: false
          description: Si la compra es compartida en familia
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se realizó la compra
        variation_id:
          type: string
          nullable: true
          description: ID de variante para pruebas A/B
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se reembolsó la compra
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Motivo de la cancelación
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at

    SubscriptionDTO:
      type: object
      title: Suscripción
      description: Datos de transacción para una compra de suscripción
      properties:
        purchase_type:
          type: string
          enum: [subscription]
          description: Tipo de compra
        store:
          type: string
          description: Store donde se realizó la compra. Los valores habituales son `app_store`, `play_store`, `stripe`, `paddle` o cualquier identificador de store personalizado
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Entorno donde se realizó la compra
        store_product_id:
          type: string
          description: ID del producto en el store
        store_transaction_id:
          type: string
          description: ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: ID de la transacción original en el store
        is_family_shared:
          type: boolean
          default: false
          description: Si la compra es compartida en familia
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se realizó la compra
        variation_id:
          type: string
          nullable: true
          description: ID de variante para pruebas A/B
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se reembolsó la compra
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Motivo de la cancelación
        originally_purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió originalmente la suscripción
        expires_at:
          type: string
          format: date-time
          description: Cuándo expira la suscripción
        renew_status:
          type: boolean
          description: Si la suscripción se renovará
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo cambió el estado de renovación
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se detectó el problema de facturación
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo expira el período de gracia
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status

    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: Código de país
        currency:
          type: string
          description: Código de moneda
        value:
          type: number
          format: float
          description: Valor del precio
      required:
        - country
        - currency
        - value

    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: Categoría de la oferta
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front]
          description: Tipo de oferta
        id:
          type: string
          nullable: true
          description: ID de la oferta
      required:
        - category
        - type

    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID del nivel de acceso de pago configurado en la página de Niveles de acceso
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: La fecha y hora en que el nivel de acceso estará activo. Puede ser en el futuro. El valor predeterminado es null.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: La fecha y hora en que el nivel de acceso expirará. Puede ser en el pasado y puede ser null para el acceso de por vida. El valor predeterminado es null.
      required:
        - access_level_id

    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID del nivel de acceso de pago configurado en la página de Niveles de acceso
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: Especifica cuándo expirará el nivel de acceso. Para revocar el acceso inmediatamente, omite este campo o establécelo en null. El valor predeterminado es null.
      required:
        - access_level_id

    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          nullable: true
          description: |
            Establece la preferencia de reembolso individualmente para el usuario.
            - `grant`: aprobar cada solicitud de reembolso
            - `no_preference`: no proporcionar ninguna recomendación
            - `decline`: rechazar cada solicitud de reembolso
        consent:
          type: boolean
          nullable: true
          description: |
            Registra si el usuario dio su consentimiento para compartir sus datos.
            - `true` significa que si recibes una solicitud de reembolso in-app, puedes proporcionar a Apple información sobre el usuario
      example:
        custom_preference: "grant"
        consent: true

    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: ID del perfil del cliente
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: Define si el usuario consintió compartir sus datos
            custom_preference:
              type: string
              enum: [grant, no_preference, decline]
              description: La preferencia de reembolso
          description: Configuración de Refund Saver para el usuario
      required:
        - profile_id
        - settings

    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [stripe_receipt_validation_result]
              description: El tipo del recurso
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: El ID de tu usuario en tu sistema
                stripe_token:
                  type: string
                  description: |
                    Token de un objeto de Stripe que representa una compra única.
                    Puede ser un token de una Suscripción de Stripe (sub_XXX) o de un Payment Intent (pi_XXX)
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data

    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Datos de la respuesta (null en caso de validación correcta)
      required:
        - data

    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: Información descriptiva sobre el error
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: Hace referencia a la ubicación exacta en el documento de la solicitud que causó el problema
                required:
                  - pointer
              status:
                type: string
                description: Código de estado HTTP
            required:
              - detail
              - source
              - status
      required:
        - errors

    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: El ID de tu usuario en tu sistema
        paddle_token:
          type: string
          description: |
            Token de un objeto de Paddle que representa una compra única.
            Puede ser un ID de transacción (txn_...) o un ID de suscripción (sub_...)
      required:
        - customer_user_id
        - paddle_token

    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: El ID de usuario de red en la integración de Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: El ID de usuario de red en la integración de AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: La Branch Key de la app del usuario en la integración de Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de OneSignal (identificador heredado)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de OneSignal (identificador recomendado)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Tenjin
      description: Se debe proporcionar al menos un identificador de integración

    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: El ID de usuario de red en la integración de Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: El ID de usuario de red en la integración de AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: La Branch Key de la app del usuario en la integración de Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de OneSignal (identificador heredado)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de OneSignal (identificador recomendado)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: El ID del usuario en la integración de PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: El ID del dispositivo del usuario en la integración de Tenjin

    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: La configuración regional del Remote Config (p. ej., "en", "es", "fr")
              data:
                type: string
                description: Cadena JSON que contiene los datos del Remote Config
            required:
              - locale
              - data
          description: Array de objetos RemoteConfig a actualizar
      required:
        - remote_configs
      description: Se debe proporcionar al menos un campo

    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: El nombre del paywall, tal como está definido en tu Adapty Dashboard
        paywall_id:
          type: string
          format: uuid
          description: El identificador único del paywall
        use_paywall_builder:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder heredado
        updated_at:
          type: string
          format: date-time
          description: Marca de tiempo de la última actualización del paywall
        created_at:
          type: string
          format: date-time
          description: Marca de tiempo de la creación del paywall
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: El estado actual del paywall
        is_deleted:
          type: boolean
          description: Si el paywall está marcado como eliminado
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL para compras web, si corresponde
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: El identificador único del producto
              title:
                type: string
                description: El título del producto
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: La categoría del conjunto de productos
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: El identificador único de la oferta de producto
                  title:
                    type: string
                    description: El título de la oferta
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Array de objetos de producto con información sobre los productos
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: La configuración regional del Remote Config
              data:
                type: string
                description: Cadena JSON que contiene los datos del Remote Config
            required:
              - locale
              - data
          description: Array de objetos RemoteConfig con la configuración regional y los datos
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: El identificador único de la imagen
            url:
              type: string
              format: uri
              description: La URL de la imagen
          required:
            - image_id
            - url
          description: Objeto de captura de pantalla principal con image_id y url
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    PaywallListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaywallListItem'
          description: Array de objetos de paywall
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                count:
                  type: integer
                  description: Número total de paywalls
                page:
                  type: integer
                  description: Número de página actual
                pages:
                  type: integer
                  description: Número total de páginas
              required:
                - count
                - page
                - pages
          required:
            - pagination
      required:
        - data
        - meta

    PaywallListItem:
      type: object
      properties:
        title:
          type: string
          description: El nombre del paywall, tal como está definido en tu Adapty Dashboard
        paywall_id:
          type: string
          format: uuid
          description: El identificador único del paywall
        use_paywall_builder:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder heredado
        updated_at:
          type: string
          format: date-time
          description: Marca de tiempo de la última actualización del paywall
        created_at:
          type: string
          format: date-time
          description: Marca de tiempo de la creación del paywall
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: El estado actual del paywall
        is_deleted:
          type: boolean
          description: Si el paywall está marcado como eliminado
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL para compras web, si corresponde
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: El identificador único del producto
              title:
                type: string
                description: El título del producto
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: La categoría del conjunto de productos
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: El identificador único de la oferta de producto
                  title:
                    type: string
                    description: El título de la oferta
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Array de objetos de producto con información sobre los productos del paywall
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProfileObject:
      type: object
      description: |
        Un perfil representa a un usuario final de tu app. Contiene todos los datos de suscripción del usuario,
        el historial de compras y los atributos personalizados. Los perfiles se identifican mediante un customer_user_id
        (tu ID de usuario interno) o un profile_id (el ID interno de Adapty).
      properties:
        app_id:
          type: string
          format: uuid
          description: El identificador único de tu app en Adapty
        profile_id:
          type: string
          format: uuid
          description: El identificador único del perfil en Adapty
        customer_user_id:
          type: string
          nullable: true
          description: El ID de tu usuario en tu sistema
        total_revenue_usd:
          type: number
          format: float
          description: Ingresos totales generados por este usuario en USD
        segment_hash:
          type: string
          description: Hash del segmento del usuario para análisis
        timestamp:
          type: integer
          format: int64
          description: Marca de tiempo Unix de la última actualización del perfil
        custom_attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: La clave del atributo
              value:
                type: string
                description: El valor del atributo
            required: [key, value]
          description: Array de atributos personalizados del usuario
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevelObject'
          description: Array de niveles de acceso que tiene el usuario
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionObject'
          description: Array de suscripciones activas
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscriptionObject'
          description: Array de compras únicas
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    AccessLevelObject:
      type: object
      description: |
        Un nivel de acceso representa una funcionalidad o nivel de contenido de pago en tu app.
        Los usuarios pueden tener múltiples niveles de acceso, y cada nivel puede tener diferentes fechas de expiración.
      properties:
        id:
          type: string
          description: El identificador único del nivel de acceso
        is_active:
          type: boolean
          description: Si el nivel de acceso está activo actualmente
        vendor_product_id:
          type: string
          description: El ID del producto en el store de apps
        store:
          type: string
          description: El store donde se adquirió el nivel de acceso. Los valores habituales son app_store, play_store, stripe, paddle o cualquier identificador de store personalizado
        activated_at:
          type: string
          format: date-time
          description: Cuándo se activó el nivel de acceso
        renewed_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se renovó por última vez el nivel de acceso
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo expira el nivel de acceso (null para acceso de por vida)
        is_lifetime:
          type: boolean
          description: Si se trata de un nivel de acceso de por vida
        active_introductory_offer_type:
          type: string
          nullable: true
          description: Tipo de oferta introductoria activa
        active_promotional_offer_type:
          type: string
          nullable: true
          description: Tipo de oferta promocional activa
        will_renew:
          type: boolean
          description: Si el nivel de acceso se renovará automáticamente
        is_in_grace_period:
          type: boolean
          description: Si el nivel de acceso está en período de gracia
        unsubscribed_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se dio de baja el usuario
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Cuándo se detectó un problema de facturación
      required:
        - id
        - is_active
        - vendor_product_id
        - store
        - activated_at
        - renewed_at
        - expires_at
        - is_lifetime
        - active_introductory_offer_type
        - active_promotional_offer_type
        - will_renew
        - is_in_grace_period
        - unsubscribed_at
        - billing_issue_detected_at

    SubscriptionObject:
      type: object
      description: |
        Una suscripción representa una compra de suscripción activa. Contiene información sobre
        el producto de suscripción, los detalles de la compra y el estado de renovación.
      properties:
        purchase_id:
          type: string
          format: uuid
          description: El identificador único de la compra
        store:
          type: string
          description: El store donde se adquirió la suscripción. Los valores habituales son app_store, play_store, stripe, paddle o cualquier identificador de store personalizado
        store_product_id:
          type: string
          description: El ID del producto en el store
        store_base_plan_id:
          type: string
          nullable: true
          description: El ID del plan base en el store
        store_transaction_id:
          type: string
          description: El ID de la transacción en el store
        store_original_transaction_id:
          type: string
          description: El ID de la transacción original en el store
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se adquirió la suscripción
        environment:
          type: string
          enum: [Production, Sandbox]
          description: El entorno donde se realizó la compra
        is_refund:
          type: boolean
          description: Si se trata de una compra reembolsada
        is_consumable:
          type: boolean
          description: Si se trata de una compra consumible
      required:
        - purchase_id
        - store
        - store_product_id
        - store_base_plan_id
        - store_transaction_id
        - store_original_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    NonSubscriptionObject:
      type: object
      description: |
        Una compra no suscrita representa una compra única. Contiene información sobre
        el producto y los detalles de la compra.
      properties:
        purchase_id:
          type: string
          format: uuid
          description: El identificador único de la compra
        store:
          type: string
          description: El store donde se realizó la compra. Los valores habituales son app_store, play_store, stripe, paddle o cualquier identificador de store personalizado
        store_product_id:
          type: string
          description: El ID del producto en el store
        store_transaction_id:
          type: string
          description: El ID de la transacción en el store
        purchased_at:
          type: string
          format: date-time
          description: Cuándo se realizó la compra
        environment:
          type: string
          enum: [Production, Sandbox]
          description: El entorno donde se realizó la compra
        is_refund:
          type: boolean
          description: Si se trata de una compra reembolsada
        is_consumable:
          type: boolean
          description: Si se trata de una compra consumible
      required:
        - purchase_id
        - store
        - store_product_id
        - store_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    PaywallObject:
      type: object
      description: |
        Un paywall representa una pantalla de monetización en tu app. Contiene información sobre
        la configuración del paywall, los productos y los Remote Configs.
      properties:
        title:
          type: string
          description: El nombre del paywall, tal como está definido en tu Adapty Dashboard
        paywall_id:
          type: string
          format: uuid
          description: El identificador único del paywall
        use_paywall_builder:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Si el paywall utiliza el Paywall Builder heredado
        updated_at:
          type: string
          format: date-time
          description: Marca de tiempo de la última actualización del paywall
        created_at:
          type: string
          format: date-time
          description: Marca de tiempo de la creación del paywall
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: El estado actual del paywall
        is_deleted:
          type: boolean
          description: Si el paywall está marcado como eliminado
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL para compras web, si corresponde
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductObject'
          description: Array de productos disponibles en este paywall
        remote_configs:
          type: array
          items:
            $ref: '#/components/schemas/RemoteConfigObject'
          description: Array de Remote Configs para diferentes configuraciones regionales
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: El identificador único de la imagen
            url:
              type: string
[...]
