openapi: 3.1.0
info:
  title: Adapty Mail API
  version: 1.0.0
  description: |
    Adapty Mail API, kullanıcı profillerini ve işlem olaylarını doğrudan sunucunuzdan Adapty Mail'e
    göndermenizi sağlar; verilerin Adapty SDK üzerinden yönlendirilmesine gerek kalmaz.

    Kullanım alanları:

    - Henüz Adapty Mail'de bir tabanınız yokken aboneler eklemek.
    - Diğer uygulamalarınızdaki abone tabanını yeniden kullanmak.
    - Adapty Mail'i sunucudan sunucuya beslemek; arka ucunuz gerçeğin kaynağı olarak kullanılır.

    E-posta adresi olan bir profil, **hiç satın alma yapmamış** flow için yeterlidir. Diğer tüm flow'lar
    (yenileme iptal edildi, ödeme sorunu, süresi doldu, iade edildi) satın alma geçmişiyle yürütülür;
    bu nedenle söz konusu profillerin doğru flow'a yerleştirilebilmesi için işlem olaylarına da ihtiyacı vardır.

    Adım adım açıklama için bkz. [Adapty Mail API aracılığıyla e-posta ve işlem gönderme](/docs/mail-send-data-via-api).
servers:
  - url: https://api-mail.adapty.io
    description: Production server
paths:
  /api/v1/profile/save/:
    post:
      summary: Profil kaydet
      description: |
        Adapty Mail'de bir profil oluşturur veya günceller. Profil, Adapty Mail'in alıcıları tanımlamak
        ve [segmentler](/docs/mail-segments) oluşturmak için kullandığı kullanıcı e-postasını ve
        özelliklerini taşır.

        Her kullanıcıyı kararlı bir `external_profile_id` ile tanımlayın. Aynı `external_profile_id`'yi
        tekrar göndermek, yinelenen bir profil oluşturmak yerine mevcut profili günceller.
      operationId: saveProfile
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileDTO'
            examples:
              basic:
                summary: E-posta adresi olan ve "hiç satın alma yapmamış" flow'a hazır profil
                value:
                  external_profile_id: "user_12345"
                  external_created_at: "2026-06-01T10:30:00Z"
                  email: "jane@example.com"
                  country: "US"
                  custom_attributes:
                    plan: "trial"
      responses:
        '200':
          description: Profil başarıyla kaydedildi. Yanıt gövdesi boş bir nesnedir.
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value: {}
        '400':
          description: Doğrulama başarısız — gerekli bir alan eksik veya geçersiz. `field_name` hangi alanın sorunlu olduğunu gösterir.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: "Field required"
                        error_code: "base_error"
                        status_code: 400
                        field_name: "email"
        '403':
          description: Gizli API anahtarı eksik veya geçersiz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: "Secret key doesn't exist"
                        error_code: "secret_key_does_not_exist_error"
                        status_code: 403
                        field_name: null
  /api/v1/profile/transaction-event/save/:
    post:
      summary: İşlem olayı kaydet
      description: |
        Bir profil için mağaza işlem olayı kaydeder. Adapty Mail, profilleri satın alma tabanlı
        flow'lara yerleştirmek için işlem olaylarını kullanır — `event_type` değeri; yenileme iptal
        edildi, ödeme sorunu, süresi doldu ve iade edildi gibi flow'larla eşleşir — ve gelir
        attribution'ı için de bu olaylardan yararlanır.

        Satın almaları, yenilemeleri ve iptalleri işlerken bu olayları gönderin. Yalnızca
        **hiç satın alma yapmamış** flow bunlar olmadan çalışır.
      operationId: saveTransactionEvent
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionEventDTO'
            examples:
              basic:
                summary: Yeni bir aylık abonelik satın alımı
                value:
                  event_type: "subscription_started"
                  event_id: "evt_abc123"
                  event_datetime: "2026-06-10T14:20:05Z"
                  external_profile_id: "user_12345"
                  store: "app_store"
                  store_product_id: "premium_monthly"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  purchased_at: "2026-06-10T14:20:00Z"
                  originally_purchased_at: "2026-06-10T14:20:00Z"
                  price_usd: "9.99"
                  expires_at: "2026-07-10T14:20:00Z"
      responses:
        '200':
          description: İşlem olayı başarıyla kaydedildi. Yanıt gövdesi boş bir nesnedir.
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value: {}
        '400':
          description: Doğrulama başarısız — gerekli bir alan eksik veya geçersiz. `field_name` hangi alanın sorunlu olduğunu gösterir.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: "Field required"
                        error_code: "base_error"
                        status_code: 400
                        field_name: "event_type"
        '403':
          description: Gizli API anahtarı eksik veya geçersiz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: "Secret key doesn't exist"
                        error_code: "secret_key_does_not_exist_error"
                        status_code: 403
                        field_name: null
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Her isteği Adapty Mail gizli API anahtarınızla kimlik doğrulaması yapın; anahtar **Authorization**
        başlığında `Bearer {your_secret_api_key}` değeriyle gönderilir, örneğin `Bearer secret_live_...`.

        Bu anahtarı Adapty Mail'de **Settings** altında bulabilirsiniz. Anahtar projeye özgüdür — verinin
        ait olduğu projeyi tanımlar; bu nedenle profil ve işlem uç noktaları bir proje kimliği almaz.
  schemas:
    ProfileDTO:
      type: object
      required:
        - external_profile_id
        - external_created_at
        - email
      properties:
        external_profile_id:
          type: string
          description: |
            Uygulamanıza veya arka ucunuza ait olan, kullanıcıya özgü kararlı tanımlayıcı. Adapty Mail'in
            e-postaları, tıklamaları ve satın almaları tek bir profile bağlayabilmesi için istekler arasında
            aynı değeri kullanın. Anonim veya kurulum başına bir tanımlayıcı asla kullanmayın.
        external_created_at:
          type: string
          format: date-time
          description: |
            ISO 8601 biçiminde kullanıcı oluşturma zamanı (örneğin `"2026-06-01T10:30:00Z"`).
            Bu tarihi segmentlerde kullanabilirsiniz.
        email:
          type: string
          format: email
          description: Kullanıcının e-posta adresi. Adapty Mail kampanyaları bu adrese iletir.
        first_name:
          type: string
          description: Kullanıcının adı.
        last_name:
          type: string
          description: Kullanıcının soyadı.
        gender:
          type: string
          description: Kullanıcının cinsiyeti.
        birthday:
          type: string
          format: date
          description: ISO 8601 biçiminde kullanıcının doğum tarihi (örneğin `"1990-05-21"`).
        country:
          type: string
          description: Kullanıcının ülkesi; iki harfli büyük harf ISO 3166-1 alfa-2 kodu olarak belirtilir (örneğin `US`).
        store_country:
          type: string
          description: Kullanıcının mağaza bölgesi; iki harfli büyük harf ISO 3166-1 alfa-2 kodu olarak belirtilir (örneğin `US`).
        custom_attributes:
          type: object
          description: |
            Profile eklenecek rastgele anahtar-değer çiftleri (dize veya sayı değerleri). Bunları
            [segmentler](/docs/mail-segments) oluşturmak için kullanın — örneğin `plan`, `signup_source`
            veya `trial_days`.
        device_info:
          $ref: '#/components/schemas/DeviceInfoDTO'
    DeviceInfoDTO:
      type: object
      required:
        - platform
      properties:
        platform:
          type: string
          description: Kullanıcının bulunduğu platform, örneğin `iOS` veya `Android`.
        device:
          type: string
          description: Cihaz modeli, örneğin `iPhone15,2`.
        os:
          type: string
          description: İşletim sistemi sürümü, örneğin `17.5`.
        locale:
          type: string
          description: Kullanıcının yerel ayarı, örneğin `en-US`.
        timezone:
          type: string
          description: Kullanıcının saat dilimi, örneğin `America/New_York`.
        app_version:
          type: string
          description: Kullanıcının çalıştırdığı uygulamanızın sürümü, örneğin `3.1.0`.
    TransactionEventDTO:
      type: object
      required:
        - event_type
        - event_id
        - event_datetime
        - external_profile_id
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - purchased_at
        - originally_purchased_at
      properties:
        event_type:
          $ref: '#/components/schemas/TransactionEventType'
        event_id:
          type: string
          description: Sisteminize ait bu olaya özgü benzersiz tanımlayıcı. Olayları idempotent tutmak için kullanın.
        event_datetime:
          type: string
          format: date-time
          description: ISO 8601 biçiminde olayın kaydedildiği zaman.
        external_profile_id:
          type: string
          description: Profili kaydederken gönderdiğiniz kararlı `external_profile_id` ile aynı değer. İşlemi doğru profile bağlar.
        store:
          type: string
          description: İşlemin geldiği mağaza, örneğin `app_store`, `play_store` veya `stripe`.
        store_product_id:
          type: string
          description: Mağazada satın alınan ürünün tanımlayıcısı.
        store_transaction_id:
          type: string
          description: Mağazadaki bu işlemin tanımlayıcısı.
        store_original_transaction_id:
          type: string
          description: Abonelik zincirindeki ilk işlemin tanımlayıcısı. İlk satın almada bu değer `store_transaction_id` ile aynıdır.
        purchased_at:
          type: string
          format: date-time
          description: ISO 8601 biçiminde bu işlemin gerçekleştiği zaman.
        originally_purchased_at:
          type: string
          format: date-time
          description: ISO 8601 biçiminde aboneliğin ilk satın alındığı zaman.
        price_usd:
          type: string
          description: İşlem tutarı USD cinsinden ondalık dize olarak (örneğin `"9.99"`).
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 biçiminde aboneliğin sona erdiği veya sona ereceği zaman. Abonelik dışı satın almalar için belirtmeyin.
        offer:
          $ref: '#/components/schemas/Offer'
    TransactionEventType:
      type: string
      description: İşlem olayının türü. Satın alma tabanlı flow'lar bu değerler tarafından tetiklenir.
      enum:
        - subscription_started
        - subscription_renewed
        - subscription_renewal_cancelled
        - subscription_renewal_reactivated
        - billing_issue_detected
        - entered_grace_period
        - subscription_refunded
        - subscription_expired
        - non_subscription_purchase
        - non_subscription_purchase_refunded
    Offer:
      type: object
      description: İşleme uygulanan promosyon teklifi veya başlangıç teklifinin ayrıntıları.
      required:
        - category
        - offer_type
      properties:
        category:
          $ref: '#/components/schemas/OfferCategory'
        offer_type:
          $ref: '#/components/schemas/OfferType'
        offer_id:
          type: string
          description: Varsa mağazadaki teklifin tanımlayıcısı.
    OfferCategory:
      type: string
      enum:
        - introductory
        - promotional
        - offer_code
        - win_back
    OfferType:
      type: string
      enum:
        - free_trial
        - pay_as_you_go
        - pay_up_front
    Errors:
      type: object
      description: Standart hata yanıtı. Her başarısız istek bu yapıyla birlikte 4XX durum kodu döndürür.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: Hatanın insan tarafından okunabilir açıklaması.
              error_code:
                type: string
                description: Makine tarafından okunabilir hata tanımlayıcısı.
              status_code:
                type: integer
                description: Bu hataya ait HTTP durum kodu.
              field_name:
                type: string
                description: Hataya neden olan istek alanı; hata alana özgü değilse `null`.