openapi: 3.1.0
info:
  title: Серверный API Adapty
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: Продакшн-сервер
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: Создать профиль
      description: Создаёт нового конечного пользователя вашего приложения в Adapty.
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: Платформа устройства, на котором у пользователя установлено ваше приложение
      responses:
        '200':
          description: Профиль успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d623-2f3a-455a-aa86-ef83dff6913b
                  profile_id: 3286abd3-48b0-4e9c-a5f6-ac0a006804a6
                  customer_user_id: jane.doe@example.com
                  total_revenue_usd: 0
                  segment_hash: 8f45947bad31ab0c
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: non_field_errors
                    errors:
                      - Authentication credentials were not provided.
                error_code: not_authenticated
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: Jane
              last_name: Doe
              gender: f
              email: jane.doe@example.com
              phone_number: '+1234567890'
              birthday: '2000-12-31'
              ip_country: FR
              store_country: US
              store: app_store
              analytics_disabled: true
              custom_attributes:
                - key: favourite_sport
                  value: yoga
              installation_meta:
                device_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                device: string
                locale: en
                os: string
                platform: iOS
                timezone: Europe/Rome
                user_agent: Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1
                idfa: EA7583CD-A667-48BC-B806-42ECB2B48333
                idfv: E9D48DA5-3930-4B41-8521-D953AECD2F33
                advertising_id: ''
                android_id: ''
                android_app_set_id: ''
    get:
      summary: Получить профиль
      description: Возвращает данные существующего конечного пользователя вашего приложения.
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Профиль успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d333-2f3a-455a-aa86-ef83dff6913b
                  profile_id: d8533a10-bcce-4e33-8c9d-88b05ac56559
                  customer_user_id: 77B14FB4-FD2A-4D38-AA3A-4C433F79863C
                  total_revenue_usd: 9.99
                  segment_hash: fdaeef7f8aaa33c9
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels:
                    - access_level_id: premium
                      store: app_store
                      store_product_id: unlimited.9999
                      store_base_plan_id: null
                      store_transaction_id: '2000000335013007'
                      store_original_transaction_id: '2000000335013007'
                      offer: null
                      starts_at: null
                      purchased_at: '2024-12-24T10:50:23+00:00'
                      originally_purchased_at: '2024-12-24T10:50:23+00:00'
                      expires_at: null
                      renewal_cancelled_at: '2025-01-05T13:27:47.461425+00:00'
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: app_store
                      store_product_id: unlimited.9999
                      store_base_plan_id: null
                      store_transaction_id: '2000000815013007'
                      store_original_transaction_id: '2000000815013007'
                      offer: null
                      environment: Sandbox
                      purchased_at: '2024-12-24T10:50:23+00:00'
                      originally_purchased_at: '2024-12-24T10:50:23+00:00'
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: 7a5f9a7d-e236-33e6-96d8-53a3c59c5562
                      store: app_store
                      store_product_id: 1year.premium
                      store_base_plan_id: null
                      store_transaction_id: '30002109551456'
                      store_original_transaction_id: '30002109551456'
                      purchased_at: '2022-10-12T09:42:50+00:00'
                      environment: Production
                      is_refund: false
                      is_consumable: false
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: non_field_errors
                    errors:
                      - Authentication credentials were not provided.
                error_code: not_authenticated
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Profile not found
                error_code: profile_does_not_exist
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
    patch:
      summary: Обновить профиль
      description: Обновляет информацию профиля пользователя
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Профиль успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: Удалить профиль
      description: Удаляет профиль пользователя
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '204':
          description: Профиль успешно удалён
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: Установить транзакцию
      description: |
        Создаёт новую транзакцию для конечного пользователя вашего приложения в Adapty и предоставляет уровень доступа. Транзакция, созданная этим методом, отобразится в вашей аналитике и ленте событий, а также будет отправлена во все интеграции.

        **Обновление существующей подписки:** Чтобы обновить `billing_issue_detected_at` или `renew_status_changed_at` без генерации нового события `subscription_renewed`, повторно используйте существующий `store_transaction_id` (в рамках того же `store_original_transaction_id`). Передача нового `store_transaction_id` расценивается как новая транзакция и вызывает событие `subscription_renewed`.
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Наилучший вариант при работе с анонимными профилями. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Транзакция успешно записана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: Пример разовой покупки
                value:
                  purchase_type: one_time_purchase
                  store: app_store
                  environment: Production
                  store_product_id: premium_lifetime
                  store_transaction_id: '1000000123456789'
                  store_original_transaction_id: '1000000123456789'
                  is_family_shared: false
                  price:
                    country: US
                    currency: USD
                    value: 9.99
                  purchased_at: '2024-01-15T10:30:00Z'
                  variation_id: variation_123
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: Пример подписки
                value:
                  purchase_type: subscription
                  store: app_store
                  environment: Production
                  store_product_id: premium_monthly
                  store_transaction_id: '1000000123456789'
                  store_original_transaction_id: '1000000123456789'
                  is_family_shared: false
                  price:
                    country: US
                    currency: USD
                    value: 4.99
                  purchased_at: '2024-01-15T10:30:00Z'
                  originally_purchased_at: '2024-01-15T10:30:00Z'
                  expires_at: '2024-02-15T10:30:00Z'
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: variation_123
                  offer:
                    category: introductory
                    type: free_trial
                    id: trial_offer_123
                  refunded_at: null
                  cancellation_reason: null
  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: Предоставить уровень доступа
      description: Предоставляет уровень доступа вашему конечному пользователю без указания информации о транзакции. Это удобно, если у вас есть бонусы за рефералов или другие события, связанные с вашими продуктами. Уровень доступа, предоставленный этим методом, не будет отражён в вашей аналитике. Он будет отправлен только в webhook-интеграцию и только в этом случае появится в ленте событий.
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор покупателя в вашей системе. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Уровень доступа успешно предоставлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: Предоставить доступ немедленно
                value:
                  access_level_id: premium
              scheduled_grant:
                summary: Предоставить доступ с указанием дат начала и окончания
                value:
                  access_level_id: premium
                  starts_at: '2024-01-01T00:00:00Z'
                  expires_at: '2024-12-31T23:59:59Z'
              lifetime_grant:
                summary: Предоставить пожизненный доступ
                value:
                  access_level_id: premium
                  starts_at: '2024-01-01T00:00:00Z'
  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: Отозвать уровень доступа
      description: Удаляет уровень доступа у конечного пользователя вашего приложения в Adapty.
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Уровень доступа успешно отозван
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: Немедленно отозвать доступ
                value:
                  access_level_id: premium
              scheduled_revoke:
                summary: Запланировать отзыв доступа
                value:
                  access_level_id: premium
                  revoke_at: '2024-12-31T23:59:59Z'
  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: Получить настройки Refund Saver
      description: Получить настройки Refund Saver для данного пользователя — должен ли Adapty запрашивать отклонение или одобрение его запроса на возврат средств. Получить настройки передачи данных для данного пользователя — дал ли пользователь согласие на передачу своих данных в Apple.
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Настройки успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: e5aab402-b1bd-4039-b632-57a91ebc0779
                settings:
                  consent: true
                  custom_preference: no_preference
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Профиль не существует
                  value:
                    errors:
                      - Profile does not exist
                    error_code: profile_does_not_exist
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Установить настройки Refund Saver
      description: Установить предпочтение по возврату средств индивидуально для пользователя и зафиксировать, дал ли пользователь согласие на передачу своих данных. По умолчанию Refund Saver запрашивает у Apple отклонение первого запроса на возврат средств по транзакции и одобрение каждого повторного запроса по той же транзакции. Вы можете изменить это поведение по умолчанию для всех пользователей в дашборде Adapty или настроить его для конкретного пользователя с помощью дашборда, SDK или серверного API.
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: grant
              consent: true
      responses:
        '200':
          description: Настройки успешно обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: e5aab402-b1bd-4039-b632-57a91ebc0779
                settings:
                  consent: true
                  custom_preference: grant
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Профиль не существует
                  value:
                    errors:
                      - Profile does not exist
                    error_code: profile_does_not_exist
                    status_code: 400
                validation_error:
                  summary: Ошибка валидации
                  value:
                    errors:
                      - Profile refund saver settings must have either consent or custom_preference or both
                    error_code: validation_error
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: Валидация покупки в Stripe
      description: |
        Валидирует покупку с использованием предоставленного токена Stripe и учётных данных Stripe, настроенных в параметрах приложения в дашборде Adapty.
        Если покупка валидна, история транзакций импортируется из Stripe в профиль Adapty с указанным customer_user_id.
        Если профиль с таким customer_user_id ранее не существовал — он будет создан.

        В процессе генерируются события профиля, а импортированные транзакции учитываются в MTR.
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: stripe_receipt_validation_result
                attributes:
                  customer_user_id: <YOUR_CUSTOMER_USER_ID>
                  stripe_token: <YOUR_STRIPE_TOKEN>
      responses:
        '200':
          description: Покупка успешно валидирована
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: Некорректный запрос
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: none is not an allowed value
                    source:
                      pointer: /data/attributes/stripe_token
                    status: '400'
        '401':
          description: Не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: Валидация покупки Paddle
      description: |
        Валидирует покупку с использованием предоставленного токена Paddle и учётных данных Paddle в настройках приложения в дашборде Adapty.
        Если покупка действительна, история транзакций импортируется из Paddle в профиль Adapty с указанным customer_user_id.
        Если профиль с таким customer_user_id ранее не существовал — он будет создан.
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: <YOUR_CUSTOMER_USER_ID>
              paddle_token: live_7d279f61a3339fed520f7cd8c08
      responses:
        '200':
          description: Покупка успешно валидирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d623-2f3a-455a-aa86-ef83dff6913b
                  profile_id: 3286abd3-48b0-4e9c-a5f6-ac0a006804a6
                  customer_user_id: Jane.doe@example.com
                  total_revenue_usd: 0
                  segment_hash: 8f45947bad31ab0c
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels: []
                  subscriptions:
                    - purchase_id: 5a7ab471-2299-45f7-ad69-1d395c1256e3
                      store: app_store
                      store_product_id: 1year.premium
                      store_base_plan_id: null
                      store_transaction_id: '30002109551456'
                      store_original_transaction_id: '30002109551456'
                      purchased_at: '2022-10-12T09:42:50+00:00'
                      environment: Production
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: Продукты не найдены
                  value:
                    errors:
                      - No products found
                    error_code: no_products_found
                    status_code: 400
                paddle_api_key_not_found:
                  summary: API-ключ Paddle не найден
                  value:
                    errors:
                      - Paddle API key not found
                    error_code: paddle_api_key_not_found
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Недействительные учётные данные Paddle или покупка не найдена
                  value:
                    errors:
                      - Invalid Paddle credentials or purchase not found
                    error_code: invalid_paddle_credentials_or_purchase_not_found
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: Получить идентификаторы интеграции
      description: Возвращает идентификаторы интеграции профиля.
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Идентификаторы интеграции успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: 33w6yv5DPqVlyMVbjW31xvzJLtJ3
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: 333ed338-757d-466a-a672-ab92db196a1f
                pushwoosh_hwid: null
                firebase_app_instance_id: C333B35DF1DB418E99F7B815E9F5C549
                airbridge_device_id: null
                appsflyer_id: 1741933337626-3179568
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Profile not found
                error_code: profile_not_found
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Установить идентификаторы интеграции
      description: Добавляет идентификаторы интеграции в профиль.
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор профиля в вашей системе. Оптимальный вариант при работе с анонимными профилями. Требуется указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: example_pushwoosh_hwid
              mixpanel_user_id: example_mixpanel_user_id
              facebook_anonymous_id: example_facebook_anonymous_id
              firebase_app_instance_id: example_firebase_app_instance_id
              amplitude_user_id: example_amplitude_user_id
              amplitude_device_id: example_amplitude_device_id
              appmetrica_device_id: example_appmetrica_device_id
              appmetrica_profile_id: example_appmetrica_profile_id
              one_signal_subscription_id: example_one_signal_subscription_id
              one_signal_player_id: example_one_signal_player_id
              branch_id: example_branch_id
              appsflyer_id: example_appsflyer_id
              adjust_device_id: example_adjust_device_id
              airbridge_device_id: example_airbridge_device_id
              tenjin_analytics_installation_id: example_tenjin_analytics_installation_id
              posthog_distinct_user_id: example_posthog_distinct_user_id
      responses:
        '200':
          description: Идентификаторы интеграции успешно установлены. Тело ответа пустое.
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - At least one integration identifier must be provided.
                error_code: validation_error
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Profile not found
                error_code: profile_not_found
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/paywalls/:
    get:
      summary: Список пейволов
      description: Возвращает список пейволов в вашем приложении.
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Номер страницы для пагинации
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество элементов на странице
      responses:
        '200':
          description: Пейволы успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: LlkTlizT
                    paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: '2025-07-08T07:27:06.754527+00:00'
                    created_at: '2025-07-08T07:27:06.754541+00:00'
                    state: live
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                        title: mFUQPcJQ
                        product_set: uncategorised
                        offer: null
                  - title: Premium Subscription
                    paywall_id: a1cf7850-1bb8-4151-8336-a4e588730c55
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: '2025-07-28T08:15:13.722680+00:00'
                    created_at: '2025-07-25T13:40:01.789853+00:00'
                    state: live
                    is_deleted: false
                    web_purchase_url: https://example.com/purchase
                    products:
                      - product_id: b136422f-8153-402a-afbb-986929c68f6a
                        title: Premium Monthly
                        product_set: uncategorised
                        offer:
                          product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                          title: Free Trial
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: page_size
                    errors:
                      - Invalid page_size parameter. Must be between 1 and 100.
                error_code: validation_error
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: Получить пейвол
      description: Возвращает конкретный пейвол в вашем приложении.
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор пейвола для получения
      responses:
        '200':
          description: Пейвол успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: Premium Subscription
                paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: '2025-07-30T11:13:58.798Z'
                created_at: '2025-07-30T11:13:58.798Z'
                state: live
                is_deleted: false
                web_purchase_url: https://example.com/purchase
                products:
                  - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                    title: Premium Monthly
                    product_set: uncategorised
                    offer:
                      product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                      title: Free Trial
                remote_configs:
                  - locale: en
                    data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
                main_screenshot:
                  image_id: 123456
                  url: https://public-media.adapty.io/public/screenshot.jpg
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Пейвол не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Paywall not found
                error_code: paywall_does_not_exist
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Обновить пейвол
      description: |
        Обновляет Remote Config конкретного пейвола. Этот эндпоинт позволяет изменять значения Remote Config, которые помогают настраивать внешний вид и поведение пейвола.

        **Важно:** Если вы обновляете Remote Config, он перезапишет все существующие Remote Config! Если вам нужно сохранить существующие Remote Config, сначала получите пейвол. Затем скопируйте remote_configs из него и измените нужные объекты в запросе на обновление.
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор пейвола для обновления
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: en
                  data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
      responses:
        '200':
          description: Пейвол успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: Premium Subscription
                paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: '2025-07-30T11:13:58.798Z'
                created_at: '2025-07-30T11:13:58.798Z'
                state: live
                is_deleted: false
                web_purchase_url: https://example.com/purchase
                products:
                  - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                    title: Premium Monthly
                    product_set: uncategorised
                    offer:
                      product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                      title: Free Trial
                remote_configs:
                  - locale: en
                    data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
                main_screenshot:
                  image_id: 123456
                  url: https://public-media.adapty.io/public/screenshot.jpg
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: remote_configs
                    errors:
                      - At least one field must be provided
                error_code: validation_error
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Пейвол не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Paywall not found
                error_code: paywall_does_not_exist
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/vc/transactions/:
    post:
      summary: Создать транзакцию виртуальной валюты
      description: |
        Начисляет или списывает одну или несколько виртуальных валют для профиля в рамках одной атомарной транзакции. Используйте положительное значение `amount` для начисления (зачисления) и отрицательное — для списания (расходования). Все позиции применяются вместе — если какая-либо позиция не проходит, ни одна из них не применяется.

        Каждый код валюты может встречаться в запросе только один раз. Начисление через этот эндпоинт всегда создаёт бессрочный баланс.
      operationId: createVirtualCurrencyTransaction
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            UUID v4, обеспечивающий идемпотентность запроса. При повторном запросе с тем же ключом Adapty возвращает результат исходной транзакции, не изменяя балансы повторно. Должен быть валидным UUID v4.

            Ключи хранятся до одного часа в рамках одного профиля. По истечении этого времени запрос с тем же ключом применяется как новая транзакция — используйте ключ для безопасного повтора вызова, а не для дедупликации начислений в долгосрочной перспективе.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCurrencyTransactionRequest'
            examples:
              debit:
                summary: Списание (дебет) одной валюты
                value:
                  items:
                    - currency_code: COINS
                      amount: -10
              credit:
                summary: Начисление (кредит) одной валюты
                value:
                  items:
                    - currency_code: COINS
                      amount: 500
              multi_currency:
                summary: Одновременное списание двух валют
                value:
                  items:
                    - currency_code: GOLD
                      amount: -50
                    - currency_code: SILVER
                      amount: -200
              conversion:
                summary: Конвертация одной валюты в другую
                value:
                  items:
                    - currency_code: SILVER
                      amount: -100
                    - currency_code: GOLD
                      amount: 10
                  metadata:
                    reason: exchange
      responses:
        '200':
          description: Транзакция успешно применена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyTransactionResponse'
              example:
                transaction_id: 0190e8a4-1c2b-7def-8abc-2c1a4b6d8e90
                balances:
                  - code: COINS
                    name: Gold Coins
                    balance: 12950
                    held: 0
                    available: 12950
        '400':
          description: |
            Некорректный запрос. Поле `error_code` указывает на причину: `insufficient_balance`, `unknown_currency`, `duplicate_currency`, `amount_zero`, `balance_overflow`, `empty_items` или `idempotency_key_invalid`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: currency_code
                    errors:
                      - Insufficient balance for currency COINS
                error_code: insufficient_balance
                status_code: 400
        '401':
          description: Не авторизован. API-ключ отсутствует или недействителен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Доступ запрещён. Server API для виртуальных валют не включён для этого приложения. Обратитесь в службу поддержки Adapty для получения доступа.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Server API for virtual currencies is not enabled for this app. Contact Adapty support to request access.
                error_code: feature_not_enabled
                status_code: 403
        '404':
          description: Профиль не найден.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |
            Конфликт. Поле `error_code` указывает на причину:

            - `idempotency_in_flight` — запрос с тем же `Idempotency-Key` всё ещё обрабатывается. Повторите попытку после интервала, указанного в заголовке ответа `Retry-After`.
            - `duplicate_source_transaction` — базовая транзакция стора уже была зачислена, поэтому повторно не применяется.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - A similar request is being processed.
                error_code: idempotency_in_flight
                status_code: 409
        '422':
          description: |
            Необрабатываемая сущность. Тело запроса не прошло валидацию схемы — например, `items` содержит более 20 записей, или ключ либо значение `metadata` нарушает установленные ограничения.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Слишком много запросов. Превышен лимит запросов для приложения или глобальный лимит (`error_code` равен `rate_limited`). Лимиты по умолчанию: 600 запросов в минуту на приложение и 6000 запросов в минуту глобально.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
    get:
      summary: Список транзакций виртуальной валюты
      description: |
        Возвращает историю транзакций виртуальной валюты для профиля в порядке убывания (новые первыми). В результатах используется пагинация по курсору: если ответ содержит ненулевое значение `pagination.next_cursor`, передайте его в параметре запроса `cursor` для получения следующей страницы.
      operationId: listVirtualCurrencyTransactions
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: currency_code
          in: query
          required: false
          schema:
            type: string
          description: Фильтрация истории по коду одной виртуальной валюты.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Непрозрачный курсор пагинации, возвращённый как `pagination.next_cursor` в предыдущем ответе. Не указывайте для получения первой страницы.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Максимальное количество транзакций, возвращаемых на одной странице. По умолчанию 50.
      responses:
        '200':
          description: История транзакций успешно возвращена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyTransactionsHistoryResponse'
              example:
                data:
                  - transaction_id: 0190e8a4-1c2b-7def-8abc-2c1a4b6d8e90
                    transaction_type: api_transaction
                    items:
                      - currency_code: COINS
                        amount: 500
                        balance_after: 12950
                    metadata:
                      reason: promo_bonus
                    created_at: '2026-05-23T10:30:00Z'
                  - transaction_id: 0190e7b2-9a44-7c10-bb31-7d2e9f0a1c55
                    transaction_type: store_purchase
                    items:
                      - currency_code: COINS
                        amount: 1000
                        balance_after: 12450
                    created_at: '2026-05-22T18:05:12Z'
                  - transaction_id: 0190e5c0-3f18-7b9a-9e6d-44a1c8b27e03
                    transaction_type: subscription_renewal
                    items:
                      - currency_code: GEMS
                        amount: 200
                        balance_after: 3280
                    created_at: '2026-05-20T09:00:00Z'
                pagination:
                  next_cursor: MjAyNi0wNS0yMFQwOTowMDowMFowMTkwZTVjMC0zZjE4LTdiOWEtOWU2ZC00NGExYzhiMjdlMDM=
        '400':
          description: Некорректный запрос. Значение `cursor` недействительно (`error_code` равен `invalid_cursor`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован. API-ключ отсутствует или недействителен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Доступ запрещён. Server API для виртуальных валют не включён для этого приложения.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
  /api/v2/server-side-api/vc/balances/:
    get:
      summary: Список балансов виртуальных валют
      description: |
        Возвращает текущий баланс каждой виртуальной валюты для профиля. Если в приложении нет виртуальных валют, `data` будет пустым массивом.
      operationId: listVirtualCurrencyBalances
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор пользователя в вашей системе. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный идентификатор профиля в вашей системе. Предпочтительный вариант при работе с анонимными профилями. Необходимо указать либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Балансы успешно возвращены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyBalanceListResponse'
              example:
                response_created_at: 1779791400000
                data:
                  - code: COINS
                    name: Gold Coins
                    balance: 12450
                    held: 0
                    available: 12450
                  - code: GEMS
                    name: Gems
                    balance: 3280
                    held: 0
                    available: 3280
                  - code: ENERGY
                    name: Energy
                    balance: 840
                    held: 0
                    available: 840
        '400':
          description: Некорректный запрос.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован. API-ключ отсутствует или недействителен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Доступ запрещён. Server API для виртуальных валют не включён для этого приложения.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        API-запросы должны быть аутентифицированы с помощью вашего секретного API-ключа, передаваемого в заголовке **Authorization** со значением `Api-Key {your_secret_api_key}`, например `Api-Key secret_live_...`. Найдите этот ключ в дашборде Adapty -> **App Settings** -> вкладка **General** -> раздел **API keys**.
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: Имя вашего конечного пользователя
        last_name:
          type: string
          nullable: true
          description: Фамилия вашего конечного пользователя
        gender:
          type: string
          nullable: true
          enum:
            - f
            - m
            - o
          description: Пол вашего конечного пользователя
        email:
          type: string
          nullable: true
          format: email
          description: Электронная почта вашего конечного пользователя
        phone_number:
          type: string
          nullable: true
          description: Номер телефона вашего конечного пользователя
        birthday:
          type: string
          format: date
          nullable: true
          description: Дата рождения вашего конечного пользователя
        ip_country:
          type: string
          nullable: true
          description: Страна конечного пользователя в виде двухбуквенного кода ISO 3166-1 alpha-2, например `FR`
        ip_v4_address:
          type: string
          nullable: true
          description: IPv4-адрес конечного пользователя
        store_country:
          type: string
          nullable: true
          description: Страна стора конечного пользователя в виде двухбуквенного кода ISO 3166-1 alpha-2, например `US`
        store:
          type: string
          nullable: true
          enum:
            - app_store
            - play_store
            - stripe
            - adapty
            - paddle
          description: Платформа, которую пользователь использует для совершения покупок в вашем приложении
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: Токен аккаунта стора
        att_status:
          type: integer
          nullable: true
          enum:
            - 0
            - 1
            - 2
            - 3
          description: Статус Apple App Tracking Transparency (0=не определено, 1=ограничено, 2=отклонено, 3=авторизовано)
        analytics_disabled:
          type: boolean
          nullable: true
          description: Опция отказа от внешней аналитики
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Позволяет задать до 30 пользовательских атрибутов для профиля
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: Jane
        last_name: Doe
        gender: f
        email: jane.doe@example.com
        phone_number: '+1234567890'
        birthday: '2000-12-31'
        ip_country: FR
        ip_v4_address: 192.168.1.1
        store_country: US
        store: app_store
        store_account_token: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: favourite_sport
            value: yoga
        installation_meta:
          device_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          device: iPhone 15 Pro
          locale: en
          os: iOS 17.1
          platform: iOS
          timezone: Europe/Rome
          user_agent: Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1
          app_build: 1.0.0
          app_version: 1.0.0
          adapty_sdk_version: 2.0.0
          idfa: EA7583CD-A667-48BC-B806-42ECB2B48333
          idfv: E9D48DA5-3930-4B41-8521-D953AECD2F33
          advertising_id: ''
          android_id: ''
          android_app_set_id: ''
    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data
    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: Внутренний ID вашего приложения
        profile_id:
          type: string
          format: uuid
          description: ID профиля Adapty
        customer_user_id:
          type: string
          nullable: true
          description: ID вашего пользователя в вашей системе
        total_revenue_usd:
          type: number
          format: float
          description: Числовое значение с плавающей точкой, представляющее общий доход в USD, полученный по профилю
        segment_hash:
          type: string
          description: Внутренний параметр
        timestamp:
          type: integer
          format: int64
          description: Время ответа в миллисекундах, необходимо для разрешения состояния гонки
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Для профиля допускается задавать не более 30 пользовательских атрибутов
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: Массив объектов уровня доступа. Пустой массив, если у пользователя нет уровней доступа
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: Массив объектов подписки. Пустой массив, если у пользователя нет подписок
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: Массив объектов разовых покупок. Пустой массив, если у пользователя нет покупок
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions
    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: Ключ должен быть строкой не более 30 символов. Допускаются только буквы, цифры, дефисы, точки и символы подчёркивания
        value:
          oneOf:
            - type: string
            - type: number
          description: Значение атрибута должно содержать не более 50 символов. В качестве значений допускаются только строки и числа с плавающей точкой
      required:
        - key
        - value
    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: Уникальный идентификатор устройства
        device:
          type: string
          nullable: true
          description: Информация об устройстве
        locale:
          type: string
          nullable: true
          description: Локаль устройства
        os:
          type: string
          nullable: true
          description: Информация об операционной системе
        platform:
          type: string
          nullable: true
          enum:
            - iOS
            - macOS
            - iPadOS
            - Android
            - visionOS
            - web
          description: Платформа (iOS, Android и т.д.)
        timezone:
          type: string
          nullable: true
          description: Часовой пояс устройства
        user_agent:
          type: string
          nullable: true
          description: Строка user agent
        app_build:
          type: string
          nullable: true
          description: Версия сборки приложения
        app_version:
          type: string
          nullable: true
          description: Версия приложения
        adapty_sdk_version:
          type: string
          nullable: true
          description: Версия SDK Adapty
        idfa:
          type: string
          nullable: true
          description: iOS Identifier for Advertisers
        idfv:
          type: string
          nullable: true
          description: iOS Identifier for Vendor
        advertising_id:
          type: string
          nullable: true
          description: Идентификатор рекламы Android
        android_id:
          type: string
          nullable: true
          description: Идентификатор устройства Android
        android_app_set_id:
          type: string
          nullable: true
          description: Идентификатор набора приложений Android
      required:
        - device_id
    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: Идентификатор уровня доступа
        store:
          type: string
          description: Стор, в котором был приобретён уровень доступа
        store_product_id:
          type: string
          description: Идентификатор продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: Идентификатор базового плана в сторе
        store_transaction_id:
          type: string
          description: Идентификатор транзакции в сторе
        store_original_transaction_id:
          type: string
          description: Идентификатор исходной транзакции в сторе
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Детали предложения, если был применён promotional offer или introductory offer
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время начала действия уровня доступа
        purchased_at:
          type: string
          format: date-time
          description: Дата и время покупки уровня доступа
        originally_purchased_at:
          type: string
          format: date-time
          description: Дата и время первоначальной покупки уровня доступа
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время истечения срока действия уровня доступа
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время отмены продления
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время обнаружения проблемы с оплатой
        is_in_grace_period:
          type: boolean
          description: Находится ли уровень доступа в льготном периоде
        cancellation_reason:
          type: string
          nullable: true
          description: Причина отмены
    Subscription:
      type: object
      properties:
        store:
          type: string
          description: Стор, в котором была приобретена подписка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: Оригинальный ID транзакции в сторе
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Детали предложения, если было применено promotional offer или introductory offer
        environment:
          type: string
          description: Среда (Sandbox, Production)
        purchased_at:
          type: string
          format: date-time
          description: Когда была приобретена подписка
        originally_purchased_at:
          type: string
          format: date-time
          description: Когда подписка была приобретена впервые
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает подписка
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Когда было отменено продление
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
        is_in_grace_period:
          type: boolean
          description: Находится ли подписка в льготном периоде
        cancellation_reason:
          type: string
          nullable: true
          description: Причина отмены
    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Уникальный идентификатор покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: Оригинальный ID транзакции в сторе
        purchased_at:
          type: string
          format: date-time
          description: Дата и время совершения покупки
        environment:
          type: string
          description: Среда (Sandbox, Production)
        is_refund:
          type: boolean
          description: Является ли покупка возвратом средств
        is_consumable:
          type: boolean
          description: Является ли покупка расходуемой
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Источник ошибки
              errors:
                type: array
                items:
                  type: string
                description: Массив сообщений об ошибках
        error_code:
          type: string
          description: Краткое название ошибки
        status_code:
          type: integer
          description: HTTP-код статуса
      required:
        - errors
        - error_code
        - status_code
    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type
    OneTimePurchaseDTO:
      type: object
      title: One-time Purchase
      description: Данные транзакции для разовой покупки
      properties:
        purchase_type:
          type: string
          enum:
            - one_time_purchase
          description: Тип покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка. Распространённые значения включают `app_store`, `play_store`, `stripe`, `paddle` или любой пользовательский идентификатор стора
        environment:
          type: string
          enum:
            - Production
            - Sandbox
          default: Production
          description: Среда, в которой была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_transaction_id:
          type: string
          maxLength: 50
          description: ID транзакции в сторе. Максимум 50 символов. Идентификаторы транзакций PayPal и некоторых пользовательских сторов могут превышать это ограничение — обрежьте или хэшируйте значение перед отправкой, иначе запрос завершится ошибкой.
        store_original_transaction_id:
          type: string
          description: Оригинальный ID транзакции в сторе
        is_family_shared:
          type: boolean
          default: false
          description: Является ли покупка семейной
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Время совершения покупки
        variation_id:
          type: string
          nullable: true
          description: ID варианта для A/B-тестирования
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Время возврата покупки
        cancellation_reason:
          type: string
          enum:
            - billing_error
            - cancelled_by_developer
            - new_subscription_replace
            - price_increase
            - product_was_not_available
            - refund
            - unknown
            - upgraded
            - voluntarily_cancelled
            - adapty_revoked
          nullable: true
          description: Причина отмены
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
    SubscriptionDTO:
      type: object
      title: Subscription
      description: Данные транзакции для покупки подписки
      properties:
        purchase_type:
          type: string
          enum:
            - subscription
          description: Тип покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка. Распространённые значения включают `app_store`, `play_store`, `stripe`, `paddle` или любой пользовательский идентификатор стора
        environment:
          type: string
          enum:
            - Production
            - Sandbox
          default: Production
          description: Среда, в которой была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_transaction_id:
          type: string
          maxLength: 50
          description: ID транзакции в сторе. Максимум 50 символов. Идентификаторы транзакций PayPal и некоторых пользовательских сторов могут превышать это ограничение — обрежьте или хешируйте значение перед отправкой, иначе запрос завершится ошибкой.
        store_original_transaction_id:
          type: string
          description: Оригинальный ID транзакции в сторе
        is_family_shared:
          type: boolean
          default: false
          description: Является ли покупка семейной
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Когда была совершена покупка
        variation_id:
          type: string
          nullable: true
          description: ID варианта для A/B-тестирования
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Когда покупка была возвращена
        cancellation_reason:
          type: string
          enum:
            - billing_error
            - cancelled_by_developer
            - new_subscription_replace
            - price_increase
            - product_was_not_available
            - refund
            - unknown
            - upgraded
            - voluntarily_cancelled
            - adapty_revoked
          nullable: true
          description: Причина отмены
        originally_purchased_at:
          type: string
          format: date-time
          description: Когда подписка была приобретена впервые
        expires_at:
          type: string
          format: date-time
          description: Когда истекает подписка
        renew_status:
          type: boolean
          description: Будет ли подписка продлена
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: Когда был изменён статус продления
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает льготный период
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status
    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: Код страны в формате ISO 3166-1 alpha-2, например `US`
        currency:
          type: string
          description: Код валюты в формате ISO 4217, например `USD`
        value:
          type: number
          format: float
          description: Значение цены
      required:
        - country
        - currency
        - value
    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum:
            - introductory
            - promotional
            - offer_code
            - win_back
          description: Категория предложения
        type:
          type: string
          enum:
            - free_trial
            - pay_as_you_go
            - pay_up_front
          description: Тип предложения
        id:
          type: string
          nullable: true
          description: Идентификатор предложения
      required:
        - category
        - type
    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: Идентификатор уровня доступа, настроенного на странице Access Levels
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время, когда уровень доступа станет активным. Может быть в будущем. Значение по умолчанию — null.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время, когда уровень доступа истечёт. Может быть в прошлом, а также равно null для пожизненного доступа. Значение по умолчанию — null.
      required:
        - access_level_id
    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: Идентификатор платного уровня доступа, настроенного на странице уровней доступа
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: Указывает, когда истечёт уровень доступа. Чтобы немедленно отозвать доступ, не указывайте это поле или установите значение null. Значение по умолчанию — null.
      required:
        - access_level_id
    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum:
            - grant
            - no_preference
            - decline
          nullable: true
          description: |
            Установите предпочтение по возврату средств индивидуально для пользователя.
            - `grant`: одобрять каждый запрос на возврат средств
            - `no_preference`: не давать никаких рекомендаций
            - `decline`: отклонять каждый запрос на возврат средств
        consent:
          type: boolean
          nullable: true
          description: |
            Фиксирует факт предоставления пользователем согласия на передачу его данных.
            - `true` означает, что при получении запроса на возврат средств из приложения вы можете предоставить Apple информацию о пользователе
      example:
        custom_preference: grant
        consent: true
    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: ID профиля пользователя
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: Определяет, согласился ли пользователь на передачу своих данных
            custom_preference:
              type: string
              enum:
                - grant
                - no_preference
                - decline
              description: Предпочтение по возврату средств
          description: Настройки сохранения возвратов для пользователя
      required:
        - profile_id
        - settings
    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
                - stripe_receipt_validation_result
              description: Тип ресурса
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: Идентификатор пользователя в вашей системе
                stripe_token:
                  type: string
                  description: |
                    Токен объекта Stripe, представляющего уникальную покупку.
                    Может быть токеном Stripe Subscription (sub_XXX) или Payment Intent (pi_XXX)
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data
    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ответа (null при успешной валидации)
      required:
        - data
    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: Описательная информация об ошибке
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: Указывает на точное место в документе запроса, вызывающее проблему
                required:
                  - pointer
              status:
                type: string
                description: HTTP-код статуса
            required:
              - detail
              - source
              - status
      required:
        - errors
    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: Идентификатор пользователя в вашей системе
        paddle_token:
          type: string
          description: |
            Токен объекта Paddle, представляющего уникальную покупку.
            Может быть либо идентификатором транзакции (txn_...), либо идентификатором подписки (sub_...)
      required:
        - customer_user_id
        - paddle_token
    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в сети в интеграции Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: Идентификатор устройства пользователя в интеграции Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: Идентификатор устройства пользователя в интеграции Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: Идентификатор устройства пользователя в интеграции AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в сети в интеграции AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key приложения пользователя в интеграции Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции OneSignal (устаревший идентификатор)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции OneSignal (рекомендуемый идентификатор)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: Идентификатор пользователя в интеграции PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: Идентификатор устройства пользователя в интеграции Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: Идентификатор устройства пользователя в интеграции Tenjin
      description: Необходимо указать хотя бы один идентификатор интеграции
    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key приложения пользователя в интеграции Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (устаревший идентификатор)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (рекомендуемый идентификатор)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Tenjin
    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Локаль для Remote Config (например, "en", "es", "fr")
              data:
                type: string
                description: JSON-строка, содержащая данные Remote Config
            required:
              - locale
              - data
          description: Массив объектов RemoteConfig для обновления
      required:
        - remote_configs
      description: Необходимо указать хотя бы одно поле
    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: Название пейвола, заданное в дашборде Adapty
        paywall_id:
          type: string
          format: uuid
          description: Уникальный идентификатор пейвола
        use_paywall_builder:
          type: boolean
          description: Использует ли пейвол Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Использует ли пейвол устаревший Paywall Builder
        updated_at:
          type: string
          format: date-time
          description: Временная метка последнего обновления пейвола
        created_at:
          type: string
          format: date-time
          description: Временная метка создания пейвола
        state:
          type: string
          enum:
            - draft
            - live
            - inactive
            - archived
          description: Текущее состояние пейвола
        is_deleted:
          type: boolean
          description: Помечен ли пейвол как удалённый
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL для веб-покупок, если применимо
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Уникальный идентификатор продукта
              title:
                type: string
                description: Название продукта
              product_set:
                type: string
                enum:
                  - weekly
                  - monthly
                  - trimonthly
                  - semiannual
                  - annual
                  - lifetime
                  - uncategorised
                  - nonsubscriptions
                  - two_months
                  - consumable
                description: Категория набора продуктов
              offer:
[...]
