openapi: 3.1.0
info:
  title: Adapty 服务端 API
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: 生产服务器
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: 创建用户画像
      description: 在 Adapty 中为您的应用创建一个新的终端用户。
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: 用户安装您应用的设备平台
      responses:
        '200':
          description: 用户画像创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '500':
          description: 服务器内部错误
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: "Jane"
              last_name: "Doe"
              gender: "f"
              email: "jane.doe@example.com"
              phone_number: "+1234567890"
              birthday: "2000-12-31"
              ip_country: "FR"
              store_country: "US"
              store: "app_store"
              analytics_disabled: true
              custom_attributes:
                - key: "favourite_sport"
                  value: "yoga"
              installation_meta:
                device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                device: "string"
                locale: "en"
                os: "string"
                platform: "iOS"
                timezone: "Europe/Rome"
                user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
                idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
                idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
                advertising_id: ""
                android_id: ""
                android_app_set_id: ""
    get:
      summary: 获取用户画像
      description: 检索您应用中现有终端用户的详细信息。
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 用户画像获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d333-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "d8533a10-bcce-4e33-8c9d-88b05ac56559"
                  customer_user_id: "77B14FB4-FD2A-4D38-AA3A-4C433F79863C"
                  total_revenue_usd: 9.99
                  segment_hash: "fdaeef7f8aaa33c9"
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels:
                    - access_level_id: "premium"
                      store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000335013007"
                      store_original_transaction_id: "2000000335013007"
                      offer: null
                      starts_at: null
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: "2025-01-05T13:27:47.461425+00:00"
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000815013007"
                      store_original_transaction_id: "2000000815013007"
                      offer: null
                      environment: "Sandbox"
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: "7a5f9a7d-e236-33e6-96d8-53a3c59c5562"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Profile not found"]
                error_code: "profile_does_not_exist"
                status_code: 404
        '500':
          description: 服务器内部错误
    patch:
      summary: 更新用户画像
      description: 更新用户画像信息
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 用户画像更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: 删除用户画像
      description: 删除用户画像
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '204':
          description: 用户画像删除成功
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误

  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: 设置交易
      description: 在 Adapty 中为您应用的终端用户创建新交易并提供访问等级。通过此方法创建的交易将出现在您的数据分析和事件日志中，并将发送至所有集成。
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 交易记录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: 一次性购买示例
                value:
                  purchase_type: "one_time_purchase"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_lifetime"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 9.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  variation_id: "variation_123"
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: 订阅示例
                value:
                  purchase_type: "subscription"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_monthly"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 4.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  originally_purchased_at: "2024-01-15T10:30:00Z"
                  expires_at: "2024-02-15T10:30:00Z"
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: "variation_123"
                  offer:
                    category: "introductory"
                    type: "free_trial"
                    id: "trial_offer_123"
                  refunded_at: null
                  cancellation_reason: null

  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: 授予访问等级
      description: 在不提供交易信息的情况下为您的终端用户提供访问等级。当您有推荐奖励或其他与产品相关的事件时，此功能非常方便。通过此方法提供的访问等级不会反映在您的数据分析中。它仅会发送至 webhook 集成，且仅在此情况下才会出现在事件日志中。
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 访问等级授予成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: 立即授予访问权限
                value:
                  access_level_id: "premium"
              scheduled_grant:
                summary: 按指定开始和结束日期授予访问权限
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"
                  expires_at: "2024-12-31T23:59:59Z"
              lifetime_grant:
                summary: 授予永久授权
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"

  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: 撤销访问等级
      description: 从 Adapty 中您应用的终端用户处移除访问等级。
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 访问等级撤销成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: 立即撤销访问权限
                value:
                  access_level_id: "premium"
              scheduled_revoke:
                summary: 计划撤销访问权限
                value:
                  access_level_id: "premium"
                  revoke_at: "2024-12-31T23:59:59Z"

  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: 获取退款保护设置
      description: 获取该用户的退款保护偏好设置——Adapty 是拒绝还是批准其退款请求。以及获取该用户的数据共享偏好设置——用户是否同意与 Apple 共享其数据。
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 设置获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "no_preference"
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: 用户画像不存在
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: 设置退款保护设置
      description: 为用户单独设置退款偏好并记录用户是否同意共享其数据。默认情况下，退款保护功能始终要求 Apple 拒绝用户的退款请求。您可以在 Adapty 看板中更改所有用户的默认行为，或通过看板、Adapty SDK 或服务端 API 为特定用户调整此设置。
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: "grant"
              consent: true
      responses:
        '200':
          description: 设置更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "grant"
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: 用户画像不存在
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
                validation_error:
                  summary: 验证错误
                  value:
                    errors: ["Profile refund saver settings must have either consent or custom_preference or both"]
                    error_code: "validation_error"
                    status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: 验证 Stripe 购买
      description: |
        使用 Adapty 看板应用设置中 Stripe 的凭据，通过提供的 Stripe 令牌验证购买。
        如果购买有效，交易历史将从 Stripe 导入到 Adapty 中具有指定 customer_user_id 的用户画像。
        如果之前没有该 customer_user_id 的用户画像——将会创建一个。
        
        用户画像事件会在此过程中生成，导入的交易将计入 MTR。
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: "stripe_receipt_validation_result"
                attributes:
                  customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
                  stripe_token: "<YOUR_STRIPE_TOKEN>"
      responses:
        '200':
          description: 购买验证成功
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: 请求错误
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: "none is not an allowed value"
                    source:
                      pointer: "/data/attributes/stripe_token"
                    status: "400"
        '401':
          description: 未授权
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 服务器内部错误
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: 验证 Paddle 购买
      description: |
        使用 Adapty 看板应用设置中 Paddle 的凭据，通过提供的 Paddle 令牌验证购买。
        如果购买有效，交易历史将从 Paddle 导入到 Adapty 中具有指定 customer_user_id 的用户画像。
        如果之前没有该 customer_user_id 的用户画像——将会创建一个。
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
              paddle_token: "live_7d279f61a3339fed520f7cd8c08"
      responses:
        '200':
          description: 购买验证成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "Jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions:
                    - purchase_id: "5a7ab471-2299-45f7-ad69-1d395c1256e3"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: 未找到产品
                  value:
                    errors: ["No products found"]
                    error_code: "no_products_found"
                    status_code: 400
                paddle_api_key_not_found:
                  summary: 未找到 Paddle API 密钥
                  value:
                    errors: ["Paddle API key not found"]
                    error_code: "paddle_api_key_not_found"
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Paddle 凭据无效或购买未找到
                  value:
                    errors: ["Invalid Paddle credentials or purchase not found"]
                    error_code: "invalid_paddle_credentials_or_purchase_not_found"
                    status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: 获取集成标识符
      description: 检索用户画像的集成标识符。
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      responses:
        '200':
          description: 集成标识符获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: "XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A"
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: "33w6yv5DPqVlyMVbjW31xvzJLtJ3"
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: "333ed338-757d-466a-a672-ab92db196a1f"
                pushwoosh_hwid: null
                firebase_app_instance_id: "C333B35DF1DB418E99F7B815E9F5C549"
                airbridge_device_id: null
                appsflyer_id: "1741933337626-3179568"
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: 设置集成标识符
      description: 向用户画像添加集成标识符。
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: 您系统中客户的唯一 ID。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: 您系统中用户画像的唯一 ID。如果您正在处理匿名用户画像，这是最佳选择。`adapty-customer-user-id` 或 `adapty-profile-id` 二选一必填。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: "example_pushwoosh_hwid"
              mixpanel_user_id: "example_mixpanel_user_id"
              facebook_anonymous_id: "example_facebook_anonymous_id"
              firebase_app_instance_id: "example_firebase_app_instance_id"
              amplitude_user_id: "example_amplitude_user_id"
              amplitude_device_id: "example_amplitude_device_id"
              appmetrica_device_id: "example_appmetrica_device_id"
              appmetrica_profile_id: "example_appmetrica_profile_id"
              one_signal_subscription_id: "example_one_signal_subscription_id"
              one_signal_player_id: "example_one_signal_player_id"
              branch_id: "example_branch_id"
              appsflyer_id: "example_appsflyer_id"
              adjust_device_id: "example_adjust_device_id"
              airbridge_device_id: "example_airbridge_device_id"
              tenjin_analytics_installation_id: "example_tenjin_analytics_installation_id"
              posthog_distinct_user_id: "example_posthog_distinct_user_id"
      responses:
        '200':
          description: 集成标识符设置成功。响应体为空。
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["At least one integration identifier must be provided."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: 用户画像未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/:
    get:
      summary: 列出付费墙
      description: 检索您应用中的付费墙列表。
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 分页页码
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: 每页条目数
      responses:
        '200':
          description: 付费墙获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: "LlkTlizT"
                    paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-08T07:27:06.754527+00:00"
                    created_at: "2025-07-08T07:27:06.754541+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                        title: "mFUQPcJQ"
                        product_set: "uncategorised"
                        offer: null
                  - title: "Premium Subscription"
                    paywall_id: "a1cf7850-1bb8-4151-8336-a4e588730c55"
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-28T08:15:13.722680+00:00"
                    created_at: "2025-07-25T13:40:01.789853+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: "https://example.com/purchase"
                    products:
                      - product_id: "b136422f-8153-402a-afbb-986929c68f6a"
                        title: "Premium Monthly"
                        product_set: "uncategorised"
                        offer:
                          product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                          title: "Free Trial"
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "page_size"
                    errors: ["Invalid page_size parameter. Must be between 1 and 100."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: 获取付费墙
      description: 检索您应用中的特定付费墙。
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 要检索的付费墙的唯一标识符
      responses:
        '200':
          description: 付费墙获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: 付费墙未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: 更新付费墙
      description: |
        更新特定付费墙的远程配置。此端点允许您修改远程配置值，以帮助您自定义付费墙的外观和行为。
        
        **重要提示：** 如果您更新远程配置，它将覆盖所有现有的远程配置！如果您需要保留现有的远程配置，请先获取付费墙，然后从中复制 remote_configs，并在更新请求中修改您需要的对象。
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: 要更新的付费墙的唯一标识符
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: "en"
                  data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
      responses:
        '200':
          description: 付费墙更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "remote_configs"
                    errors: ["At least one field must be provided"]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: 付费墙未找到
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: 服务器内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        API 请求必须通过您的密钥 API 密钥进行身份验证，将其作为 **Authorization** 请求头，值为 `Api-Key {your_secret_api_key}`，例如 `Api-Key secret_live_...`。请在 Adapty 看板 -> **App Settings** -> **General** 标签页 -> **API keys** 部分中找到此密钥。
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: 您的终端用户的名字
        last_name:
          type: string
          nullable: true
          description: 您的终端用户的姓氏
        gender:
          type: string
          nullable: true
          enum: [f, m, o]
          description: 您的终端用户的性别
        email:
          type: string
          nullable: true
          format: email
          description: 您的终端用户的电子邮件
        phone_number:
          type: string
          nullable: true
          description: 您的终端用户的电话号码
        birthday:
          type: string
          format: date
          nullable: true
          description: 您的终端用户的生日
        ip_country:
          type: string
          nullable: true
          description: 终端用户所在国家，采用 ISO 3166-2 格式
        ip_v4_address:
          type: string
          nullable: true
          description: 终端用户的 IPv4 地址
        store_country:
          type: string
          nullable: true
          description: 终端用户应用商店所在国家
        store:
          type: string
          nullable: true
          enum: [app_store, play_store, stripe, adapty, paddle]
          description: 用户在您应用中进行购买所使用的平台
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: 商店账户令牌
        att_status:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3]
          description: Apple App Tracking Transparency 状态（0=未确定，1=受限，2=已拒绝，3=已授权）
        analytics_disabled:
          type: boolean
          nullable: true
          description: 退出外部数据分析的选项
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: 允许为用户画像设置最多 30 个自定义属性
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: "Jane"
        last_name: "Doe"
        gender: "f"
        email: "jane.doe@example.com"
        phone_number: "+1234567890"
        birthday: "2000-12-31"
        ip_country: "FR"
        ip_v4_address: "192.168.1.1"
        store_country: "US"
        store: "app_store"
        store_account_token: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: "favourite_sport"
            value: "yoga"
        installation_meta:
          device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          device: "iPhone 15 Pro"
          locale: "en"
          os: "iOS 17.1"
          platform: "iOS"
          timezone: "Europe/Rome"
          user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
          app_build: "1.0.0"
          app_version: "1.0.0"
          adapty_sdk_version: "2.0.0"
          idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
          idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
          advertising_id: ""
          android_id: ""
          android_app_set_id: ""

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data

    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: 您应用的内部 ID
        profile_id:
          type: string
          format: uuid
          description: Adapty 用户画像 ID
        customer_user_id:
          type: string
          nullable: true
          description: 您系统中的用户 ID
        total_revenue_usd:
          type: number
          format: float
          description: 表示该用户画像在 USD 中获得的总收入的浮点值
        segment_hash:
          type: string
          description: 内部参数
        timestamp:
          type: integer
          format: int64
          description: 响应时间（毫秒），用于解决竞态条件
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: 用户画像最多允许设置 30 个自定义属性
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: 访问等级对象数组。如果客户没有访问等级，则为空数组
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: 订阅对象数组。如果客户没有订阅，则为空数组
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: 非订阅对象数组。如果客户没有购买记录，则为空数组
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: 键必须是不超过 30 个字符的字符串。只允许使用字母、数字、破折号、点和下划线
        value:
          oneOf:
            - type: string
            - type: number
          description: 属性值不得超过 50 个字符。只允许使用字符串和浮点数作为值
      required:
        - key
        - value

    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: 唯一设备标识符
        device:
          type: string
          nullable: true
          description: 设备信息
        locale:
          type: string
          nullable: true
          description: 设备语言区域
        os:
          type: string
          nullable: true
          description: 操作系统信息
        platform:
          type: string
          nullable: true
          enum: [iOS, macOS, iPadOS, Android, visionOS, web]
          description: 平台（iOS、Android 等）
        timezone:
          type: string
          nullable: true
          description: 设备时区
        user_agent:
          type: string
          nullable: true
          description: 用户代理字符串
        app_build:
          type: string
          nullable: true
          description: 应用构建版本
        app_version:
          type: string
          nullable: true
          description: 应用版本
        adapty_sdk_version:
          type: string
          nullable: true
          description: Adapty SDK 版本
        idfa:
          type: string
          nullable: true
          description: iOS 广告标识符
        idfv:
          type: string
          nullable: true
          description: iOS 供应商标识符
        advertising_id:
          type: string
          nullable: true
          description: Android 广告 ID
        android_id:
          type: string
          nullable: true
          description: Android 设备 ID
        android_app_set_id:
          type: string
          nullable: true
          description: Android 应用集 ID
      required:
        - device_id

    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: 访问等级标识符
        store:
          type: string
          description: 购买访问等级的商店
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_base_plan_id:
          type: string
          nullable: true
          description: 商店中的基础计划 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: 优惠详情（如果应用了促销或介绍性优惠）
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级开始时间
        purchased_at:
          type: string
          format: date-time
          description: 访问等级购买时间
        originally_purchased_at:
          type: string
          format: date-time
          description: 访问等级最初购买时间
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级到期时间
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: 续订取消时间
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: 检测到账单问题的时间
        is_in_grace_period:
          type: boolean
          description: 访问等级是否处于宽限期
        cancellation_reason:
          type: string
          nullable: true
          description: 取消原因

    Subscription:
      type: object
      properties:
        store:
          type: string
          description: 购买订阅的商店
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_base_plan_id:
          type: string
          nullable: true
          description: 商店中的基础计划 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: 优惠详情（如果应用了促销或介绍性优惠）
        environment:
          type: string
          description: 环境（沙盒、生产）
        purchased_at:
          type: string
          format: date-time
          description: 订阅购买时间
        originally_purchased_at:
          type: string
          format: date-time
          description: 订阅最初购买时间
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: 订阅到期时间
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: 续订取消时间
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: 检测到账单问题的时间
        is_in_grace_period:
          type: boolean
          description: 订阅是否处于宽限期
        cancellation_reason:
          type: string
          nullable: true
          description: 取消原因

    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: 唯一购买标识符
        store:
          type: string
          description: 购买所在的商店
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_base_plan_id:
          type: string
          nullable: true
          description: 商店中的基础计划 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        purchased_at:
          type: string
          format: date-time
          description: 购买时间
        environment:
          type: string
          description: 环境（沙盒、生产）
        is_refund:
          type: boolean
          description: 是否为退款
        is_consumable:
          type: boolean
          description: 是否为消耗型商品

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: 错误来源
              errors:
                type: array
                items:
                  type: string
                description: 错误消息数组
        error_code:
          type: string
          description: 简短错误名称
        status_code:
          type: integer
          description: HTTP 状态码
      required:
        - errors
        - error_code
        - status_code

    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type

    OneTimePurchaseDTO:
      type: object
      title: One-time Purchase
      description: 一次性购买的交易数据
      properties:
        purchase_type:
          type: string
          enum: [one_time_purchase]
          description: 购买类型
        store:
          type: string
          description: 购买所在的商店。常见值包括 `app_store`、`play_store`、`stripe`、`paddle` 或任何自定义商店标识符
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: 购买所在的环境
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        is_family_shared:
          type: boolean
          default: false
          description: 购买是否为家庭共享
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: 购买时间
        variation_id:
          type: string
          nullable: true
          description: A/B 测试的实验变体 ID
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: 退款时间
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: 取消原因
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at

    SubscriptionDTO:
      type: object
      title: Subscription
      description: 订阅购买的交易数据
      properties:
        purchase_type:
          type: string
          enum: [subscription]
          description: 购买类型
        store:
          type: string
          description: 购买所在的商店。常见值包括 `app_store`、`play_store`、`stripe`、`paddle` 或任何自定义商店标识符
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: 购买所在的环境
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        is_family_shared:
          type: boolean
          default: false
          description: 购买是否为家庭共享
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: 购买时间
        variation_id:
          type: string
          nullable: true
          description: A/B 测试的实验变体 ID
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: 退款时间
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: 取消原因
        originally_purchased_at:
          type: string
          format: date-time
          description: 订阅最初购买时间
        expires_at:
          type: string
          format: date-time
          description: 订阅到期时间
        renew_status:
          type: boolean
          description: 订阅是否将续订
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: 续订状态变更时间
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: 检测到账单问题的时间
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: 宽限期到期时间
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status

    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: 国家代码
        currency:
          type: string
          description: 货币代码
        value:
          type: number
          format: float
          description: 价格值
      required:
        - country
        - currency
        - value

    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: 优惠类别
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front]
          description: 优惠类型
        id:
          type: string
          nullable: true
          description: 优惠 ID
      required:
        - category
        - type

    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: 在访问等级页面中配置的付费访问等级 ID
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级生效的日期时间。可以是未来时间。默认值为 null。
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级到期的日期时间。可以是过去时间，也可以为 null（表示永久授权）。默认值为 null。
      required:
        - access_level_id

    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: 在访问等级页面中配置的付费访问等级 ID
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: 指定访问等级到期的时间。若要立即撤销访问权限，请省略此字段或将其设置为 null。默认值为 null。
      required:
        - access_level_id

    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          nullable: true
          description: |
            为用户单独设置退款偏好。
            - `grant`：批准每个退款请求
            - `no_preference`：不提供任何建议
            - `decline`：拒绝每个退款请求
        consent:
          type: boolean
          nullable: true
          description: |
            记录用户是否同意共享其数据。
            - `true` 表示如果您收到应用内退款请求，您可以向 Apple 提供有关该用户的信息
      example:
        custom_preference: "grant"
        consent: true

    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: 客户用户画像 ID
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: 定义用户是否同意共享其数据
            custom_preference:
              type: string
              enum: [grant, no_preference, decline]
              description: 退款偏好
          description: 用户的退款保护设置
      required:
        - profile_id
        - settings

    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [stripe_receipt_validation_result]
              description: 资源类型
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: 您系统中的用户 ID
                stripe_token:
                  type: string
                  description: |
                    代表唯一购买的 Stripe 对象令牌。
                    可以是 Stripe 订阅（sub_XXX）或支付意图（pi_XXX）的令牌
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data

    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: 响应数据（验证成功时为 null）
      required:
        - data

    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: 关于错误的描述性信息
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: 引用请求文档中导致问题的确切位置
                required:
                  - pointer
              status:
                type: string
                description: HTTP 状态码
            required:
              - detail
              - source
              - status
      required:
        - errors

    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: 您系统中的用户 ID
        paddle_token:
          type: string
          description: |
            代表唯一购买的 Paddle 对象令牌。
            可以是交易 ID（txn_...）或订阅 ID（sub_...）
      required:
        - customer_user_id
        - paddle_token

    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: 用户在 Adjust 集成中的网络用户 ID
        airbridge_device_id:
          type: string
          nullable: true
          description: 用户设备在 Airbridge 集成中的 ID
        amplitude_device_id:
          type: string
          nullable: true
          description: 用户设备在 Amplitude 集成中的 ID
        amplitude_user_id:
          type: string
          nullable: true
          description: 用户在 Amplitude 集成中的 ID
        appmetrica_device_id:
          type: string
          nullable: true
          description: 用户设备在 AppMetrica 集成中的 ID
        appmetrica_profile_id:
          type: string
          nullable: true
          description: 用户在 AppMetrica 集成中的 ID
        appsflyer_id:
          type: string
          nullable: true
          description: 用户在 AppsFlyer 集成中的网络用户 ID
        branch_id:
          type: string
          nullable: true
          description: 用户应用在 Branch 集成中的 Branch Key
        facebook_anonymous_id:
          type: string
          nullable: true
          description: 用户在 Facebook Ads 集成中的 ID
        firebase_app_instance_id:
          type: string
          nullable: true
          description: 用户在 Firebase 集成中的 ID
        mixpanel_user_id:
          type: string
          nullable: true
          description: 用户在 Mixpanel 集成中的 ID
        one_signal_player_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（旧版标识符）
        one_signal_subscription_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（推荐标识符）
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: 用户在 PostHog 集成中的 ID
        pushwoosh_hwid:
          type: string
          nullable: true
          description: 用户设备在 Pushwoosh 集成中的 ID
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: 用户设备在 Tenjin 集成中的 ID
      description: 至少必须提供一个集成标识符

    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: 用户在 Adjust 集成中的网络用户 ID
        airbridge_device_id:
          type: string
          nullable: true
          description: 用户设备在 Airbridge 集成中的 ID
        amplitude_device_id:
          type: string
          nullable: true
          description: 用户设备在 Amplitude 集成中的 ID
        amplitude_user_id:
          type: string
          nullable: true
          description: 用户在 Amplitude 集成中的 ID
        appmetrica_device_id:
          type: string
          nullable: true
          description: 用户设备在 AppMetrica 集成中的 ID
        appmetrica_profile_id:
          type: string
          nullable: true
          description: 用户在 AppMetrica 集成中的 ID
        appsflyer_id:
          type: string
          nullable: true
          description: 用户在 AppsFlyer 集成中的网络用户 ID
        branch_id:
          type: string
          nullable: true
          description: 用户应用在 Branch 集成中的 Branch Key
        facebook_anonymous_id:
          type: string
          nullable: true
          description: 用户在 Facebook Ads 集成中的 ID
        firebase_app_instance_id:
          type: string
          nullable: true
          description: 用户在 Firebase 集成中的 ID
        mixpanel_user_id:
          type: string
          nullable: true
          description: 用户在 Mixpanel 集成中的 ID
        one_signal_player_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（旧版标识符）
        one_signal_subscription_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（推荐标识符）
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: 用户在 PostHog 集成中的 ID
        pushwoosh_hwid:
          type: string
          nullable: true
          description: 用户设备在 Pushwoosh 集成中的 ID
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: 用户设备在 Tenjin 集成中的 ID

    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 远程配置的语言区域（例如："en"、"es"、"fr"）
              data:
                type: string
                description: 包含远程配置数据的 JSON 字符串
            required:
              - locale
              - data
          description: 要更新的 RemoteConfig 对象数组
      required:
        - remote_configs
      description: 至少必须提供一个字段

    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: 付费墙的名称，如在 Adapty 看板中定义的
        paywall_id:
          type: string
          format: uuid
          description: 付费墙的唯一标识符
        use_paywall_builder:
          type: boolean
          description: 付费墙是否使用付费墙编辑工具
        use_paywall_builder_legacy:
          type: boolean
          description: 付费墙是否使用旧版付费墙编辑工具
        updated_at:
          type: string
          format: date-time
          description: 付费墙最后更新时间戳
        created_at:
          type: string
          format: date-time
          description: 付费墙创建时间戳
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: 付费墙的当前状态
        is_deleted:
          type: boolean
          description: 付费墙是否已被标记为删除
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: 网页购买的 URL（如适用）
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: 产品的唯一标识符
              title:
                type: string
                description: 产品的标题
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: 产品集类别
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: 产品优惠的唯一标识符
                  title:
                    type: string
                    description: 优惠的标题
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: 包含产品信息的产品对象数组
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: 远程配置的语言区域
              data:
                type: string
                description: 包含远程配置数据的 JSON 字符串
            required:
              - locale
              - data
          description: 包含语言区域和数据的 RemoteConfig 对象数组
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: 图像的唯一标识符
            url:
              type: string
              format: uri
              description: 图像的 URL
          required:
            - image_id
            - url
          description: 包含 image_id 和 url 的主截图对象
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    PaywallListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaywallListItem'
          description: 付费墙对象数组
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                count:
                  type: integer
                  description: 付费墙总数
                page:
                  type: integer
                  description: 当前页码
                pages:
                  type: integer
                  description: 总页数
              required:
                - count
                - page
                - pages
          required:
            - pagination
      required:
        - data
        - meta

    PaywallListItem:
      type: object
      properties:
        title:
          type: string
          description: 付费墙的名称，如在 Adapty 看板中定义的
        paywall_id:
          type: string
          format: uuid
          description: 付费墙的唯一标识符
        use_paywall_builder:
          type: boolean
          description: 付费墙是否使用付费墙编辑工具
        use_paywall_builder_legacy:
          type: boolean
          description: 付费墙是否使用旧版付费墙编辑工具
        updated_at:
          type: string
          format: date-time
          description: 付费墙最后更新时间戳
        created_at:
          type: string
          format: date-time
          description: 付费墙创建时间戳
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: 付费墙的当前状态
        is_deleted:
          type: boolean
          description: 付费墙是否已被标记为删除
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: 网页购买的 URL（如适用）
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: 产品的唯一标识符
              title:
                type: string
                description: 产品的标题
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: 产品集类别
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: 产品优惠的唯一标识符
                  title:
                    type: string
                    description: 优惠的标题
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: 包含付费墙产品信息的产品对象数组
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProfileObject:
      type: object
      description: |
        用户画像代表您应用中的一个终端用户。它包含用户的所有订阅数据、购买历史和自定义属性。用户画像通过 customer_user_id（您的内部用户 ID）或 profile_id（Adapty 的内部 ID）进行标识。
      properties:
        app_id:
          type: string
          format: uuid
          description: 您在 Adapty 中应用的唯一标识符
        profile_id:
          type: string
          format: uuid
          description: 用户画像在 Adapty 中的唯一标识符
        customer_user_id:
          type: string
          nullable: true
          description: 您系统中的用户 ID
        total_revenue_usd:
          type: number
          format: float
          description: 该用户以 USD 产生的总收入
        segment_hash:
          type: string
          description: 用于数据分析的用户市场细分哈希值
        timestamp:
          type: integer
          format: int64
          description: 最后一次用户画像更新的 Unix 时间戳
        custom_attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: 属性键
              value:
                type: string
                description: 属性值
            required: [key, value]
          description: 用户自定义属性数组
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevelObject'
          description: 用户拥有的访问等级数组
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionObject'
          description: 有效订阅数组
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscriptionObject'
          description: 一次性购买数组
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    AccessLevelObject:
      type: object
      description: |
        访问等级代表您应用中的付费功能或内容层级。用户可以拥有多个访问等级，每个等级可以有不同的到期日期。
      properties:
        id:
          type: string
          description: 访问等级的唯一标识符
        is_active:
          type: boolean
          description: 访问等级当前是否有效
        vendor_product_id:
          type: string
          description: 应用商店中的产品 ID
        store:
          type: string
          description: 购买访问等级的商店。常见值包括 app_store、play_store、stripe、paddle 或任何自定义商店标识符
        activated_at:
          type: string
          format: date-time
          description: 访问等级激活时间
        renewed_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级最后续订时间
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: 访问等级到期时间（永久授权为 null）
        is_lifetime:
          type: boolean
          description: 是否为永久授权
        active_introductory_offer_type:
          type: string
          nullable: true
          description: 有效新用户优惠的类型
        active_promotional_offer_type:
          type: string
          nullable: true
          description: 有效促销活动的类型
        will_renew:
          type: boolean
          description: 访问等级是否将自动续订
        is_in_grace_period:
          type: boolean
          description: 访问等级是否处于宽限期
        unsubscribed_at:
          type: string
          format: date-time
          nullable: true
          description: 用户取消订阅的时间
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: 检测到账单问题的时间
      required:
        - id
        - is_active
        - vendor_product_id
        - store
        - activated_at
        - renewed_at
        - expires_at
        - is_lifetime
        - active_introductory_offer_type
        - active_promotional_offer_type
        - will_renew
        - is_in_grace_period
        - unsubscribed_at
        - billing_issue_detected_at

    SubscriptionObject:
      type: object
      description: |
        订阅代表一个有效的订阅购买。它包含有关订阅产品、购买详情和续订状态的信息。
      properties:
        purchase_id:
          type: string
          format: uuid
          description: 购买的唯一标识符
        store:
          type: string
          description: 购买订阅的商店。常见值包括 app_store、play_store、stripe、paddle 或任何自定义商店标识符
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_base_plan_id:
          type: string
          nullable: true
          description: 商店中的基础计划 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        store_original_transaction_id:
          type: string
          description: 商店中的原始交易 ID
        purchased_at:
          type: string
          format: date-time
          description: 订阅购买时间
        environment:
          type: string
          enum: [Production, Sandbox]
          description: 购买所在的环境
        is_refund:
          type: boolean
          description: 是否为退款购买
        is_consumable:
          type: boolean
          description: 是否为消耗型商品
      required:
        - purchase_id
        - store
        - store_product_id
        - store_base_plan_id
        - store_transaction_id
        - store_original_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    NonSubscriptionObject:
      type: object
      description: |
        非订阅代表一次性购买。它包含有关产品和购买详情的信息。
      properties:
        purchase_id:
          type: string
          format: uuid
          description: 购买的唯一标识符
        store:
          type: string
          description: 购买所在的商店。常见值包括 app_store、play_store、stripe、paddle 或任何自定义商店标识符
        store_product_id:
          type: string
          description: 商店中的产品 ID
        store_transaction_id:
          type: string
          description: 商店中的交易 ID
        purchased_at:
          type: string
          format: date-time
          description: 购买时间
        environment:
          type: string
          enum: [Production, Sandbox]
          description: 购买所在的环境
        is_refund:
          type: boolean
          description: 是否为退款购买
        is_consumable:
          type: boolean
          description: 是否为消耗型商品
      required:
        - purchase_id
        - store
        - store_product_id
        - store_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    PaywallObject:
      type: object
      description: |
        付费墙代表您应用中的一个变现界面。它包含有关付费墙配置、产品和远程配置的信息。
      properties:
        title:
          type: string
          description: 付费墙的名称，如在 Adapty 看板中定义的
        paywall_id:
          type: string
          format: uuid
          description: 付费墙的唯一标识符
        use_paywall_builder:
          type: boolean
          description: 付费墙是否使用付费墙编辑工具
        use_paywall_builder_legacy:
          type: boolean
          description: 付费墙是否使用旧版付费墙编辑工具
        updated_at:
          type: string
          format: date-time
          description: 付费墙最后更新时间戳
        created_at:
          type: string
          format: date-time
          description: 付费墙创建时间戳
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: 付费墙的当前状态
        is_deleted:
          type: boolean
          description: 付费墙是否已被标记为删除
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: 网页购买的 URL（如适用）
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductObject'
          description: 此付费墙中可购买的产品数组
        remote_configs:
          type: array
          items:
            $ref: '#/components/schemas/RemoteConfigObject'
          description: 不同语言区域的远程配置数组
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: 图像的唯一标识符
            url:
              type: string
              format: uri
              description: 图像的 URL
          required: [image_id, url]
          description: 包含 image_id 和 url 的主截图对象
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProductObject:
      type: object
      description: |
        产品代表您应用中可购买的商品。可以是订阅或一次性购买产品。
      properties:
        product_id:
          type: string
          format: uuid
          description: 产品的唯一标识符
        title:
          type: string
          description: 产品的标题
        product_set:
          type: string
          description: 产品集类别
        offer:
          type: object
          nullable: true
          properties:
            product_offer_id:
              type: string
              format: uuid
              description: 产品优惠的唯一标识符
            title:
              type: string
              description: 优惠的标题
          required: [product_offer_id, title]
          description: 产品优惠信息
      required:
        - product_id
        - title
        - product_set
        - offer

    RemoteConfigObject:
      type: object
      description: |
        远程配置包含付费墙的特定语言区域配置数据。这允许您为不同语言自定义付费墙的外观和行为。
      properties:
        locale:
          type: string
          description: 远程配置的语言区域（例如："en"、"es"、"fr"）
        data:
          type: string
          description: 包含远程配置数据的 JSON 字符串
      required:
        - locale
        - data

    IntegrationIdentifiersObject:
      type: object
      description: |
        集成标识符包含来自各种第三方服务的用户 ID。这些标识符用于在不同的数据分析和营销平台之间同步用户数据。
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: 用户在 Adjust 集成中的网络用户 ID
        airbridge_device_id:
          type: string
          nullable: true
          description: 用户设备在 Airbridge 集成中的 ID
        amplitude_device_id:
          type: string
          nullable: true
          description: 用户设备在 Amplitude 集成中的 ID
        amplitude_user_id:
          type: string
          nullable: true
          description: 用户在 Amplitude 集成中的 ID
        appmetrica_device_id:
          type: string
          nullable: true
          description: 用户设备在 AppMetrica 集成中的 ID
        appmetrica_profile_id:
          type: string
          nullable: true
          description: 用户在 AppMetrica 集成中的 ID
        appsflyer_id:
          type: string
          nullable: true
          description: 用户在 AppsFlyer 集成中的网络用户 ID
        branch_id:
          type: string
          nullable: true
          description: 用户应用在 Branch 集成中的 Branch Key
        facebook_anonymous_id:
          type: string
          nullable: true
          description: 用户在 Facebook Ads 集成中的 ID
        firebase_app_instance_id:
          type: string
          nullable: true
          description: 用户在 Firebase 集成中的 ID
        mixpanel_user_id:
          type: string
          nullable: true
          description: 用户在 Mixpanel 集成中的 ID
        one_signal_player_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（旧版标识符）
        one_signal_subscription_id:
          type: string
          nullable: true
          description: 用户在 OneSignal 集成中的 ID（推荐标识符）
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: 用户在 PostHog 集成中的 ID
        pushwoosh_hwid:
          type: string
          nullable: true
          description: 用户设备在 Pushwoosh 集成中的 ID
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: 用户设备在 Tenjin 集成中的 ID

    RefundSaverSettingsObject:
      type: object
      description: |
        退款保护设置包含用户处理退款请求的偏好。包括数据共享同意和自定义退款偏好。
      properties:
        consent:
          type: boolean
          description: 定义用户是否同意共享其数据
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          description: 退款偏好
      required:
        - consent
        - custom_preference

    ErrorObject:
      type: object
      description: |
        错误代表一个 API 错误响应。它包含有关出现了什么问题以及如何修复的信息。
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: 导致错误的字段或参数
              errors:
                type: array
                items:
                  type: string
                description: 错误消息数组
            required: [errors]
          description: 错误详情数组
        error_code:
          type: string
          description: 机器可读的错误代码
        status_code:
          type: integer
          description: HTTP 状态码
      required:
        - errors
        - error_code
        - status_code

    PaginationObject:
      type: object
      description: |
        列表端点的分页元数据。包含有关当前页面和总结果的信息。
      properties:
        count:
          type: integer
          description: 条目总数
        page:
          type: integer
          description: 当前页码
        pages:
          type: integer
          description: 总页数
      required:
        - count
        - page
        - pages