openapi: 3.1.0
info:
  title: Adapty sunucu taraflı API
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: Üretim sunucusu
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: Profil oluştur
      description: Adapty'de uygulamanızın yeni bir son kullanıcısını oluşturur.
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: Kullanıcının uygulamanızın yüklü olduğu cihazın platformu
      responses:
        '200':
          description: Profil başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d623-2f3a-455a-aa86-ef83dff6913b
                  profile_id: 3286abd3-48b0-4e9c-a5f6-ac0a006804a6
                  customer_user_id: jane.doe@example.com
                  total_revenue_usd: 0
                  segment_hash: 8f45947bad31ab0c
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: non_field_errors
                    errors:
                      - Authentication credentials were not provided.
                error_code: not_authenticated
                status_code: 401
        '500':
          description: Sunucu içi hata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: Jane
              last_name: Doe
              gender: f
              email: jane.doe@example.com
              phone_number: '+1234567890'
              birthday: '2000-12-31'
              ip_country: FR
              store_country: US
              store: app_store
              analytics_disabled: true
              custom_attributes:
                - key: favourite_sport
                  value: yoga
              installation_meta:
                device_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                device: string
                locale: en
                os: string
                platform: iOS
                timezone: Europe/Rome
                user_agent: Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1
                idfa: EA7583CD-A667-48BC-B806-42ECB2B48333
                idfv: E9D48DA5-3930-4B41-8521-D953AECD2F33
                advertising_id: ''
                android_id: ''
                android_app_set_id: ''
    get:
      summary: Profili getir
      description: Uygulamanızın mevcut bir son kullanıcısının ayrıntılarını getirir.
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Profil başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d333-2f3a-455a-aa86-ef83dff6913b
                  profile_id: d8533a10-bcce-4e33-8c9d-88b05ac56559
                  customer_user_id: 77B14FB4-FD2A-4D38-AA3A-4C433F79863C
                  total_revenue_usd: 9.99
                  segment_hash: fdaeef7f8aaa33c9
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels:
                    - access_level_id: premium
                      store: app_store
                      store_product_id: unlimited.9999
                      store_base_plan_id: null
                      store_transaction_id: '2000000335013007'
                      store_original_transaction_id: '2000000335013007'
                      offer: null
                      starts_at: null
                      purchased_at: '2024-12-24T10:50:23+00:00'
                      originally_purchased_at: '2024-12-24T10:50:23+00:00'
                      expires_at: null
                      renewal_cancelled_at: '2025-01-05T13:27:47.461425+00:00'
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: app_store
                      store_product_id: unlimited.9999
                      store_base_plan_id: null
                      store_transaction_id: '2000000815013007'
                      store_original_transaction_id: '2000000815013007'
                      offer: null
                      environment: Sandbox
                      purchased_at: '2024-12-24T10:50:23+00:00'
                      originally_purchased_at: '2024-12-24T10:50:23+00:00'
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: 7a5f9a7d-e236-33e6-96d8-53a3c59c5562
                      store: app_store
                      store_product_id: 1year.premium
                      store_base_plan_id: null
                      store_transaction_id: '30002109551456'
                      store_original_transaction_id: '30002109551456'
                      purchased_at: '2022-10-12T09:42:50+00:00'
                      environment: Production
                      is_refund: false
                      is_consumable: false
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: non_field_errors
                    errors:
                      - Authentication credentials were not provided.
                error_code: not_authenticated
                status_code: 401
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Profile not found
                error_code: profile_does_not_exist
                status_code: 404
        '500':
          description: Sunucu içi hata
    patch:
      summary: Profili güncelle
      description: Kullanıcı profili bilgilerini günceller
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Profil başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: Profili sil
      description: Kullanıcı profilini siler
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '204':
          description: Profil başarıyla silindi
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: İşlem ayarla
      description: |
        Adapty'de uygulamanızın son kullanıcısı için yeni bir işlem oluşturur ve access level sağlar. Bu yöntemle oluşturulan işlem analizlerinizde ve Event Feed'de görünecek ve tüm entegrasyonlara gönderilecektir.

        **Mevcut bir aboneliği güncelleme:** Yeni bir `subscription_renewed` olayı oluşturmadan `billing_issue_detected_at` veya `renew_status_changed_at` değerini güncellemek için mevcut `store_transaction_id`'yi (aynı `store_original_transaction_id` altında) yeniden kullanın. Yeni bir `store_transaction_id` göndermek yeni bir işlem olarak değerlendirilir ve `subscription_renewed` olayını tetikler.
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id`'den biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id`'den biri zorunludur.
      responses:
        '200':
          description: İşlem başarıyla kaydedildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Dahili sunucu hatası
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: Tek seferlik satın alma örneği
                value:
                  purchase_type: one_time_purchase
                  store: app_store
                  environment: Production
                  store_product_id: premium_lifetime
                  store_transaction_id: '1000000123456789'
                  store_original_transaction_id: '1000000123456789'
                  is_family_shared: false
                  price:
                    country: US
                    currency: USD
                    value: 9.99
                  purchased_at: '2024-01-15T10:30:00Z'
                  variation_id: variation_123
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: Abonelik örneği
                value:
                  purchase_type: subscription
                  store: app_store
                  environment: Production
                  store_product_id: premium_monthly
                  store_transaction_id: '1000000123456789'
                  store_original_transaction_id: '1000000123456789'
                  is_family_shared: false
                  price:
                    country: US
                    currency: USD
                    value: 4.99
                  purchased_at: '2024-01-15T10:30:00Z'
                  originally_purchased_at: '2024-01-15T10:30:00Z'
                  expires_at: '2024-02-15T10:30:00Z'
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: variation_123
                  offer:
                    category: introductory
                    type: free_trial
                    id: trial_offer_123
                  refunded_at: null
                  cancellation_reason: null
  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: Access level ver
      description: Son kullanıcınıza işlem bilgisi sağlamadan access level verir. Bu, referanslar için bonuslarınız veya ürünlerinizle ilgili diğer etkinlikleriniz varsa işe yarar. Bu yöntemle sağlanan access level, analizlerinize yansımaz. Yalnızca webhook entegrasyonuna gönderilir ve yalnızca bu durumda Etkinlik Akışı'nda görünür.
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id`'den biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id`'den biri zorunludur.
      responses:
        '200':
          description: Access level başarıyla verildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: Access level'i hemen ver
                value:
                  access_level_id: premium
              scheduled_grant:
                summary: Başlangıç ve bitiş tarihleriyle access level ver
                value:
                  access_level_id: premium
                  starts_at: '2024-01-01T00:00:00Z'
                  expires_at: '2024-12-31T23:59:59Z'
              lifetime_grant:
                summary: Süresiz erişim ver
                value:
                  access_level_id: premium
                  starts_at: '2024-01-01T00:00:00Z'
  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: Access level iptal et
      description: Adapty'deki uygulamanızın son kullanıcısından bir access level'ı kaldırır.
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Access level başarıyla iptal edildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: Access level'ı hemen iptal et
                value:
                  access_level_id: premium
              scheduled_revoke:
                summary: Access level iptali zamanla
                value:
                  access_level_id: premium
                  revoke_at: '2024-12-31T23:59:59Z'
  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: Refund Saver ayarlarını getir
      description: Bu kullanıcı için Refund Saver tercihini getir - Adapty'nin iade taleplerini reddetmesini mi yoksa onaylamasını mı istendiğini belirtir. Bu kullanıcı için veri paylaşım tercihini getir - kullanıcının verilerini Apple ile paylaşmak için onay verip vermediğini gösterir.
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Ayarlar başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: e5aab402-b1bd-4039-b632-57a91ebc0779
                settings:
                  consent: true
                  custom_preference: no_preference
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Profil mevcut değil
                  value:
                    errors:
                      - Profile does not exist
                    error_code: profile_does_not_exist
                    status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Refund Saver ayarlarını ayarla
      description: Kullanıcı için iade tercihini ayrı ayrı belirleyin ve kullanıcının verilerini paylaşmak için onay verip vermediğini kaydedin. Varsayılan olarak, Refund Saver Apple'dan bir işlem için ilk iade talebini reddetmesini, aynı işlem için yapılan her tekrar talebini ise onaylamasını ister. Bu varsayılan davranışı Adapty Kontrol Paneli'nden tüm kullanıcılar için değiştirebilir ya da belirli bir kullanıcı için Kontrol Paneli, Adapty SDK veya sunucu taraflı API aracılığıyla ayarlayabilirsiniz.
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: grant
              consent: true
      responses:
        '200':
          description: Ayarlar başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: e5aab402-b1bd-4039-b632-57a91ebc0779
                settings:
                  consent: true
                  custom_preference: grant
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Profil mevcut değil
                  value:
                    errors:
                      - Profile does not exist
                    error_code: profile_does_not_exist
                    status_code: 400
                validation_error:
                  summary: Doğrulama hatası
                  value:
                    errors:
                      - Profile refund saver settings must have either consent or custom_preference or both
                    error_code: validation_error
                    status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: Stripe satın alımını doğrula
      description: |
        Adapty Kontrol Paneli'ndeki Uygulama Ayarlarınızdaki Stripe kimlik bilgileri kullanılarak sağlanan Stripe token'ı ile bir satın alımı doğrular.
        Satın alım geçerliyse, işlem geçmişi Stripe'tan belirtilen customer_user_id'ye sahip Adapty profiline aktarılır.
        Bu customer_user_id'ye sahip bir profil daha önce yoksa — oluşturulacaktır.

        Profil olayları süreç içinde oluşturulur ve aktarılan işlemler MTR'ye dahil edilir.
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: stripe_receipt_validation_result
                attributes:
                  customer_user_id: <YOUR_CUSTOMER_USER_ID>
                  stripe_token: <YOUR_STRIPE_TOKEN>
      responses:
        '200':
          description: Satın alım başarıyla doğrulandı
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: Hatalı istek
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: none is not an allowed value
                    source:
                      pointer: /data/attributes/stripe_token
                    status: '400'
        '401':
          description: Yetkisiz
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: Paddle satın alımını doğrula
      description: |
        Adapty Kontrol Paneli'ndeki Uygulama Ayarlarınızda yer alan Paddle kimlik bilgilerini kullanarak sağlanan Paddle token'ı ile bir satın alımı doğrular.
        Satın alım geçerliyse, işlem geçmişi Paddle'dan belirtilen customer_user_id ile Adapty'deki profile aktarılır.
        Bu customer_user_id ile daha önce bir profil oluşturulmamışsa — yeni bir profil oluşturulur.
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: <YOUR_CUSTOMER_USER_ID>
              paddle_token: live_7d279f61a3339fed520f7cd8c08
      responses:
        '200':
          description: Satın alım başarıyla doğrulandı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: 14c3d623-2f3a-455a-aa86-ef83dff6913b
                  profile_id: 3286abd3-48b0-4e9c-a5f6-ac0a006804a6
                  customer_user_id: Jane.doe@example.com
                  total_revenue_usd: 0
                  segment_hash: 8f45947bad31ab0c
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: favourite_sport
                      value: yoga
                  access_levels: []
                  subscriptions:
                    - purchase_id: 5a7ab471-2299-45f7-ad69-1d395c1256e3
                      store: app_store
                      store_product_id: 1year.premium
                      store_base_plan_id: null
                      store_transaction_id: '30002109551456'
                      store_original_transaction_id: '30002109551456'
                      purchased_at: '2022-10-12T09:42:50+00:00'
                      environment: Production
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: Ürün bulunamadı
                  value:
                    errors:
                      - No products found
                    error_code: no_products_found
                    status_code: 400
                paddle_api_key_not_found:
                  summary: Paddle API anahtarı bulunamadı
                  value:
                    errors:
                      - Paddle API key not found
                    error_code: paddle_api_key_not_found
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Geçersiz Paddle kimlik bilgileri veya satın alım bulunamadı
                  value:
                    errors:
                      - Invalid Paddle credentials or purchase not found
                    error_code: invalid_paddle_credentials_or_purchase_not_found
                    status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: Entegrasyon tanımlayıcılarını al
      description: Bir profilin entegrasyon tanımlayıcılarını getirir.
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçenektir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Entegrasyon tanımlayıcıları başarıyla alındı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: 33w6yv5DPqVlyMVbjW31xvzJLtJ3
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: 333ed338-757d-466a-a672-ab92db196a1f
                pushwoosh_hwid: null
                firebase_app_instance_id: C333B35DF1DB418E99F7B815E9F5C549
                airbridge_device_id: null
                appsflyer_id: 1741933337626-3179568
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Profile not found
                error_code: profile_not_found
                status_code: 404
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Entegrasyon tanımlayıcılarını ayarla
      description: Bir profile entegrasyon tanımlayıcıları ekler.
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçenektir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: example_pushwoosh_hwid
              mixpanel_user_id: example_mixpanel_user_id
              facebook_anonymous_id: example_facebook_anonymous_id
              firebase_app_instance_id: example_firebase_app_instance_id
              amplitude_user_id: example_amplitude_user_id
              amplitude_device_id: example_amplitude_device_id
              appmetrica_device_id: example_appmetrica_device_id
              appmetrica_profile_id: example_appmetrica_profile_id
              one_signal_subscription_id: example_one_signal_subscription_id
              one_signal_player_id: example_one_signal_player_id
              branch_id: example_branch_id
              appsflyer_id: example_appsflyer_id
              adjust_device_id: example_adjust_device_id
              airbridge_device_id: example_airbridge_device_id
              tenjin_analytics_installation_id: example_tenjin_analytics_installation_id
              posthog_distinct_user_id: example_posthog_distinct_user_id
      responses:
        '200':
          description: Entegrasyon tanımlayıcıları başarıyla ayarlandı. Yanıt gövdesi boştur.
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - At least one integration identifier must be provided.
                error_code: validation_error
                status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Profil bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Profile not found
                error_code: profile_not_found
                status_code: 404
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/paywalls/:
    get:
      summary: Paywall'ları listele
      description: Uygulamanızdaki paywall'ların listesini getirir.
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Sayfalama için sayfa numarası
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Sayfa başına öğe sayısı
      responses:
        '200':
          description: Paywall'lar başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: LlkTlizT
                    paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: '2025-07-08T07:27:06.754527+00:00'
                    created_at: '2025-07-08T07:27:06.754541+00:00'
                    state: live
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                        title: mFUQPcJQ
                        product_set: uncategorised
                        offer: null
                  - title: Premium Subscription
                    paywall_id: a1cf7850-1bb8-4151-8336-a4e588730c55
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: '2025-07-28T08:15:13.722680+00:00'
                    created_at: '2025-07-25T13:40:01.789853+00:00'
                    state: live
                    is_deleted: false
                    web_purchase_url: https://example.com/purchase
                    products:
                      - product_id: b136422f-8153-402a-afbb-986929c68f6a
                        title: Premium Monthly
                        product_set: uncategorised
                        offer:
                          product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                          title: Free Trial
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: Geçersiz istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: page_size
                    errors:
                      - Invalid page_size parameter. Must be between 1 and 100.
                error_code: validation_error
                status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: Paywall'ı getir
      description: Uygulamanızdaki belirli bir paywall'ı getirir.
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Getirilecek paywall'ın benzersiz tanımlayıcısı
      responses:
        '200':
          description: Paywall başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: Premium Subscription
                paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: '2025-07-30T11:13:58.798Z'
                created_at: '2025-07-30T11:13:58.798Z'
                state: live
                is_deleted: false
                web_purchase_url: https://example.com/purchase
                products:
                  - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                    title: Premium Monthly
                    product_set: uncategorised
                    offer:
                      product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                      title: Free Trial
                remote_configs:
                  - locale: en
                    data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
                main_screenshot:
                  image_id: 123456
                  url: https://public-media.adapty.io/public/screenshot.jpg
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Paywall bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Paywall not found
                error_code: paywall_does_not_exist
                status_code: 404
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Paywall'ı güncelle
      description: |
        Belirli bir paywall'ın remote config değerlerini günceller. Bu endpoint, paywall'ın görünümünü ve davranışını özelleştirmenize yardımcı olan remote config değerlerini değiştirmenizi sağlar.

        **Önemli:** Bir remote config güncellerseniz, mevcut tüm remote config'lerin üzerine yazılır! Mevcut remote config'leri korumak istiyorsanız önce paywall'ı getirin. Ardından, oradan remote_configs'i kopyalayın ve güncelleme isteğinde değiştirmeniz gereken nesneleri düzenleyin.
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Güncellenecek paywall'ın benzersiz tanımlayıcısı
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: en
                  data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
      responses:
        '200':
          description: Paywall başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: Premium Subscription
                paywall_id: fd891d4f-5906-45b9-97c1-13cc3dc665df
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: '2025-07-30T11:13:58.798Z'
                created_at: '2025-07-30T11:13:58.798Z'
                state: live
                is_deleted: false
                web_purchase_url: https://example.com/purchase
                products:
                  - product_id: b95e9e51-a056-4eb6-9cf7-b75d139e7c3c
                    title: Premium Monthly
                    product_set: uncategorised
                    offer:
                      product_offer_id: e31a4296-f250-4faf-ac80-3cc93c2da8f5
                      title: Free Trial
                remote_configs:
                  - locale: en
                    data: '{"title":"Premium Features","subtitle":"Unlock all premium content"}'
                main_screenshot:
                  image_id: 123456
                  url: https://public-media.adapty.io/public/screenshot.jpg
        '400':
          description: Hatalı istek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: remote_configs
                    errors:
                      - At least one field must be provided
                error_code: validation_error
                status_code: 400
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - Invalid API key
                error_code: unauthorized
                status_code: 401
        '404':
          description: Paywall bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Paywall not found
                error_code: paywall_does_not_exist
                status_code: 404
        '500':
          description: Sunucu içi hata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v2/server-side-api/vc/transactions/:
    post:
      summary: Sanal para birimi işlemi oluştur
      description: |
        Tek bir atomik işlemde bir profil için bir veya daha fazla sanal para birimini alacaklandırır veya borçlandırır. Alacaklandırmak (vermek) için pozitif `amount`, borçlandırmak (harcamak) için negatif `amount` kullanın. Tüm öğeler birlikte uygulanır — herhangi bir öğe başarısız olursa hiçbiri uygulanmaz.

        Her para birimi kodu istek başına yalnızca bir kez görünebilir. Bu uç nokta aracılığıyla yapılan bir alacak her zaman süresi dolmayan bir bakiye oluşturur.
      operationId: createVirtualCurrencyTransaction
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: |
            İsteği idempotent yapan bir UUID v4 değeri. Aynı anahtarla bir isteği yeniden denerseniz Adapty, bakiyeleri tekrar değiştirmeden orijinal işlemin sonucunu döndürür. Geçerli bir UUID v4 olmalıdır.

            Anahtarlar tek bir profil kapsamında en fazla bir saat boyunca hatırlanır. Bu süre geçtikten sonra aynı anahtarla yapılan bir istek yeni bir işlem olarak uygulanır — dolayısıyla anahtarı uzun vadede tekrarlı bir vermeyi önlemek için değil, bir çağrıyı güvenli şekilde yeniden denemek için kullanın.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCurrencyTransactionRequest'
            examples:
              debit:
                summary: Bir para birimini harca (borçlandır)
                value:
                  items:
                    - currency_code: COINS
                      amount: -10
              credit:
                summary: Bir para birimini ver (alacaklandır)
                value:
                  items:
                    - currency_code: COINS
                      amount: 500
              multi_currency:
                summary: İki para birimini aynı anda borçlandır
                value:
                  items:
                    - currency_code: GOLD
                      amount: -50
                    - currency_code: SILVER
                      amount: -200
              conversion:
                summary: Bir para birimini diğerine dönüştür
                value:
                  items:
                    - currency_code: SILVER
                      amount: -100
                    - currency_code: GOLD
                      amount: 10
                  metadata:
                    reason: exchange
      responses:
        '200':
          description: İşlem başarıyla uygulandı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyTransactionResponse'
              example:
                transaction_id: 0190e8a4-1c2b-7def-8abc-2c1a4b6d8e90
                balances:
                  - code: COINS
                    name: Gold Coins
                    balance: 12950
                    held: 0
                    available: 12950
        '400':
          description: |
            Hatalı istek. `error_code` alanı nedeni belirtir: `insufficient_balance`, `unknown_currency`, `duplicate_currency`, `amount_zero`, `balance_overflow`, `empty_items` veya `idempotency_key_invalid`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: currency_code
                    errors:
                      - Insufficient balance for currency COINS
                error_code: insufficient_balance
                status_code: 400
        '401':
          description: Yetkisiz. API anahtarı eksik veya geçersiz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Erişim reddedildi. Bu uygulama için sanal para birimleri Sunucu API'si etkin değil. Erişim talep etmek için Adapty destek ekibiyle iletişime geçin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - Server API for virtual currencies is not enabled for this app. Contact Adapty support to request access.
                error_code: feature_not_enabled
                status_code: 403
        '404':
          description: Profil bulunamadı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: |
            Çakışma. `error_code` alanı nedeni belirtir:

            - `idempotency_in_flight` — aynı `Idempotency-Key` değerine sahip bir istek hâlâ işleniyor. `Retry-After` yanıt başlığındaki aralıktan sonra yeniden deneyin.
            - `duplicate_source_transaction` — temel mağaza işlemi zaten alacaklandırıldığından tekrar uygulanmaz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors:
                      - A similar request is being processed.
                error_code: idempotency_in_flight
                status_code: 409
        '422':
          description: |
            İşlenemeyen varlık. İstek gövdesi şema doğrulamasından geçemedi — örneğin `items` 20'den fazla giriş içeriyor ya da bir `metadata` anahtarı veya değeri kısıtlamalarını ihlal ediyor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: |
            Çok fazla istek. Uygulama başına veya global hız sınırı aşıldı (`error_code` değeri `rate_limited`). Varsayılan sınırlar uygulama başına dakikada 600 istek ve global olarak dakikada 6000 istektir.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Dahili sunucu hatası
    get:
      summary: Sanal para birimi işlemlerini listele
      description: |
        Bir profil için sanal para birimi işlem geçmişini en yeniden en eskiye doğru döndürür. Sonuçlar imleç tabanlı sayfalama kullanır: yanıt null olmayan bir `pagination.next_cursor` içerdiğinde, sonraki sayfayı almak için bunu `cursor` sorgu parametresi olarak geri gönderin.
      operationId: listVirtualCurrencyTransactions
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki müşterinin benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Sisteminizdeki profilin benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: currency_code
          in: query
          required: false
          schema:
            type: string
          description: Geçmişi tek bir sanal para birimi koduna göre filtreler.
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Önceki yanıtta `pagination.next_cursor` olarak döndürülen opak sayfalama imleci. İlk sayfayı almak için belirtmeyin.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: Sayfa başına döndürülecek maksimum işlem sayısı. Varsayılan değer 50'dir.
      responses:
        '200':
          description: İşlem geçmişi başarıyla döndürüldü
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyTransactionsHistoryResponse'
              example:
                data:
                  - transaction_id: 0190e8a4-1c2b-7def-8abc-2c1a4b6d8e90
                    transaction_type: api_transaction
                    items:
                      - currency_code: COINS
                        amount: 500
                        balance_after: 12950
                    metadata:
                      reason: promo_bonus
                    created_at: '2026-05-23T10:30:00Z'
                  - transaction_id: 0190e7b2-9a44-7c10-bb31-7d2e9f0a1c55
                    transaction_type: store_purchase
                    items:
                      - currency_code: COINS
                        amount: 1000
                        balance_after: 12450
                    created_at: '2026-05-22T18:05:12Z'
                  - transaction_id: 0190e5c0-3f18-7b9a-9e6d-44a1c8b27e03
                    transaction_type: subscription_renewal
                    items:
                      - currency_code: GEMS
                        amount: 200
                        balance_after: 3280
                    created_at: '2026-05-20T09:00:00Z'
                pagination:
                  next_cursor: MjAyNi0wNS0yMFQwOTowMDowMFowMTkwZTVjMC0zZjE4LTdiOWEtOWU2ZC00NGExYzhiMjdlMDM=
        '400':
          description: Hatalı istek. `cursor` değeri geçersiz (`error_code` değeri `invalid_cursor`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz. API anahtarı eksik veya geçersiz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Erişim reddedildi. Bu uygulama için sanal para birimleri Sunucu API'si etkin değil.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Dahili sunucu hatası
  /api/v2/server-side-api/vc/balances/:
    get:
      summary: Sanal para birimi bakiyelerini listele
      description: |
        Bir profil için her sanal para biriminin mevcut bakiyesini döndürür. Uygulamanın sanal para birimi yoksa `data` boş bir dizi olur.
      operationId: listVirtualCurrencyBalances
      tags:
        - Virtual Currency
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Müşterinin sisteminizdeki benzersiz kimliği. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Profilin sisteminizdeki benzersiz kimliği. Anonim profillerle çalışıyorsanız en iyi seçeneğinizdir. `adapty-customer-user-id` veya `adapty-profile-id` alanlarından biri zorunludur.
      responses:
        '200':
          description: Bakiyeler başarıyla döndürüldü
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCurrencyBalanceListResponse'
              example:
                response_created_at: 1779791400000
                data:
                  - code: COINS
                    name: Gold Coins
                    balance: 12450
                    held: 0
                    available: 12450
                  - code: GEMS
                    name: Gems
                    balance: 3280
                    held: 0
                    available: 3280
                  - code: ENERGY
                    name: Energy
                    balance: 840
                    held: 0
                    available: 840
        '400':
          description: Geçersiz istek.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz. API anahtarı eksik veya geçersiz.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Erişim engellendi. Bu uygulama için sanal para birimleri Server API'si etkin değil.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profil bulunamadı.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu içi hata
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        API istekleri, gizli API anahtarınız tarafından **Authorization** başlığı olarak
        `Api-Key {your_secret_api_key}` değeriyle doğrulanmalıdır; örneğin,
        `Api-Key secret_live_...`. Bu anahtarı Adapty Kontrol Paneli ->
        **Uygulama Ayarları** -> **Genel** sekmesi -> **API anahtarları** bölümünde bulabilirsiniz.
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: Son kullanıcınızın adı
        last_name:
          type: string
          nullable: true
          description: Son kullanıcınızın soyadı
        gender:
          type: string
          nullable: true
          enum:
            - f
            - m
            - o
          description: Son kullanıcınızın cinsiyeti
        email:
          type: string
          nullable: true
          format: email
          description: Son kullanıcınızın e-posta adresi
        phone_number:
          type: string
          nullable: true
          description: Son kullanıcınızın telefon numarası
        birthday:
          type: string
          format: date
          nullable: true
          description: Son kullanıcınızın doğum tarihi
        ip_country:
          type: string
          nullable: true
          description: Son kullanıcının ISO 3166-2 formatında ülkesi
        ip_v4_address:
          type: string
          nullable: true
          description: Son kullanıcının IPv4 adresi
        store_country:
          type: string
          nullable: true
          description: Son kullanıcının uygulama mağazasının bulunduğu ülke
        store:
          type: string
          nullable: true
          enum:
            - app_store
            - play_store
            - stripe
            - adapty
            - paddle
          description: Kullanıcının uygulamanızda satın alma yapmak için kullandığı platform
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: Mağaza hesap token'ı
        att_status:
          type: integer
          nullable: true
          enum:
            - 0
            - 1
            - 2
            - 3
          description: Apple App Tracking Transparency durumu (0=belirlenmedi, 1=kısıtlandı, 2=reddedildi, 3=yetkilendirildi)
        analytics_disabled:
          type: boolean
          nullable: true
          description: Harici analizden çıkmak için seçenek
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: profil için 30'a kadar özel öznitelik ayarlamaya olanak tanır
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: Jane
        last_name: Doe
        gender: f
        email: jane.doe@example.com
        phone_number: '+1234567890'
        birthday: '2000-12-31'
        ip_country: FR
        ip_v4_address: 192.168.1.1
        store_country: US
        store: app_store
        store_account_token: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: favourite_sport
            value: yoga
        installation_meta:
          device_id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          device: iPhone 15 Pro
          locale: en
          os: iOS 17.1
          platform: iOS
          timezone: Europe/Rome
          user_agent: Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1
          app_build: 1.0.0
          app_version: 1.0.0
          adapty_sdk_version: 2.0.0
          idfa: EA7583CD-A667-48BC-B806-42ECB2B48333
          idfv: E9D48DA5-3930-4B41-8521-D953AECD2F33
          advertising_id: ''
          android_id: ''
          android_app_set_id: ''
    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data
    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: Uygulamanızın dahili kimliği
        profile_id:
          type: string
          format: uuid
          description: Adapty profil kimliği
        customer_user_id:
          type: string
          nullable: true
          description: Kullanıcınızın kendi sisteminizdeki kimliği
        total_revenue_usd:
          type: number
          format: float
          description: Profilde elde edilen toplam geliri USD cinsinden temsil eden ondalık sayı değeri
        segment_hash:
          type: string
          description: Dahili parametre
        timestamp:
          type: integer
          format: int64
          description: Yarış koşulunu çözmek için gereken milisaniye cinsinden yanıt süresi
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Profile en fazla 30 özel öznitelik eklenebilir
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: Access level nesnelerinin dizisi. Müşterinin herhangi bir access level'ı yoksa boş dizi döner
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: Abonelik nesnelerinin dizisi. Müşterinin herhangi bir aboneliği yoksa boş dizi döner
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: Tek seferlik satın alma nesnelerinin dizisi. Müşterinin herhangi bir satın alımı yoksa boş dizi döner
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions
    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: Anahtar, 30 karakterden fazla olmayan bir dize olmalıdır. Yalnızca harflere, sayılara, tire, nokta ve alt çizgilere izin verilir
        value:
          oneOf:
            - type: string
            - type: number
          description: Özellik değeri 50 karakterden fazla olmamalıdır. Değer olarak yalnızca dizeler ve kayan noktalı sayılara izin verilir
      required:
        - key
        - value
    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: Benzersiz cihaz tanımlayıcısı
        device:
          type: string
          nullable: true
          description: Cihaz bilgisi
        locale:
          type: string
          nullable: true
          description: Cihaz yerel ayarı
        os:
          type: string
          nullable: true
          description: İşletim sistemi bilgisi
        platform:
          type: string
          nullable: true
          enum:
            - iOS
            - macOS
            - iPadOS
            - Android
            - visionOS
            - web
          description: Platform (iOS, Android vb.)
        timezone:
          type: string
          nullable: true
          description: Cihaz saat dilimi
        user_agent:
          type: string
          nullable: true
          description: Kullanıcı ajan dizesi
        app_build:
          type: string
          nullable: true
          description: Uygulama derleme sürümü
        app_version:
          type: string
          nullable: true
          description: Uygulama sürümü
        adapty_sdk_version:
          type: string
          nullable: true
          description: Adapty SDK sürümü
        idfa:
          type: string
          nullable: true
          description: iOS Reklamverenler için Tanımlayıcı
        idfv:
          type: string
          nullable: true
          description: iOS Satıcı için Tanımlayıcı
        advertising_id:
          type: string
          nullable: true
          description: Android reklam kimliği
        android_id:
          type: string
          nullable: true
          description: Android cihaz kimliği
        android_app_set_id:
          type: string
          nullable: true
          description: Android uygulama seti kimliği
      required:
        - device_id
    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: Access level tanımlayıcısı
        store:
          type: string
          description: Access level'ın satın alındığı mağaza
        store_product_id:
          type: string
          description: Mağazadaki ürün kimliği
        store_base_plan_id:
          type: string
          nullable: true
          description: Mağazadaki temel plan kimliği
        store_transaction_id:
          type: string
          description: Mağazadaki işlem kimliği
        store_original_transaction_id:
          type: string
          description: Mağazadaki orijinal işlem kimliği
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Promosyon teklifi veya başlangıç teklifi uygulandıysa teklif ayrıntıları
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Access level'ın başladığı zaman
        purchased_at:
          type: string
          format: date-time
          description: Access level'ın satın alındığı zaman
        originally_purchased_at:
          type: string
          format: date-time
          description: Access level'ın ilk kez satın alındığı zaman
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Access level'ın sona erdiği zaman
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Yenilemenin iptal edildiği zaman
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Ödeme sorununun tespit edildiği zaman
        is_in_grace_period:
          type: boolean
          description: Access level'ın ek süre içinde olup olmadığı
        cancellation_reason:
          type: string
          nullable: true
          description: İptal gerekçesi
    Subscription:
      type: object
      properties:
        store:
          type: string
          description: Aboneliğin satın alındığı mağaza
        store_product_id:
          type: string
          description: Mağazadaki ürün kimliği
        store_base_plan_id:
          type: string
          nullable: true
          description: Mağazadaki temel plan kimliği
        store_transaction_id:
          type: string
          description: Mağazadaki işlem kimliği
        store_original_transaction_id:
          type: string
          description: Mağazadaki orijinal işlem kimliği
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Bir promosyon teklifi veya başlangıç teklifi uygulandıysa teklif ayrıntıları
        environment:
          type: string
          description: Ortam (Sandbox, Production)
        purchased_at:
          type: string
          format: date-time
          description: Aboneliğin satın alındığı tarih
        originally_purchased_at:
          type: string
          format: date-time
          description: Aboneliğin ilk satın alındığı tarih
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Aboneliğin sona erdiği tarih
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Yenilemenin iptal edildiği tarih
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Faturalama sorununun tespit edildiği tarih
        is_in_grace_period:
          type: boolean
          description: Aboneliğin ek süre içinde olup olmadığı
        cancellation_reason:
          type: string
          nullable: true
          description: İptal nedeni
    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Benzersiz satın alma tanımlayıcısı
        store:
          type: string
          description: Satın almanın yapıldığı mağaza
        store_product_id:
          type: string
          description: Mağazadaki ürün kimliği
        store_base_plan_id:
          type: string
          nullable: true
          description: Mağazadaki temel plan kimliği
        store_transaction_id:
          type: string
          description: Mağazadaki işlem kimliği
        store_original_transaction_id:
          type: string
          description: Mağazadaki orijinal işlem kimliği
        purchased_at:
          type: string
          format: date-time
          description: Satın almanın yapıldığı zaman
        environment:
          type: string
          description: Ortam (Sandbox, Production)
        is_refund:
          type: boolean
          description: Bunun bir iade olup olmadığı
        is_consumable:
          type: boolean
          description: Bunun bir consumable satın alma olup olmadığı
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Hatanın kaynağı
              errors:
                type: array
                items:
                  type: string
                description: Hata mesajları dizisi
        error_code:
          type: string
          description: Kısa hata adı
        status_code:
          type: integer
          description: HTTP durum kodu
      required:
        - errors
        - error_code
        - status_code
    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type
    OneTimePurchaseDTO:
      type: object
      title: One-time Purchase
      description: Tek seferlik satın alma için işlem verisi
      properties:
        purchase_type:
          type: string
          enum:
            - one_time_purchase
          description: Satın alma türü
        store:
          type: string
          description: Satın almanın yapıldığı mağaza. Yaygın değerler arasında `app_store`, `play_store`, `stripe`, `paddle` veya herhangi bir özel mağaza tanımlayıcısı bulunur
        environment:
          type: string
          enum:
            - Production
            - Sandbox
          default: Production
          description: Satın almanın yapıldığı ortam
        store_product_id:
          type: string
          description: Mağazadaki ürün kimliği
        store_transaction_id:
          type: string
          maxLength: 50
          description: Mağazadaki işlem kimliği. Maksimum 50 karakter. PayPal ve bazı özel mağaza işlem kimlikleri bu sınırı aşabilir; bu durumda değeri göndermeden önce kısaltın veya hash'leyin, aksi takdirde istek başarısız olur.
        store_original_transaction_id:
          type: string
          description: Mağazadaki orijinal işlem kimliği
        is_family_shared:
          type: boolean
          default: false
          description: Satın almanın aile paylaşımına dahil olup olmadığı
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Satın almanın gerçekleştiği zaman
        variation_id:
          type: string
          nullable: true
          description: A/B testi için varyant kimliği
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: İadenin gerçekleştiği zaman
        cancellation_reason:
          type: string
          enum:
            - billing_error
            - cancelled_by_developer
            - new_subscription_replace
            - price_increase
            - product_was_not_available
            - refund
            - unknown
            - upgraded
            - voluntarily_cancelled
            - adapty_revoked
          nullable: true
          description: İptal nedeni
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
    SubscriptionDTO:
      type: object
      title: Subscription
      description: Bir abonelik satın alması için işlem verisi
      properties:
        purchase_type:
          type: string
          enum:
            - subscription
          description: Satın alma türü
        store:
          type: string
          description: Satın almanın yapıldığı mağaza. Yaygın değerler arasında `app_store`, `play_store`, `stripe`, `paddle` veya herhangi bir özel mağaza tanımlayıcısı yer alır
        environment:
          type: string
          enum:
            - Production
            - Sandbox
          default: Production
          description: Satın almanın yapıldığı ortam
        store_product_id:
          type: string
          description: Mağazadaki ürün kimliği
        store_transaction_id:
          type: string
          maxLength: 50
          description: Mağazadaki işlem kimliği. Maksimum 50 karakter. PayPal ve bazı özel mağaza işlem kimlikleri bu sınırı aşabilir; bu durumda değeri göndermeden önce kırpın veya hash'leyin, aksi takdirde istek başarısız olur.
        store_original_transaction_id:
          type: string
          description: Mağazadaki orijinal işlem kimliği
        is_family_shared:
          type: boolean
          default: false
          description: Satın almanın aile paylaşımına dahil olup olmadığı
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Satın almanın yapıldığı zaman
        variation_id:
          type: string
          nullable: true
          description: A/B testi için varyant kimliği
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Satın almanın iade edildiği zaman
        cancellation_reason:
          type: string
          enum:
            - billing_error
            - cancelled_by_developer
            - new_subscription_replace
            - price_increase
            - product_was_not_available
            - refund
            - unknown
            - upgraded
            - voluntarily_cancelled
            - adapty_revoked
          nullable: true
          description: İptal nedeni
        originally_purchased_at:
          type: string
          format: date-time
          description: Aboneliğin ilk satın alındığı zaman
        expires_at:
          type: string
          format: date-time
          description: Aboneliğin sona erdiği zaman
        renew_status:
          type: boolean
          description: Aboneliğin yenilenip yenilenmeyeceği
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: Yenileme durumunun değiştirildiği zaman
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Fatura sorununun tespit edildiği zaman
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Ek sürenin sona erdiği zaman
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status
    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: Ülke kodu
        currency:
          type: string
          description: Para birimi kodu
        value:
          type: number
          format: float
          description: Fiyat değeri
      required:
        - country
        - currency
        - value
    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum:
            - introductory
            - promotional
            - offer_code
            - win_back
          description: Teklif kategorisi
        type:
          type: string
          enum:
            - free_trial
            - pay_as_you_go
            - pay_up_front
          description: Teklif türü
        id:
          type: string
          nullable: true
          description: Teklif kimliği
      required:
        - category
        - type
    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: Access Levels sayfasında yapılandırılmış ücretli access level ID'si
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Access level'ın aktif olacağı tarih ve saat. Gelecekte bir tarih olabilir. Varsayılan değer null'dır.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Access level'ın sona ereceği tarih ve saat. Geçmişte bir tarih olabilir ve süresiz erişim için null olabilir. Varsayılan değer null'dır.
      required:
        - access_level_id
    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: Access Levels sayfasında yapılandırılmış ücretli access level kimliği
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: Access level'ın ne zaman sona ereceğini belirtir. Erişimi hemen iptal etmek için bu alanı atlayın veya null olarak ayarlayın. Varsayılan değer null'dır.
      required:
        - access_level_id
    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum:
            - grant
            - no_preference
            - decline
          nullable: true
          description: |
            Kullanıcı için iade tercihini ayrı ayrı ayarlayın.
            - `grant`: her iade talebini onaylayın
            - `no_preference`: herhangi bir öneri sunmayın
            - `decline`: her iade talebini reddedin
        consent:
          type: boolean
          nullable: true
          description: |
            Kullanıcının verilerini paylaşmaya onay verip vermediğini kaydedin.
            - `true`, uygulama içi bir iade talebi alırsanız Apple'a kullanıcı hakkında bilgi sağlayabileceğiniz anlamına gelir
      example:
        custom_preference: grant
        consent: true
    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: Müşteri profil kimliği
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: Kullanıcının verilerini paylaşmayı onaylayıp onaylamadığını tanımlar
            custom_preference:
              type: string
              enum:
                - grant
                - no_preference
                - decline
              description: İade tercihi
          description: Kullanıcı için iade tasarrufu ayarları
      required:
        - profile_id
        - settings
    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
                - stripe_receipt_validation_result
              description: Kaynağın türü
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: Kendi sisteminizde kullanıcınızın kimliği
                stripe_token:
                  type: string
                  description: |
                    Benzersiz bir satın almayı temsil eden Stripe nesnesinin token'ı.
                    Stripe'ın Subscription (sub_XXX) veya Payment Intent (pi_XXX) token'ı olabilir.
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data
    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Yanıt verisi (başarılı doğrulama için null)
      required:
        - data
    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: Hata hakkında açıklayıcı bilgi
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: İstek belgesinde soruna neden olan tam konumu referans alır
                required:
                  - pointer
              status:
                type: string
                description: HTTP durum kodu
            required:
              - detail
              - source
              - status
      required:
        - errors
    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: Sisteminizdeki kullanıcının kimliği
        paddle_token:
          type: string
          description: |
            Benzersiz bir satın almayı temsil eden Paddle nesnesinin token'ı.
            Bir işlem kimliği (txn_...) veya bir abonelik kimliği (sub_...) olabilir.
      required:
        - customer_user_id
        - paddle_token
    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: Adjust entegrasyonundaki ağ kullanıcısının kimliği
        airbridge_device_id:
          type: string
          nullable: true
          description: Airbridge entegrasyonundaki kullanıcı cihazının kimliği
        amplitude_device_id:
          type: string
          nullable: true
          description: Amplitude entegrasyonundaki kullanıcı cihazının kimliği
        amplitude_user_id:
          type: string
          nullable: true
          description: Amplitude entegrasyonundaki kullanıcının kimliği
        appmetrica_device_id:
          type: string
          nullable: true
          description: AppMetrica entegrasyonundaki kullanıcı cihazının kimliği
        appmetrica_profile_id:
          type: string
          nullable: true
          description: AppMetrica entegrasyonundaki kullanıcının kimliği
        appsflyer_id:
          type: string
          nullable: true
          description: AppsFlyer entegrasyonundaki ağ kullanıcısının kimliği
        branch_id:
          type: string
          nullable: true
          description: Branch entegrasyonundaki kullanıcı uygulamasının Branch Anahtarı
        facebook_anonymous_id:
          type: string
          nullable: true
          description: Facebook Ads entegrasyonundaki kullanıcının kimliği
        firebase_app_instance_id:
          type: string
          nullable: true
          description: Firebase entegrasyonundaki kullanıcının kimliği
        mixpanel_user_id:
          type: string
          nullable: true
          description: Mixpanel entegrasyonundaki kullanıcının kimliği
        one_signal_player_id:
          type: string
          nullable: true
          description: OneSignal entegrasyonundaki kullanıcının kimliği (Eski tanımlayıcı)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: OneSignal entegrasyonundaki kullanıcının kimliği (Önerilen tanımlayıcı)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: PostHog entegrasyonundaki kullanıcının kimliği
        pushwoosh_hwid:
          type: string
          nullable: true
          description: Pushwoosh entegrasyonundaki kullanıcı cihazının kimliği
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: Tenjin entegrasyonundaki kullanıcı cihazının kimliği
      description: En az bir entegrasyon tanımlayıcısı sağlanmalıdır
    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: Adjust entegrasyonundaki ağ kullanıcısının kimliği
        airbridge_device_id:
          type: string
          nullable: true
          description: Airbridge entegrasyonundaki kullanıcı cihazının kimliği
        amplitude_device_id:
          type: string
          nullable: true
          description: Amplitude entegrasyonundaki kullanıcı cihazının kimliği
        amplitude_user_id:
          type: string
          nullable: true
          description: Amplitude entegrasyonundaki kullanıcının kimliği
        appmetrica_device_id:
          type: string
          nullable: true
          description: AppMetrica entegrasyonundaki kullanıcı cihazının kimliği
        appmetrica_profile_id:
          type: string
          nullable: true
          description: AppMetrica entegrasyonundaki kullanıcının kimliği
        appsflyer_id:
          type: string
          nullable: true
          description: AppsFlyer entegrasyonundaki ağ kullanıcısının kimliği
        branch_id:
          type: string
          nullable: true
          description: Branch entegrasyonundaki kullanıcı uygulamasının Branch Key'i
        facebook_anonymous_id:
          type: string
          nullable: true
          description: Facebook Ads entegrasyonundaki kullanıcının kimliği
        firebase_app_instance_id:
          type: string
          nullable: true
          description: Firebase entegrasyonundaki kullanıcının kimliği
        mixpanel_user_id:
          type: string
          nullable: true
          description: Mixpanel entegrasyonundaki kullanıcının kimliği
        one_signal_player_id:
          type: string
          nullable: true
          description: OneSignal entegrasyonundaki kullanıcının kimliği (Eski tanımlayıcı)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: OneSignal entegrasyonundaki kullanıcının kimliği (Önerilen tanımlayıcı)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: PostHog entegrasyonundaki kullanıcının kimliği
        pushwoosh_hwid:
          type: string
          nullable: true
          description: Pushwoosh entegrasyonundaki kullanıcı cihazının kimliği
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: Tenjin entegrasyonundaki kullanıcı cihazının kimliği
    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Remote config için yerel ayar (örn. "en", "es", "fr")
              data:
                type: string
                description: Remote config verilerini içeren JSON dizesi
            required:
              - locale
              - data
          description: Güncellenecek RemoteConfig nesnelerinin dizisi
      required:
        - remote_configs
      description: En az bir alan sağlanmalıdır
    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: Adapty Kontrol Paneli'nde tanımlandığı şekliyle paywall'ın adı
        paywall_id:
          type: string
          format: uuid
          description: Paywall'ın benzersiz tanımlayıcısı
        use_paywall_builder:
          type: boolean
          description: Paywall'ın Paywall Builder kullanıp kullanmadığı
        use_paywall_builder_legacy:
          type: boolean
          description: Paywall'ın eski Paywall Builder kullanıp kullanmadığı
        updated_at:
          type: string
          format: date-time
          description: Paywall'ın en son güncellendiği zaman damgası
        created_at:
          type: string
          format: date-time
          description: Paywall'ın oluşturulduğu zaman damgası
        state:
          type: string
          enum:
            - draft
            - live
            - inactive
            - archived
          description: Paywall'ın mevcut durumu
        is_deleted:
          type: boolean
          description: Paywall'ın silinmiş olarak işaretlenip işaretlenmediği
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: Varsa web satın alımları için URL
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Ürünün benzersiz tanımlayıcısı
              title:
                type: string
                description: Ürünün başlığı
              product_set:
                type: string
                enum:
                  - weekly
                  - monthly
                  - trimonthly
                  - semiannual
                  - annual
                  - lifetime
                  - uncategorised
                  - nonsubscriptions
                  - two_months
                  - consumable
                description: Ürün seti kategorisi
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: Ürün teklifinin benzersiz tanımlayıcısı
                  title:
                    type: string
                    description: Teklifin başlığı
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Ürün bilgilerini içeren Product nesnelerinin dizisi
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Remote config için yerel ayar
              data:
                type: string
[...]
