openapi: 3.1.0
info:
  title: Серверный API Adapty
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: Продакшн-сервер
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: Создать профиль
      description: Создаёт нового конечного пользователя вашего приложения в Adapty.
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: Платформа устройства, на котором у пользователя установлено ваше приложение
      responses:
        '200':
          description: Профиль успешно создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: "Jane"
              last_name: "Doe"
              gender: "f"
              email: "jane.doe@example.com"
              phone_number: "+1234567890"
              birthday: "2000-12-31"
              ip_country: "FR"
              store_country: "US"
              store: "app_store"
              analytics_disabled: true
              custom_attributes:
                - key: "favourite_sport"
                  value: "yoga"
              installation_meta:
                device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                device: "string"
                locale: "en"
                os: "string"
                platform: "iOS"
                timezone: "Europe/Rome"
                user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
                idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
                idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
                advertising_id: ""
                android_id: ""
                android_app_set_id: ""
    get:
      summary: Получить профиль
      description: Возвращает данные существующего конечного пользователя вашего приложения.
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Профиль успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d333-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "d8533a10-bcce-4e33-8c9d-88b05ac56559"
                  customer_user_id: "77B14FB4-FD2A-4D38-AA3A-4C433F79863C"
                  total_revenue_usd: 9.99
                  segment_hash: "fdaeef7f8aaa33c9"
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels:
                    - access_level_id: "premium"
                      store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000335013007"
                      store_original_transaction_id: "2000000335013007"
                      offer: null
                      starts_at: null
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: "2025-01-05T13:27:47.461425+00:00"
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000815013007"
                      store_original_transaction_id: "2000000815013007"
                      offer: null
                      environment: "Sandbox"
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: "7a5f9a7d-e236-33e6-96d8-53a3c59c5562"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Profile not found"]
                error_code: "profile_does_not_exist"
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
    patch:
      summary: Обновить профиль
      description: Обновляет данные профиля пользователя
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Профиль успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: Удалить профиль
      description: Удаляет профиль пользователя
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '204':
          description: Профиль успешно удалён
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера

  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: Создать транзакцию
      description: Создаёт новую транзакцию для конечного пользователя вашего приложения в Adapty и предоставляет уровень доступа. Транзакция, созданная этим методом, отобразится в аналитике и ленте событий и будет отправлена во все интеграции.
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Транзакция успешно записана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: Пример разовой покупки
                value:
                  purchase_type: "one_time_purchase"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_lifetime"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 9.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  variation_id: "variation_123"
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: Пример подписки
                value:
                  purchase_type: "subscription"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_monthly"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 4.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  originally_purchased_at: "2024-01-15T10:30:00Z"
                  expires_at: "2024-02-15T10:30:00Z"
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: "variation_123"
                  offer:
                    category: "introductory"
                    type: "free_trial"
                    id: "trial_offer_123"
                  refunded_at: null
                  cancellation_reason: null

  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: Предоставить уровень доступа
      description: Предоставляет уровень доступа конечному пользователю без указания информации о транзакции. Это удобно, если у вас есть бонусы за рефералов или другие события, связанные с вашими продуктами. Уровень доступа, предоставленный этим методом, не будет отражён в аналитике. Он будет отправлен только в интеграцию с вебхуком и только в этом случае появится в ленте событий.
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Уровень доступа успешно предоставлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: Предоставить доступ немедленно
                value:
                  access_level_id: "premium"
              scheduled_grant:
                summary: Предоставить доступ с указанием дат начала и окончания
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"
                  expires_at: "2024-12-31T23:59:59Z"
              lifetime_grant:
                summary: Предоставить пожизненный доступ
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"

  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: Отозвать уровень доступа
      description: Удаляет уровень доступа у конечного пользователя вашего приложения в Adapty.
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Уровень доступа успешно отозван
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: Отозвать доступ немедленно
                value:
                  access_level_id: "premium"
              scheduled_revoke:
                summary: Запланировать отзыв доступа
                value:
                  access_level_id: "premium"
                  revoke_at: "2024-12-31T23:59:59Z"

  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: Получить настройки Refund Saver
      description: Возвращает настройки Refund Saver для данного пользователя — должен ли Adapty запрашивать отклонение или одобрение запроса на возврат средств. Также возвращает настройку согласия на передачу данных — дал ли пользователь согласие на передачу своих данных в Apple.
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Настройки успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "no_preference"
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Профиль не существует
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Задать настройки Refund Saver
      description: Задаёт индивидуальные настройки возврата средств для пользователя и фиксирует факт предоставления согласия на передачу данных. По умолчанию Refund Saver всегда запрашивает у Apple отклонение запроса пользователя на возврат средств. Вы можете изменить это поведение по умолчанию для всех пользователей в дашборде Adapty или настроить его для конкретного пользователя через дашборд, SDK или серверный API.
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: "grant"
              consent: true
      responses:
        '200':
          description: Настройки успешно обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "grant"
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Профиль не существует
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
                validation_error:
                  summary: Ошибка валидации
                  value:
                    errors: ["Profile refund saver settings must have either consent or custom_preference or both"]
                    error_code: "validation_error"
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: Валидировать покупку в Stripe
      description: |
        Валидирует покупку по предоставленному токену Stripe, используя учётные данные Stripe из настроек приложения в дашборде Adapty.
        Если покупка действительна, история транзакций импортируется из Stripe в профиль Adapty с указанным customer_user_id.
        Если профиля с таким customer_user_id ранее не существовало — он будет создан.

        По ходу процесса генерируются события профиля, а импортированные транзакции учитываются в MTR.
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: "stripe_receipt_validation_result"
                attributes:
                  customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
                  stripe_token: "<YOUR_STRIPE_TOKEN>"
      responses:
        '200':
          description: Покупка успешно валидирована
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: Некорректный запрос
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: "none is not an allowed value"
                    source:
                      pointer: "/data/attributes/stripe_token"
                    status: "400"
        '401':
          description: Не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: Валидировать покупку в Paddle
      description: |
        Валидирует покупку по предоставленному токену Paddle, используя учётные данные Paddle из настроек приложения в дашборде Adapty.
        Если покупка действительна, история транзакций импортируется из Paddle в профиль Adapty с указанным customer_user_id.
        Если профиля с таким customer_user_id ранее не существовало — он будет создан.
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
              paddle_token: "live_7d279f61a3339fed520f7cd8c08"
      responses:
        '200':
          description: Покупка успешно валидирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "Jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions:
                    - purchase_id: "5a7ab471-2299-45f7-ad69-1d395c1256e3"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: Продукты не найдены
                  value:
                    errors: ["No products found"]
                    error_code: "no_products_found"
                    status_code: 400
                paddle_api_key_not_found:
                  summary: API-ключ Paddle не найден
                  value:
                    errors: ["Paddle API key not found"]
                    error_code: "paddle_api_key_not_found"
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Некорректные учётные данные Paddle или покупка не найдена
                  value:
                    errors: ["Invalid Paddle credentials or purchase not found"]
                    error_code: "invalid_paddle_credentials_or_purchase_not_found"
                    status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: Получить идентификаторы интеграций
      description: Возвращает идентификаторы интеграций профиля.
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      responses:
        '200':
          description: Идентификаторы интеграций успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: "XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A"
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: "33w6yv5DPqVlyMVbjW31xvzJLtJ3"
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: "333ed338-757d-466a-a672-ab92db196a1f"
                pushwoosh_hwid: null
                firebase_app_instance_id: "C333B35DF1DB418E99F7B815E9F5C549"
                airbridge_device_id: null
                appsflyer_id: "1741933337626-3179568"
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Задать идентификаторы интеграций
      description: Добавляет идентификаторы интеграций к профилю.
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: Уникальный ID клиента в вашей системе. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: Уникальный ID профиля в вашей системе. Лучший вариант при работе с анонимными профилями. Требуется либо `adapty-customer-user-id`, либо `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: "example_pushwoosh_hwid"
              mixpanel_user_id: "example_mixpanel_user_id"
              facebook_anonymous_id: "example_facebook_anonymous_id"
              firebase_app_instance_id: "example_firebase_app_instance_id"
              amplitude_user_id: "example_amplitude_user_id"
              amplitude_device_id: "example_amplitude_device_id"
              appmetrica_device_id: "example_appmetrica_device_id"
              appmetrica_profile_id: "example_appmetrica_profile_id"
              one_signal_subscription_id: "example_one_signal_subscription_id"
              one_signal_player_id: "example_one_signal_player_id"
              branch_id: "example_branch_id"
              appsflyer_id: "example_appsflyer_id"
              adjust_device_id: "example_adjust_device_id"
              airbridge_device_id: "example_airbridge_device_id"
              tenjin_analytics_installation_id: "example_tenjin_analytics_installation_id"
              posthog_distinct_user_id: "example_posthog_distinct_user_id"
      responses:
        '200':
          description: Идентификаторы интеграций успешно заданы. Тело ответа пустое.
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["At least one integration identifier must be provided."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/:
    get:
      summary: Список пейволов
      description: Возвращает список пейволов в вашем приложении.
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Номер страницы для пагинации
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество элементов на странице
      responses:
        '200':
          description: Пейволы успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: "LlkTlizT"
                    paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-08T07:27:06.754527+00:00"
                    created_at: "2025-07-08T07:27:06.754541+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                        title: "mFUQPcJQ"
                        product_set: "uncategorised"
                        offer: null
                  - title: "Premium Subscription"
                    paywall_id: "a1cf7850-1bb8-4151-8336-a4e588730c55"
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-28T08:15:13.722680+00:00"
                    created_at: "2025-07-25T13:40:01.789853+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: "https://example.com/purchase"
                    products:
                      - product_id: "b136422f-8153-402a-afbb-986929c68f6a"
                        title: "Premium Monthly"
                        product_set: "uncategorised"
                        offer:
                          product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                          title: "Free Trial"
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "page_size"
                    errors: ["Invalid page_size parameter. Must be between 1 and 100."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: Получить пейвол
      description: Возвращает данные конкретного пейвола в вашем приложении.
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор получаемого пейвола
      responses:
        '200':
          description: Пейвол успешно получен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Пейвол не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Обновить пейвол
      description: |
        Обновляет Remote Config конкретного пейвола. Этот эндпоинт позволяет изменять значения Remote Config, которые используются для настройки внешнего вида и поведения пейвола.

        **Важно:** Если вы обновляете Remote Config, он перезапишет все существующие Remote Config! Если вам нужно сохранить существующие конфигурации, сначала получите пейвол, затем скопируйте remote_configs из ответа и измените только нужные объекты в запросе на обновление.
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Уникальный идентификатор обновляемого пейвола
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: "en"
                  data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
      responses:
        '200':
          description: Пейвол успешно обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "remote_configs"
                    errors: ["At least one field must be provided"]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Пейвол не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        API-запросы должны быть аутентифицированы с помощью вашего секретного API-ключа, передаваемого в заголовке **Authorization**
        со значением `Api-Key {your_secret_api_key}`, например
        `Api-Key secret_live_...`. Найдите этот ключ в дашборде Adapty →
        **App Settings** → вкладка **General** → раздел **API keys**.
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: Имя вашего конечного пользователя
        last_name:
          type: string
          nullable: true
          description: Фамилия вашего конечного пользователя
        gender:
          type: string
          nullable: true
          enum: [f, m, o]
          description: Пол вашего конечного пользователя
        email:
          type: string
          nullable: true
          format: email
          description: Email вашего конечного пользователя
        phone_number:
          type: string
          nullable: true
          description: Номер телефона вашего конечного пользователя
        birthday:
          type: string
          format: date
          nullable: true
          description: Дата рождения вашего конечного пользователя
        ip_country:
          type: string
          nullable: true
          description: Страна конечного пользователя в формате ISO 3166-2
        ip_v4_address:
          type: string
          nullable: true
          description: IPv4-адрес конечного пользователя
        store_country:
          type: string
          nullable: true
          description: Страна стора конечного пользователя
        store:
          type: string
          nullable: true
          enum: [app_store, play_store, stripe, adapty, paddle]
          description: Платформа, которую пользователь использует для совершения покупок в вашем приложении
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: Токен аккаунта стора
        att_status:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3]
          description: Статус Apple App Tracking Transparency (0=не определён, 1=ограничен, 2=отклонён, 3=авторизован)
        analytics_disabled:
          type: boolean
          nullable: true
          description: Параметр для отказа от внешней аналитики
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Позволяет задать до 30 пользовательских атрибутов для профиля
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: "Jane"
        last_name: "Doe"
        gender: "f"
        email: "jane.doe@example.com"
        phone_number: "+1234567890"
        birthday: "2000-12-31"
        ip_country: "FR"
        ip_v4_address: "192.168.1.1"
        store_country: "US"
        store: "app_store"
        store_account_token: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: "favourite_sport"
            value: "yoga"
        installation_meta:
          device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          device: "iPhone 15 Pro"
          locale: "en"
          os: "iOS 17.1"
          platform: "iOS"
          timezone: "Europe/Rome"
          user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
          app_build: "1.0.0"
          app_version: "1.0.0"
          adapty_sdk_version: "2.0.0"
          idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
          idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
          advertising_id: ""
          android_id: ""
          android_app_set_id: ""

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data

    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: Внутренний ID вашего приложения
        profile_id:
          type: string
          format: uuid
          description: ID профиля в Adapty
        customer_user_id:
          type: string
          nullable: true
          description: ID вашего пользователя в вашей системе
        total_revenue_usd:
          type: number
          format: float
          description: Число с плавающей точкой, представляющее суммарный доход в USD, полученный в рамках профиля
        segment_hash:
          type: string
          description: Внутренний параметр
        timestamp:
          type: integer
          format: int64
          description: Время ответа в миллисекундах, используется для разрешения гонки состояний
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Для профиля допускается задать не более 30 пользовательских атрибутов
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: Массив объектов уровней доступа. Пустой массив, если у клиента нет уровней доступа
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: Массив объектов подписок. Пустой массив, если у клиента нет подписок
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: Массив объектов разовых покупок. Пустой массив, если у клиента нет покупок
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: Ключ должен быть строкой длиной не более 30 символов. Допускаются только буквы, цифры, дефисы, точки и подчёркивания
        value:
          oneOf:
            - type: string
            - type: number
          description: Значение атрибута должно содержать не более 50 символов. В качестве значений допускаются только строки и числа с плавающей точкой
      required:
        - key
        - value

    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: Уникальный идентификатор устройства
        device:
          type: string
          nullable: true
          description: Информация об устройстве
        locale:
          type: string
          nullable: true
          description: Локаль устройства
        os:
          type: string
          nullable: true
          description: Информация об операционной системе
        platform:
          type: string
          nullable: true
          enum: [iOS, macOS, iPadOS, Android, visionOS, web]
          description: Платформа (iOS, Android и т.д.)
        timezone:
          type: string
          nullable: true
          description: Часовой пояс устройства
        user_agent:
          type: string
          nullable: true
          description: Строка user agent
        app_build:
          type: string
          nullable: true
          description: Версия сборки приложения
        app_version:
          type: string
          nullable: true
          description: Версия приложения
        adapty_sdk_version:
          type: string
          nullable: true
          description: Версия SDK Adapty
        idfa:
          type: string
          nullable: true
          description: iOS Identifier for Advertisers
        idfv:
          type: string
          nullable: true
          description: iOS Identifier for Vendor
        advertising_id:
          type: string
          nullable: true
          description: Android advertising ID
        android_id:
          type: string
          nullable: true
          description: Android device ID
        android_app_set_id:
          type: string
          nullable: true
          description: Android app set ID
      required:
        - device_id

    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: Идентификатор уровня доступа
        store:
          type: string
          description: Стор, в котором был приобретён уровень доступа
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Данные офера, если был применён promotional offer или introductory offer
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Когда начинается уровень доступа
        purchased_at:
          type: string
          format: date-time
          description: Когда был приобретён уровень доступа
        originally_purchased_at:
          type: string
          format: date-time
          description: Когда уровень доступа был приобретён впервые
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает уровень доступа
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Когда было отменено продление
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
        is_in_grace_period:
          type: boolean
          description: Находится ли уровень доступа в льготном периоде
        cancellation_reason:
          type: string
          nullable: true
          description: Причина отмены

    Subscription:
      type: object
      properties:
        store:
          type: string
          description: Стор, в котором была приобретена подписка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Данные офера, если был применён promotional offer или introductory offer
        environment:
          type: string
          description: Среда (Sandbox, Production)
        purchased_at:
          type: string
          format: date-time
          description: Когда была приобретена подписка
        originally_purchased_at:
          type: string
          format: date-time
          description: Когда подписка была приобретена впервые
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает подписка
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Когда было отменено продление
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
        is_in_grace_period:
          type: boolean
          description: Находится ли подписка в льготном периоде
        cancellation_reason:
          type: string
          nullable: true
          description: Причина отмены

    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Уникальный идентификатор покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        purchased_at:
          type: string
          format: date-time
          description: Когда была совершена покупка
        environment:
          type: string
          description: Среда (Sandbox, Production)
        is_refund:
          type: boolean
          description: Является ли это возвратом средств
        is_consumable:
          type: boolean
          description: Является ли это расходуемой покупкой

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Источник ошибки
              errors:
                type: array
                items:
                  type: string
                description: Массив сообщений об ошибках
        error_code:
          type: string
          description: Краткое название ошибки
        status_code:
          type: integer
          description: HTTP-код статуса
      required:
        - errors
        - error_code
        - status_code

    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type

    OneTimePurchaseDTO:
      type: object
      title: Разовая покупка
      description: Данные транзакции для разовой покупки
      properties:
        purchase_type:
          type: string
          enum: [one_time_purchase]
          description: Тип покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка. Распространённые значения включают `app_store`, `play_store`, `stripe`, `paddle` или любой пользовательский идентификатор стора
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Среда, в которой была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        is_family_shared:
          type: boolean
          default: false
          description: Является ли покупка семейной
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Когда была совершена покупка
        variation_id:
          type: string
          nullable: true
          description: ID варианта для A/B-тестирования
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Когда был совершён возврат средств за покупку
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Причина отмены
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at

    SubscriptionDTO:
      type: object
      title: Подписка
      description: Данные транзакции для покупки подписки
      properties:
        purchase_type:
          type: string
          enum: [subscription]
          description: Тип покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка. Распространённые значения включают `app_store`, `play_store`, `stripe`, `paddle` или любой пользовательский идентификатор стора
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Среда, в которой была совершена покупка
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        is_family_shared:
          type: boolean
          default: false
          description: Является ли покупка семейной
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Когда была совершена покупка
        variation_id:
          type: string
          nullable: true
          description: ID варианта для A/B-тестирования
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Когда был совершён возврат средств за покупку
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Причина отмены
        originally_purchased_at:
          type: string
          format: date-time
          description: Когда подписка была приобретена впервые
        expires_at:
          type: string
          format: date-time
          description: Когда истекает подписка
        renew_status:
          type: boolean
          description: Будет ли подписка продлена
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: Когда был изменён статус продления
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает льготный период
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status

    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: Код страны
        currency:
          type: string
          description: Код валюты
        value:
          type: number
          format: float
          description: Значение цены
      required:
        - country
        - currency
        - value

    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: Категория офера
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front]
          description: Тип офера
        id:
          type: string
          nullable: true
          description: ID офера
      required:
        - category
        - type

    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID платного уровня доступа, настроенного на странице уровней доступа
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время, когда уровень доступа станет активным. Может быть в будущем. Значение по умолчанию — null.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время, когда уровень доступа истечёт. Может быть в прошлом и может быть null для пожизненного доступа. Значение по умолчанию — null.
      required:
        - access_level_id

    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID платного уровня доступа, настроенного на странице уровней доступа
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: Указывает, когда истечёт уровень доступа. Чтобы немедленно отозвать доступ, опустите это поле или установите значение null. Значение по умолчанию — null.
      required:
        - access_level_id

    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          nullable: true
          description: |
            Задаёт индивидуальные настройки возврата средств для пользователя.
            - `grant`: одобрять каждый запрос на возврат средств
            - `no_preference`: не давать никаких рекомендаций
            - `decline`: отклонять каждый запрос на возврат средств
        consent:
          type: boolean
          nullable: true
          description: |
            Фиксирует факт предоставления пользователем согласия на передачу данных.
            - `true` означает, что при получении запроса на возврат средств через приложение вы можете предоставить Apple информацию о пользователе
      example:
        custom_preference: "grant"
        consent: true

    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: ID профиля клиента
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: Определяет, дал ли пользователь согласие на передачу своих данных
            custom_preference:
              type: string
              enum: [grant, no_preference, decline]
              description: Настройка возврата средств
          description: Настройки Refund Saver для пользователя
      required:
        - profile_id
        - settings

    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [stripe_receipt_validation_result]
              description: Тип ресурса
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: ID вашего пользователя в вашей системе
                stripe_token:
                  type: string
                  description: |
                    Токен объекта Stripe, представляющего уникальную покупку.
                    Может быть токеном подписки Stripe (sub_XXX) или платёжного намерения (pi_XXX)
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data

    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Данные ответа (null при успешной валидации)
      required:
        - data

    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: Описательная информация об ошибке
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: Указывает на точное местоположение в документе запроса, вызвавшее проблему
                required:
                  - pointer
              status:
                type: string
                description: HTTP-код статуса
            required:
              - detail
              - source
              - status
      required:
        - errors

    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: ID вашего пользователя в вашей системе
        paddle_token:
          type: string
          description: |
            Токен объекта Paddle, представляющего уникальную покупку.
            Может быть идентификатором транзакции (txn_...) или идентификатором подписки (sub_...)
      required:
        - customer_user_id
        - paddle_token

    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key приложения пользователя в интеграции Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (устаревший идентификатор)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (рекомендуемый идентификатор)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Tenjin
      description: Необходимо указать хотя бы один идентификатор интеграции

    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID сетевого пользователя в интеграции AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key приложения пользователя в интеграции Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (устаревший идентификатор)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции OneSignal (рекомендуемый идентификатор)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID пользователя в интеграции PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID устройства пользователя в интеграции Tenjin

    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Локаль для Remote Config (например, "en", "es", "fr")
              data:
                type: string
                description: JSON-строка, содержащая данные Remote Config
            required:
              - locale
              - data
          description: Массив объектов RemoteConfig для обновления
      required:
        - remote_configs
      description: Необходимо указать хотя бы одно поле

    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: Название пейвола, заданное в дашборде Adapty
        paywall_id:
          type: string
          format: uuid
          description: Уникальный идентификатор пейвола
        use_paywall_builder:
          type: boolean
          description: Использует ли пейвол Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Использует ли пейвол устаревший Paywall Builder
        updated_at:
          type: string
          format: date-time
          description: Временная метка последнего обновления пейвола
        created_at:
          type: string
          format: date-time
          description: Временная метка создания пейвола
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Текущий статус пейвола
        is_deleted:
          type: boolean
          description: Помечен ли пейвол как удалённый
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL для веб-покупок, если применимо
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Уникальный идентификатор продукта
              title:
                type: string
                description: Название продукта
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: Категория набора продуктов
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: Уникальный идентификатор офера продукта
                  title:
                    type: string
                    description: Название офера
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Массив объектов продуктов с информацией о продуктах
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Локаль для Remote Config
              data:
                type: string
                description: JSON-строка, содержащая данные Remote Config
            required:
              - locale
              - data
          description: Массив объектов RemoteConfig с локалью и данными
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: Уникальный идентификатор изображения
            url:
              type: string
              format: uri
              description: URL изображения
          required:
            - image_id
            - url
          description: Объект основного скриншота с image_id и url
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    PaywallListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaywallListItem'
          description: Массив объектов пейволов
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                count:
                  type: integer
                  description: Общее количество пейволов
                page:
                  type: integer
                  description: Номер текущей страницы
                pages:
                  type: integer
                  description: Общее количество страниц
              required:
                - count
                - page
                - pages
          required:
            - pagination
      required:
        - data
        - meta

    PaywallListItem:
      type: object
      properties:
        title:
          type: string
          description: Название пейвола, заданное в дашборде Adapty
        paywall_id:
          type: string
          format: uuid
          description: Уникальный идентификатор пейвола
        use_paywall_builder:
          type: boolean
          description: Использует ли пейвол Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Использует ли пейвол устаревший Paywall Builder
        updated_at:
          type: string
          format: date-time
          description: Временная метка последнего обновления пейвола
        created_at:
          type: string
          format: date-time
          description: Временная метка создания пейвола
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Текущий статус пейвола
        is_deleted:
          type: boolean
          description: Помечен ли пейвол как удалённый
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL для веб-покупок, если применимо
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Уникальный идентификатор продукта
              title:
                type: string
                description: Название продукта
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: Категория набора продуктов
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: Уникальный идентификатор офера продукта
                  title:
                    type: string
                    description: Название офера
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Массив объектов продуктов с информацией о продуктах пейвола
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProfileObject:
      type: object
      description: |
        Профиль представляет конечного пользователя в вашем приложении. Он содержит все данные о подписках пользователя,
        историю покупок и пользовательские атрибуты. Профили идентифицируются по customer_user_id
        (внутреннему ID пользователя) или profile_id (внутреннему ID Adapty).
      properties:
        app_id:
          type: string
          format: uuid
          description: Уникальный идентификатор вашего приложения в Adapty
        profile_id:
          type: string
          format: uuid
          description: Уникальный идентификатор профиля в Adapty
        customer_user_id:
          type: string
          nullable: true
          description: ID вашего пользователя в вашей системе
        total_revenue_usd:
          type: number
          format: float
          description: Суммарный доход, сгенерированный данным пользователем, в USD
        segment_hash:
          type: string
          description: Хеш сегмента пользователя для аналитики
        timestamp:
          type: integer
          format: int64
          description: Unix-временная метка последнего обновления профиля
        custom_attributes:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                description: Ключ атрибута
              value:
                type: string
                description: Значение атрибута
            required: [key, value]
          description: Массив пользовательских атрибутов для пользователя
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevelObject'
          description: Массив уровней доступа пользователя
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionObject'
          description: Массив активных подписок
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscriptionObject'
          description: Массив разовых покупок
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    AccessLevelObject:
      type: object
      description: |
        Уровень доступа представляет платную функцию или уровень контента в вашем приложении.
        Пользователи могут иметь несколько уровней доступа, каждый из которых может иметь разные даты истечения.
      properties:
        id:
          type: string
          description: Уникальный идентификатор уровня доступа
        is_active:
          type: boolean
          description: Активен ли уровень доступа в данный момент
        vendor_product_id:
          type: string
          description: ID продукта в сторе
        store:
          type: string
          description: Стор, в котором был приобретён уровень доступа. Распространённые значения включают app_store, play_store, stripe, paddle или любой пользовательский идентификатор стора
        activated_at:
          type: string
          format: date-time
          description: Когда был активирован уровень доступа
        renewed_at:
          type: string
          format: date-time
          nullable: true
          description: Когда уровень доступа был последний раз продлён
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Когда истекает уровень доступа (null для пожизненного доступа)
        is_lifetime:
          type: boolean
          description: Является ли это пожизненным доступом
        active_introductory_offer_type:
          type: string
          nullable: true
          description: Тип активного introductory offer
        active_promotional_offer_type:
          type: string
          nullable: true
          description: Тип активного promotional offer
        will_renew:
          type: boolean
          description: Будет ли уровень доступа автоматически продлён
        is_in_grace_period:
          type: boolean
          description: Находится ли уровень доступа в льготном периоде
        unsubscribed_at:
          type: string
          format: date-time
          nullable: true
          description: Когда пользователь отменил подписку
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Когда была обнаружена проблема с оплатой
      required:
        - id
        - is_active
        - vendor_product_id
        - store
        - activated_at
        - renewed_at
        - expires_at
        - is_lifetime
        - active_introductory_offer_type
        - active_promotional_offer_type
        - will_renew
        - is_in_grace_period
        - unsubscribed_at
        - billing_issue_detected_at

    SubscriptionObject:
      type: object
      description: |
        Подписка представляет активную покупку подписки. Содержит информацию о
        продукте подписки, деталях покупки и статусе продления.
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Уникальный идентификатор покупки
        store:
          type: string
          description: Стор, в котором была приобретена подписка. Распространённые значения включают app_store, play_store, stripe, paddle или любой пользовательский идентификатор стора
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_base_plan_id:
          type: string
          nullable: true
          description: ID базового плана в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        store_original_transaction_id:
          type: string
          description: ID исходной транзакции в сторе
        purchased_at:
          type: string
          format: date-time
          description: Когда была приобретена подписка
        environment:
          type: string
          enum: [Production, Sandbox]
          description: Среда, в которой была совершена покупка
        is_refund:
          type: boolean
          description: Является ли это возвратом средств
        is_consumable:
          type: boolean
          description: Является ли это расходуемой покупкой
      required:
        - purchase_id
        - store
        - store_product_id
        - store_base_plan_id
        - store_transaction_id
        - store_original_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    NonSubscriptionObject:
      type: object
      description: |
        Разовая покупка представляет единовременную покупку. Содержит информацию о
        продукте и деталях покупки.
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Уникальный идентификатор покупки
        store:
          type: string
          description: Стор, в котором была совершена покупка. Распространённые значения включают app_store, play_store, stripe, paddle или любой пользовательский идентификатор стора
        store_product_id:
          type: string
          description: ID продукта в сторе
        store_transaction_id:
          type: string
          description: ID транзакции в сторе
        purchased_at:
          type: string
          format: date-time
          description: Когда была совершена покупка
        environment:
          type: string
          enum: [Production, Sandbox]
          description: Среда, в которой была совершена покупка
        is_refund:
          type: boolean
          description: Является ли это возвратом средств
        is_consumable:
          type: boolean
          description: Является ли это расходуемой покупкой
      required:
        - purchase_id
        - store
        - store_product_id
        - store_transaction_id
        - purchased_at
        - environment
        - is_refund
        - is_consumable

    PaywallObject:
      type: object
      description: |
        Пейвол представляет экран монетизации в вашем приложении. Содержит информацию о
        конфигурации пейвола, продуктах и Remote Config.
      properties:
        title:
          type: string
          description: Название пейвола, заданное в дашборде Adapty
        paywall_id:
          type: string
          format: uuid
          description: Уникальный идентификатор пейвола
        use_paywall_builder:
          type: boolean
          description: Использует ли пейвол Paywall Builder
        use_paywall_builder_legacy:
          type: boolean
          description: Использует ли пейвол устаревший Paywall Builder
        updated_at:
          type: string
          format: date-time
          description: Временная метка последнего обновления пейвола
        created_at:
          type: string
          format: date-time
          description: Временная метка создания пейвола
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Текущий статус пейвола
        is_deleted:
          type: boolean
          description: Помечен ли пейвол как удалённый
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL для веб-покупок, если применимо
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductObject'
          description: Массив продуктов, доступных в этом пейволе
        remote_configs:
          type: array
          items:
            $ref: '#/components/schemas/RemoteConfigObject'
          description: Массив Remote Config для разных локалей
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: Уникальный идентификатор изображения
            url:
              type: string
              format: uri
              description: URL изображения
          required: [image_id, url]
          description: Объект основного скриншота с image_id и url
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProductObject:
      type: object
      description: |
        Продукт представляет покупаемый элемент в вашем приложении. Может быть продуктом-подпиской или
        продуктом для разовой покупки.
      properties:
        product_id:
          type: string
          format: uuid
          description: Уникальный идентификатор продукта
        title:
          type: string
          description: Название продукта
        product_set:
          type: string
          description: Категория набора продуктов
        offer:
          type: object
          nullable: true
          properties:
            product_offer_id:
              type: string
              format: uuid
              description: Уникальный идентификатор офера продукта
            title:
              type: string
              description: Название офера
          required: [product_offer_id, title]
          description: Информация об офере продукта
      required:
        - product_id
        - title
        - product_set
        - offer

    RemoteConfigObject:
      type: object
      description: |
        Remote Config содержит данные конфигурации для пейвола, специфичные для конкретной локали.
        Это позволяет настраивать внешний вид и поведение пейвола для разных языков.
      properties:
[...]
