openapi: 3.1.0
info:
  title: Adapty server-side API
  version: 1.0.0
servers:
  - url: https://api.adapty.io
    description: Máy chủ sản xuất
paths:
  /api/v2/server-side-api/profile/:
    post:
      summary: Tạo hồ sơ người dùng
      description: Tạo người dùng cuối mới trong ứng dụng của bạn trong Adapty.
      operationId: createProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-platform
          in: header
          required: false
          schema:
            type: string
          description: Nền tảng của thiết bị nơi người dùng cài đặt ứng dụng của bạn
      responses:
        '200':
          description: Hồ sơ người dùng được tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736425645861
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions: []
                  non_subscriptions: []
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '500':
          description: Lỗi máy chủ nội bộ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
            example:
              first_name: "Jane"
              last_name: "Doe"
              gender: "f"
              email: "jane.doe@example.com"
              phone_number: "+1234567890"
              birthday: "2000-12-31"
              ip_country: "FR"
              store_country: "US"
              store: "app_store"
              analytics_disabled: true
              custom_attributes:
                - key: "favourite_sport"
                  value: "yoga"
              installation_meta:
                device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                device: "string"
                locale: "en"
                os: "string"
                platform: "iOS"
                timezone: "Europe/Rome"
                user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
                idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
                idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
                advertising_id: ""
                android_id: ""
                android_app_set_id: ""
    get:
      summary: Lấy hồ sơ người dùng
      description: Truy xuất thông tin chi tiết của người dùng cuối hiện có trong ứng dụng của bạn.
      operationId: getProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Hồ sơ người dùng được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d333-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "d8533a10-bcce-4e33-8c9d-88b05ac56559"
                  customer_user_id: "77B14FB4-FD2A-4D38-AA3A-4C433F79863C"
                  total_revenue_usd: 9.99
                  segment_hash: "fdaeef7f8aaa33c9"
                  timestamp: 1733324566777
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels:
                    - access_level_id: "premium"
                      store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000335013007"
                      store_original_transaction_id: "2000000335013007"
                      offer: null
                      starts_at: null
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: "2025-01-05T13:27:47.461425+00:00"
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  subscriptions:
                    - store: "app_store"
                      store_product_id: "unlimited.9999"
                      store_base_plan_id: null
                      store_transaction_id: "2000000815013007"
                      store_original_transaction_id: "2000000815013007"
                      offer: null
                      environment: "Sandbox"
                      purchased_at: "2024-12-24T10:50:23+00:00"
                      originally_purchased_at: "2024-12-24T10:50:23+00:00"
                      expires_at: null
                      renewal_cancelled_at: null
                      billing_issue_detected_at: null
                      is_in_grace_period: false
                      cancellation_reason: null
                  non_subscriptions:
                    - purchase_id: "7a5f9a7d-e236-33e6-96d8-53a3c59c5562"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "non_field_errors"
                    errors: ["Authentication credentials were not provided."]
                error_code: "not_authenticated"
                status_code: 401
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Profile not found"]
                error_code: "profile_does_not_exist"
                status_code: 404
        '500':
          description: Lỗi máy chủ nội bộ
    patch:
      summary: Cập nhật hồ sơ người dùng
      description: Cập nhật thông tin hồ sơ người dùng
      operationId: updateProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Hồ sơ người dùng được cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
    delete:
      summary: Xóa hồ sơ người dùng
      description: Xóa hồ sơ người dùng
      operationId: deleteProfile
      tags:
        - Profile
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '204':
          description: Hồ sơ người dùng được xóa thành công
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ

  /api/v2/server-side-api/purchase/set/transaction/:
    post:
      summary: Thiết lập giao dịch
      description: |
        Tạo giao dịch mới cho người dùng cuối trong ứng dụng của bạn trong Adapty và cung cấp mức độ truy cập. Giao dịch được tạo bởi phương thức này sẽ xuất hiện trong phân tích và Event Feed của bạn, đồng thời sẽ được gửi tới tất cả các tích hợp.

        **Cập nhật gói đăng ký hiện có:** Để cập nhật `billing_issue_detected_at` hoặc `renew_status_changed_at` mà không tạo sự kiện `subscription_renewed` mới, hãy sử dụng lại `store_transaction_id` hiện có (trong cùng `store_original_transaction_id`). Việc gửi bất kỳ `store_transaction_id` mới nào sẽ được coi là giao dịch mới và kích hoạt sự kiện `subscription_renewed`.
      operationId: setTransaction
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Giao dịch được ghi lại thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionDTORequest'
            examples:
              one_time_purchase:
                summary: Ví dụ sản phẩm mua một lần
                value:
                  purchase_type: "one_time_purchase"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_lifetime"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 9.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  variation_id: "variation_123"
                  offer: null
                  refunded_at: null
                  cancellation_reason: null
              subscription:
                summary: Ví dụ gói đăng ký
                value:
                  purchase_type: "subscription"
                  store: "app_store"
                  environment: "Production"
                  store_product_id: "premium_monthly"
                  store_transaction_id: "1000000123456789"
                  store_original_transaction_id: "1000000123456789"
                  is_family_shared: false
                  price:
                    country: "US"
                    currency: "USD"
                    value: 4.99
                  purchased_at: "2024-01-15T10:30:00Z"
                  originally_purchased_at: "2024-01-15T10:30:00Z"
                  expires_at: "2024-02-15T10:30:00Z"
                  renew_status: true
                  renew_status_changed_at: null
                  billing_issue_detected_at: null
                  grace_period_expires_at: null
                  variation_id: "variation_123"
                  offer:
                    category: "introductory"
                    type: "free_trial"
                    id: "trial_offer_123"
                  refunded_at: null
                  cancellation_reason: null

  /api/v2/server-side-api/purchase/profile/grant/access-level/:
    post:
      summary: Cấp mức độ truy cập
      description: Cung cấp mức độ truy cập cho người dùng cuối mà không cần cung cấp thông tin giao dịch. Điều này rất hữu ích khi bạn có phần thưởng giới thiệu hoặc các sự kiện khác liên quan đến sản phẩm của bạn. Mức độ truy cập được cung cấp bởi phương thức này sẽ không được phản ánh trong phân tích của bạn. Nó sẽ chỉ được gửi tới tích hợp webhook, và chỉ trong trường hợp này mới xuất hiện trong Event Feed.
      operationId: grantAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Mức độ truy cập được cấp thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantAccessRequest'
            examples:
              immediate_grant:
                summary: Cấp quyền truy cập ngay lập tức
                value:
                  access_level_id: "premium"
              scheduled_grant:
                summary: Cấp quyền truy cập với ngày bắt đầu và kết thúc
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"
                  expires_at: "2024-12-31T23:59:59Z"
              lifetime_grant:
                summary: Cấp quyền truy cập trọn đời
                value:
                  access_level_id: "premium"
                  starts_at: "2024-01-01T00:00:00Z"

  /api/v2/server-side-api/purchase/profile/revoke/access-level/:
    post:
      summary: Thu hồi mức độ truy cập
      description: Xóa mức độ truy cập khỏi người dùng cuối trong ứng dụng của bạn trong Adapty.
      operationId: revokeAccessLevel
      tags:
        - Purchase
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Mức độ truy cập được thu hồi thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeAccessRequest'
            examples:
              immediate_revoke:
                summary: Thu hồi quyền truy cập ngay lập tức
                value:
                  access_level_id: "premium"
              scheduled_revoke:
                summary: Lên lịch thu hồi quyền truy cập
                value:
                  access_level_id: "premium"
                  revoke_at: "2024-12-31T23:59:59Z"

  /api/v2/server-side-api/purchase/profile/refund-saver/settings/:
    get:
      summary: Lấy cài đặt Refund Saver
      description: Lấy tùy chọn Refund Saver cho người dùng này - liệu Adapty có nên yêu cầu từ chối hay chấp thuận yêu cầu hoàn tiền của họ. Lấy tùy chọn chia sẻ dữ liệu cho người dùng này – liệu người dùng có đồng ý chia sẻ dữ liệu của họ với Apple hay không.
      operationId: getRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Cài đặt được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "no_preference"
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Hồ sơ người dùng không tồn tại
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Đặt cài đặt Refund Saver
      description: Đặt tùy chọn hoàn tiền riêng lẻ cho người dùng và ghi lại việc người dùng đã đồng ý chia sẻ dữ liệu của họ. Theo mặc định, Refund Saver luôn yêu cầu Apple từ chối yêu cầu hoàn tiền của người dùng. Bạn có thể thay đổi hành vi mặc định này cho tất cả người dùng trong Adapty Dashboard, hoặc điều chỉnh cho một người dùng cụ thể thông qua Dashboard, SDK, hoặc server-side API.
      operationId: setRefundSaverSettings
      tags:
        - Refund Saver
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundSaverSettingsRequest'
            example:
              custom_preference: "grant"
              consent: true
      responses:
        '200':
          description: Cài đặt được cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundSaverSettingsResponse'
              example:
                profile_id: "e5aab402-b1bd-4039-b632-57a91ebc0779"
                settings:
                  consent: true
                  custom_preference: "grant"
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                profile_does_not_exist:
                  summary: Hồ sơ người dùng không tồn tại
                  value:
                    errors: ["Profile does not exist"]
                    error_code: "profile_does_not_exist"
                    status_code: 400
                validation_error:
                  summary: Lỗi xác thực
                  value:
                    errors: ["Profile refund saver settings must have either consent or custom_preference or both"]
                    error_code: "validation_error"
                    status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/sdk/purchase/stripe/token/validate/:
    post:
      summary: Xác thực giao dịch mua Stripe
      description: |
        Xác thực giao dịch mua bằng token Stripe được cung cấp, sử dụng thông tin xác thực Stripe trong Cài đặt ứng dụng của bạn trong Adapty Dashboard.
        Nếu giao dịch mua hợp lệ, lịch sử giao dịch sẽ được nhập từ Stripe vào hồ sơ người dùng trong Adapty với customer_user_id được chỉ định.
        Nếu trước đó không có hồ sơ nào với customer_user_id này — hồ sơ sẽ được tạo mới.

        Các sự kiện hồ sơ người dùng được tạo trong quá trình này và các giao dịch được nhập sẽ được tính vào MTR.
      operationId: validateStripePurchase
      tags:
        - Stripe
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/StripeValidationRequest'
            example:
              data:
                type: "stripe_receipt_validation_result"
                attributes:
                  customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
                  stripe_token: "<YOUR_STRIPE_TOKEN>"
      responses:
        '200':
          description: Giao dịch mua được xác thực thành công
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeValidationResponse'
              example:
                data: null
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StripeErrorResponse'
              example:
                errors:
                  - detail: "none is not an allowed value"
                    source:
                      pointer: "/data/attributes/stripe_token"
                    status: "400"
        '401':
          description: Không được phép
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/purchase/paddle/token/validate/:
    post:
      summary: Xác thực giao dịch mua Paddle
      description: |
        Xác thực giao dịch mua bằng token Paddle được cung cấp, sử dụng thông tin xác thực Paddle trong Cài đặt ứng dụng của bạn trong Adapty Dashboard.
        Nếu giao dịch mua hợp lệ, lịch sử giao dịch sẽ được nhập từ Paddle vào hồ sơ người dùng trong Adapty với customer_user_id được chỉ định.
        Nếu trước đó không có hồ sơ nào với customer_user_id này — hồ sơ sẽ được tạo mới.
      operationId: validatePaddlePurchase
      tags:
        - Paddle
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaddleValidationRequest'
            example:
              customer_user_id: "<YOUR_CUSTOMER_USER_ID>"
              paddle_token: "live_7d279f61a3339fed520f7cd8c08"
      responses:
        '200':
          description: Giao dịch mua được xác thực thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
              example:
                data:
                  app_id: "14c3d623-2f3a-455a-aa86-ef83dff6913b"
                  profile_id: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
                  customer_user_id: "Jane.doe@example.com"
                  total_revenue_usd: 0.0
                  segment_hash: "8f45947bad31ab0c"
                  timestamp: 1736436751469
                  custom_attributes:
                    - key: "favourite_sport"
                      value: "yoga"
                  access_levels: []
                  subscriptions:
                    - purchase_id: "5a7ab471-2299-45f7-ad69-1d395c1256e3"
                      store: "app_store"
                      store_product_id: "1year.premium"
                      store_base_plan_id: null
                      store_transaction_id: "30002109551456"
                      store_original_transaction_id: "30002109551456"
                      purchased_at: "2022-10-12T09:42:50+00:00"
                      environment: "Production"
                      is_refund: false
                      is_consumable: false
                  non_subscriptions: []
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_products_found:
                  summary: Không tìm thấy sản phẩm
                  value:
                    errors: ["No products found"]
                    error_code: "no_products_found"
                    status_code: 400
                paddle_api_key_not_found:
                  summary: Không tìm thấy API key Paddle
                  value:
                    errors: ["Paddle API key not found"]
                    error_code: "paddle_api_key_not_found"
                    status_code: 400
                invalid_paddle_credentials_or_purchase_not_found:
                  summary: Thông tin xác thực Paddle không hợp lệ hoặc không tìm thấy giao dịch mua
                  value:
                    errors: ["Invalid Paddle credentials or purchase not found"]
                    error_code: "invalid_paddle_credentials_or_purchase_not_found"
                    status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/integration/profile/set/integration-identifiers/:
    get:
      summary: Lấy định danh tích hợp
      description: Truy xuất các định danh tích hợp của một hồ sơ người dùng.
      operationId: getIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      responses:
        '200':
          description: Các định danh tích hợp được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationIdentifiersResponse'
              example:
                facebook_anonymous_id: "XZ7EF7D15E-8FA1-49D8-B180-918EB333E42A"
                amplitude_user_id: null
                amplitude_device_id: null
                mixpanel_user_id: "33w6yv5DPqVlyMVbjW31xvzJLtJ3"
                appmetrica_profile_id: null
                appmetrica_device_id: null
                one_signal_player_id: null
                one_signal_subscription_id: "333ed338-757d-466a-a672-ab92db196a1f"
                pushwoosh_hwid: null
                firebase_app_instance_id: "C333B35DF1DB418E99F7B815E9F5C549"
                airbridge_device_id: null
                appsflyer_id: "1741933337626-3179568"
                branch_id: null
                adjust_device_id: null
                tenjin_analytics_installation_id: null
                posthog_distinct_user_id: null
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Đặt định danh tích hợp
      description: Thêm các định danh tích hợp vào một hồ sơ người dùng.
      operationId: setIntegrationIdentifiers
      tags:
        - Integration
      security:
        - apikeyAuth: []
      parameters:
        - name: adapty-customer-user-id
          in: header
          required: false
          schema:
            type: string
          description: ID duy nhất của khách hàng trong hệ thống của bạn. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
        - name: adapty-profile-id
          in: header
          required: false
          schema:
            type: string
            format: uuid
          description: ID duy nhất của hồ sơ người dùng trong hệ thống của bạn. Lựa chọn tốt nhất khi làm việc với hồ sơ ẩn danh. Cần cung cấp `adapty-customer-user-id` hoặc `adapty-profile-id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationIdentifiersRequest'
            example:
              pushwoosh_hwid: "example_pushwoosh_hwid"
              mixpanel_user_id: "example_mixpanel_user_id"
              facebook_anonymous_id: "example_facebook_anonymous_id"
              firebase_app_instance_id: "example_firebase_app_instance_id"
              amplitude_user_id: "example_amplitude_user_id"
              amplitude_device_id: "example_amplitude_device_id"
              appmetrica_device_id: "example_appmetrica_device_id"
              appmetrica_profile_id: "example_appmetrica_profile_id"
              one_signal_subscription_id: "example_one_signal_subscription_id"
              one_signal_player_id: "example_one_signal_player_id"
              branch_id: "example_branch_id"
              appsflyer_id: "example_appsflyer_id"
              adjust_device_id: "example_adjust_device_id"
              airbridge_device_id: "example_airbridge_device_id"
              tenjin_analytics_installation_id: "example_tenjin_analytics_installation_id"
              posthog_distinct_user_id: "example_posthog_distinct_user_id"
      responses:
        '200':
          description: Các định danh tích hợp được đặt thành công. Phần thân phản hồi để trống.
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["At least one integration identifier must be provided."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Không tìm thấy hồ sơ người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Profile not found"]
                error_code: "profile_not_found"
                status_code: 404
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/:
    get:
      summary: Danh sách paywall
      description: Truy xuất danh sách các paywall trong ứng dụng của bạn.
      operationId: listPaywalls
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: page[number]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Số trang để phân trang
        - name: page[size]
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Số mục trên mỗi trang
      responses:
        '200':
          description: Các paywall được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallListResponse'
              example:
                data:
                  - title: "LlkTlizT"
                    paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                    use_paywall_builder: false
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-08T07:27:06.754527+00:00"
                    created_at: "2025-07-08T07:27:06.754541+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: null
                    products:
                      - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                        title: "mFUQPcJQ"
                        product_set: "uncategorised"
                        offer: null
                  - title: "Premium Subscription"
                    paywall_id: "a1cf7850-1bb8-4151-8336-a4e588730c55"
                    use_paywall_builder: true
                    use_paywall_builder_legacy: false
                    updated_at: "2025-07-28T08:15:13.722680+00:00"
                    created_at: "2025-07-25T13:40:01.789853+00:00"
                    state: "live"
                    is_deleted: false
                    web_purchase_url: "https://example.com/purchase"
                    products:
                      - product_id: "b136422f-8153-402a-afbb-986929c68f6a"
                        title: "Premium Monthly"
                        product_set: "uncategorised"
                        offer:
                          product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                          title: "Free Trial"
                meta:
                  pagination:
                    count: 365
                    page: 1
                    pages: 183
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "page_size"
                    errors: ["Invalid page_size parameter. Must be between 1 and 100."]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v2/server-side-api/paywalls/{paywall_id}/:
    get:
      summary: Lấy paywall
      description: Truy xuất một paywall cụ thể trong ứng dụng của bạn.
      operationId: getPaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Định danh duy nhất của paywall cần truy xuất
      responses:
        '200':
          description: Paywall được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Không tìm thấy paywall
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: Cập nhật paywall
      description: |
        Cập nhật Remote Config của một paywall cụ thể. Endpoint này cho phép bạn chỉnh sửa các giá trị Remote Config giúp tùy chỉnh giao diện và hành vi của paywall.

        **Quan trọng:** Nếu bạn cập nhật Remote Config, nó sẽ ghi đè toàn bộ các Remote Config hiện có! Nếu bạn cần giữ lại các Remote Config hiện có, trước tiên hãy lấy paywall. Sau đó, sao chép remote_configs từ đó và chỉnh sửa các đối tượng bạn cần trong yêu cầu cập nhật.
      operationId: updatePaywall
      tags:
        - Paywalls
      security:
        - apikeyAuth: []
      parameters:
        - name: paywall_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Định danh duy nhất của paywall cần cập nhật
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaywallUpdateRequest'
            example:
              remote_configs:
                - locale: "en"
                  data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
      responses:
        '200':
          description: Paywall được cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              example:
                title: "Premium Subscription"
                paywall_id: "fd891d4f-5906-45b9-97c1-13cc3dc665df"
                use_paywall_builder: true
                use_paywall_builder_legacy: false
                updated_at: "2025-07-30T11:13:58.798Z"
                created_at: "2025-07-30T11:13:58.798Z"
                state: "live"
                is_deleted: false
                web_purchase_url: "https://example.com/purchase"
                products:
                  - product_id: "b95e9e51-a056-4eb6-9cf7-b75d139e7c3c"
                    title: "Premium Monthly"
                    product_set: "uncategorised"
                    offer:
                      product_offer_id: "e31a4296-f250-4faf-ac80-3cc93c2da8f5"
                      title: "Free Trial"
                remote_configs:
                  - locale: "en"
                    data: "{\"title\":\"Premium Features\",\"subtitle\":\"Unlock all premium content\"}"
                main_screenshot:
                  image_id: 123456
                  url: "https://public-media.adapty.io/public/screenshot.jpg"
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: "remote_configs"
                    errors: ["At least one field must be provided"]
                error_code: "validation_error"
                status_code: 400
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors: ["Invalid API key"]
                error_code: "unauthorized"
                status_code: 401
        '404':
          description: Không tìm thấy paywall
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errors:
                  - source: null
                    errors: ["Paywall not found"]
                error_code: "paywall_does_not_exist"
                status_code: 404
        '500':
          description: Lỗi máy chủ nội bộ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      name: Authorization
      in: header
      default: Api-Key {Your secret API key}
      description: |
        Các yêu cầu API phải được xác thực bằng secret API key của bạn trong header **Authorization**
        với giá trị `Api-Key {your_secret_api_key}`, ví dụ:
        `Api-Key secret_live_...`. Tìm key này trong Adapty Dashboard ->
        **App Settings** -> tab **General** -> phần **API keys**.
  requestBodies:
    DefaultJson:
      required: true
      content:
        application/json:
          schema:
            type: object
  schemas:
    ProfileRequest:
      type: object
      properties:
        first_name:
          type: string
          nullable: true
          description: Tên của người dùng cuối
        last_name:
          type: string
          nullable: true
          description: Họ của người dùng cuối
        gender:
          type: string
          nullable: true
          enum: [f, m, o]
          description: Giới tính của người dùng cuối
        email:
          type: string
          nullable: true
          format: email
          description: Email của người dùng cuối
        phone_number:
          type: string
          nullable: true
          description: Số điện thoại của người dùng cuối
        birthday:
          type: string
          format: date
          nullable: true
          description: Ngày sinh của người dùng cuối
        ip_country:
          type: string
          nullable: true
          description: Quốc gia của người dùng cuối theo định dạng ISO 3166-2
        ip_v4_address:
          type: string
          nullable: true
          description: Địa chỉ IPv4 của người dùng cuối
        store_country:
          type: string
          nullable: true
          description: Quốc gia của cửa hàng ứng dụng của người dùng cuối
        store:
          type: string
          nullable: true
          enum: [app_store, play_store, stripe, adapty, paddle]
          description: Nền tảng người dùng sử dụng để thực hiện giao dịch mua trong ứng dụng của bạn
        store_account_token:
          type: string
          format: uuid
          nullable: true
          description: Token tài khoản cửa hàng
        att_status:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3]
          description: Trạng thái Apple App Tracking Transparency (0=chưa xác định, 1=bị hạn chế, 2=bị từ chối, 3=được ủy quyền)
        analytics_disabled:
          type: boolean
          nullable: true
          description: Tùy chọn hủy tham gia phân tích bên ngoài
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Cho phép đặt tối đa 30 thuộc tính tùy chỉnh cho hồ sơ người dùng
        installation_meta:
          $ref: '#/components/schemas/InstallationMeta'
      required:
        - installation_meta
      example:
        first_name: "Jane"
        last_name: "Doe"
        gender: "f"
        email: "jane.doe@example.com"
        phone_number: "+1234567890"
        birthday: "2000-12-31"
        ip_country: "FR"
        ip_v4_address: "192.168.1.1"
        store_country: "US"
        store: "app_store"
        store_account_token: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        att_status: 3
        analytics_disabled: true
        custom_attributes:
          - key: "favourite_sport"
            value: "yoga"
        installation_meta:
          device_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          device: "iPhone 15 Pro"
          locale: "en"
          os: "iOS 17.1"
          platform: "iOS"
          timezone: "Europe/Rome"
          user_agent: "Mozilla/5.0 (iPhone; CPU iPhone OS 17_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.1 Mobile/15E148 Safari/604.1"
          app_build: "1.0.0"
          app_version: "1.0.0"
          adapty_sdk_version: "2.0.0"
          idfa: "EA7583CD-A667-48BC-B806-42ECB2B48333"
          idfv: "E9D48DA5-3930-4B41-8521-D953AECD2F33"
          advertising_id: ""
          android_id: ""
          android_app_set_id: ""

    ProfileResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Profile'
      required:
        - data

    Profile:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
          description: ID nội bộ của ứng dụng của bạn
        profile_id:
          type: string
          format: uuid
          description: ID hồ sơ người dùng Adapty
        customer_user_id:
          type: string
          nullable: true
          description: ID người dùng của bạn trong hệ thống của bạn
        total_revenue_usd:
          type: number
          format: float
          description: Giá trị float biểu thị tổng doanh thu tính bằng USD kiếm được trong hồ sơ người dùng
        segment_hash:
          type: string
          description: Tham số nội bộ
        timestamp:
          type: integer
          format: int64
          description: Thời gian phản hồi tính bằng mili giây, cần để giải quyết điều kiện tranh chấp
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomAttribute'
          description: Tối đa 30 thuộc tính tùy chỉnh được phép đặt cho hồ sơ người dùng
        access_levels:
          type: array
          items:
            $ref: '#/components/schemas/AccessLevel'
          description: Mảng các đối tượng mức độ truy cập. Mảng rỗng nếu khách hàng không có mức độ truy cập nào
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: Mảng các đối tượng gói đăng ký. Mảng rỗng nếu khách hàng không có gói đăng ký nào
        non_subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/NonSubscription'
          description: Mảng các đối tượng sản phẩm không phải gói đăng ký. Mảng rỗng nếu khách hàng không có giao dịch mua nào
      required:
        - app_id
        - profile_id
        - customer_user_id
        - total_revenue_usd
        - segment_hash
        - timestamp
        - custom_attributes
        - access_levels
        - subscriptions
        - non_subscriptions

    CustomAttribute:
      type: object
      properties:
        key:
          type: string
          maxLength: 30
          description: Khóa phải là chuỗi không quá 30 ký tự. Chỉ cho phép chữ cái, số, dấu gạch ngang, dấu chấm và dấu gạch dưới
        value:
          oneOf:
            - type: string
            - type: number
          description: Giá trị thuộc tính không được quá 50 ký tự. Chỉ cho phép chuỗi và số thực làm giá trị
      required:
        - key
        - value

    InstallationMeta:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
          description: Định danh thiết bị duy nhất
        device:
          type: string
          nullable: true
          description: Thông tin thiết bị
        locale:
          type: string
          nullable: true
          description: Ngôn ngữ thiết bị
        os:
          type: string
          nullable: true
          description: Thông tin hệ điều hành
        platform:
          type: string
          nullable: true
          enum: [iOS, macOS, iPadOS, Android, visionOS, web]
          description: Nền tảng (iOS, Android, v.v.)
        timezone:
          type: string
          nullable: true
          description: Múi giờ thiết bị
        user_agent:
          type: string
          nullable: true
          description: Chuỗi user agent
        app_build:
          type: string
          nullable: true
          description: Phiên bản build ứng dụng
        app_version:
          type: string
          nullable: true
          description: Phiên bản ứng dụng
        adapty_sdk_version:
          type: string
          nullable: true
          description: Phiên bản SDK Adapty
        idfa:
          type: string
          nullable: true
          description: Định danh iOS cho nhà quảng cáo
        idfv:
          type: string
          nullable: true
          description: Định danh iOS cho nhà cung cấp
        advertising_id:
          type: string
          nullable: true
          description: ID quảng cáo Android
        android_id:
          type: string
          nullable: true
          description: ID thiết bị Android
        android_app_set_id:
          type: string
          nullable: true
          description: ID bộ ứng dụng Android
      required:
        - device_id

    AccessLevel:
      type: object
      properties:
        access_level_id:
          type: string
          description: Định danh mức độ truy cập
        store:
          type: string
          description: Cửa hàng nơi mức độ truy cập được mua
        store_product_id:
          type: string
          description: ID sản phẩm trong cửa hàng
        store_base_plan_id:
          type: string
          nullable: true
          description: ID gói cơ bản trong cửa hàng
        store_transaction_id:
          type: string
          description: ID giao dịch trong cửa hàng
        store_original_transaction_id:
          type: string
          description: ID giao dịch gốc trong cửa hàng
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Thông tin ưu đãi, nếu có áp dụng ưu đãi hoặc ưu đãi giới thiệu
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm mức độ truy cập bắt đầu
        purchased_at:
          type: string
          format: date-time
          description: Thời điểm mức độ truy cập được mua
        originally_purchased_at:
          type: string
          format: date-time
          description: Thời điểm mức độ truy cập được mua lần đầu
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm mức độ truy cập hết hạn
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm gia hạn bị hủy
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm phát hiện vấn đề thanh toán
        is_in_grace_period:
          type: boolean
          description: Liệu mức độ truy cập có đang trong thời gian ân hạn hay không
        cancellation_reason:
          type: string
          nullable: true
          description: Lý do hủy

    Subscription:
      type: object
      properties:
        store:
          type: string
          description: Cửa hàng nơi gói đăng ký được mua
        store_product_id:
          type: string
          description: ID sản phẩm trong cửa hàng
        store_base_plan_id:
          type: string
          nullable: true
          description: ID gói cơ bản trong cửa hàng
        store_transaction_id:
          type: string
          description: ID giao dịch trong cửa hàng
        store_original_transaction_id:
          type: string
          description: ID giao dịch gốc trong cửa hàng
        offer:
          allOf:
            - $ref: '#/components/schemas/OfferDTO'
          nullable: true
          description: Thông tin ưu đãi, nếu có áp dụng ưu đãi hoặc ưu đãi giới thiệu
        environment:
          type: string
          description: Môi trường (Sandbox, Production)
        purchased_at:
          type: string
          format: date-time
          description: Thời điểm gói đăng ký được mua
        originally_purchased_at:
          type: string
          format: date-time
          description: Thời điểm gói đăng ký được mua lần đầu
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm gói đăng ký hết hạn
        renewal_cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm gia hạn bị hủy
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm phát hiện vấn đề thanh toán
        is_in_grace_period:
          type: boolean
          description: Liệu gói đăng ký có đang trong thời gian ân hạn hay không
        cancellation_reason:
          type: string
          nullable: true
          description: Lý do hủy

    NonSubscription:
      type: object
      properties:
        purchase_id:
          type: string
          format: uuid
          description: Định danh giao dịch mua duy nhất
        store:
          type: string
          description: Cửa hàng nơi thực hiện giao dịch mua
        store_product_id:
          type: string
          description: ID sản phẩm trong cửa hàng
        store_base_plan_id:
          type: string
          nullable: true
          description: ID gói cơ bản trong cửa hàng
        store_transaction_id:
          type: string
          description: ID giao dịch trong cửa hàng
        store_original_transaction_id:
          type: string
          description: ID giao dịch gốc trong cửa hàng
        purchased_at:
          type: string
          format: date-time
          description: Thời điểm thực hiện giao dịch mua
        environment:
          type: string
          description: Môi trường (Sandbox, Production)
        is_refund:
          type: boolean
          description: Liệu đây có phải là hoàn tiền hay không
        is_consumable:
          type: boolean
          description: Liệu đây có phải là giao dịch mua consumable hay không

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Nguồn gốc lỗi
              errors:
                type: array
                items:
                  type: string
                description: Mảng thông báo lỗi
        error_code:
          type: string
          description: Tên lỗi rút gọn
        status_code:
          type: integer
          description: Mã trạng thái HTTP
      required:
        - errors
        - error_code
        - status_code

    TransactionDTORequest:
      oneOf:
        - $ref: '#/components/schemas/OneTimePurchaseDTO'
        - $ref: '#/components/schemas/SubscriptionDTO'
      discriminator:
        propertyName: purchase_type

    OneTimePurchaseDTO:
      type: object
      title: Sản phẩm mua một lần
      description: Dữ liệu giao dịch cho sản phẩm mua một lần
      properties:
        purchase_type:
          type: string
          enum: [one_time_purchase]
          description: Loại giao dịch mua
        store:
          type: string
          description: Cửa hàng nơi thực hiện giao dịch mua. Các giá trị phổ biến bao gồm `app_store`, `play_store`, `stripe`, `paddle`, hoặc bất kỳ định danh cửa hàng tùy chỉnh nào
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Môi trường nơi thực hiện giao dịch mua
        store_product_id:
          type: string
          description: ID sản phẩm trong cửa hàng
        store_transaction_id:
          type: string
          maxLength: 50
          description: ID giao dịch trong cửa hàng. Tối đa 50 ký tự. ID giao dịch PayPal và một số cửa hàng tùy chỉnh có thể vượt quá giới hạn này — hãy cắt ngắn hoặc băm giá trị trước khi gửi, nếu không yêu cầu sẽ thất bại.
        store_original_transaction_id:
          type: string
          description: ID giao dịch gốc trong cửa hàng
        is_family_shared:
          type: boolean
          default: false
          description: Liệu giao dịch mua có được chia sẻ gia đình hay không
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Thời điểm thực hiện giao dịch mua
        variation_id:
          type: string
          nullable: true
          description: ID biến thể cho A/B test
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm giao dịch mua được hoàn tiền
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Lý do hủy
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at

    SubscriptionDTO:
      type: object
      title: Gói đăng ký
      description: Dữ liệu giao dịch cho gói đăng ký
      properties:
        purchase_type:
          type: string
          enum: [subscription]
          description: Loại giao dịch mua
        store:
          type: string
          description: Cửa hàng nơi thực hiện giao dịch mua. Các giá trị phổ biến bao gồm `app_store`, `play_store`, `stripe`, `paddle`, hoặc bất kỳ định danh cửa hàng tùy chỉnh nào
        environment:
          type: string
          enum: [Production, Sandbox]
          default: Production
          description: Môi trường nơi thực hiện giao dịch mua
        store_product_id:
          type: string
          description: ID sản phẩm trong cửa hàng
        store_transaction_id:
          type: string
          maxLength: 50
          description: ID giao dịch trong cửa hàng. Tối đa 50 ký tự. ID giao dịch PayPal và một số cửa hàng tùy chỉnh có thể vượt quá giới hạn này — hãy cắt ngắn hoặc băm giá trị trước khi gửi, nếu không yêu cầu sẽ thất bại.
        store_original_transaction_id:
          type: string
          description: ID giao dịch gốc trong cửa hàng
        is_family_shared:
          type: boolean
          default: false
          description: Liệu giao dịch mua có được chia sẻ gia đình hay không
        price:
          $ref: '#/components/schemas/PriceDTO'
        purchased_at:
          type: string
          format: date-time
          description: Thời điểm thực hiện giao dịch mua
        variation_id:
          type: string
          nullable: true
          description: ID biến thể cho A/B test
        offer:
          $ref: '#/components/schemas/OfferDTO'
          nullable: true
        refunded_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm giao dịch mua được hoàn tiền
        cancellation_reason:
          type: string
          enum: [billing_error, cancelled_by_developer, new_subscription_replace, price_increase, product_was_not_available, refund, unknown, upgraded, voluntarily_cancelled, adapty_revoked]
          nullable: true
          description: Lý do hủy
        originally_purchased_at:
          type: string
          format: date-time
          description: Thời điểm gói đăng ký được mua lần đầu
        expires_at:
          type: string
          format: date-time
          description: Thời điểm gói đăng ký hết hạn
        renew_status:
          type: boolean
          description: Liệu gói đăng ký có tự động gia hạn hay không
        renew_status_changed_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm trạng thái gia hạn thay đổi
        billing_issue_detected_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm phát hiện vấn đề thanh toán
        grace_period_expires_at:
          type: string
          format: date-time
          nullable: true
          description: Thời điểm thời gian ân hạn hết hạn
      required:
        - purchase_type
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - price
        - purchased_at
        - originally_purchased_at
        - expires_at
        - renew_status

    PriceDTO:
      type: object
      properties:
        country:
          type: string
          description: Mã quốc gia
        currency:
          type: string
          description: Mã tiền tệ
        value:
          type: number
          format: float
          description: Giá trị giá
      required:
        - country
        - currency
        - value

    OfferDTO:
      type: object
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: Danh mục ưu đãi
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front]
          description: Loại ưu đãi
        id:
          type: string
          nullable: true
          description: ID ưu đãi
      required:
        - category
        - type

    GrantAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID mức độ truy cập trả phí được cấu hình trong trang Access Levels
        starts_at:
          type: string
          format: date-time
          nullable: true
          description: Ngày giờ khi mức độ truy cập sẽ được kích hoạt. Có thể là trong tương lai. Giá trị mặc định là null.
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Ngày giờ khi mức độ truy cập sẽ hết hạn. Có thể là trong quá khứ và có thể là null cho quyền truy cập trọn đời. Giá trị mặc định là null.
      required:
        - access_level_id

    RevokeAccessRequest:
      type: object
      properties:
        access_level_id:
          type: string
          description: ID mức độ truy cập trả phí được cấu hình trong trang Access Levels
        revoke_at:
          type: string
          format: date-time
          nullable: true
          description: Chỉ định thời điểm mức độ truy cập sẽ hết hạn. Để thu hồi quyền truy cập ngay lập tức, hãy bỏ qua trường này hoặc đặt thành null. Giá trị mặc định là null.
      required:
        - access_level_id

    RefundSaverSettingsRequest:
      type: object
      properties:
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          nullable: true
          description: |
            Đặt tùy chọn hoàn tiền riêng lẻ cho người dùng.
            - `grant`: chấp thuận từng yêu cầu hoàn tiền
            - `no_preference`: không đưa ra khuyến nghị nào
            - `decline`: từ chối từng yêu cầu hoàn tiền
        consent:
          type: boolean
          nullable: true
          description: |
            Ghi lại việc người dùng đã đồng ý chia sẻ dữ liệu của họ.
            - `true` có nghĩa là nếu bạn nhận được yêu cầu hoàn tiền trong ứng dụng, bạn có thể cung cấp thông tin về người dùng cho Apple
      example:
        custom_preference: "grant"
        consent: true

    RefundSaverSettingsResponse:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
          description: ID hồ sơ người dùng
        settings:
          type: object
          properties:
            consent:
              type: boolean
              description: Xác định liệu người dùng có đồng ý chia sẻ dữ liệu của họ hay không
            custom_preference:
              type: string
              enum: [grant, no_preference, decline]
              description: Tùy chọn hoàn tiền
          description: Cài đặt Refund Saver cho người dùng
      required:
        - profile_id
        - settings

    StripeValidationRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [stripe_receipt_validation_result]
              description: Loại tài nguyên
            attributes:
              type: object
              properties:
                customer_user_id:
                  type: string
                  description: ID người dùng của bạn trong hệ thống của bạn
                stripe_token:
                  type: string
                  description: |
                    Token của đối tượng Stripe đại diện cho một giao dịch mua duy nhất.
                    Có thể là token của Stripe Subscription (sub_XXX) hoặc Payment Intent (pi_XXX)
              required:
                - customer_user_id
                - stripe_token
          required:
            - type
            - attributes
      required:
        - data

    StripeValidationResponse:
      type: object
      properties:
        data:
          type: object
          nullable: true
          description: Dữ liệu phản hồi (null khi xác thực thành công)
      required:
        - data

    StripeErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              detail:
                type: string
                description: Thông tin mô tả về lỗi
              source:
                type: object
                properties:
                  pointer:
                    type: string
                    description: Tham chiếu đến vị trí chính xác trong tài liệu yêu cầu gây ra sự cố
                required:
                  - pointer
              status:
                type: string
                description: Mã trạng thái HTTP
            required:
              - detail
              - source
              - status
      required:
        - errors

    PaddleValidationRequest:
      type: object
      properties:
        customer_user_id:
          type: string
          description: ID người dùng của bạn trong hệ thống của bạn
        paddle_token:
          type: string
          description: |
            Token của đối tượng Paddle đại diện cho một giao dịch mua duy nhất.
            Có thể là ID giao dịch (txn_...) hoặc ID gói đăng ký (sub_...)
      required:
        - customer_user_id
        - paddle_token

    IntegrationIdentifiersRequest:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key của ứng dụng người dùng trong tích hợp Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh kế thừa)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh khuyến nghị)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Tenjin
      description: Phải cung cấp ít nhất một định danh tích hợp

    IntegrationIdentifiersResponse:
      type: object
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key của ứng dụng người dùng trong tích hợp Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh kế thừa)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh khuyến nghị)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Tenjin

    PaywallUpdateRequest:
      type: object
      properties:
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Ngôn ngữ cho Remote Config (ví dụ: "en", "es", "fr")
              data:
                type: string
                description: Chuỗi JSON chứa dữ liệu Remote Config
            required:
              - locale
              - data
          description: Mảng các đối tượng RemoteConfig cần cập nhật
      required:
        - remote_configs
      description: Phải cung cấp ít nhất một trường

    PaywallResponse:
      type: object
      properties:
        title:
          type: string
          description: Tên của paywall, được xác định trong Adapty Dashboard của bạn
        paywall_id:
          type: string
          format: uuid
          description: Định danh duy nhất của paywall
        use_paywall_builder:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder hay không
        use_paywall_builder_legacy:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder kế thừa hay không
        updated_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được cập nhật lần cuối
        created_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được tạo
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Trạng thái hiện tại của paywall
        is_deleted:
          type: boolean
          description: Liệu paywall có được đánh dấu là đã xóa hay không
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL cho giao dịch mua trên web, nếu có
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Định danh duy nhất của sản phẩm
              title:
                type: string
                description: Tiêu đề của sản phẩm
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: Danh mục bộ sản phẩm
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: Định danh duy nhất của ưu đãi sản phẩm
                  title:
                    type: string
                    description: Tiêu đề của ưu đãi
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Mảng các đối tượng sản phẩm chứa thông tin sản phẩm
        remote_configs:
          type: array
          items:
            type: object
            properties:
              locale:
                type: string
                description: Ngôn ngữ cho Remote Config
              data:
                type: string
                description: Chuỗi JSON chứa dữ liệu Remote Config
            required:
              - locale
              - data
          description: Mảng các đối tượng RemoteConfig với ngôn ngữ và dữ liệu
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: Định danh duy nhất của hình ảnh
            url:
              type: string
              format: uri
              description: URL của hình ảnh
          required:
            - image_id
            - url
          description: Đối tượng ảnh chụp màn hình chính với image_id và url
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    PaywallListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaywallListItem'
          description: Mảng các đối tượng paywall
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                count:
                  type: integer
                  description: Tổng số paywall
                page:
                  type: integer
                  description: Số trang hiện tại
                pages:
                  type: integer
                  description: Tổng số trang
              required:
                - count
                - page
                - pages
          required:
            - pagination
      required:
        - data
        - meta

    PaywallListItem:
      type: object
      properties:
        title:
          type: string
          description: Tên của paywall, được xác định trong Adapty Dashboard của bạn
        paywall_id:
          type: string
          format: uuid
          description: Định danh duy nhất của paywall
        use_paywall_builder:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder hay không
        use_paywall_builder_legacy:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder kế thừa hay không
        updated_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được cập nhật lần cuối
        created_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được tạo
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Trạng thái hiện tại của paywall
        is_deleted:
          type: boolean
          description: Liệu paywall có được đánh dấu là đã xóa hay không
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL cho giao dịch mua trên web, nếu có
        products:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
                format: uuid
                description: Định danh duy nhất của sản phẩm
              title:
                type: string
                description: Tiêu đề của sản phẩm
              product_set:
                type: string
                enum: [weekly, monthly, trimonthly, semiannual, annual, lifetime, uncategorised, nonsubscriptions, two_months, consumable]
                description: Danh mục bộ sản phẩm
              offer:
                type: object
                nullable: true
                properties:
                  product_offer_id:
                    type: string
                    format: uuid
                    description: Định danh duy nhất của ưu đãi sản phẩm
                  title:
                    type: string
                    description: Tiêu đề của ưu đãi
                required:
                  - product_offer_id
                  - title
            required:
              - product_id
              - title
              - product_set
              - offer
          description: Mảng các đối tượng sản phẩm chứa thông tin sản phẩm cho paywall
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    PaywallObject:
      type: object
      description: |
        Paywall đại diện cho một màn hình kiếm tiền trong ứng dụng của bạn. Nó chứa thông tin về
        cấu hình paywall, sản phẩm và Remote Config.
      properties:
        title:
          type: string
          description: Tên của paywall, được xác định trong Adapty Dashboard của bạn
        paywall_id:
          type: string
          format: uuid
          description: Định danh duy nhất của paywall
        use_paywall_builder:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder hay không
        use_paywall_builder_legacy:
          type: boolean
          description: Liệu paywall có sử dụng Paywall Builder kế thừa hay không
        updated_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được cập nhật lần cuối
        created_at:
          type: string
          format: date-time
          description: Dấu thời gian khi paywall được tạo
        state:
          type: string
          enum: [draft, live, inactive, archived]
          description: Trạng thái hiện tại của paywall
        is_deleted:
          type: boolean
          description: Liệu paywall có được đánh dấu là đã xóa hay không
        web_purchase_url:
          type: string
          format: uri
          nullable: true
          description: URL cho giao dịch mua trên web, nếu có
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductObject'
          description: Mảng các sản phẩm có trong paywall này
        remote_configs:
          type: array
          items:
            $ref: '#/components/schemas/RemoteConfigObject'
          description: Mảng các Remote Config cho các ngôn ngữ khác nhau
        main_screenshot:
          type: object
          nullable: true
          properties:
            image_id:
              type: integer
              description: Định danh duy nhất của hình ảnh
            url:
              type: string
              format: uri
              description: URL của hình ảnh
          required: [image_id, url]
          description: Đối tượng ảnh chụp màn hình chính với image_id và url
      required:
        - title
        - paywall_id
        - use_paywall_builder
        - use_paywall_builder_legacy
        - updated_at
        - created_at
        - state
        - is_deleted
        - products

    ProductObject:
      type: object
      description: |
        Sản phẩm đại diện cho một mặt hàng có thể mua trong ứng dụng của bạn. Có thể là gói đăng ký hoặc
        sản phẩm mua một lần.
      properties:
        product_id:
          type: string
          format: uuid
          description: Định danh duy nhất của sản phẩm
        title:
          type: string
          description: Tiêu đề của sản phẩm
        product_set:
          type: string
          description: Danh mục bộ sản phẩm
        offer:
          type: object
          nullable: true
          properties:
            product_offer_id:
              type: string
              format: uuid
              description: Định danh duy nhất của ưu đãi sản phẩm
            title:
              type: string
              description: Tiêu đề của ưu đãi
          required: [product_offer_id, title]
          description: Thông tin ưu đãi sản phẩm
      required:
        - product_id
        - title
        - product_set
        - offer

    RemoteConfigObject:
      type: object
      description: |
        Remote Config chứa dữ liệu cấu hình theo ngôn ngữ cụ thể cho một paywall.
        Điều này cho phép bạn tùy chỉnh giao diện và hành vi của paywall cho các ngôn ngữ khác nhau.
      properties:
        locale:
          type: string
          description: Ngôn ngữ cho Remote Config (ví dụ: "en", "es", "fr")
        data:
          type: string
          description: Chuỗi JSON chứa dữ liệu Remote Config
      required:
        - locale
        - data

    IntegrationIdentifiersObject:
      type: object
      description: |
        Các định danh tích hợp chứa ID người dùng từ các dịch vụ bên thứ ba khác nhau.
        Chúng được sử dụng để đồng bộ dữ liệu người dùng trên các nền tảng phân tích và marketing khác nhau.
      properties:
        adjust_device_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp Adjust
        airbridge_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Airbridge
        amplitude_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Amplitude
        amplitude_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Amplitude
        appmetrica_device_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp AppMetrica
        appmetrica_profile_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp AppMetrica
        appsflyer_id:
          type: string
          nullable: true
          description: ID người dùng mạng trong tích hợp AppsFlyer
        branch_id:
          type: string
          nullable: true
          description: Branch Key của ứng dụng người dùng trong tích hợp Branch
        facebook_anonymous_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Facebook Ads
        firebase_app_instance_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Firebase
        mixpanel_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp Mixpanel
        one_signal_player_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh kế thừa)
        one_signal_subscription_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp OneSignal (Định danh khuyến nghị)
        posthog_distinct_user_id:
          type: string
          nullable: true
          description: ID người dùng trong tích hợp PostHog
        pushwoosh_hwid:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Pushwoosh
        tenjin_analytics_installation_id:
          type: string
          nullable: true
          description: ID thiết bị của người dùng trong tích hợp Tenjin

    RefundSaverSettingsObject:
      type: object
      description: |
        Cài đặt Refund Saver chứa tùy chọn của người dùng để xử lý các yêu cầu hoàn tiền.
        Bao gồm sự đồng ý chia sẻ dữ liệu và tùy chọn hoàn tiền tùy chỉnh.
      properties:
        consent:
          type: boolean
          description: Xác định liệu người dùng có đồng ý chia sẻ dữ liệu của họ hay không
        custom_preference:
          type: string
          enum: [grant, no_preference, decline]
          description: Tùy chọn hoàn tiền
      required:
        - consent
        - custom_preference

    ErrorObject:
      type: object
      description: |
        Lỗi đại diện cho phản hồi lỗi API. Nó chứa thông tin về
        những gì đã xảy ra và cách khắc phục.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                nullable: true
                description: Trường hoặc tham số gây ra lỗi
              errors:
                type: array
                items:
                  type: string
                description: Mảng thông báo lỗi
            required: [errors]
          description: Mảng chi tiết lỗi
        error_code:
          type: string
          description: Mã lỗi có thể đọc bằng máy
        status_code:
          type: integer
          description: Mã trạng thái HTTP
      required:
        - errors
        - error_code
        - status_code

    PaginationObject:
      type: object
      description: |
        Metadata phân trang cho các endpoint danh sách. Chứa thông tin về
        trang hiện tại và tổng số kết quả.
      properties:
        count:
          type: integer
          description: Tổng số mục
        page:
          type: integer
          description: Số trang hiện tại
        pages:
          type: integer
          description: Tổng số trang
      required:
        - count
        - page
        - pages