openapi: 3.1.0
info:
  title: Adapty Mail API
  version: 1.0.0
  description: |
    Adapty Mail API позволяет отправлять профили пользователей и события транзакций в Adapty Mail напрямую
    с вашего сервера, минуя SDK.

    Используйте его для:

    - Добавления подписчиков, если у вас ещё нет базы в Adapty Mail.
    - Повторного использования базы подписчиков из других ваших приложений.
    - Передачи данных в Adapty Mail по схеме сервер-сервер, где ваш бэкенд является источником истины.

    Профиль с email достаточен для флоу **never purchased**. Все остальные флоу
    (renewal cancelled, billing issue, expired, refunded) основаны на истории покупок, поэтому для таких
    профилей также необходимо передавать события транзакций, чтобы они попали в нужный флоу.

    Пошаговое руководство см. в [Отправка email-рассылок и транзакций через Adapty Mail API](/docs/mail-send-data-via-api).
servers:
  - url: https://api-mail.adapty.io
    description: Продакшн-сервер
paths:
  /api/v1/profile/save/:
    post:
      summary: Сохранить профиль
      description: |
        Создаёт или обновляет профиль в Adapty Mail. Профиль содержит email пользователя и атрибуты,
        которые Adapty Mail использует для идентификации получателей и формирования [сегментов](/docs/mail-segments).

        Идентифицируйте каждого пользователя по стабильному `external_profile_id`. Повторная отправка того же `external_profile_id`
        обновляет существующий профиль, а не создаёт дубликат.
      operationId: saveProfile
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileDTO'
            examples:
              basic:
                summary: Profile with an email, ready for the "never purchased" flow
                value:
                  external_profile_id: user_12345
                  external_created_at: '2026-06-01T10:30:00Z'
                  email: jane@example.com
                  country: US
                  custom_attributes:
                    plan: trial
      responses:
        '200':
          description: Профиль успешно сохранён. Тело ответа — пустой объект.
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value: {}
        '400':
          description: Ошибка валидации — обязательное поле отсутствует или содержит недопустимое значение. Поле `field_name` указывает, какое именно поле вызвало ошибку.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Field required
                        error_code: base_error
                        status_code: 400
                        field_name: email
        '403':
          description: Секретный API-ключ отсутствует или недействителен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Secret key doesn't exist
                        error_code: secret_key_does_not_exist_error
                        status_code: 403
                        field_name: null
  /api/v1/profile/delete/:
    post:
      summary: Удалить профиль
      description: |
        Удаляет персональные данные профиля и отменяет его запланированные письма. Используйте этот метод для выполнения запроса на удаление данных в соответствии с правом на забвение.

        Идентифицируйте профиль с помощью любой комбинации `external_profile_id`, `customer_user_id` и `email` — Adapty Mail разрешает профиль так же, как и при сохранении.

        Удаление является необратимым. Последующий запрос [Save profile](#operation/saveProfile) с теми же идентификаторами не пересоздаёт профиль.

        Повторное удаление по `external_profile_id` или `customer_user_id` завершится успешно, не изменив ничего. Повторное удаление только по `email` вернёт `404`: удаление очищает сохранённый адрес, поэтому email не соответствует ни одной записи.
      operationId: deleteProfile
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileDeleteDTO'
            examples:
              byExternalProfileId:
                summary: Удалить по идентификатору, переданному при сохранении профиля
                value:
                  external_profile_id: user_12345
              byEmail:
                summary: Удалить по адресу электронной почты
                value:
                  email: jane@example.com
      responses:
        '204':
          description: Профиль удалён. Тело ответа отсутствует.
        '400':
          description: Идентификатор не был указан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: At least one of external_profile_id, customer_user_id or email must be provided
                        error_code: missing_identifier
                        status_code: 400
                        field_name: null
        '403':
          description: Отсутствует или недействителен секретный API-ключ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Secret key doesn't exist
                        error_code: secret_key_does_not_exist_error
                        status_code: 403
                        field_name: null
        '404':
          description: Ни один профиль не соответствует переданным идентификаторам.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Profile not found
                        error_code: profile_not_found_error
                        status_code: 404
                        field_name: null
  /api/v1/profile/transaction-event/save/:
    post:
      summary: Сохранить событие транзакции
      description: |
        Записывает событие транзакции стора для профиля. Adapty Mail использует события транзакций для помещения
        профилей в флоу на основе покупок — `event_type` соответствует таким флоу, как отмена продления,
        проблема с оплатой, истечение срока действия и возврат средств — а также для атрибуции дохода.

        Отправляйте эти события по мере обработки покупок, продлений и отмен. Только флоу
        **never purchased** работает без них.
      operationId: saveTransactionEvent
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionEventDTO'
            examples:
              basic:
                summary: A new monthly subscription purchase
                value:
                  event_type: subscription_started
                  event_id: evt_abc123
                  event_datetime: '2026-06-10T14:20:05Z'
                  external_profile_id: user_12345
                  store: app_store
                  store_product_id: premium_monthly
                  store_transaction_id: '1000000123456789'
                  store_original_transaction_id: '1000000123456789'
                  purchased_at: '2026-06-10T14:20:00Z'
                  originally_purchased_at: '2026-06-10T14:20:00Z'
                  price_usd: '9.99'
                  expires_at: '2026-07-10T14:20:00Z'
      responses:
        '200':
          description: Событие транзакции успешно сохранено. Тело ответа представляет собой пустой объект.
          content:
            application/json:
              schema:
                type: object
              examples:
                default:
                  value: {}
        '400':
          description: Ошибка валидации — обязательное поле отсутствует или содержит недопустимое значение. `field_name` указывает, какое именно поле.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Field required
                        error_code: base_error
                        status_code: 400
                        field_name: event_type
        '403':
          description: Секретный API-ключ отсутствует или недействителен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
              examples:
                default:
                  value:
                    errors:
                      - message: Secret key doesn't exist
                        error_code: secret_key_does_not_exist_error
                        status_code: 403
                        field_name: null
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Аутентифицируйте каждый запрос с помощью секретного API-ключа Adapty Mail, передаваемого в заголовке **Authorization**
        со значением `Bearer {your_secret_api_key}`, например `Bearer secret_live_...`.

        Найдите этот ключ в Adapty Mail в разделе **Settings**. Ключ привязан к конкретному проекту — он идентифицирует
        проект, которому принадлежат данные, поэтому эндпоинты профилей и транзакций не требуют передачи идентификатора проекта.
  schemas:
    ProfileDTO:
      type: object
      required:
        - external_profile_id
        - external_created_at
        - email
      properties:
        external_profile_id:
          type: string
          description: |
            Стабильный идентификатор пользователя, принадлежащий вашему приложению или бэкенду. Используйте одно и то же значение во всех запросах, чтобы Adapty Mail связывал письма, клики и покупки с одним профилем. Никогда не используйте анонимный идентификатор или идентификатор отдельной установки.
        external_created_at:
          type: string
          format: date-time
          description: |
            Время создания пользователя в формате ISO 8601 (например, `"2026-06-01T10:30:00Z"`).
            Эту дату можно использовать в сегментах.
        email:
          type: string
          format: email
          description: |
            Адрес электронной почты пользователя. Adapty Mail доставляет кампании на этот адрес.

            Адрес доступен только для записи один раз: он устанавливается при создании профиля и последующие сохранения не перезаписывают его.
        customer_user_id:
          type: string
          description: |
            Идентификатор пользователя в вашей собственной системе, если он у вас есть и Adapty также его знает. Adapty Mail использует его, чтобы распознать человека, который также взаимодействует с ним через Adapty SDK, так что оба источника используют один профиль вместо создания дубликата, который отправляет письма одному и тому же человеку дважды.
        first_name:
          type: string
          description: Имя пользователя.
        last_name:
          type: string
          description: Фамилия пользователя.
        gender:
          type: string
          description: Пол пользователя.
        birthday:
          type: string
          format: date
          description: Дата рождения пользователя в формате ISO 8601 (например, `"1990-05-21"`).
        country:
          type: string
          description: Страна пользователя в виде двухбуквенного кода в верхнем регистре по стандарту ISO 3166-1 alpha-2 (например, `US`).
        store_country:
          type: string
          description: Регион стора пользователя в виде двухбуквенного кода в верхнем регистре по стандарту ISO 3166-1 alpha-2 (например, `US`).
        custom_attributes:
          type: object
          description: |
            Произвольные пары ключ-значение (строковые или числовые значения) для прикрепления к профилю. Используйте их для создания [сегментов](/docs/mail-segments) — например, `plan`, `signup_source` или `trial_days`.
        device_info:
          $ref: '#/components/schemas/DeviceInfoDTO'
    ProfileDeleteDTO:
      type: object
      description: |
        Идентификаторы профиля для удаления. Укажите хотя бы один из параметров: `external_profile_id`,
        `customer_user_id` или `email`.
      anyOf:
        - required:
            - external_profile_id
        - required:
            - customer_user_id
        - required:
            - email
      properties:
        external_profile_id:
          type: string
          description: Идентификатор, переданный при сохранении профиля.
        customer_user_id:
          type: string
          description: Идентификатор пользователя в вашей системе.
        email:
          type: string
          format: email
          description: Адрес электронной почты, привязанный к профилю.
    DeviceInfoDTO:
      type: object
      required:
        - platform
      properties:
        platform:
          type: string
          description: Платформа пользователя, например `iOS` или `Android`.
        device:
          type: string
          description: Модель устройства, например `iPhone15,2`.
        os:
          type: string
          description: Версия операционной системы, например `17.5`.
        locale:
          type: string
          description: Локаль пользователя, например `en-US`.
        timezone:
          type: string
          description: Часовой пояс пользователя, например `America/New_York`.
        app_version:
          type: string
          description: Версия вашего приложения, которую использует пользователь, например `3.1.0`.
    TransactionEventDTO:
      type: object
      required:
        - event_type
        - event_id
        - event_datetime
        - external_profile_id
        - store
        - store_product_id
        - store_transaction_id
        - store_original_transaction_id
        - purchased_at
        - originally_purchased_at
      properties:
        event_type:
          $ref: '#/components/schemas/TransactionEventType'
        event_id:
          type: string
          description: Уникальный идентификатор события в вашей системе. Используйте его для обеспечения идемпотентности событий.
        event_datetime:
          type: string
          format: date-time
          description: Время записи события в формате ISO 8601.
        external_profile_id:
          type: string
          description: |
            Тот же стабильный `external_profile_id`, который вы передаёте при сохранении профиля. Связывает
            транзакцию с нужным профилем.

            Вы можете отправить транзакцию до того, как профиль создан. Adapty Mail сохранит событие
            без привязки и свяжет его с профилем при следующем сохранении с тем же идентификатором.
        customer_user_id:
          type: string
          description: |
            Идентификатор пользователя в вашей системе. Adapty Mail использует его для поиска профиля, если
            `external_profile_id` не совпадает ни с одним из существующих. Не сохраняется в событии.
        email:
          type: string
          format: email
          description: |
            Адрес электронной почты покупателя. Adapty Mail использует его для поиска профиля, если
            ни один из идентификаторов не совпадает ни с одним из существующих. Не сохраняется в событии.
        store:
          type: string
          description: Стор, из которого поступила транзакция, например `app_store`, `play_store` или `stripe`.
        store_product_id:
          type: string
          description: Идентификатор приобретённого продукта в сторе.
        store_transaction_id:
          type: string
          description: Идентификатор данной транзакции в сторе.
        store_original_transaction_id:
          type: string
          description: Идентификатор первой транзакции в цепочке подписки. Для первой покупки совпадает с `store_transaction_id`.
        purchased_at:
          type: string
          format: date-time
          description: Время совершения данной транзакции в формате ISO 8601.
        originally_purchased_at:
          type: string
          format: date-time
          description: Время первой покупки подписки в формате ISO 8601.
        price_usd:
          type: string
          description: Сумма транзакции в USD в виде десятичной строки (например, `"9.99"`).
        expires_at:
          type: string
          format: date-time
          description: Время истечения или истёкшего срока действия подписки в формате ISO 8601. Не указывается для разовых покупок.
        offer:
          $ref: '#/components/schemas/Offer'
    TransactionEventType:
      type: string
      description: Тип события транзакции. Флоу на основе покупок запускаются этими значениями.
      enum:
        - subscription_started
        - subscription_renewed
        - subscription_renewal_cancelled
        - subscription_renewal_reactivated
        - billing_issue_detected
        - entered_grace_period
        - subscription_refunded
        - subscription_expired
        - non_subscription_purchase
        - non_subscription_purchase_refunded
    Offer:
      type: object
      description: Сведения о promotional offer или introductory offer, применённом к транзакции.
      required:
        - category
        - offer_type
      properties:
        category:
          $ref: '#/components/schemas/OfferCategory'
        offer_type:
          $ref: '#/components/schemas/OfferType'
        offer_id:
          type: string
          description: Идентификатор предложения в сторе, если применимо.
    OfferCategory:
      type: string
      enum:
        - introductory
        - promotional
        - offer_code
        - win_back
    OfferType:
      type: string
      enum:
        - free_trial
        - pay_as_you_go
        - pay_up_front
    Errors:
      type: object
      description: Стандартный ответ об ошибке. Каждый сбой возвращает статус 4XX с такой структурой.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: Описание ошибки в человекочитаемом формате.
              error_code:
                type: string
                description: Машиночитаемый идентификатор ошибки.
              status_code:
                type: integer
                description: HTTP-код статуса для данной ошибки.
              field_name:
                type: string
                description: Поле запроса, вызвавшее ошибку, или `null`, если ошибка не связана с конкретным полем.
