openapi: 3.1.0
info:
  title: Adapty Export Analytics API
  version: 1.0.0
  description: |
    Adapty Export Analytics API позволяет экспортировать аналитические данные в формат CSV или JSON,
    предоставляя гибкость для более глубокого изучения метрик производительности вашего приложения, настройки отчётов
    и анализа трендов с течением времени. С помощью этого API вы можете легко получать детальные аналитические данные,
    что делает удобным отслеживание, совместное использование и уточнение аналитических инсайтов по мере необходимости.
servers:
  - url: https://api-admin.adapty.io
    description: Продакшн-сервер
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: Получить аналитические данные
      description: |-
        Получает аналитические данные для анализа поведения пользователей и метрик производительности, используемых в графиках.

        Выручка из этого эндпоинта рассчитывается **на основе событий**: каждое значение привязано к **дате транзакции** — дню, когда произошла покупка, продление или возврат. Чтобы привязать выручку к дате установки каждого пользователя (например, для сверки с Ads Manager), используйте эндпоинт когорт (`POST /api/v1/client-api/metrics/cohort/`).

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: Базовый запрос аналитических данных
                value:
                  chart_id: revenue
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    country:
                      - us
                    attribution_channel:
                      - social_media_influencers
                  period_unit: week
                  segmentation: attribution_campaign
      responses:
        '200':
          description: Аналитические данные успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: Аналитические данные в формате CSV
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышен лимит запросов. Максимум 2 запроса в секунду на API-ключ.
  /api/v1/client-api/metrics/cohort/:
    post:
      summary: Получить данные когорты
      description: |-
        Получение данных когорты для отслеживания групп пользователей с течением времени.

        Выручка в этом эндпоинте основана на **когорте по дате установки**: выручка каждого пользователя привязана к его **дате установки**, а не к дате транзакции. В ответе возвращаются поля `total_revenue_usd` и `total_proceeds_usd`. Используйте этот эндпоинт (вместо аналитического) для сверки внутренних отчётов с Ads Manager, который также основан на когортах/датах установки.

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: Базовый запрос данных когорты
                value:
                  filters:
                    date:
                      - '2024-04-01'
                      - '2024-09-30'
                    store:
                      - app_store
                    country:
                      - us
                  period_unit: month
                  period_type: renewals
                  value_type: absolute
                  value_field: subscriptions
      responses:
        '200':
          description: Данные когорты успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: '2024-04-01'
                    type: total
                    title: Total
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0
                    total_proceeds_usd: 0
                    total_net_revenue_usd: 0
                    total_anrpas_usd: 0
                    total_appas_usd: 0
                    total_arpas_usd: 0
                    total_anrppu_usd: 0
                    total_apppu_usd: 0
                    total_arppu_usd: 0
                    total_anrpu_usd: 0
                    total_appu_usd: 0
                    total_arpu_usd: 0
                    predict: null
                    values:
                      - arpas_usd: 0
                        appas_usd: 0
                        anrpas_usd: 0
                        anrppu_usd: 0
                        apppu_usd: 0
                        arppu_usd: 0
                        anrpu_usd: 0
                        appu_usd: 0
                        arpu_usd: 0
                        installs: 0
                        period: 1
                        revenue_usd: 0
                        proceeds_usd: 0
                        net_revenue_usd: 0
                        revenue_relative: 0
                        proceeds_relative: 0
                        net_revenue_relative: 0
                        subscriptions: 0
                        subscriptions_relative: 0
                        subscribers: 0
                        subscribers_relative: 0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: Данные когорты в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышен лимит запросов. Максимум 2 запроса в секунду на один API-ключ.
  /api/v1/client-api/metrics/conversion/:
    post:
      summary: Получить данные о конверсии
      description: |-
        Возвращает данные о конверсии для анализа действий пользователей и оценки эффективности маркетинговых усилий за период времени.

        Ограничение частоты запросов: 2 запроса в секунду.
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: Basic conversion data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                  from_period: 1
                  to_period: 6+
                  period_unit: month
                  date_type: purchase_date
                  segmentation: country
                  format: json
      responses:
        '200':
          description: Данные о конверсии успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: Conversion rate from Paid to more than 6 months
                type: multi
                default_aggregation: sum
                description: If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment.
                metric_name: from_paid_to_6_months_conversion
                is_json: true
                unit: percent
                recommended_period:
                  date_from: '2018-04-29'
                  date_to: '2024-12-31'
                  period_unit: month
            text/csv:
              schema:
                type: string
                description: Данные о конверсии в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышено ограничение частоты запросов. Максимум 2 запроса в секунду на один API-ключ.
  /api/v1/client-api/metrics/funnel/:
    post:
      summary: Получить данные воронки
      description: |-
        Возвращает данные воронки для отслеживания прохождения пользователей через определённые этапы процесса конверсии.

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: Basic funnel data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - promotional
                  period_unit: quarter
                  show_value_as: absolute
                  format: csv
      responses:
        '200':
          description: Данные воронки успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: Total
                    type: total
                    values:
                      - period: -2
                        title: Install
                        value: 2
                        value_relative: 100
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 2
                          value_relative: 100
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: Paywall displayed
                        value: 0
                        value_relative: 0
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 0
                          value_relative: 0
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: Данные воронки в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышено ограничение по частоте запросов. Максимум 2 запроса в секунду на один API-ключ.
  /api/v1/client-api/metrics/ltv/:
    post:
      summary: Получить данные о пожизненной ценности (LTV)
      description: |-
        Возвращает данные LTV для оценки долгосрочного потенциала дохода от клиентов за период их активности.

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: Базовый запрос данных LTV
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - introductory
                    store:
                      - app_store
                    country:
                      - us
                    attribution_source:
                      - appsflyer
                    attribution_status:
                      - organic
                    attribution_channel:
                      - social_media
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Данные LTV успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                proceeds:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                net_revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
            text/csv:
              schema:
                type: string
                description: Данные LTV в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышено ограничение по частоте запросов. Максимум 2 запроса в секунду на один API-ключ.
  /api/v1/client-api/metrics/retention/:
    post:
      summary: Получить данные об удержании
      description: |-
        Возвращает данные об удержании для анализа способности продукта удерживать пользователей вовлечёнными с течением времени.

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: Basic retention data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Данные об удержании успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: Subscription retention
                metric_name: Subscription retention
                description: Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step.
                value_type: null
            text/csv:
              schema:
                type: string
                description: Данные об удержании в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышено ограничение по частоте запросов. Максимум 2 запроса в секунду на один API-ключ.
  /api/v1/client-api/exports/placements/:
    post:
      summary: Получить информацию о плейсменте
      description: |-
        Извлекает информацию о плейсментах пейволов или онбордингов: пейволах, сегментах, аудиториях и A/B-тестах. Это позволяет убедиться, что всё настроено правильно, не открывая каждый плейсмент отдельно.

        Ограничение по частоте запросов: 2 запроса в секунду.
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: Basic placement info request
                value:
                  filters:
                    placement_type: paywall
      responses:
        '200':
          description: Информация о плейсменте успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: Информация о плейсменте в формате CSV
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Превышено ограничение по частоте запросов. Максимум 2 запроса в секунду на один API-ключ.
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Для аутентификации API-запросов необходимо передавать секретный API-ключ в заголовке Authorization.
        Его можно найти в настройках приложения. Формат: `Api-Key {YOUR_SECRET_API_KEY}`,
        например: `Api-Key secret_live_...`.
  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum:
            - revenue
            - mrr
            - arr
            - arppu
            - subscriptions_active
            - subscriptions_new
            - subscriptions_renewal_cancelled
            - subscriptions_expired
            - trials_active
            - trials_new
            - trials_renewal_cancelled
            - trials_expired
            - grace_period
            - billing_issue
            - refund_events
            - refund_money
            - non_subscriptions
            - arpu
            - installs
          description: Укажите, какой график вам нужен. В каждом запросе можно указать только один тип графика.
          example: revenue
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Укажите, какая дата должна считаться датой присоединения пользователя
          default: purchase_date
        segmentation:
          type: string
          description: Задаёт основу для сегментации
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
          default: month
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Анализировать данные по продлениям или по дням
          default: renewals
        value_type:
          type: string
          enum:
            - absolute
            - relative
          description: Укажите способ отображения значений
          default: absolute
        value_field:
          type: string
          enum:
            - revenue
            - arppu
            - arpu
            - arpas
            - subscribers
            - subscriptions
          description: Укажите тип отображаемых значений
          default: revenue
        accounting_type:
          type: string
          enum:
            - revenue
            - proceeds
            - net_revenue
          description: Используемый метод учёта
          default: revenue
        renewal_days:
          type: array
          items:
            type: integer
          description: Список дней с момента установки приложения для типа когорты period_type=days
        prediction_months:
          type: integer
          enum:
            - 3
            - 6
            - 9
            - 12
            - 18
            - 24
          description: Укажите количество месяцев прогноза
          default: 12
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: 'null'
          description: Начальное состояние подписки пользователя в рамках конверсии
        to_period:
          type: string
          description: Новое состояние подписки пользователя после конверсии
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Укажите, какая дата должна считаться датой присоединения пользователя
          default: purchase_date
        segmentation:
          type: string
          description: Задаёт основу для сегментации
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
        show_value_as:
          type: string
          enum:
            - absolute
            - relative
            - both
          description: Укажите способ отображения значений
        segmentation:
          type: string
          description: Задаёт основу для сегментации
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Анализировать данные по продлениям или по дням
        segmentation:
          type: string
          description: Задаёт основу для сегментации
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Укажите временной интервал для агрегации аналитических данных
        segmentation:
          type: string
          description: Задаёт основу для сегментации
        use_trial:
          type: boolean
          description: Логическое значение, указывающее, использовался ли пробный период
          default: false
        format:
          type: string
          enum:
            - json
            - csv
          description: Укажите формат экспортируемого файла
          default: json
    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum:
                - paywall
                - onboarding
              description: Фильтр, определяющий, какие плейсменты будут включены в ответ
    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: ID плейсмента
              placement_name:
                type: string
                description: Название плейсмента
              audience_name:
                type: string
                description: Название аудитории
              segment_name:
                type: string
                description: ID аудитории
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: Название кросс-плейсментного A/B-теста
              ab_test_name:
                type: string
                nullable: true
                description: Название A/B-теста
              paywall_name:
                type: string
                description: Название пейвола (возвращается только если placement_type равен paywall)
              onboarding_name:
                type: string
                description: Название онбординга (возвращается только если placement_type равен onboarding)
    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: Укажите дату или период времени, за который вы хотите получить данные графика
        compare_date:
          type: array
          items:
            type: string
          description: Укажите дату или период времени для сравнения
        store:
          type: array
          items:
            type: string
          description: Фильтр по стору, в котором была совершена покупка
        country:
          type: array
          items:
            type: string
          description: Фильтр по двухбуквенному коду страны, в которой была совершена покупка
        store_product_id:
          type: array
          items:
            type: string
          description: Идентификатор продукта с указанием стора в формате `<store>:<product_id>` — например, `app_store:premium_monthly` или `play_store:premium_sub:monthly-base-plan` для подписки Google с базовым планом. Идентификатор продукта без префикса стора не принимается.
        duration:
          type: array
          items:
            type: string
          description: Укажите длительность подписки
        attribution_source:
          type: array
          items:
            type: string
          description: Исходная интеграция для атрибуции
        attribution_status:
          type: array
          items:
            type: string
          description: Указывает, является ли атрибуция органической или неорганической
        attribution_channel:
          type: array
          items:
            type: string
          description: Маркетинговый канал, который привёл к транзакции
        attribution_campaign:
          type: array
          items:
            type: string
          description: Маркетинговая кампания, которая привела к транзакции
        attribution_adgroup:
          type: array
          items:
            type: string
          description: Группа объявлений атрибуции, которая привела к транзакции
        attribution_adset:
          type: array
          items:
            type: string
          description: Набор объявлений атрибуции, который привёл к транзакции
        attribution_creative:
          type: array
          items:
            type: string
          description: Конкретные визуальные или текстовые элементы объявления или кампании, отслеживаемые для оценки эффективности
        offer_category:
          type: array
          items:
            type: string
          description: Укажите категории предложений, по которым вы хотите получить данные
        offer_type:
          type: array
          items:
            type: string
          description: Укажите типы предложений, по которым вы хотите получить данные
        offer_id:
          type: array
          items:
            type: string
          description: Укажите конкретные предложения, по которым вы хотите получить данные
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    AnalyticsDataResponse:
      type: object
      description: Ответ, содержащий аналитические данные для запрошенного типа графика
      properties:
        data:
          type: object
          description: Объект, содержащий различные типы метрик (revenue, proceeds, net_revenue и т. д.)
          additionalProperties:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      description: Данные отдельной метрики, содержащие значения, описания и метаданные
      properties:
        data:
          type: array
          description: Массив точек данных для метрики (может быть пустым для агрегированных метрик)
          items:
            type: object
        value:
          type: number
          description: Основное значение для данной метрики
        value_from:
          type: number
          nullable: true
          description: Начальное значение за период (если применимо)
        value_to:
          type: number
          nullable: true
          description: Конечное значение за период (если применимо)
        compare_value_from:
          type: number
          nullable: true
          description: Начальное значение за период сравнения (если применимо)
        compare_value_to:
          type: number
          nullable: true
          description: Конечное значение за период сравнения (если применимо)
        title:
          type: string
          description: Отображаемое название метрики
        type:
          type: string
          description: Тип метрики (например, 'multi', 'single')
        default_aggregation:
          type: string
          description: Метод агрегации по умолчанию (например, 'sum', 'average')
        description:
          type: string
          description: HTML-описание, объясняющее, что представляет собой данная метрика и как она рассчитывается
        metric_name:
          type: string
          description: Внутреннее название метрики
        is_json:
          type: boolean
          description: Указывает, представлены ли данные в формате JSON
        unit:
          type: string
          description: Единица измерения (например, 'USD', 'percent')
        recommended_period:
          type: object
          nullable: true
          description: Рекомендуемый диапазон дат для данной метрики
          properties:
            date_from:
              type: string
              description: Начальная дата рекомендуемого периода
            date_to:
              type: string
              description: Конечная дата рекомендуемого периода
            period_unit:
              type: string
              description: Рекомендуемая единица периода (день, неделя, месяц и т. д.)
    CohortDataResponse:
      type: object
      description: Ответ, содержащий данные анализа когорт, показывающие поведение пользователей с течением времени
      properties:
        data:
          type: array
          description: Массив сегментов когорт, каждый из которых представляет группу пользователей, начавших в одном периоде
          items:
            $ref: '#/components/schemas/CohortSegment'
    CohortSegment:
      type: object
      description: Сегмент когорты, представляющий пользователей, которые начали в одном периоде
      properties:
        segment_start_date:
          type: string
          description: Дата начала данного сегмента когорты
        type:
          type: string
          description: Тип сегмента ('total' для агрегированных данных, 'single' для отдельной когорты)
        title:
          type: string
          description: Отображаемое название данного сегмента когорты
        total_installs:
          type: integer
          description: Общее количество установок приложения в данной когорте
        total_subscriptions:
          type: integer
          description: Общее количество подписок в данной когорте
        total_paid_subscribers:
          type: integer
          description: Общее количество платных подписчиков в данной когорте
        total_revenue_usd:
          type: number
          description: Общая выручка в USD для данной когорты
        total_proceeds_usd:
          type: number
          description: Общие поступления в USD для данной когорты (после вычета комиссий стора)
        total_net_revenue_usd:
          type: number
          description: Общая чистая выручка в USD для данной когорты
        total_anrpas_usd:
          type: number
          description: Общая средняя выручка на одного активного подписчика (ANRPAS) в USD
        total_appas_usd:
          type: number
          description: Общие средние поступления на одного активного подписчика (APPAS) в USD
        total_arpas_usd:
          type: number
          description: Общая средняя выручка на одного активного подписчика (ARPAS) в USD
        total_anrppu_usd:
          type: number
          description: Общая средняя выручка на одного платящего пользователя (ANRPPU) в USD
        total_apppu_usd:
          type: number
          description: Общие средние поступления на одного платящего пользователя (APPPU) в USD
        total_arppu_usd:
          type: number
          description: Общая средняя выручка на одного платящего пользователя (ARPPU) в USD
        total_anrpu_usd:
          type: number
          description: Общая средняя выручка на одного пользователя (ANRPU) в USD
        total_appu_usd:
          type: number
          description: Общие средние поступления на одного пользователя (APPU) в USD
        total_arpu_usd:
          type: number
          description: Общая средняя выручка на одного пользователя (ARPU) в USD
        predict:
          type: object
          nullable: true
          description: Данные прогноза для данной когорты (при наличии)
        values:
          type: array
          description: Массив значений по периодам, отражающих динамику когорты во времени
          items:
            $ref: '#/components/schemas/CohortValue'
    CohortValue:
      type: object
      description: Значение отдельного периода внутри сегмента когорты, отражающее метрики эффективности за конкретный период времени
      properties:
        arpas_usd:
          type: number
          description: Средняя выручка на одного активного подписчика в USD за данный период
        appas_usd:
          type: number
          description: Средние поступления на одного активного подписчика в USD за данный период
        anrpas_usd:
          type: number
          description: Средняя чистая выручка на одного активного подписчика в USD за данный период
        anrppu_usd:
          type: number
          description: Средняя чистая выручка на одного платящего пользователя в USD за данный период
        apppu_usd:
          type: number
          description: Средние поступления на одного платящего пользователя в USD за данный период
        arppu_usd:
          type: number
          description: Средняя выручка на одного платящего пользователя в USD за данный период
        anrpu_usd:
          type: number
          description: Средняя чистая выручка на одного пользователя в USD за данный период
        appu_usd:
          type: number
          description: Средние поступления на одного пользователя в USD за данный период
        arpu_usd:
          type: number
          description: Средняя выручка на одного пользователя в USD за данный период
        installs:
          type: integer
          description: Количество установок приложения за данный период
        period:
          type: integer
          description: Номер периода (1 = первый период, 2 = второй период и т. д.)
        revenue_usd:
          type: number
          description: Общая выручка в USD за данный период
        proceeds_usd:
          type: number
          description: Общие поступления в USD за данный период (после вычета комиссии стора)
        net_revenue_usd:
          type: number
          description: Общая чистая выручка в USD за данный период
        revenue_relative:
          type: number
          description: Выручка в процентах относительно первого периода (100% = первый период)
        proceeds_relative:
          type: number
          description: Поступления в процентах относительно первого периода (100% = первый период)
        net_revenue_relative:
          type: number
          description: Чистая выручка в процентах относительно первого периода (100% = первый период)
        subscriptions:
          type: integer
          description: Количество подписок за данный период
        subscriptions_relative:
          type: number
          description: Подписки в процентах относительно первого периода (100% = первый период)
        subscribers:
          type: integer
          description: Количество подписчиков за данный период
        subscribers_relative:
          type: number
          description: Подписчики в процентах относительно первого периода (100% = первый период)
        currently_active_period:
          type: boolean
          description: Является ли данный период текущим активным периодом для когорты
    ConversionDataResponse:
      type: object
      description: Ответ, содержащий данные о конверсии и показывающий переходы пользователей между состояниями подписки
      properties:
        data:
          type: array
          description: Массив точек данных о конверсии (может быть пустым для агрегированных метрик)
          items:
            type: object
        value:
          type: number
          description: Значение коэффициента конверсии
        value_from:
          type: integer
          description: Начальное состояние подписки для конверсии
        value_to:
          type: integer
          description: Целевое состояние подписки для конверсии
        compare_value_from:
          type: number
          nullable: true
          description: Начальное значение для сравниваемого периода
        compare_value_to:
          type: number
          nullable: true
          description: Конечное значение для сравниваемого периода
        title:
          type: string
          description: Отображаемый заголовок, описывающий тип конверсии
        type:
          type: string
          description: Тип метрики конверсии
        default_aggregation:
          type: string
          description: Метод агрегации по умолчанию для данной метрики
        description:
          type: string
          description: Подробное объяснение того, как рассчитывается коэффициент конверсии
        metric_name:
          type: string
          description: Внутреннее название метрики конверсии
        is_json:
          type: boolean
          description: Указывает, представлены ли данные в формате JSON
        unit:
          type: string
          description: Единица измерения (как правило, 'percent' для коэффициентов конверсии)
        recommended_period:
          type: object
          description: Рекомендуемый диапазон дат для данной метрики конверсии
          properties:
            date_from:
              type: string
              description: Начальная дата рекомендуемого периода
            date_to:
              type: string
              description: Конечная дата рекомендуемого периода
            period_unit:
              type: string
              description: Рекомендуемая единица периода
    FunnelDataResponse:
      type: object
      description: Ответ, содержащий данные анализа воронки, показывающие прогресс пользователей по этапам конверсии
      properties:
        data:
          type: array
          description: Массив сегментов воронки, отображающих различные этапы процесса конверсии
          items:
            $ref: '#/components/schemas/FunnelSegment'
    FunnelSegment:
      type: object
      description: Сегмент воронки, представляющий этап в процессе конверсии
      properties:
        title:
          type: string
          description: Отображаемое название данного сегмента воронки
        type:
          type: string
          description: Тип сегмента воронки ('total' для агрегированных данных)
        values:
          type: array
          description: Массив значений воронки, отражающих прохождение по этапам
          items:
            $ref: '#/components/schemas/FunnelValue'
    FunnelValue:
      type: object
      description: Значение отдельного этапа воронки, показывающее продвижение пользователей и отток
      properties:
        period:
          type: integer
          description: Номер периода в воронке (-2 = установка, -1 = пейвол отображён и т.д.)
        title:
          type: string
          description: Отображаемое название данного этапа воронки
        value:
          type: integer
          description: Количество пользователей, достигших данного этапа
        value_relative:
          type: number
          description: Процент пользователей, достигших данного этапа, относительно первого этапа
        relative_changes:
          type: number
          description: Изменение коэффициента конверсии по сравнению с предыдущим периодом
        following_changes:
          type: object
          description: Информация о пользователях, покинувших воронку после данного этапа
          properties:
            title:
              type: string
              description: Название этапа оттока
            value:
              type: integer
              description: Количество пользователей, покинувших воронку
            value_relative:
              type: number
              description: Процент пользователей, покинувших воронку
        churn_reason_title:
          type: string
          description: Название, описывающее причину оттока на данном этапе
        churn_reasons:
          type: array
          description: Массив конкретных причин оттока
          items:
            type: object
        values:
          type: array
          description: Дополнительные вложенные значения для данного этапа воронки
          items:
            type: object
    LTVDataResponse:
      type: object
      description: Ответ, содержащий данные о пожизненной ценности (LTV) для различных типов выручки
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV, рассчитанный на основе валовой выручки
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV, рассчитанный на основе поступлений (после вычета комиссии стора)
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV, рассчитанный на основе чистой выручки
    LTVMetric:
      type: object
      description: Отдельная метрика LTV, содержащая данные когорты и расчёты
      properties:
        data:
          type: array
          description: Массив точек данных LTV для различных когорт
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: HTML-описание, объясняющее способ расчёта LTV
        value:
          type: number
          description: Общее значение LTV
        unit:
          type: string
          description: Единица измерения (как правило, «USD»)
        title:
          type: string
          description: Отображаемый заголовок данной метрики LTV
    LTVData:
      type: object
      description: Отдельная точка данных LTV для конкретной когорты
      properties:
        title:
          type: string
          description: Отображаемый заголовок для данной точки данных LTV
        type:
          type: string
          description: Тип данных LTV ('total' для агрегированных данных)
        value:
          type: number
          description: Значение LTV для данной когорты
        values:
          type: array
          description: Массив значений LTV по периодам
          items:
            type: object
        cohort_size:
          type: integer
          description: Количество пользователей в данной когорте
    RetentionDataResponse:
      type: object
      description: Ответ, содержащий данные об удержании пользователей с течением времени
      properties:
        data:
          type: array
          description: Массив точек данных об удержании (может быть пустым для некоторых типов удержания)
          items:
            type: object
        title:
          type: string
          description: Отображаемое название метрики удержания
        metric_name:
          type: string
          description: Внутреннее название метрики удержания
        description:
          type: string
          description: Пояснение способа расчёта удержания (абсолютные или относительные значения)
        value_type:
          type: string
          nullable: true
          description: Тип значения удержания (абсолютное или относительное)
security:
  - apikeyAuth: []
