openapi: 3.1.0
info:
  title: Adapty エクスポートアナリティクス API
  version: 1.0.0
  description: |
    Adapty エクスポートアナリティクス API を使用すると、アナリティクスデータを CSV または JSON 形式でエクスポートできます。
    アプリのパフォーマンス指標をより深く分析し、レポートをカスタマイズして、
    時系列のトレンドを分析する柔軟性が得られます。この API を使用することで、詳細なアナリティクスデータを簡単に取得し、
    データインサイトを追跡・共有・改善することができます。
servers:
  - url: https://api-admin.adapty.io
    description: 本番サーバー
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: アナリティクスデータの取得
      description: "チャートでのユーザー行動とパフォーマンス指標のインサイトを得るためのアナリティクスデータを取得します。\n\nこのエンドポイントの収益は**イベントベース**です。各値は**トランザクション日**（購入、更新、または返金が発生した日）に紐付けられます。収益をトランザクション日ではなく各ユーザーのインストール日に紐付ける場合（例：Ads Manager との照合）は、コホートエンドポイント（`POST /api/v1/client-api/metrics/cohort/`）を使用してください。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: 基本的なアナリティクスデータリクエスト
                value:
                  chart_id: "revenue"
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    country: ["us"]
                    attribution_channel: ["social_media_influencers"]
                  period_unit: "week"
                  segmentation: "attribution_campaign"
      responses:
        '200':
          description: アナリティクスデータを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: CSV 形式のアナリティクスデータ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/metrics/cohort/:
    post:
      summary: コホートデータの取得
      description: "ユーザーグループを時系列で追跡するためのコホートデータを取得します。\n\nこのエンドポイントの収益は**インストール日コホート**ベースです。各ユーザーの収益はトランザクション日ではなく**インストール日**に紐付けられます。レスポンスには `total_revenue_usd` と `total_proceeds_usd` が含まれます。インストール日ベースでもある Ads Manager との内部レポート照合には、アナリティクスエンドポイントではなくこのエンドポイントを使用してください。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: 基本的なコホートデータリクエスト
                value:
                  filters:
                    date: ["2024-04-01", "2024-09-30"]
                    store: ["app_store"]
                    country: ["us"]
                  period_unit: "month"
                  period_type: "renewals"
                  value_type: "absolute"
                  value_field: "subscriptions"
      responses:
        '200':
          description: コホートデータを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: "2024-04-01"
                    type: "total"
                    title: "Total"
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0.0
                    total_proceeds_usd: 0.0
                    total_net_revenue_usd: 0.0
                    total_anrpas_usd: 0.0
                    total_appas_usd: 0.0
                    total_arpas_usd: 0.0
                    total_anrppu_usd: 0.0
                    total_apppu_usd: 0.0
                    total_arppu_usd: 0.0
                    total_anrpu_usd: 0.0
                    total_appu_usd: 0.0
                    total_arpu_usd: 0.0
                    predict: null
                    values:
                      - arpas_usd: 0.0
                        appas_usd: 0.0
                        anrpas_usd: 0.0
                        anrppu_usd: 0.0
                        apppu_usd: 0.0
                        arppu_usd: 0.0
                        anrpu_usd: 0.0
                        appu_usd: 0.0
                        arpu_usd: 0.0
                        installs: 0
                        period: 1
                        revenue_usd: 0.0
                        proceeds_usd: 0.0
                        net_revenue_usd: 0.0
                        revenue_relative: 0.0
                        proceeds_relative: 0.0
                        net_revenue_relative: 0.0
                        subscriptions: 0
                        subscriptions_relative: 0.0
                        subscribers: 0
                        subscribers_relative: 0.0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: CSV 形式のコホートデータ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/metrics/conversion/:
    post:
      summary: コンバージョンデータの取得
      description: "ユーザーアクションを分析し、マーケティング施策の効果を時系列で測定するためのコンバージョンデータを取得します。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: 基本的なコンバージョンデータリクエスト
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                  from_period: 1
                  to_period: "6+"
                  period_unit: "month"
                  date_type: "purchase_date"
                  segmentation: "country"
                  format: "json"
      responses:
        '200':
          description: コンバージョンデータを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0.0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: "Conversion rate from Paid to more than 6 months"
                type: "multi"
                default_aggregation: "sum"
                description: "If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment."
                metric_name: "from_paid_to_6_months_conversion"
                is_json: true
                unit: "percent"
                recommended_period:
                  date_from: "2018-04-29"
                  date_to: "2024-12-31"
                  period_unit: "month"
            text/csv:
              schema:
                type: string
                description: CSV 形式のコンバージョンデータ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/metrics/funnel/:
    post:
      summary: ファネルデータの取得
      description: "コンバージョンプロセスの特定ステージにおけるユーザーの進行状況を追跡するためのファネルデータを取得します。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: 基本的なファネルデータリクエスト
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                    offer_category: ["promotional"]
                  period_unit: "quarter"
                  show_value_as: "absolute"
                  format: "csv"
      responses:
        '200':
          description: ファネルデータを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: "Total"
                    type: "total"
                    values:
                      - period: -2
                        title: "Install"
                        value: 2
                        value_relative: 100.0
                        relative_changes: 0.0
                        following_changes:
                          title: "Drop off"
                          value: 2
                          value_relative: 100.0
                        churn_reason_title: ""
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: "Paywall displayed"
                        value: 0
                        value_relative: 0.0
                        relative_changes: 0.0
                        following_changes:
                          title: "Drop off"
                          value: 0
                          value_relative: 0.0
                        churn_reason_title: ""
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: CSV 形式のファネルデータ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/metrics/ltv/:
    post:
      summary: ライフタイムバリュー（LTV）データの取得
      description: "顧客のエンゲージメント期間における長期的な収益ポテンシャルを評価するための LTV データを取得します。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: 基本的な LTV データリクエスト
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                    offer_category: ["introductory"]
                    store: ["app_store"]
                    country: ["us"]
                    attribution_source: ["appsflyer"]
                    attribution_status: ["organic"]
                    attribution_channel: ["social_media"]
                  period_unit: "quarter"
                  period_type: "renewals"
                  segmentation: "store_product_id"
                  format: "csv"
      responses:
        '200':
          description: LTV データを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
                proceeds:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
                net_revenue:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
            text/csv:
              schema:
                type: string
                description: CSV 形式の LTV データ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/metrics/retention/:
    post:
      summary: リテンションデータの取得
      description: "プロダクトがユーザーのエンゲージメントを時系列で維持する能力を分析するためのリテンションデータを取得します。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: 基本的なリテンションデータリクエスト
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                  period_unit: "quarter"
                  period_type: "renewals"
                  segmentation: "store_product_id"
                  format: "csv"
      responses:
        '200':
          description: リテンションデータを正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: "Subscription retention"
                metric_name: "Subscription retention"
                description: "Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step."
                value_type: null
            text/csv:
              schema:
                type: string
                description: CSV 形式のリテンションデータ
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

  /api/v1/client-api/exports/placements/:
    post:
      summary: プレースメント情報の取得
      description: "ペイウォールまたはオンボーディングのプレースメントに関する情報（ペイウォール、セグメント、オーディエンス、A/B テスト）を取得します。これにより、各プレースメントを個別に開くことなく、すべてが正しく設定されていることを確認できます。\n\nレート制限：1 秒あたり 2 リクエスト。"
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: 基本的なプレースメント情報リクエスト
                value:
                  filters:
                    placement_type: "paywall"
      responses:
        '200':
          description: プレースメント情報を正常に取得しました
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: CSV 形式のプレースメント情報
        '400':
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 認証されていません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: レート制限を超過しました。API キーごとに 1 秒あたり最大 2 リクエストです。

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        API リクエストは、シークレット API キーを Authorization ヘッダーとして使用して認証する必要があります。
        API キーはアプリ設定で確認できます。形式は `Api-Key {YOUR_SECRET_API_KEY}` です。
        例：`Api-Key secret_live_...`

  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum: [revenue, mrr, arr, arppu, subscriptions_active, subscriptions_new, subscriptions_renewal_cancelled, subscriptions_expired, trials_active, trials_new, trials_renewal_cancelled, trials_expired, grace_period, billing_issue, refund_events, refund_money, non_subscriptions, arpu, installs]
          description: 取得するチャートを指定します。1 回のリクエストで指定できるチャートタイプは 1 つのみです。
          example: "revenue"
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
          default: "month"
        date_type:
          type: string
          enum: [purchase_date, profile_install_date]
          description: ユーザーの参加日として扱う日付を指定します
          default: "purchase_date"
        segmentation:
          type: string
          description: セグメンテーションの基準を設定します
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
          default: "month"
        period_type:
          type: string
          enum: [renewals, days]
          description: 更新回数または日数でデータを分析します
          default: "renewals"
        value_type:
          type: string
          enum: [absolute, relative]
          description: 値の表示方法を指定します
          default: "absolute"
        value_field:
          type: string
          enum: [revenue, arppu, arpu, arpas, subscribers, subscriptions]
          description: 表示する値のタイプを指定します
          default: "revenue"
        accounting_type:
          type: string
          enum: [revenue, proceeds, net_revenue]
          description: 使用する会計方式
          default: "revenue"
        renewal_days:
          type: array
          items:
            type: integer
          description: period_type=days のコホートタイプに使用する、アプリインストールからの経過日数のリスト
        prediction_months:
          type: integer
          enum: [3, 6, 9, 12, 18, 24]
          description: 予測の月数を入力します
          default: 12
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: "null"
          description: コンバージョン開始時のユーザーのサブスクリプション状態
        to_period:
          type: string
          description: コンバージョン後のユーザーの新しいサブスクリプション状態
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
          default: "month"
        date_type:
          type: string
          enum: [purchase_date, profile_install_date]
          description: ユーザーの参加日として扱う日付を指定します
          default: "purchase_date"
        segmentation:
          type: string
          description: セグメンテーションの基準を設定します
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
        show_value_as:
          type: string
          enum: [absolute, relative, both]
          description: 値の表示方法を指定します
        segmentation:
          type: string
          description: セグメンテーションの基準を設定します
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
        period_type:
          type: string
          enum: [renewals, days]
          description: 更新回数または日数でデータを分析します
        segmentation:
          type: string
          description: セグメンテーションの基準を設定します
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: アナリティクスデータを集計する時間間隔を指定します
        segmentation:
          type: string
          description: セグメンテーションの基準を設定します
        use_trial:
          type: boolean
          description: トライアルを使用したかどうかを示すブール値
          default: false
        format:
          type: string
          enum: [json, csv]
          description: エクスポートファイルの形式を指定します
          default: "json"

    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum: [paywall, onboarding]
              description: レスポンスで返すプレースメントをフィルタリングします

    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: プレースメント ID
              placement_name:
                type: string
                description: プレースメント名
              audience_name:
                type: string
                description: オーディエンス名
              segment_name:
                type: string
                description: オーディエンス ID
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: クロスプレースメント A/B テスト名
              ab_test_name:
                type: string
                nullable: true
                description: A/B テスト名
              paywall_name:
                type: string
                description: ペイウォール名（placement_type が paywall の場合のみ返されます）
              onboarding_name:
                type: string
                description: オンボーディング名（placement_type が onboarding の場合のみ返されます）

    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: チャートデータを取得する日付または期間を入力します
        compare_date:
          type: array
          items:
            type: string
          description: 比較する日付または期間を入力します
        store:
          type: array
          items:
            type: string
          description: 購入が行われたアプリストアでフィルタリングします
        country:
          type: array
          items:
            type: string
          description: 購入が行われた国の 2 文字の国コードでフィルタリングします
        store_product_id:
          type: array
          items:
            type: string
          description: アプリストアのプロダクト固有識別子
        duration:
          type: array
          items:
            type: string
          description: サブスクリプションの期間を指定します
        attribution_source:
          type: array
          items:
            type: string
          description: アトリビューションのソースインテグレーション
        attribution_status:
          type: array
          items:
            type: string
          description: アトリビューションがオーガニックか非オーガニックかを示します
        attribution_channel:
          type: array
          items:
            type: string
          description: トランザクションに至ったマーケティングチャネル
        attribution_campaign:
          type: array
          items:
            type: string
          description: トランザクションをもたらしたマーケティングキャンペーン
        attribution_adgroup:
          type: array
          items:
            type: string
          description: トランザクションをもたらしたアトリビューション広告グループ
        attribution_adset:
          type: array
          items:
            type: string
          description: トランザクションに至ったアトリビューション広告セット
        attribution_creative:
          type: array
          items:
            type: string
          description: 効果測定のために追跡される広告またはキャンペーン内の特定のビジュアルまたはテキスト要素
        offer_category:
          type: array
          items:
            type: string
          description: データを取得するオファーカテゴリを指定します
        offer_type:
          type: array
          items:
            type: string
          description: データを取得するオファータイプを指定します
        offer_id:
          type: array
          items:
            type: string
          description: データを取得する特定のオファーを指定します

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    AnalyticsDataResponse:
      type: object
      description: リクエストされたチャートタイプのアナリティクスデータを含むレスポンス
      properties:
        data:
          type: object
          description: 異なる指標タイプ（revenue、proceeds、net_revenue など）を含むオブジェクト
          additionalProperties:
            $ref: '#/components/schemas/MetricData'

    MetricData:
      type: object
      description: 値、説明、メタデータを含む個別の指標データ
      properties:
        data:
          type: array
          description: 指標のデータポイントの配列（集計指標の場合は空になることがあります）
          items:
            type: object
        value:
          type: number
          description: この指標のメイン値
        value_from:
          type: number
          nullable: true
          description: 期間の開始値（該当する場合）
        value_to:
          type: number
          nullable: true
          description: 期間の終了値（該当する場合）
        compare_value_from:
          type: number
          nullable: true
          description: 比較期間の開始値（該当する場合）
        compare_value_to:
          type: number
          nullable: true
          description: 比較期間の終了値（該当する場合）
        title:
          type: string
          description: 指標の表示タイトル
        type:
          type: string
          description: 指標のタイプ（例：'multi'、'single'）
        default_aggregation:
          type: string
          description: デフォルトの集計方法（例：'sum'、'average'）
        description:
          type: string
          description: この指標が何を表し、どのように計算されるかを説明する HTML の説明文
        metric_name:
          type: string
          description: 指標の内部名
        is_json:
          type: boolean
          description: データが JSON 形式かどうか
        unit:
          type: string
          description: 測定単位（例：'USD'、'percent'）
        recommended_period:
          type: object
          nullable: true
          description: この指標の推奨日付範囲
          properties:
            date_from:
              type: string
              description: 推奨期間の開始日
            date_to:
              type: string
              description: 推奨期間の終了日
            period_unit:
              type: string
              description: 推奨する期間の単位（day、week、month など）

    CohortDataResponse:
      type: object
      description: ユーザー行動を時系列で示すコホート分析データを含むレスポンス
      properties:
        data:
          type: array
          description: 同じ期間に開始したユーザーグループを表すコホートセグメントの配列
          items:
            $ref: '#/components/schemas/CohortSegment'

    CohortSegment:
      type: object
      description: 同じ期間に開始したユーザーを表すコホートセグメント
      properties:
        segment_start_date:
          type: string
          description: このコホートセグメントの開始日
        type:
          type: string
          description: セグメントのタイプ（集計データの場合は 'total'、個別コホートの場合は 'single'）
        title:
          type: string
          description: このコホートセグメントの表示タイトル
        total_installs:
          type: integer
          description: このコホートの総アプリインストール数
        total_subscriptions:
          type: integer
          description: このコホートの総サブスクリプション数
        total_paid_subscribers:
          type: integer
          description: このコホートの総有料サブスクライバー数
        total_revenue_usd:
          type: number
          description: このコホートの総収益（USD）
        total_proceeds_usd:
          type: number
          description: このコホートの総プロシード（USD、ストア手数料控除後）
        total_net_revenue_usd:
          type: number
          description: このコホートの総純収益（USD）
        total_anrpas_usd:
          type: number
          description: アクティブサブスクライバー 1 人あたりの平均純収益（ANRPAS）（USD）の合計
        total_appas_usd:
          type: number
          description: アクティブサブスクライバー 1 人あたりの平均プロシード（APPAS）（USD）の合計
        total_arpas_usd:
          type: number
          description: アクティブサブスクライバー 1 人あたりの平均収益（ARPAS）（USD）の合計
        total_anrppu_usd:
          type: number
          description: 有料ユーザー 1 人あたりの平均純収益（ANRPPU）（USD）の合計
        total_apppu_usd:
          type: number
          description: 有料ユーザー 1 人あたりの平均プロシード（APPPU）（USD）の合計
        total_arppu_usd:
          type: number
          description: 有料ユーザー 1 人あたりの平均収益（ARPPU）（USD）の合計
        total_anrpu_usd:
          type: number
          description: ユーザー 1 人あたりの平均純収益（ANRPU）（USD）の合計
        total_appu_usd:
          type: number
          description: ユーザー 1 人あたりの平均プロシード（APPU）（USD）の合計
        total_arpu_usd:
          type: number
          description: ユーザー 1 人あたりの平均収益（ARPU）（USD）の合計
        predict:
          type: object
          nullable: true
          description: このコホートの予測データ（利用可能な場合）
        values:
          type: array
          description: コホートの時系列パフォーマンスを示す期間別値の配列
          items:
            $ref: '#/components/schemas/CohortValue'

    CohortValue:
      type: object
      description: 特定の期間のパフォーマンス指標を示す、コホートセグメント内の個別期間値
      properties:
        arpas_usd:
          type: number
          description: この期間のアクティブサブスクライバー 1 人あたりの平均収益（USD）
        appas_usd:
          type: number
          description: この期間のアクティブサブスクライバー 1 人あたりの平均プロシード（USD）
        anrpas_usd:
          type: number
          description: この期間のアクティブサブスクライバー 1 人あたりの平均純収益（USD）
        anrppu_usd:
          type: number
          description: この期間の有料ユーザー 1 人あたりの平均純収益（USD）
        apppu_usd:
          type: number
          description: この期間の有料ユーザー 1 人あたりの平均プロシード（USD）
        arppu_usd:
          type: number
          description: この期間の有料ユーザー 1 人あたりの平均収益（USD）
        anrpu_usd:
          type: number
          description: この期間のユーザー 1 人あたりの平均純収益（USD）
        appu_usd:
          type: number
          description: この期間のユーザー 1 人あたりの平均プロシード（USD）
        arpu_usd:
          type: number
          description: この期間のユーザー 1 人あたりの平均収益（USD）
        installs:
          type: integer
          description: この期間のアプリインストール数
        period:
          type: integer
          description: 期間番号（1 = 第 1 期間、2 = 第 2 期間など）
        revenue_usd:
          type: number
          description: この期間の総収益（USD）
        proceeds_usd:
          type: number
          description: この期間の総プロシード（USD、ストア手数料控除後）
        net_revenue_usd:
          type: number
          description: この期間の総純収益（USD）
        revenue_relative:
          type: number
          description: 第 1 期間を基準とした収益の割合（100% = 第 1 期間）
        proceeds_relative:
          type: number
          description: 第 1 期間を基準としたプロシードの割合（100% = 第 1 期間）
        net_revenue_relative:
          type: number
          description: 第 1 期間を基準とした純収益の割合（100% = 第 1 期間）
        subscriptions:
          type: integer
          description: この期間のサブスクリプション数
        subscriptions_relative:
          type: number
          description: 第 1 期間を基準としたサブスクリプションの割合（100% = 第 1 期間）
        subscribers:
          type: integer
          description: この期間のサブスクライバー数
        subscribers_relative:
          type: number
          description: 第 1 期間を基準としたサブスクライバーの割合（100% = 第 1 期間）
        currently_active_period:
          type: boolean
          description: このコホートの現在アクティブな期間かどうか

    ConversionDataResponse:
      type: object
      description: サブスクリプション状態間のユーザー推移を示すコンバージョンデータを含むレスポンス
      properties:
        data:
          type: array
          description: コンバージョンデータポイントの配列（集計指標の場合は空になることがあります）
          items:
            type: object
        value:
          type: number
          description: コンバージョン率の値
        value_from:
          type: integer
          description: コンバージョン開始時のサブスクリプション状態
        value_to:
          type: integer
          description: コンバージョン後の目標サブスクリプション状態
        compare_value_from:
          type: number
          nullable: true
          description: 比較期間の開始値
        compare_value_to:
          type: number
          nullable: true
          description: 比較期間の終了値
        title:
          type: string
          description: コンバージョンタイプを説明する表示タイトル
        type:
          type: string
          description: コンバージョン指標のタイプ
        default_aggregation:
          type: string
          description: この指標のデフォルト集計方法
        description:
          type: string
          description: コンバージョン率の計算方法の詳細な説明
        metric_name:
          type: string
          description: コンバージョン指標の内部名
        is_json:
          type: boolean
          description: データが JSON 形式かどうか
        unit:
          type: string
          description: 測定単位（コンバージョン率の場合は通常 'percent'）
        recommended_period:
          type: object
          description: このコンバージョン指標の推奨日付範囲
          properties:
            date_from:
              type: string
              description: 推奨期間の開始日
            date_to:
              type: string
              description: 推奨期間の終了日
            period_unit:
              type: string
              description: 推奨する期間の単位

    FunnelDataResponse:
      type: object
      description: コンバージョンステージを通じたユーザーの推移を示すファネル分析データを含むレスポンス
      properties:
        data:
          type: array
          description: コンバージョンプロセスの各ステージを示すファネルセグメントの配列
          items:
            $ref: '#/components/schemas/FunnelSegment'

    FunnelSegment:
      type: object
      description: コンバージョンプロセスのステージを表すファネルセグメント
      properties:
        title:
          type: string
          description: このファネルセグメントの表示タイトル
        type:
          type: string
          description: ファネルセグメントのタイプ（集計データの場合は 'total'）
        values:
          type: array
          description: ステージを通じた推移を示すファネル値の配列
          items:
            $ref: '#/components/schemas/FunnelValue'

    FunnelValue:
      type: object
      description: ユーザーの推移と離脱を示す個別のファネルステージ値
      properties:
        period:
          type: integer
          description: ファネル内の期間番号（-2 = インストール、-1 = ペイウォール表示など）
        title:
          type: string
          description: このファネルステージの表示タイトル
        value:
          type: integer
          description: このステージに到達したユーザー数
        value_relative:
          type: number
          description: 最初のステージを基準としたこのステージへの到達ユーザーの割合
        relative_changes:
          type: number
          description: 前の期間と比較したコンバージョン率の変化
        following_changes:
          type: object
          description: このステージ後に離脱したユーザーに関する情報
          properties:
            title:
              type: string
              description: 離脱ステージのタイトル
            value:
              type: integer
              description: 離脱したユーザー数
            value_relative:
              type: number
              description: 離脱したユーザーの割合
        churn_reason_title:
          type: string
          description: このステージでのチャーン理由を説明するタイトル
        churn_reasons:
          type: array
          description: 具体的なチャーン理由の配列
          items:
            type: object
        values:
          type: array
          description: このファネルステージの追加ネスト値
          items:
            type: object

    LTVDataResponse:
      type: object
      description: 異なる収益タイプの LTV データを含むレスポンス
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 総収益を使用して計算した LTV
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: プロシード（ストア手数料控除後）を使用して計算した LTV
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 純収益を使用して計算した LTV

    LTVMetric:
      type: object
      description: コホートデータと計算を含む個別の LTV 指標
      properties:
        data:
          type: array
          description: 異なるコホートの LTV データポイントの配列
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: LTV の計算方法を説明する HTML の説明文
        value:
          type: number
          description: 全体的な LTV 値
        unit:
          type: string
          description: 測定単位（通常は 'USD'）
        title:
          type: string
          description: この LTV 指標の表示タイトル

    LTVData:
      type: object
      description: 特定のコホートの個別 LTV データポイント
      properties:
        title:
          type: string
          description: この LTV データポイントの表示タイトル
        type:
          type: string
          description: LTV データのタイプ（集計データの場合は 'total'）
        value:
          type: number
          description: このコホートの LTV 値
        values:
          type: array
          description: 期間別 LTV 値の配列
          items:
            type: object
        cohort_size:
          type: integer
          description: このコホートのユーザー数

    RetentionDataResponse:
      type: object
      description: ユーザーエンゲージメントを時系列で示すリテンションデータを含むレスポンス
      properties:
        data:
          type: array
          description: リテンションデータポイントの配列（リテンションタイプによっては空になることがあります）
          items:
            type: object
        title:
          type: string
          description: リテンション指標の表示タイトル
        metric_name:
          type: string
          description: リテンション指標の内部名
        description:
          type: string
          description: リテンションの計算方法の説明（絶対値と相対値）
        value_type:
          type: string
          nullable: true
          description: リテンション値のタイプ（絶対値または相対値）

security:
  - apikeyAuth: []