openapi: 3.1.0
info:
  title: Adapty Export Analytics API
  version: 1.0.0
  description: |
    Adapty Export Analytics API cho phép bạn xuất dữ liệu analytics sang định dạng CSV hoặc JSON,
    giúp bạn linh hoạt hơn trong việc phân tích sâu các chỉ số hiệu suất của ứng dụng, tùy chỉnh báo cáo
    và phân tích xu hướng theo thời gian. Với API này, bạn có thể dễ dàng trích xuất dữ liệu analytics chi tiết,
    thuận tiện cho việc theo dõi, chia sẻ và tinh chỉnh các thông tin chi tiết từ dữ liệu của bạn khi cần.
servers:
  - url: https://api-admin.adapty.io
    description: Máy chủ sản xuất
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: Truy xuất dữ liệu phân tích
      description: |-
        Truy xuất dữ liệu phân tích để có thông tin chi tiết về hành vi người dùng và các chỉ số hiệu suất nhằm sử dụng thêm trong các biểu đồ.

        Doanh thu từ endpoint này dựa trên **sự kiện**: mỗi giá trị được gán cho **ngày giao dịch** — ngày xảy ra giao dịch mua, gia hạn hoặc hoàn tiền. Để gán doanh thu theo ngày cài đặt của từng người dùng (ví dụ: để đối chiếu với Ads Manager), hãy sử dụng endpoint cohort (`POST /api/v1/client-api/metrics/cohort/`).

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: Basic analytics data request
                value:
                  chart_id: revenue
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    country:
                      - us
                    attribution_channel:
                      - social_media_influencers
                  period_unit: week
                  segmentation: attribution_campaign
      responses:
        '200':
          description: Dữ liệu phân tích được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: Dữ liệu phân tích ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được xác thực
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi ứng dụng, được chia sẻ bởi tất cả các API key của ứng dụng đó.
  /api/v1/client-api/metrics/cohort/:
    post:
      summary: Truy xuất dữ liệu cohort
      description: |-
        Truy xuất dữ liệu cohort để theo dõi các nhóm người dùng theo thời gian.

        Doanh thu từ endpoint này dựa trên **cohort theo ngày cài đặt**: doanh thu của mỗi người dùng được quy cho **ngày cài đặt** của họ, không phải ngày giao dịch. Phản hồi hiển thị `total_revenue_usd` và `total_proceeds_usd`. Sử dụng endpoint này (thay vì endpoint analytics) để đối chiếu báo cáo nội bộ với Ads Manager, vốn cũng dựa trên cohort/ngày cài đặt.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: Yêu cầu dữ liệu cohort cơ bản
                value:
                  filters:
                    date:
                      - '2024-04-01'
                      - '2024-09-30'
                    store:
                      - app_store
                    country:
                      - us
                  period_unit: month
                  period_type: renewals
                  value_type: absolute
                  value_field: subscriptions
      responses:
        '200':
          description: Dữ liệu cohort được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: '2024-04-01'
                    type: total
                    title: Total
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0
                    total_proceeds_usd: 0
                    total_net_revenue_usd: 0
                    total_anrpas_usd: 0
                    total_appas_usd: 0
                    total_arpas_usd: 0
                    total_anrppu_usd: 0
                    total_apppu_usd: 0
                    total_arppu_usd: 0
                    total_anrpu_usd: 0
                    total_appu_usd: 0
                    total_arpu_usd: 0
                    predict: null
                    values:
                      - arpas_usd: 0
                        appas_usd: 0
                        anrpas_usd: 0
                        anrppu_usd: 0
                        apppu_usd: 0
                        arppu_usd: 0
                        anrpu_usd: 0
                        appu_usd: 0
                        arpu_usd: 0
                        installs: 0
                        period: 1
                        revenue_usd: 0
                        proceeds_usd: 0
                        net_revenue_usd: 0
                        revenue_relative: 0
                        proceeds_relative: 0
                        net_revenue_relative: 0
                        subscriptions: 0
                        subscriptions_relative: 0
                        subscribers: 0
                        subscribers_relative: 0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: Dữ liệu cohort ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép truy cập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây trên mỗi ứng dụng, dùng chung cho tất cả các API key của ứng dụng đó.
  /api/v1/client-api/metrics/conversion/:
    post:
      summary: Truy xuất dữ liệu chuyển đổi
      description: |-
        Truy xuất dữ liệu chuyển đổi để phân tích hành động của người dùng và đo lường hiệu quả của các nỗ lực marketing theo thời gian.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: Basic conversion data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                  from_period: 1
                  to_period: 6+
                  period_unit: month
                  date_type: purchase_date
                  segmentation: country
                  format: json
      responses:
        '200':
          description: Truy xuất dữ liệu chuyển đổi thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: Conversion rate from Paid to more than 6 months
                type: multi
                default_aggregation: sum
                description: If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment.
                metric_name: from_paid_to_6_months_conversion
                is_json: true
                unit: percent
                recommended_period:
                  date_from: '2018-04-29'
                  date_to: '2024-12-31'
                  period_unit: month
            text/csv:
              schema:
                type: string
                description: Dữ liệu chuyển đổi ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được xác thực
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi ứng dụng, được chia sẻ bởi tất cả các API key của ứng dụng.
  /api/v1/client-api/metrics/funnel/:
    post:
      summary: Truy xuất dữ liệu phễu
      description: |-
        Truy xuất dữ liệu phễu để theo dõi tiến trình của người dùng qua các giai đoạn cụ thể trong quy trình chuyển đổi.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: Yêu cầu dữ liệu phễu cơ bản
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - promotional
                  period_unit: quarter
                  show_value_as: absolute
                  format: csv
      responses:
        '200':
          description: Dữ liệu phễu được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: Total
                    type: total
                    values:
                      - period: -2
                        title: Install
                        value: 2
                        value_relative: 100
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 2
                          value_relative: 100
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: Paywall displayed
                        value: 0
                        value_relative: 0
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 0
                          value_relative: 0
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: Dữ liệu phễu ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi ứng dụng, được chia sẻ bởi tất cả các API key của ứng dụng.
  /api/v1/client-api/metrics/ltv/:
    post:
      summary: Truy xuất dữ liệu Lifetime Value (LTV)
      description: |-
        Truy xuất dữ liệu LTV để đánh giá tiềm năng doanh thu dài hạn của khách hàng trong suốt thời gian tương tác của họ.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: Yêu cầu dữ liệu LTV cơ bản
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - introductory
                    store:
                      - app_store
                    country:
                      - us
                    attribution_source:
                      - appsflyer
                    attribution_status:
                      - organic
                    attribution_channel:
                      - social_media
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Dữ liệu LTV được truy xuất thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                proceeds:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                net_revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
            text/csv:
              schema:
                type: string
                description: Dữ liệu LTV ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi ứng dụng, được chia sẻ bởi tất cả các API key của ứng dụng đó.
  /api/v1/client-api/metrics/retention/:
    post:
      summary: Truy xuất dữ liệu retention
      description: |-
        Truy xuất dữ liệu retention để phân tích khả năng giữ chân người dùng của sản phẩm theo thời gian.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: Yêu cầu dữ liệu retention cơ bản
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Truy xuất dữ liệu retention thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: Subscription retention
                metric_name: Subscription retention
                description: Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step.
                value_type: null
            text/csv:
              schema:
                type: string
                description: Dữ liệu retention ở định dạng CSV
        '400':
          description: Yêu cầu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Không được phép
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi ứng dụng, dùng chung cho tất cả các API key của ứng dụng.
  /api/v1/client-api/exports/placements/:
    post:
      summary: Lấy thông tin placement
      description: |-
        Lấy thông tin về các placement của paywall hoặc onboarding: paywall, phân khúc, đối tượng và A/B test. Điều này giúp bạn đảm bảo mọi thứ được thiết lập chính xác mà không cần phải mở từng placement riêng lẻ.

        Giới hạn tốc độ: 2 yêu cầu mỗi giây.
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: Basic placement info request
                value:
                  filters:
                    placement_type: paywall
      responses:
        '200':
          description: Thông tin placement đã được lấy thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: Thông tin placement ở định dạng CSV
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Vượt quá giới hạn tốc độ. Tối đa 2 yêu cầu mỗi giây cho mỗi API key.
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Bạn cần xác thực các yêu cầu API của mình bằng khóa API bí mật dưới dạng header Authorization.
        Bạn có thể tìm thấy khóa này trong App Settings. Định dạng là `Api-Key {YOUR_SECRET_API_KEY}`,
        ví dụ: `Api-Key secret_live_...`.
  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum:
            - revenue
            - mrr
            - arr
            - arppu
            - subscriptions_active
            - subscriptions_new
            - subscriptions_renewal_cancelled
            - subscriptions_expired
            - trials_active
            - trials_new
            - trials_renewal_cancelled
            - trials_expired
            - grace_period
            - billing_issue
            - refund_events
            - refund_money
            - non_subscriptions
            - arpu
            - installs
          description: Chỉ định biểu đồ bạn cần. Bạn chỉ có thể chỉ định một loại biểu đồ trong mỗi yêu cầu.
          example: revenue
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Chỉ định ngày nào sẽ được coi là ngày người dùng tham gia
          default: purchase_date
        segmentation:
          type: string
          description: Thiết lập cơ sở để phân khúc
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
          default: month
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Phân tích dữ liệu theo lần gia hạn hoặc theo ngày
          default: renewals
        value_type:
          type: string
          enum:
            - absolute
            - relative
          description: Chỉ định cách hiển thị các giá trị
          default: absolute
        value_field:
          type: string
          enum:
            - revenue
            - arppu
            - arpu
            - arpas
            - subscribers
            - subscriptions
          description: Chỉ định loại giá trị được hiển thị
          default: revenue
        accounting_type:
          type: string
          enum:
            - revenue
            - proceeds
            - net_revenue
          description: Phương pháp kế toán được sử dụng
          default: revenue
        renewal_days:
          type: array
          items:
            type: integer
          description: Danh sách số ngày kể từ khi cài đặt ứng dụng cho loại cohort period_type=days
        prediction_months:
          type: integer
          enum:
            - 3
            - 6
            - 9
            - 12
            - 18
            - 24
          description: Nhập số tháng dự đoán bạn muốn
          default: 12
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: 'null'
          description: Trạng thái gói đăng ký ban đầu của người dùng trong quá trình chuyển đổi
        to_period:
          type: string
          description: Trạng thái gói đăng ký mới của người dùng sau khi chuyển đổi
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Chỉ định ngày nào sẽ được coi là ngày người dùng tham gia
          default: purchase_date
        segmentation:
          type: string
          description: Đặt cơ sở cho việc phân khúc
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
        show_value_as:
          type: string
          enum:
            - absolute
            - relative
            - both
          description: Chỉ định cách hiển thị các giá trị
        segmentation:
          type: string
          description: Đặt cơ sở để phân khúc
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Phân tích dữ liệu theo số lần gia hạn hoặc theo ngày
        segmentation:
          type: string
          description: Đặt cơ sở để phân khúc
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Chỉ định khoảng thời gian để tổng hợp dữ liệu phân tích
        segmentation:
          type: string
          description: Đặt cơ sở cho việc phân khúc
        use_trial:
          type: boolean
          description: Giá trị boolean cho biết liệu có sử dụng thời gian dùng thử hay không
          default: false
        format:
          type: string
          enum:
            - json
            - csv
          description: Chỉ định định dạng tệp xuất
          default: json
    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum:
                - paywall
                - onboarding
              description: Lọc các placement sẽ được gửi trong phản hồi
    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: ID của placement
              placement_name:
                type: string
                description: Tên placement
              audience_name:
                type: string
                description: Tên đối tượng
              segment_name:
                type: string
                description: ID đối tượng
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: Tên A/B test xuyên placement
              ab_test_name:
                type: string
                nullable: true
                description: Tên A/B test
              paywall_name:
                type: string
                description: Tên paywall (chỉ trả về nếu placement_type là paywall)
              onboarding_name:
                type: string
                description: Tên onboarding (chỉ trả về nếu placement_type là onboarding)
    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: Nhập ngày hoặc khoảng thời gian bạn muốn truy xuất dữ liệu biểu đồ
        compare_date:
          type: array
          items:
            type: string
          description: Nhập ngày hoặc khoảng thời gian để so sánh
        store:
          type: array
          items:
            type: string
          description: Lọc theo cửa hàng ứng dụng nơi thực hiện giao dịch mua
        country:
          type: array
          items:
            type: string
          description: Lọc theo mã quốc gia 2 chữ cái nơi thực hiện giao dịch mua
        store_product_id:
          type: array
          items:
            type: string
          description: ID sản phẩm được xác định bởi cửa hàng, có định dạng `<store>:<product_id>` — ví dụ `app_store:premium_monthly` hoặc `play_store:premium_sub:monthly-base-plan` cho gói đăng ký Google có base plan. ID sản phẩm không có tiền tố cửa hàng sẽ bị từ chối.
        duration:
          type: array
          items:
            type: string
          description: Chỉ định thời hạn của gói đăng ký
        attribution_source:
          type: array
          items:
            type: string
          description: Tích hợp nguồn cho attribution
        attribution_status:
          type: array
          items:
            type: string
          description: Cho biết attribution là organic hay non-organic
        attribution_channel:
          type: array
          items:
            type: string
          description: Kênh marketing dẫn đến giao dịch
        attribution_campaign:
          type: array
          items:
            type: string
          description: Chiến dịch marketing mang lại giao dịch
        attribution_adgroup:
          type: array
          items:
            type: string
          description: Nhóm quảng cáo attribution mang lại giao dịch
        attribution_adset:
          type: array
          items:
            type: string
          description: Bộ quảng cáo attribution dẫn đến giao dịch
        attribution_creative:
          type: array
          items:
            type: string
          description: Các yếu tố hình ảnh hoặc văn bản cụ thể trong quảng cáo hoặc chiến dịch được theo dõi để đo lường hiệu quả
        offer_category:
          type: array
          items:
            type: string
          description: Chỉ định các danh mục ưu đãi bạn muốn truy xuất dữ liệu
        offer_type:
          type: array
          items:
            type: string
          description: Chỉ định các loại ưu đãi bạn muốn truy xuất dữ liệu
        offer_id:
          type: array
          items:
            type: string
          description: Chỉ định các ưu đãi cụ thể bạn muốn truy xuất dữ liệu
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    AnalyticsDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu phân tích cho loại biểu đồ được yêu cầu
      properties:
        data:
          type: object
          description: Đối tượng chứa các loại chỉ số khác nhau (revenue, proceeds, net_revenue, v.v.)
          additionalProperties:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      description: Dữ liệu chỉ số riêng lẻ chứa các giá trị, mô tả và siêu dữ liệu
      properties:
        data:
          type: array
          description: Mảng các điểm dữ liệu cho chỉ số (có thể rỗng đối với các chỉ số tổng hợp)
          items:
            type: object
        value:
          type: number
          description: Giá trị chính của chỉ số này
        value_from:
          type: number
          nullable: true
          description: Giá trị bắt đầu của kỳ (nếu áp dụng)
        value_to:
          type: number
          nullable: true
          description: Giá trị kết thúc của kỳ (nếu áp dụng)
        compare_value_from:
          type: number
          nullable: true
          description: Giá trị bắt đầu cho kỳ so sánh (nếu áp dụng)
        compare_value_to:
          type: number
          nullable: true
          description: Giá trị kết thúc cho kỳ so sánh (nếu áp dụng)
        title:
          type: string
          description: Tiêu đề hiển thị của chỉ số
        type:
          type: string
          description: 'Loại chỉ số (ví dụ: ''multi'', ''single'')'
        default_aggregation:
          type: string
          description: 'Phương pháp tổng hợp mặc định (ví dụ: ''sum'', ''average'')'
        description:
          type: string
          description: Mô tả HTML giải thích chỉ số này đại diện cho điều gì và cách tính toán
        metric_name:
          type: string
          description: Tên nội bộ của chỉ số
        is_json:
          type: boolean
          description: Dữ liệu có ở định dạng JSON hay không
        unit:
          type: string
          description: 'Đơn vị đo lường (ví dụ: ''USD'', ''percent'')'
        recommended_period:
          type: object
          nullable: true
          description: Khoảng ngày được đề xuất cho chỉ số này
          properties:
            date_from:
              type: string
              description: Ngày bắt đầu của kỳ được đề xuất
            date_to:
              type: string
              description: Ngày kết thúc của kỳ được đề xuất
            period_unit:
              type: string
              description: Đơn vị kỳ được đề xuất (day, week, month, v.v.)
    CohortDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu phân tích cohort cho thấy hành vi người dùng theo thời gian
      properties:
        data:
          type: array
          description: Mảng các phân khúc cohort, mỗi phân khúc đại diện cho một nhóm người dùng bắt đầu trong cùng một khoảng thời gian
          items:
            $ref: '#/components/schemas/CohortSegment'
    CohortSegment:
      type: object
      description: Một phân khúc cohort đại diện cho những người dùng bắt đầu trong cùng một khoảng thời gian
      properties:
        segment_start_date:
          type: string
          description: Ngày bắt đầu của phân khúc cohort này
        type:
          type: string
          description: Loại phân khúc ('total' cho dữ liệu tổng hợp, 'single' cho cohort riêng lẻ)
        title:
          type: string
          description: Tiêu đề hiển thị cho phân khúc cohort này
        total_installs:
          type: integer
          description: Tổng số lần cài đặt ứng dụng trong cohort này
        total_subscriptions:
          type: integer
          description: Tổng số gói đăng ký trong cohort này
        total_paid_subscribers:
          type: integer
          description: Tổng số người đăng ký trả phí trong cohort này
        total_revenue_usd:
          type: number
          description: Tổng doanh thu tính bằng USD cho cohort này
        total_proceeds_usd:
          type: number
          description: Tổng tiền thu về tính bằng USD cho cohort này (sau khi trừ phí cửa hàng)
        total_net_revenue_usd:
          type: number
          description: Tổng doanh thu ròng tính bằng USD cho cohort này
        total_anrpas_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người đăng ký đang hoạt động (ANRPAS) tính bằng USD
        total_appas_usd:
          type: number
          description: Tổng Tiền thu về trung bình trên mỗi người đăng ký đang hoạt động (APPAS) tính bằng USD
        total_arpas_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người đăng ký đang hoạt động (ARPAS) tính bằng USD
        total_anrppu_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người dùng trả phí (ANRPPU) tính bằng USD
        total_apppu_usd:
          type: number
          description: Tổng Tiền thu về trung bình trên mỗi người dùng trả phí (APPPU) tính bằng USD
        total_arppu_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người dùng trả phí (ARPPU) tính bằng USD
        total_anrpu_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người dùng (ANRPU) tính bằng USD
        total_appu_usd:
          type: number
          description: Tổng Tiền thu về trung bình trên mỗi người dùng (APPU) tính bằng USD
        total_arpu_usd:
          type: number
          description: Tổng Doanh thu trung bình trên mỗi người dùng (ARPU) tính bằng USD
        predict:
          type: object
          nullable: true
          description: Dữ liệu dự đoán cho cohort này (nếu có)
        values:
          type: array
          description: Mảng các giá trị theo kỳ hiển thị hiệu suất của cohort theo thời gian
          items:
            $ref: '#/components/schemas/CohortValue'
    CohortValue:
      type: object
      description: Giá trị từng kỳ riêng lẻ trong một phân khúc cohort, hiển thị các chỉ số hiệu suất cho một khoảng thời gian cụ thể
      properties:
        arpas_usd:
          type: number
          description: Doanh thu trung bình trên mỗi người đăng ký đang hoạt động (USD) trong kỳ này
        appas_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người đăng ký đang hoạt động (USD) trong kỳ này
        anrpas_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người đăng ký đang hoạt động (USD) trong kỳ này
        anrppu_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người dùng trả phí (USD) trong kỳ này
        apppu_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người dùng trả phí (USD) trong kỳ này
        arppu_usd:
          type: number
          description: Doanh thu trung bình trên mỗi người dùng trả phí (USD) trong kỳ này
        anrpu_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người dùng (USD) trong kỳ này
        appu_usd:
          type: number
          description: Doanh thu ròng trung bình trên mỗi người dùng (USD) trong kỳ này
        arpu_usd:
          type: number
          description: Doanh thu trung bình trên mỗi người dùng (USD) trong kỳ này
        installs:
          type: integer
          description: Số lượt cài đặt ứng dụng trong kỳ này
        period:
          type: integer
          description: Số thứ tự kỳ (1 = kỳ đầu tiên, 2 = kỳ thứ hai, v.v.)
        revenue_usd:
          type: number
          description: Tổng doanh thu (USD) trong kỳ này
        proceeds_usd:
          type: number
          description: Tổng doanh thu ròng (USD) trong kỳ này (sau khi trừ phí cửa hàng)
        net_revenue_usd:
          type: number
          description: Tổng doanh thu thuần (USD) trong kỳ này
        revenue_relative:
          type: number
          description: Doanh thu theo phần trăm so với kỳ đầu tiên (100% = kỳ đầu tiên)
        proceeds_relative:
          type: number
          description: Doanh thu ròng theo phần trăm so với kỳ đầu tiên (100% = kỳ đầu tiên)
        net_revenue_relative:
          type: number
          description: Doanh thu thuần theo phần trăm so với kỳ đầu tiên (100% = kỳ đầu tiên)
        subscriptions:
          type: integer
          description: Số lượng gói đăng ký trong kỳ này
        subscriptions_relative:
          type: number
          description: Số gói đăng ký theo phần trăm so với kỳ đầu tiên (100% = kỳ đầu tiên)
        subscribers:
          type: integer
          description: Số người đăng ký trong kỳ này
        subscribers_relative:
          type: number
          description: Số người đăng ký theo phần trăm so với kỳ đầu tiên (100% = kỳ đầu tiên)
        currently_active_period:
          type: boolean
          description: Cho biết đây có phải là kỳ đang hoạt động hiện tại của cohort hay không
    ConversionDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu chuyển đổi thể hiện quá trình chuyển đổi của người dùng giữa các trạng thái gói đăng ký
      properties:
        data:
          type: array
          description: Mảng các điểm dữ liệu chuyển đổi (có thể rỗng đối với các chỉ số tổng hợp)
          items:
            type: object
        value:
          type: number
          description: Giá trị tỷ lệ chuyển đổi
        value_from:
          type: integer
          description: Trạng thái gói đăng ký bắt đầu cho quá trình chuyển đổi
        value_to:
          type: integer
          description: Trạng thái gói đăng ký mục tiêu cho quá trình chuyển đổi
        compare_value_from:
          type: number
          nullable: true
          description: Giá trị bắt đầu cho khoảng thời gian so sánh
        compare_value_to:
          type: number
          nullable: true
          description: Giá trị kết thúc cho khoảng thời gian so sánh
        title:
          type: string
          description: Tiêu đề hiển thị mô tả loại chuyển đổi
        type:
          type: string
          description: Loại chỉ số chuyển đổi
        default_aggregation:
          type: string
          description: Phương pháp tổng hợp mặc định cho chỉ số này
        description:
          type: string
          description: Giải thích chi tiết về cách tính tỷ lệ chuyển đổi
        metric_name:
          type: string
          description: Tên nội bộ của chỉ số chuyển đổi
        is_json:
          type: boolean
          description: Dữ liệu có ở định dạng JSON hay không
        unit:
          type: string
          description: Đơn vị đo lường (thường là 'percent' đối với tỷ lệ chuyển đổi)
        recommended_period:
          type: object
          description: Khoảng thời gian được đề xuất cho chỉ số chuyển đổi này
          properties:
            date_from:
              type: string
              description: Ngày bắt đầu của khoảng thời gian được đề xuất
            date_to:
              type: string
              description: Ngày kết thúc của khoảng thời gian được đề xuất
            period_unit:
              type: string
              description: Đơn vị khoảng thời gian được đề xuất
    FunnelDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu phân tích phễu hiển thị tiến trình của người dùng qua các giai đoạn chuyển đổi
      properties:
        data:
          type: array
          description: Mảng các phân khúc phễu hiển thị các giai đoạn khác nhau của quá trình chuyển đổi
          items:
            $ref: '#/components/schemas/FunnelSegment'
    FunnelSegment:
      type: object
      description: Một phân khúc phễu đại diện cho một giai đoạn trong quá trình chuyển đổi
      properties:
        title:
          type: string
          description: Tiêu đề hiển thị cho phân khúc phễu này
        type:
          type: string
          description: Loại phân khúc phễu ('total' cho dữ liệu tổng hợp)
        values:
          type: array
          description: Mảng các giá trị phễu hiển thị tiến trình qua các giai đoạn
          items:
            $ref: '#/components/schemas/FunnelValue'
    FunnelValue:
      type: object
      description: Giá trị từng giai đoạn trong phễu hiển thị sự tiến triển và tỷ lệ rời bỏ của người dùng
      properties:
        period:
          type: integer
          description: Số thứ tự giai đoạn trong phễu (-2 = Cài đặt, -1 = Hiển thị paywall, v.v.)
        title:
          type: string
          description: Tiêu đề hiển thị cho giai đoạn phễu này
        value:
          type: integer
          description: Số người dùng đã đến giai đoạn này
        value_relative:
          type: number
          description: Tỷ lệ phần trăm người dùng đã đến giai đoạn này so với giai đoạn đầu tiên
        relative_changes:
          type: number
          description: Thay đổi tỷ lệ chuyển đổi so với giai đoạn trước
        following_changes:
          type: object
          description: Thông tin về người dùng đã rời bỏ sau giai đoạn này
          properties:
            title:
              type: string
              description: Tiêu đề cho giai đoạn rời bỏ
            value:
              type: integer
              description: Số người dùng đã rời bỏ
            value_relative:
              type: number
              description: Tỷ lệ phần trăm người dùng đã rời bỏ
        churn_reason_title:
          type: string
          description: Tiêu đề mô tả lý do rời bỏ tại giai đoạn này
        churn_reasons:
          type: array
          description: Mảng các lý do rời bỏ cụ thể
          items:
            type: object
        values:
          type: array
          description: Các giá trị lồng nhau bổ sung cho giai đoạn phễu này
          items:
            type: object
    LTVDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu Lifetime Value (LTV) cho các loại doanh thu khác nhau
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV được tính dựa trên doanh thu gộp
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV được tính dựa trên số tiền thực nhận (sau khi trừ phí cửa hàng)
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV được tính dựa trên doanh thu thuần
    LTVMetric:
      type: object
      description: Chỉ số LTV riêng lẻ chứa dữ liệu cohort và các phép tính
      properties:
        data:
          type: array
          description: Mảng các điểm dữ liệu LTV cho các cohort khác nhau
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: Mô tả HTML giải thích cách tính LTV
        value:
          type: number
          description: Giá trị LTV tổng thể
        unit:
          type: string
          description: Đơn vị đo lường (thường là 'USD')
        title:
          type: string
          description: Tiêu đề hiển thị cho chỉ số LTV này
    LTVData:
      type: object
      description: Điểm dữ liệu LTV riêng lẻ cho một cohort cụ thể
      properties:
        title:
          type: string
          description: Tiêu đề hiển thị cho điểm dữ liệu LTV này
        type:
          type: string
          description: Loại dữ liệu LTV ('total' cho dữ liệu tổng hợp)
        value:
          type: number
          description: Giá trị LTV cho cohort này
        values:
          type: array
          description: Mảng các giá trị LTV theo từng kỳ
          items:
            type: object
        cohort_size:
          type: integer
          description: Số lượng người dùng trong cohort này
    RetentionDataResponse:
      type: object
      description: Phản hồi chứa dữ liệu giữ chân người dùng theo thời gian
      properties:
        data:
          type: array
          description: Mảng các điểm dữ liệu giữ chân người dùng (có thể rỗng với một số loại giữ chân)
          items:
            type: object
        title:
          type: string
          description: Tiêu đề hiển thị cho chỉ số giữ chân người dùng
        metric_name:
          type: string
          description: Tên nội bộ của chỉ số giữ chân người dùng
        description:
          type: string
          description: Giải thích cách tính toán giữ chân người dùng (giá trị tuyệt đối so với giá trị tương đối)
        value_type:
          type: string
          nullable: true
          description: Loại giá trị giữ chân người dùng (tuyệt đối hoặc tương đối)
security:
  - apikeyAuth: []
