openapi: 3.1.0
info:
  title: Adapty 导出分析 API
  version: 1.0.0
  description: |
    Adapty 导出分析 API 允许您将分析数据导出为 CSV 或 JSON 格式，
    使您能够更深入地了解应用的性能数据图表、自定义报告，
    并随时间分析趋势。借助此 API，您可以轻松提取详细的分析数据，
    方便地追踪、共享和优化您的数据洞察。
servers:
  - url: https://api-admin.adapty.io
    description: 生产服务器
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: 获取分析数据
      description: 获取分析数据，用于洞察用户行为和性能数据图表，以便进一步在数据图表中使用。
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: 基本分析数据请求
                value:
                  chart_id: "revenue"
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    country: ["us"]
                    attribution_channel: ["social_media_influencers"]
                  period_unit: "week"
                  segmentation: "attribution_campaign"
      responses:
        '200':
          description: 分析数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0.0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: "revenue"
                    type: "multi"
                    default_aggregation: "sum"
                    description: "<div>Total money received from both subscriptions and one-time purchases. Does not include\nrevenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />\nFor example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />\nrevenue = 5*$10 + 1*$100 + 10*$50 = $650</div>"
                    metric_name: "Revenue"
                    is_json: true
                    unit: "USD"
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: CSV 格式的分析数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/metrics/cohort/:
    post:
      summary: 获取同期群数据
      description: 获取同期群数据，以追踪用户群体随时间的变化情况。
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: 基本同期群数据请求
                value:
                  filters:
                    date: ["2024-04-01", "2024-09-30"]
                    store: ["app_store"]
                    country: ["us"]
                  period_unit: "month"
                  period_type: "renewals"
                  value_type: "absolute"
                  value_field: "subscriptions"
      responses:
        '200':
          description: 同期群数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: "2024-04-01"
                    type: "total"
                    title: "Total"
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0.0
                    total_proceeds_usd: 0.0
                    total_net_revenue_usd: 0.0
                    total_anrpas_usd: 0.0
                    total_appas_usd: 0.0
                    total_arpas_usd: 0.0
                    total_anrppu_usd: 0.0
                    total_apppu_usd: 0.0
                    total_arppu_usd: 0.0
                    total_anrpu_usd: 0.0
                    total_appu_usd: 0.0
                    total_arpu_usd: 0.0
                    predict: null
                    values:
                      - arpas_usd: 0.0
                        appas_usd: 0.0
                        anrpas_usd: 0.0
                        anrppu_usd: 0.0
                        apppu_usd: 0.0
                        arppu_usd: 0.0
                        anrpu_usd: 0.0
                        appu_usd: 0.0
                        arpu_usd: 0.0
                        installs: 0
                        period: 1
                        revenue_usd: 0.0
                        proceeds_usd: 0.0
                        net_revenue_usd: 0.0
                        revenue_relative: 0.0
                        proceeds_relative: 0.0
                        net_revenue_relative: 0.0
                        subscriptions: 0
                        subscriptions_relative: 0.0
                        subscribers: 0
                        subscribers_relative: 0.0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: CSV 格式的同期群数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/metrics/conversion/:
    post:
      summary: 获取转化数据
      description: 获取转化数据，以分析用户行为并衡量营销活动随时间的有效性。
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: 基本转化数据请求
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                  from_period: 1
                  to_period: "6+"
                  period_unit: "month"
                  date_type: "purchase_date"
                  segmentation: "country"
                  format: "json"
      responses:
        '200':
          description: 转化数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0.0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: "Conversion rate from Paid to more than 6 months"
                type: "multi"
                default_aggregation: "sum"
                description: "If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment."
                metric_name: "from_paid_to_6_months_conversion"
                is_json: true
                unit: "percent"
                recommended_period:
                  date_from: "2018-04-29"
                  date_to: "2024-12-31"
                  period_unit: "month"
            text/csv:
              schema:
                type: string
                description: CSV 格式的转化数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/metrics/funnel/:
    post:
      summary: 获取漏斗数据
      description: 获取漏斗数据，以追踪用户在转化流程特定阶段的进展情况。
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: 基本漏斗数据请求
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                    offer_category: ["promotional"]
                  period_unit: "quarter"
                  show_value_as: "absolute"
                  format: "csv"
      responses:
        '200':
          description: 漏斗数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: "Total"
                    type: "total"
                    values:
                      - period: -2
                        title: "Install"
                        value: 2
                        value_relative: 100.0
                        relative_changes: 0.0
                        following_changes:
                          title: "Drop off"
                          value: 2
                          value_relative: 100.0
                        churn_reason_title: ""
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: "Paywall displayed"
                        value: 0
                        value_relative: 0.0
                        relative_changes: 0.0
                        following_changes:
                          title: "Drop off"
                          value: 0
                          value_relative: 0.0
                        churn_reason_title: ""
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: CSV 格式的漏斗数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/metrics/ltv/:
    post:
      summary: 获取生命周期价值（LTV）数据
      description: 获取 LTV 数据，以评估客户在其参与周期内的长期收入潜力。
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: 基本 LTV 数据请求
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                    offer_category: ["introductory"]
                    store: ["app_store"]
                    country: ["us"]
                    attribution_source: ["appsflyer"]
                    attribution_status: ["organic"]
                    attribution_channel: ["social_media"]
                  period_unit: "quarter"
                  period_type: "renewals"
                  segmentation: "store_product_id"
                  format: "csv"
      responses:
        '200':
          description: LTV 数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
                proceeds:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
                net_revenue:
                  data:
                    - title: "Total"
                      type: "total"
                      value: 0.0
                      values: []
                      cohort_size: 0
                  description: "<div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.\n It's an actual, not predicted LTV.\n <a target=\"_blank\" rel=\"noopener noreferrer\" href='https://adapty.io/docs/ltv'> Read more</a>.</div>"
                  value: 0.0
                  unit: "USD"
                  title: "LTV"
            text/csv:
              schema:
                type: string
                description: CSV 格式的 LTV 数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/metrics/retention/:
    post:
      summary: 获取留存数据
      description: 获取留存数据，以分析产品保持用户长期活跃的能力。
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: 基本留存数据请求
                value:
                  filters:
                    date: ["2024-01-01", "2024-12-31"]
                    compare_date: ["2023-01-01", "2023-12-31"]
                  period_unit: "quarter"
                  period_type: "renewals"
                  segmentation: "store_product_id"
                  format: "csv"
      responses:
        '200':
          description: 留存数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: "Subscription retention"
                metric_name: "Subscription retention"
                description: "Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step."
                value_type: null
            text/csv:
              schema:
                type: string
                description: CSV 格式的留存数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

  /api/v1/client-api/exports/placements/:
    post:
      summary: 获取版位信息
      description: 获取付费墙或用户引导版位的相关信息：付费墙、市场细分、目标受众和 A/B 测试。这可以帮助您无需逐一打开每个版位，即可确认所有配置是否正确。
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: 基本版位信息请求
                value:
                  filters:
                    placement_type: "paywall"
      responses:
        '200':
          description: 版位信息获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: CSV 格式的版位信息
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        您需要使用私密 API 密钥作为 Authorization 请求头来验证 API 请求。
        您可以在应用设置中找到该密钥。格式为 `Api-Key {YOUR_SECRET_API_KEY}`，
        例如：`Api-Key secret_live_...`。

  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum: [revenue, mrr, arr, arppu, subscriptions_active, subscriptions_new, subscriptions_renewal_cancelled, subscriptions_expired, trials_active, trials_new, trials_renewal_cancelled, trials_expired, grace_period, billing_issue, refund_events, refund_money, non_subscriptions, arpu, installs]
          description: 指定所需的数据图表类型。每次请求只能指定一种数据图表类型。
          example: "revenue"
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
          default: "month"
        date_type:
          type: string
          enum: [purchase_date, profile_install_date]
          description: 指定将哪个日期视为用户加入日期
          default: "purchase_date"
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
          default: "month"
        period_type:
          type: string
          enum: [renewals, days]
          description: 按续订次数或天数分析数据
          default: "renewals"
        value_type:
          type: string
          enum: [absolute, relative]
          description: 指定数值的显示方式
          default: "absolute"
        value_field:
          type: string
          enum: [revenue, arppu, arpu, arpas, subscribers, subscriptions]
          description: 指定显示的数值类型
          default: "revenue"
        accounting_type:
          type: string
          enum: [revenue, proceeds, net_revenue]
          description: 使用的核算方式
          default: "revenue"
        renewal_days:
          type: array
          items:
            type: integer
          description: 同期群类型 period_type=days 中，自应用安装以来的天数列表
        prediction_months:
          type: integer
          enum: [3, 6, 9, 12, 18, 24]
          description: 输入您希望获取的趋势预测月数
          default: 12
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: "null"
          description: 用户转化前的起始订阅状态
        to_period:
          type: string
          description: 用户转化后的新订阅状态
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
          default: "month"
        date_type:
          type: string
          enum: [purchase_date, profile_install_date]
          description: 指定将哪个日期视为用户加入日期
          default: "purchase_date"
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
        show_value_as:
          type: string
          enum: [absolute, relative, both]
          description: 指定数值的显示方式
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
        period_type:
          type: string
          enum: [renewals, days]
          description: 按续订次数或天数分析数据
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum: [day, week, month, quarter, year]
          description: 指定聚合分析数据的时间间隔
        segmentation:
          type: string
          description: 设置市场细分的依据
        use_trial:
          type: boolean
          description: 布尔值，指示是否使用了试用期
          default: false
        format:
          type: string
          enum: [json, csv]
          description: 指定导出文件格式
          default: "json"

    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum: [paywall, onboarding]
              description: 筛选响应中返回的版位类型

    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: 版位 ID
              placement_name:
                type: string
                description: 版位名称
              audience_name:
                type: string
                description: 目标受众名称
              segment_name:
                type: string
                description: 目标受众 ID
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: 跨版位 A/B 测试名称
              ab_test_name:
                type: string
                nullable: true
                description: A/B 测试名称
              paywall_name:
                type: string
                description: 付费墙名称（仅在 placement_type 为 paywall 时返回）
              onboarding_name:
                type: string
                description: 用户引导名称（仅在 placement_type 为 onboarding 时返回）

    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: 输入您希望获取数据图表数据的日期或时间段
        compare_date:
          type: array
          items:
            type: string
          description: 输入用于对比的日期或时间段
        store:
          type: array
          items:
            type: string
          description: 按购买所在的应用商店进行筛选
        country:
          type: array
          items:
            type: string
          description: 按购买发生地的两位字母国家代码进行筛选
        store_product_id:
          type: array
          items:
            type: string
          description: 应用商店中产品的唯一标识符
        duration:
          type: array
          items:
            type: string
          description: 指定订阅时长
        attribution_source:
          type: array
          items:
            type: string
          description: 归因的来源集成
        attribution_status:
          type: array
          items:
            type: string
          description: 表示归因是自然流量还是非自然流量
        attribution_channel:
          type: array
          items:
            type: string
          description: 带来该交易的营销渠道
        attribution_campaign:
          type: array
          items:
            type: string
          description: 带来该交易的营销活动
        attribution_adgroup:
          type: array
          items:
            type: string
          description: 带来该交易的归因广告组
        attribution_adset:
          type: array
          items:
            type: string
          description: 带来该交易的归因广告集
        attribution_creative:
          type: array
          items:
            type: string
          description: 广告或营销活动中用于衡量效果的特定视觉或文字素材
        offer_category:
          type: array
          items:
            type: string
          description: 指定您希望获取数据的优惠类别
        offer_type:
          type: array
          items:
            type: string
          description: 指定您希望获取数据的优惠类型
        offer_id:
          type: array
          items:
            type: string
          description: 指定您希望获取数据的具体优惠

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    AnalyticsDataResponse:
      type: object
      description: 包含所请求数据图表类型分析数据的响应
      properties:
        data:
          type: object
          description: 包含不同数据图表类型的对象（revenue、proceeds、net_revenue 等）
          additionalProperties:
            $ref: '#/components/schemas/MetricData'

    MetricData:
      type: object
      description: 包含数值、描述和元数据的单个数据图表数据
      properties:
        data:
          type: array
          description: 该数据图表的数据点数组（聚合数据图表可能为空）
          items:
            type: object
        value:
          type: number
          description: 该数据图表的主要数值
        value_from:
          type: number
          nullable: true
          description: 该时间段的起始值（如适用）
        value_to:
          type: number
          nullable: true
          description: 该时间段的结束值（如适用）
        compare_value_from:
          type: number
          nullable: true
          description: 对比时间段的起始值（如适用）
        compare_value_to:
          type: number
          nullable: true
          description: 对比时间段的结束值（如适用）
        title:
          type: string
          description: 数据图表的显示标题
        type:
          type: string
          description: 数据图表类型（例如 'multi'、'single'）
        default_aggregation:
          type: string
          description: 默认聚合方式（例如 'sum'、'average'）
        description:
          type: string
          description: 以 HTML 格式说明该数据图表含义及计算方式的描述
        metric_name:
          type: string
          description: 数据图表的内部名称
        is_json:
          type: boolean
          description: 数据是否为 JSON 格式
        unit:
          type: string
          description: 计量单位（例如 'USD'、'percent'）
        recommended_period:
          type: object
          nullable: true
          description: 该数据图表的推荐日期范围
          properties:
            date_from:
              type: string
              description: 推荐时间段的开始日期
            date_to:
              type: string
              description: 推荐时间段的结束日期
            period_unit:
              type: string
              description: 推荐的时间单位（day、week、month 等）

    CohortDataResponse:
      type: object
      description: 包含同期群分析数据的响应，展示用户随时间的行为变化
      properties:
        data:
          type: array
          description: 同期群分段数组，每个分段代表在同一时间段开始的一组用户
          items:
            $ref: '#/components/schemas/CohortSegment'

    CohortSegment:
      type: object
      description: 代表在同一时间段开始的用户群体的同期群分段
      properties:
        segment_start_date:
          type: string
          description: 该同期群分段的开始日期
        type:
          type: string
          description: 分段类型（'total' 表示聚合数据，'single' 表示单个同期群）
        title:
          type: string
          description: 该同期群分段的显示标题
        total_installs:
          type: integer
          description: 该同期群中应用安装总数
        total_subscriptions:
          type: integer
          description: 该同期群中订阅总数
        total_paid_subscribers:
          type: integer
          description: 该同期群中付费订阅者总数
        total_revenue_usd:
          type: number
          description: 该同期群的 USD 总收入
        total_proceeds_usd:
          type: number
          description: 该同期群扣除商店手续费后的 USD 总收益
        total_net_revenue_usd:
          type: number
          description: 该同期群的 USD 净收入总额
        total_anrpas_usd:
          type: number
          description: 每位活跃订阅者平均净收入（ANRPAS），单位 USD
        total_appas_usd:
          type: number
          description: 每位活跃订阅者平均收益（APPAS），单位 USD
        total_arpas_usd:
          type: number
          description: 每位活跃订阅者平均收入（ARPAS），单位 USD
        total_anrppu_usd:
          type: number
          description: 每位付费用户平均净收入（ANRPPU），单位 USD
        total_apppu_usd:
          type: number
          description: 每位付费用户平均收益（APPPU），单位 USD
        total_arppu_usd:
          type: number
          description: 每位付费用户平均收入（ARPPU），单位 USD
        total_anrpu_usd:
          type: number
          description: 每位用户平均净收入（ANRPU），单位 USD
        total_appu_usd:
          type: number
          description: 每位用户平均收益（APPU），单位 USD
        total_arpu_usd:
          type: number
          description: 每位用户平均收入（ARPU），单位 USD
        predict:
          type: object
          nullable: true
          description: 该同期群的趋势预测数据（如有）
        values:
          type: array
          description: 基于时间段的数值数组，展示同期群随时间的表现
          items:
            $ref: '#/components/schemas/CohortValue'

    CohortValue:
      type: object
      description: 同期群分段中特定时间段的单个数值，展示该时间段的性能数据图表
      properties:
        arpas_usd:
          type: number
          description: 该时间段每位活跃订阅者平均收入，单位 USD
        appas_usd:
          type: number
          description: 该时间段每位活跃订阅者平均收益，单位 USD
        anrpas_usd:
          type: number
          description: 该时间段每位活跃订阅者平均净收入，单位 USD
        anrppu_usd:
          type: number
          description: 该时间段每位付费用户平均净收入，单位 USD
        apppu_usd:
          type: number
          description: 该时间段每位付费用户平均收益，单位 USD
        arppu_usd:
          type: number
          description: 该时间段每位付费用户平均收入，单位 USD
        anrpu_usd:
          type: number
          description: 该时间段每位用户平均净收入，单位 USD
        appu_usd:
          type: number
          description: 该时间段每位用户平均收益，单位 USD
        arpu_usd:
          type: number
          description: 该时间段每位用户平均收入，单位 USD
        installs:
          type: integer
          description: 该时间段的应用安装数量
        period:
          type: integer
          description: 时间段编号（1 = 第一个时间段，2 = 第二个时间段，以此类推）
        revenue_usd:
          type: number
          description: 该时间段的 USD 总收入
        proceeds_usd:
          type: number
          description: 该时间段扣除商店手续费后的 USD 总收益
        net_revenue_usd:
          type: number
          description: 该时间段的 USD 净收入总额
        revenue_relative:
          type: number
          description: 相对于第一个时间段的收入百分比（100% = 第一个时间段）
        proceeds_relative:
          type: number
          description: 相对于第一个时间段的收益百分比（100% = 第一个时间段）
        net_revenue_relative:
          type: number
          description: 相对于第一个时间段的净收入百分比（100% = 第一个时间段）
        subscriptions:
          type: integer
          description: 该时间段的订阅数量
        subscriptions_relative:
          type: number
          description: 相对于第一个时间段的订阅百分比（100% = 第一个时间段）
        subscribers:
          type: integer
          description: 该时间段的订阅者数量
        subscribers_relative:
          type: number
          description: 相对于第一个时间段的订阅者百分比（100% = 第一个时间段）
        currently_active_period:
          type: boolean
          description: 该时间段是否为同期群当前活跃时间段

    ConversionDataResponse:
      type: object
      description: 包含转化数据的响应，展示用户在订阅状态之间的流转情况
      properties:
        data:
          type: array
          description: 转化数据点数组（聚合数据图表可能为空）
          items:
            type: object
        value:
          type: number
          description: 转化率数值
        value_from:
          type: integer
          description: 转化的起始订阅状态
        value_to:
          type: integer
          description: 转化的目标订阅状态
        compare_value_from:
          type: number
          nullable: true
          description: 对比时间段的起始值
        compare_value_to:
          type: number
          nullable: true
          description: 对比时间段的结束值
        title:
          type: string
          description: 描述转化类型的显示标题
        type:
          type: string
          description: 转化数据图表的类型
        default_aggregation:
          type: string
          description: 该数据图表的默认聚合方式
        description:
          type: string
          description: 转化率计算方式的详细说明
        metric_name:
          type: string
          description: 转化数据图表的内部名称
        is_json:
          type: boolean
          description: 数据是否为 JSON 格式
        unit:
          type: string
          description: 计量单位（转化率通常为 'percent'）
        recommended_period:
          type: object
          description: 该转化数据图表的推荐日期范围
          properties:
            date_from:
              type: string
              description: 推荐时间段的开始日期
            date_to:
              type: string
              description: 推荐时间段的结束日期
            period_unit:
              type: string
              description: 推荐的时间单位

    FunnelDataResponse:
      type: object
      description: 包含漏斗分析数据的响应，展示用户在转化流程各阶段的进展情况
      properties:
        data:
          type: array
          description: 漏斗分段数组，展示转化流程的不同阶段
          items:
            $ref: '#/components/schemas/FunnelSegment'

    FunnelSegment:
      type: object
      description: 代表转化流程中某一阶段的漏斗分段
      properties:
        title:
          type: string
          description: 该漏斗分段的显示标题
        type:
          type: string
          description: 漏斗分段类型（'total' 表示聚合数据）
        values:
          type: array
          description: 展示各阶段用户进展的漏斗数值数组
          items:
            $ref: '#/components/schemas/FunnelValue'

    FunnelValue:
      type: object
      description: 漏斗各阶段的单个数值，展示用户进展和流失情况
      properties:
        period:
          type: integer
          description: 漏斗中的阶段编号（-2 = 安装，-1 = 显示付费墙，以此类推）
        title:
          type: string
          description: 该漏斗阶段的显示标题
        value:
          type: integer
          description: 到达该阶段的用户数量
        value_relative:
          type: number
          description: 到达该阶段的用户占第一阶段的百分比
        relative_changes:
          type: number
          description: 与上一时间段相比的转化率变化
        following_changes:
          type: object
          description: 在该阶段之后流失的用户信息
          properties:
            title:
              type: string
              description: 流失阶段的标题
            value:
              type: integer
              description: 流失的用户数量
            value_relative:
              type: number
              description: 流失用户的百分比
        churn_reason_title:
          type: string
          description: 描述该阶段用户流失原因的标题
        churn_reasons:
          type: array
          description: 具体流失原因的数组
          items:
            type: object
        values:
          type: array
          description: 该漏斗阶段的附加嵌套数值
          items:
            type: object

    LTVDataResponse:
      type: object
      description: 包含不同收入类型生命周期价值（LTV）数据的响应
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 基于总收入计算的 LTV
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: 基于收益（扣除商店手续费后）计算的 LTV
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 基于净收入计算的 LTV

    LTVMetric:
      type: object
      description: 包含同期群数据和计算结果的单个 LTV 数据图表
      properties:
        data:
          type: array
          description: 不同同期群的 LTV 数据点数组
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: 以 HTML 格式说明 LTV 计算方式的描述
        value:
          type: number
          description: 整体 LTV 数值
        unit:
          type: string
          description: 计量单位（通常为 'USD'）
        title:
          type: string
          description: 该 LTV 数据图表的显示标题

    LTVData:
      type: object
      description: 特定同期群的单个 LTV 数据点
      properties:
        title:
          type: string
          description: 该 LTV 数据点的显示标题
        type:
          type: string
          description: LTV 数据类型（'total' 表示聚合数据）
        value:
          type: number
          description: 该同期群的 LTV 数值
        values:
          type: array
          description: 基于时间段的 LTV 数值数组
          items:
            type: object
        cohort_size:
          type: integer
          description: 该同期群中的用户数量

    RetentionDataResponse:
      type: object
      description: 包含留存数据的响应，展示用户随时间的活跃程度
      properties:
        data:
          type: array
          description: 留存数据点数组（部分留存类型可能为空）
          items:
            type: object
        title:
          type: string
          description: 留存数据图表的显示标题
        metric_name:
          type: string
          description: 留存数据图表的内部名称
        description:
          type: string
          description: 留存计算方式的说明（绝对值与相对值）
        value_type:
          type: string
          nullable: true
          description: 留存数值的类型（绝对值或相对值）

security:
  - apikeyAuth: []