openapi: 3.1.0
info:
  title: Adapty 导出分析 API
  version: 1.0.0
  description: |
    Adapty 导出分析 API 允许您将分析数据导出为 CSV 或 JSON 格式，
    使您能够更深入地研究应用的性能数据图表、自定义报告，
    并随时间分析趋势预测。通过此 API，您可以轻松提取详细的分析数据，
    便于跟踪、共享和优化数据洞察。
servers:
  - url: https://api-admin.adapty.io
    description: 生产服务器
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: 获取分析数据
      description: |-
        获取分析数据，用于深入了解用户行为和性能数据图表，以便在数据图表中进一步使用。

        此端点的收入为**基于事件**的统计：每个值归因于**交易日期**——即购买、续订或退款发生的当天。如需将收入归因于每位用户的安装日期（例如与 Ads Manager 对账），请使用同期群端点（`POST /api/v1/client-api/metrics/cohort/`）。

        频率限制：每秒 2 次请求。
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: Basic analytics data request
                value:
                  chart_id: revenue
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    country:
                      - us
                    attribution_channel:
                      - social_media_influencers
                  period_unit: week
                  segmentation: attribution_campaign
      responses:
        '200':
          description: 分析数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: CSV 格式的分析数据
        '400':
          description: 请求错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出频率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/metrics/cohort/:
    post:
      summary: 获取同期群数据
      description: |-
        获取同期群数据以追踪用户群体随时间的变化。

        此端点的收入基于**安装日期同期群**：每位用户的收入归因于其**安装日期**，而非交易日期。响应中包含 `total_revenue_usd` 和 `total_proceeds_usd`。请使用此端点（而非分析端点）将内部报告与 Ads Manager 进行对账，因为 Ads Manager 同样基于同期群/安装日期。

        速率限制：每秒 2 次请求。
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: 基本同期群数据请求
                value:
                  filters:
                    date:
                      - '2024-04-01'
                      - '2024-09-30'
                    store:
                      - app_store
                    country:
                      - us
                  period_unit: month
                  period_type: renewals
                  value_type: absolute
                  value_field: subscriptions
      responses:
        '200':
          description: 同期群数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: '2024-04-01'
                    type: total
                    title: Total
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0
                    total_proceeds_usd: 0
                    total_net_revenue_usd: 0
                    total_anrpas_usd: 0
                    total_appas_usd: 0
                    total_arpas_usd: 0
                    total_anrppu_usd: 0
                    total_apppu_usd: 0
                    total_arppu_usd: 0
                    total_anrpu_usd: 0
                    total_appu_usd: 0
                    total_arpu_usd: 0
                    predict: null
                    values:
                      - arpas_usd: 0
                        appas_usd: 0
                        anrpas_usd: 0
                        anrppu_usd: 0
                        apppu_usd: 0
                        arppu_usd: 0
                        anrpu_usd: 0
                        appu_usd: 0
                        arpu_usd: 0
                        installs: 0
                        period: 1
                        revenue_usd: 0
                        proceeds_usd: 0
                        net_revenue_usd: 0
                        revenue_relative: 0
                        proceeds_relative: 0
                        net_revenue_relative: 0
                        subscriptions: 0
                        subscriptions_relative: 0
                        subscribers: 0
                        subscribers_relative: 0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: CSV 格式的同期群数据
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出速率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/metrics/conversion/:
    post:
      summary: 获取转化数据
      description: |-
        获取转化数据，用于分析用户行为并衡量一段时间内营销效果。

        频率限制：每秒 2 次请求。
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: Basic conversion data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                  from_period: 1
                  to_period: 6+
                  period_unit: month
                  date_type: purchase_date
                  segmentation: country
                  format: json
      responses:
        '200':
          description: 成功获取转化数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: Conversion rate from Paid to more than 6 months
                type: multi
                default_aggregation: sum
                description: If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment.
                metric_name: from_paid_to_6_months_conversion
                is_json: true
                unit: percent
                recommended_period:
                  date_from: '2018-04-29'
                  date_to: '2024-12-31'
                  period_unit: month
            text/csv:
              schema:
                type: string
                description: CSV 格式的转化数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出频率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/metrics/funnel/:
    post:
      summary: 获取漏斗数据
      description: |-
        获取漏斗数据，以追踪用户在转化流程各阶段的进展情况。

        速率限制：每秒 2 次请求。
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: Basic funnel data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - promotional
                  period_unit: quarter
                  show_value_as: absolute
                  format: csv
      responses:
        '200':
          description: 漏斗数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: Total
                    type: total
                    values:
                      - period: -2
                        title: Install
                        value: 2
                        value_relative: 100
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 2
                          value_relative: 100
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: Paywall displayed
                        value: 0
                        value_relative: 0
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 0
                          value_relative: 0
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: CSV 格式的漏斗数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出速率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/metrics/ltv/:
    post:
      summary: 检索用户生命周期价值（LTV）数据
      description: |-
        检索 LTV 数据，用于评估客户在参与周期内的长期收益潜力。

        频率限制：每秒 2 次请求。
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: Basic LTV data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - introductory
                    store:
                      - app_store
                    country:
                      - us
                    attribution_source:
                      - appsflyer
                    attribution_status:
                      - organic
                    attribution_channel:
                      - social_media
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: LTV 数据检索成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                proceeds:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                net_revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
            text/csv:
              schema:
                type: string
                description: CSV 格式的 LTV 数据
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出频率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/metrics/retention/:
    post:
      summary: 获取留存数据
      description: |-
        获取留存数据，用于分析产品在一段时间内留住用户的能力。

        速率限制：每秒 2 次请求。
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: Basic retention data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: 留存数据获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: Subscription retention
                metric_name: Subscription retention
                description: Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step.
                value_type: null
            text/csv:
              schema:
                type: string
                description: CSV 格式的留存数据
        '400':
          description: 错误请求
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出速率限制。每个 API 密钥每秒最多 2 次请求。
  /api/v1/client-api/exports/placements/:
    post:
      summary: 获取版位信息
      description: |-
        获取付费墙或用户引导版位的相关信息：付费墙、市场细分、目标受众以及 A/B 测试。此功能可帮助您确认所有配置均正确无误，无需逐一打开每个版位进行查看。

        频率限制：每秒 2 次请求。
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: Basic placement info request
                value:
                  filters:
                    placement_type: paywall
      responses:
        '200':
          description: 版位信息获取成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: CSV 格式的版位信息
        '400':
          description: 请求无效
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 未授权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: 超出频率限制。每个 API 密钥每秒最多 2 次请求。
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        您需要使用您的私密 API 密钥作为 Authorization 请求头来验证 API 请求。
        您可以在应用设置中找到该密钥。格式为 `Api-Key {YOUR_SECRET_API_KEY}`，
        例如：`Api-Key secret_live_...`。
  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum:
            - revenue
            - mrr
            - arr
            - arppu
            - subscriptions_active
            - subscriptions_new
            - subscriptions_renewal_cancelled
            - subscriptions_expired
            - trials_active
            - trials_new
            - trials_renewal_cancelled
            - trials_expired
            - grace_period
            - billing_issue
            - refund_events
            - refund_money
            - non_subscriptions
            - arpu
            - installs
          description: 指定所需的数据图表。每次请求只能指定一种数据图表类型。
          example: revenue
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定聚合分析数据的时间间隔
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: 指定将哪个日期视为用户加入日期
          default: purchase_date
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定聚合分析数据的时间间隔
          default: month
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: 按续订次数或按天数分析数据
          default: renewals
        value_type:
          type: string
          enum:
            - absolute
            - relative
          description: 指定数值的显示方式
          default: absolute
        value_field:
          type: string
          enum:
            - revenue
            - arppu
            - arpu
            - arpas
            - subscribers
            - subscriptions
          description: 指定所显示数值的类型
          default: revenue
        accounting_type:
          type: string
          enum:
            - revenue
            - proceeds
            - net_revenue
          description: 所使用的核算方式
          default: revenue
        renewal_days:
          type: array
          items:
            type: integer
          description: 同期群类型 period_type=days 时，应用安装后的天数列表
        prediction_months:
          type: integer
          enum:
            - 3
            - 6
            - 9
            - 12
            - 18
            - 24
          description: 输入所需的趋势预测月数
          default: 12
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: 'null'
          description: 用户转化前的订阅起始状态
        to_period:
          type: string
          description: 用户转化后的新订阅状态
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定聚合分析数据的时间间隔
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: 指定将哪个日期作为用户加入日期
          default: purchase_date
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定用于聚合分析数据的时间间隔
        show_value_as:
          type: string
          enum:
            - absolute
            - relative
            - both
          description: 指定值的显示方式
        segmentation:
          type: string
          description: 设置市场细分的依据
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定聚合分析数据的时间间隔
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: 按续订次数或按天数分析数据
        segmentation:
          type: string
          description: 设置细分依据
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: 指定用于聚合分析数据的时间间隔
        segmentation:
          type: string
          description: 设置市场细分的依据
        use_trial:
          type: boolean
          description: 布尔值，指示是否使用了试用
          default: false
        format:
          type: string
          enum:
            - json
            - csv
          description: 指定导出文件格式
          default: json
    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum:
                - paywall
                - onboarding
              description: 筛选响应中返回的版位类型
    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: 版位 ID
              placement_name:
                type: string
                description: 版位名称
              audience_name:
                type: string
                description: 目标受众名称
              segment_name:
                type: string
                description: 目标受众 ID
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: 跨版位 A/B 测试名称
              ab_test_name:
                type: string
                nullable: true
                description: A/B 测试名称
              paywall_name:
                type: string
                description: 付费墙名称（仅在 placement_type 为 paywall 时返回）
              onboarding_name:
                type: string
                description: 用户引导名称（仅在 placement_type 为 onboarding 时返回）
    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: 输入您想要检索数据图表数据的日期或时间段
        compare_date:
          type: array
          items:
            type: string
          description: 输入用于对比的日期或时间段
        store:
          type: array
          items:
            type: string
          description: 按购买所在的应用商店进行筛选
        country:
          type: array
          items:
            type: string
          description: 按购买发生地的两字母国家代码进行筛选
        store_product_id:
          type: array
          items:
            type: string
          description: 包含商店前缀的产品 ID，格式为 `<store>:<product_id>`，例如 `app_store:premium_monthly` 或带有基础计划的 Google 订阅 `play_store:premium_sub:monthly-base-plan`。不带商店前缀的纯产品 ID 将被拒绝。
        duration:
          type: array
          items:
            type: string
          description: 指定订阅时长
        attribution_source:
          type: array
          items:
            type: string
          description: 归因的来源集成
        attribution_status:
          type: array
          items:
            type: string
          description: 表示归因是自然流量还是非自然流量
        attribution_channel:
          type: array
          items:
            type: string
          description: 带来该交易的营销渠道
        attribution_campaign:
          type: array
          items:
            type: string
          description: 带来该交易的营销活动
        attribution_adgroup:
          type: array
          items:
            type: string
          description: 带来该交易的归因广告组
        attribution_adset:
          type: array
          items:
            type: string
          description: 带来该交易的归因广告集
        attribution_creative:
          type: array
          items:
            type: string
          description: 广告或营销活动中用于衡量效果的特定视觉或文字素材
        offer_category:
          type: array
          items:
            type: string
          description: 指定您想要检索数据的优惠类别
        offer_type:
          type: array
          items:
            type: string
          description: 指定您想要检索数据的优惠类型
        offer_id:
          type: array
          items:
            type: string
          description: 指定您想要检索数据的具体优惠
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    AnalyticsDataResponse:
      type: object
      description: 包含所请求数据图表类型的分析数据的响应
      properties:
        data:
          type: object
          description: 包含不同数据图表类型（revenue、proceeds、net_revenue 等）的对象
          additionalProperties:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      description: 单个数据图表数据，包含数值、描述和元数据
      properties:
        data:
          type: array
          description: 该数据图表的数据点数组（聚合数据图表可为空）
          items:
            type: object
        value:
          type: number
          description: 该数据图表的主要数值
        value_from:
          type: number
          nullable: true
          description: 该周期的起始值（如适用）
        value_to:
          type: number
          nullable: true
          description: 该周期的结束值（如适用）
        compare_value_from:
          type: number
          nullable: true
          description: 对比周期的起始值（如适用）
        compare_value_to:
          type: number
          nullable: true
          description: 对比周期的结束值（如适用）
        title:
          type: string
          description: 数据图表的显示标题
        type:
          type: string
          description: 数据图表类型（例如 'multi'、'single'）
        default_aggregation:
          type: string
          description: 默认聚合方式（例如 'sum'、'average'）
        description:
          type: string
          description: 以 HTML 格式说明该数据图表含义及计算方式的描述
        metric_name:
          type: string
          description: 数据图表的内部名称
        is_json:
          type: boolean
          description: 数据是否为 JSON 格式
        unit:
          type: string
          description: 计量单位（例如 'USD'、'percent'）
        recommended_period:
          type: object
          nullable: true
          description: 该数据图表的推荐日期范围
          properties:
            date_from:
              type: string
              description: 推荐周期的开始日期
            date_to:
              type: string
              description: 推荐周期的结束日期
            period_unit:
              type: string
              description: 推荐的周期单位（day、week、month 等）
    CohortDataResponse:
      type: object
      description: 包含同期群分析数据的响应，展示用户随时间变化的行为
      properties:
        data:
          type: array
          description: 同期群细分数组，每个细分代表在同一时期开始的一组用户
          items:
            $ref: '#/components/schemas/CohortSegment'
    CohortSegment:
      type: object
      description: 代表同一时期开始的用户的同期群市场细分
      properties:
        segment_start_date:
          type: string
          description: 该同期群市场细分的开始日期
        type:
          type: string
          description: 市场细分类型（'total' 表示汇总数据，'single' 表示单个同期群）
        title:
          type: string
          description: 该同期群市场细分的显示标题
        total_installs:
          type: integer
          description: 该同期群的应用总安装量
        total_subscriptions:
          type: integer
          description: 该同期群的订阅总数
        total_paid_subscribers:
          type: integer
          description: 该同期群的付费订阅者总数
        total_revenue_usd:
          type: number
          description: 该同期群的总收入（美元）
        total_proceeds_usd:
          type: number
          description: 该同期群的总收益（美元，扣除应用商店费用后）
        total_net_revenue_usd:
          type: number
          description: 该同期群的总净收入（美元）
        total_anrpas_usd:
          type: number
          description: 每位活跃订阅者的平均净收入（ANRPAS，美元）总计
        total_appas_usd:
          type: number
          description: 每位活跃订阅者的平均收益（APPAS，美元）总计
        total_arpas_usd:
          type: number
          description: 每位活跃订阅者的平均收入（ARPAS，美元）总计
        total_anrppu_usd:
          type: number
          description: 每位付费用户的平均净收入（ANRPPU，美元）总计
        total_apppu_usd:
          type: number
          description: 每位付费用户的平均收益（APPPU，美元）总计
        total_arppu_usd:
          type: number
          description: 每位付费用户的平均收入（ARPPU，美元）总计
        total_anrpu_usd:
          type: number
          description: 每位用户的平均净收入（ANRPU，美元）总计
        total_appu_usd:
          type: number
          description: 每位用户的平均收益（APPU，美元）总计
        total_arpu_usd:
          type: number
          description: 每位用户的平均收入（ARPU，美元）总计
        predict:
          type: object
          nullable: true
          description: 该同期群的趋势预测数据（如有）
        values:
          type: array
          description: 按周期划分的数组，展示同期群随时间推移的表现
          items:
            $ref: '#/components/schemas/CohortValue'
    CohortValue:
      type: object
      description: 同期群细分中的单个周期值，显示特定时间周期的绩效数据图表
      properties:
        arpas_usd:
          type: number
          description: 该周期每位活跃订阅者的平均收入（美元）
        appas_usd:
          type: number
          description: 该周期每位活跃订阅者的平均净收益（美元）
        anrpas_usd:
          type: number
          description: 该周期每位活跃订阅者的平均净营收（美元）
        anrppu_usd:
          type: number
          description: 该周期每位付费用户的平均净营收（美元）
        apppu_usd:
          type: number
          description: 该周期每位付费用户的平均净收益（美元）
        arppu_usd:
          type: number
          description: 该周期每位付费用户的平均收入（美元）
        anrpu_usd:
          type: number
          description: 该周期每位用户的平均净营收（美元）
        appu_usd:
          type: number
          description: 该周期每位用户的平均净收益（美元）
        arpu_usd:
          type: number
          description: 该周期每位用户的平均收入（美元）
        installs:
          type: integer
          description: 该周期的应用安装数量
        period:
          type: integer
          description: 周期编号（1 = 第一个周期，2 = 第二个周期，以此类推）
        revenue_usd:
          type: number
          description: 该周期的总收入（美元）
        proceeds_usd:
          type: number
          description: 该周期的总净收益（美元，扣除应用商店手续费后）
        net_revenue_usd:
          type: number
          description: 该周期的总净营收（美元）
        revenue_relative:
          type: number
          description: 收入相对于第一个周期的百分比（100% = 第一个周期）
        proceeds_relative:
          type: number
          description: 净收益相对于第一个周期的百分比（100% = 第一个周期）
        net_revenue_relative:
          type: number
          description: 净营收相对于第一个周期的百分比（100% = 第一个周期）
        subscriptions:
          type: integer
          description: 该周期的订阅数量
        subscriptions_relative:
          type: number
          description: 订阅数量相对于第一个周期的百分比（100% = 第一个周期）
        subscribers:
          type: integer
          description: 该周期的订阅者数量
        subscribers_relative:
          type: number
          description: 订阅者数量相对于第一个周期的百分比（100% = 第一个周期）
        currently_active_period:
          type: boolean
          description: 该周期是否为同期群当前活跃的周期
    ConversionDataResponse:
      type: object
      description: 包含转化数据的响应，展示用户在订阅状态之间的流转情况
      properties:
        data:
          type: array
          description: 转化数据点数组（聚合数据图表可能为空）
          items:
            type: object
        value:
          type: number
          description: 转化率数值
        value_from:
          type: integer
          description: 转化的起始订阅状态
        value_to:
          type: integer
          description: 转化的目标订阅状态
        compare_value_from:
          type: number
          nullable: true
          description: 对比周期的起始值
        compare_value_to:
          type: number
          nullable: true
          description: 对比周期的结束值
        title:
          type: string
          description: 描述转化类型的显示标题
        type:
          type: string
          description: 转化数据图表的类型
        default_aggregation:
          type: string
          description: 该数据图表的默认聚合方式
        description:
          type: string
          description: 转化率计算方式的详细说明
        metric_name:
          type: string
          description: 转化数据图表的内部名称
        is_json:
          type: boolean
          description: 数据是否为 JSON 格式
        unit:
          type: string
          description: 计量单位（转化率通常为 'percent'）
        recommended_period:
          type: object
          description: 该转化数据图表的建议日期范围
          properties:
            date_from:
              type: string
              description: 建议周期的开始日期
            date_to:
              type: string
              description: 建议周期的结束日期
            period_unit:
              type: string
              description: 建议的周期单位
    FunnelDataResponse:
      type: object
      description: 包含漏斗分析数据的响应，展示用户在转化阶段的进展情况
      properties:
        data:
          type: array
          description: 漏斗市场细分数组，展示转化流程的不同阶段
          items:
            $ref: '#/components/schemas/FunnelSegment'
    FunnelSegment:
      type: object
      description: 漏斗细分，代表转化流程中的一个阶段
      properties:
        title:
          type: string
          description: 此漏斗细分的显示标题
        type:
          type: string
          description: 漏斗细分的类型（'total' 表示汇总数据）
        values:
          type: array
          description: 漏斗值数组，展示各阶段的转化进程
          items:
            $ref: '#/components/schemas/FunnelValue'
    FunnelValue:
      type: object
      description: 显示用户进展和流失情况的各漏斗阶段数值
      properties:
        period:
          type: integer
          description: 漏斗中的阶段编号（-2 = 安装，-1 = 付费墙已展示，以此类推）
        title:
          type: string
          description: 该漏斗阶段的显示标题
        value:
          type: integer
          description: 到达该阶段的用户数量
        value_relative:
          type: number
          description: 到达该阶段的用户占第一阶段用户的百分比
        relative_changes:
          type: number
          description: 与上一阶段相比的转化率变化
        following_changes:
          type: object
          description: 在该阶段之后流失的用户信息
          properties:
            title:
              type: string
              description: 流失阶段的标题
            value:
              type: integer
              description: 流失的用户数量
            value_relative:
              type: number
              description: 流失用户的百分比
        churn_reason_title:
          type: string
          description: 描述该阶段用户流失原因的标题
        churn_reasons:
          type: array
          description: 具体流失原因的数组
          items:
            type: object
        values:
          type: array
          description: 该漏斗阶段的额外嵌套数值
          items:
            type: object
    LTVDataResponse:
      type: object
      description: 包含不同收入类型的生命周期价值（LTV）数据的响应
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 使用总收入计算的 LTV
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: 使用实收款项（扣除应用商店手续费后）计算的 LTV
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: 使用净收入计算的 LTV
    LTVMetric:
      type: object
      description: 包含同期群数据和计算结果的单个 LTV 数据图表
      properties:
        data:
          type: array
          description: 不同同期群的 LTV 数据点数组
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: 说明 LTV 计算方式的 HTML 描述
        value:
          type: number
          description: 总体 LTV 值
        unit:
          type: string
          description: 计量单位（通常为 'USD'）
        title:
          type: string
          description: 此 LTV 数据图表的显示标题
    LTVData:
      type: object
      description: 特定同期群的单个 LTV 数据点
      properties:
        title:
          type: string
          description: 此 LTV 数据点的显示标题
        type:
          type: string
          description: LTV 数据类型（'total' 表示聚合数据）
        value:
          type: number
          description: 此同期群的 LTV 值
        values:
          type: array
          description: 基于周期的 LTV 值数组
          items:
            type: object
        cohort_size:
          type: integer
          description: 此同期群的用户数量
    RetentionDataResponse:
      type: object
      description: 包含用户随时间变化的留存数据的响应
      properties:
        data:
          type: array
          description: 留存数据点数组（某些留存类型可能为空）
          items:
            type: object
        title:
          type: string
          description: 留存数据图表的显示标题
        metric_name:
          type: string
          description: 留存数据图表的内部名称
        description:
          type: string
          description: 留存计算方式的说明（绝对值与相对值）
        value_type:
          type: string
          nullable: true
          description: 留存值的类型（绝对值或相对值）
security:
  - apikeyAuth: []
