openapi: 3.1.0
info:
  title: Adapty Export Analytics API
  version: 1.0.0
  description: |
    La Adapty Export Analytics API te permite exportar tus datos de análisis en formato CSV o JSON,
    dándote la flexibilidad de profundizar en las métricas de rendimiento de tu app, personalizar informes
    y analizar tendencias a lo largo del tiempo. Con esta API, puedes extraer fácilmente datos de análisis detallados,
    lo que facilita el seguimiento, la compartición y la refinación de tus insights de datos según sea necesario.
servers:
  - url: https://api-admin.adapty.io
    description: Servidor de producción
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: Recuperar datos de análisis
      description: |-
        Recupera datos de análisis para obtener información sobre el comportamiento del usuario y las métricas de rendimiento para su uso posterior en gráficos.

        Los ingresos de este endpoint son **basados en eventos**: cada valor se atribuye a la **fecha de la transacción** — el día en que ocurrió la compra, renovación o reembolso. Para atribuir los ingresos a la fecha de instalación de cada usuario (por ejemplo, para conciliar con Ads Manager), utilice el endpoint de cohorte (`POST /api/v1/client-api/metrics/cohort/`).

        Límite de velocidad: 2 solicitudes por segundo.
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: Solicitud básica de datos de análisis
                value:
                  chart_id: revenue
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    country:
                      - us
                    attribution_channel:
                      - social_media_influencers
                  period_unit: week
                  segmentation: attribution_campaign
      responses:
        '200':
          description: Datos de análisis recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: Datos de análisis en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de velocidad superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/metrics/cohort/:
    post:
      summary: Recuperar datos de cohorte
      description: |-
        Recupera datos de cohorte para realizar un seguimiento de grupos de usuarios a lo largo del tiempo.

        Los ingresos de este endpoint se basan en **cohortes por fecha de instalación**: los ingresos de cada usuario se atribuyen a su **fecha de instalación**, no a la fecha de la transacción. La respuesta expone `total_revenue_usd` y `total_proceeds_usd`. Usa este endpoint (en lugar del endpoint de analíticas) para conciliar informes internos con Ads Manager, que también se basa en cohortes/fechas de instalación.

        Límite de velocidad: 2 solicitudes por segundo.
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: Solicitud básica de datos de cohorte
                value:
                  filters:
                    date:
                      - '2024-04-01'
                      - '2024-09-30'
                    store:
                      - app_store
                    country:
                      - us
                  period_unit: month
                  period_type: renewals
                  value_type: absolute
                  value_field: subscriptions
      responses:
        '200':
          description: Datos de cohorte recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: '2024-04-01'
                    type: total
                    title: Total
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0
                    total_proceeds_usd: 0
                    total_net_revenue_usd: 0
                    total_anrpas_usd: 0
                    total_appas_usd: 0
                    total_arpas_usd: 0
                    total_anrppu_usd: 0
                    total_apppu_usd: 0
                    total_arppu_usd: 0
                    total_anrpu_usd: 0
                    total_appu_usd: 0
                    total_arpu_usd: 0
                    predict: null
                    values:
                      - arpas_usd: 0
                        appas_usd: 0
                        anrpas_usd: 0
                        anrppu_usd: 0
                        apppu_usd: 0
                        arppu_usd: 0
                        anrpu_usd: 0
                        appu_usd: 0
                        arpu_usd: 0
                        installs: 0
                        period: 1
                        revenue_usd: 0
                        proceeds_usd: 0
                        net_revenue_usd: 0
                        revenue_relative: 0
                        proceeds_relative: 0
                        net_revenue_relative: 0
                        subscriptions: 0
                        subscriptions_relative: 0
                        subscribers: 0
                        subscribers_relative: 0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: Datos de cohorte en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de velocidad superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/metrics/conversion/:
    post:
      summary: Recuperar datos de conversión
      description: |-
        Recupera datos de conversión para analizar las acciones de los usuarios y medir la efectividad de los esfuerzos de marketing a lo largo del tiempo.

        Límite de velocidad: 2 solicitudes por segundo.
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: Basic conversion data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                  from_period: 1
                  to_period: 6+
                  period_unit: month
                  date_type: purchase_date
                  segmentation: country
                  format: json
      responses:
        '200':
          description: Datos de conversión recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: Conversion rate from Paid to more than 6 months
                type: multi
                default_aggregation: sum
                description: If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment.
                metric_name: from_paid_to_6_months_conversion
                is_json: true
                unit: percent
                recommended_period:
                  date_from: '2018-04-29'
                  date_to: '2024-12-31'
                  period_unit: month
            text/csv:
              schema:
                type: string
                description: Datos de conversión en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de velocidad superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/metrics/funnel/:
    post:
      summary: Recuperar datos de embudo
      description: |-
        Recupera datos de embudo para realizar un seguimiento de la progresión del usuario a través de etapas específicas de un proceso de conversión.

        Límite de velocidad: 2 solicitudes por segundo.
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: Basic funnel data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - promotional
                  period_unit: quarter
                  show_value_as: absolute
                  format: csv
      responses:
        '200':
          description: Datos de embudo recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: Total
                    type: total
                    values:
                      - period: -2
                        title: Install
                        value: 2
                        value_relative: 100
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 2
                          value_relative: 100
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: Paywall displayed
                        value: 0
                        value_relative: 0
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 0
                          value_relative: 0
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: Datos de embudo en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de velocidad superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/metrics/ltv/:
    post:
      summary: Recuperar datos de Valor de Vida del Cliente (LTV)
      description: |-
        Recupera datos de LTV para evaluar el potencial de ingresos a largo plazo de los clientes durante su período de participación.

        Límite de tasa: 2 solicitudes por segundo.
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: Solicitud básica de datos de LTV
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - introductory
                    store:
                      - app_store
                    country:
                      - us
                    attribution_source:
                      - appsflyer
                    attribution_status:
                      - organic
                    attribution_channel:
                      - social_media
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Datos de LTV recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                proceeds:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                net_revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
            text/csv:
              schema:
                type: string
                description: Datos de LTV en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de tasa superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/metrics/retention/:
    post:
      summary: Recuperar datos de retención
      description: |-
        Recupera los datos de retención para analizar la capacidad de un producto para mantener a los usuarios comprometidos a lo largo del tiempo.

        Límite de solicitudes: 2 por segundo.
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: Solicitud básica de datos de retención
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Datos de retención recuperados correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: Subscription retention
                metric_name: Subscription retention
                description: Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step.
                value_type: null
            text/csv:
              schema:
                type: string
                description: Datos de retención en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de solicitudes superado. Máximo 2 solicitudes por segundo por clave de API.
  /api/v1/client-api/exports/placements/:
    post:
      summary: Recuperar información de placement
      description: |-
        Recupera información sobre placements de paywall u onboarding: paywalls, segmentos, audiencias y pruebas A/B. Esto puede ayudarle a asegurarse de que todo está configurado correctamente sin tener que abrir cada placement por separado.

        Límite de solicitudes: 2 solicitudes por segundo.
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: Basic placement info request
                value:
                  filters:
                    placement_type: paywall
      responses:
        '200':
          description: Información de placement recuperada correctamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: Información de placement en formato CSV
        '400':
          description: Solicitud incorrecta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Límite de solicitudes superado. Máximo 2 solicitudes por segundo por clave de API.
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Debes autenticar tus solicitudes a la API con tu clave de API secreta como encabezado de Authorization.
        Puedes encontrarla en la Configuración de la aplicación. El formato es `Api-Key {YOUR_SECRET_API_KEY}`,
        por ejemplo: `Api-Key secret_live_...`.
  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum:
            - revenue
            - mrr
            - arr
            - arppu
            - subscriptions_active
            - subscriptions_new
            - subscriptions_renewal_cancelled
            - subscriptions_expired
            - trials_active
            - trials_new
            - trials_renewal_cancelled
            - trials_expired
            - grace_period
            - billing_issue
            - refund_events
            - refund_money
            - non_subscriptions
            - arpu
            - installs
          description: Especifica el gráfico que necesitas. Solo puedes especificar un tipo de gráfico en cada solicitud.
          example: revenue
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifica el intervalo de tiempo para agregar los datos de análisis
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Especifica qué fecha debe tratarse como fecha de incorporación del usuario
          default: purchase_date
        segmentation:
          type: string
          description: Establece la base para la segmentación
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifica el formato del archivo de exportación
          default: json
    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifica el intervalo de tiempo para agregar los datos de análisis
          default: month
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Analiza los datos por renovaciones o por días
          default: renewals
        value_type:
          type: string
          enum:
            - absolute
            - relative
          description: Especifica cómo se muestran los valores
          default: absolute
        value_field:
          type: string
          enum:
            - revenue
            - arppu
            - arpu
            - arpas
            - subscribers
            - subscriptions
          description: Especifica el tipo de valores que se muestran
          default: revenue
        accounting_type:
          type: string
          enum:
            - revenue
            - proceeds
            - net_revenue
          description: El método contable utilizado
          default: revenue
        renewal_days:
          type: array
          items:
            type: integer
          description: Lista de días transcurridos desde la instalación de la aplicación para el tipo de cohorte period_type=days
        prediction_months:
          type: integer
          enum:
            - 3
            - 6
            - 9
            - 12
            - 18
            - 24
          description: Indica cuántos meses de predicción deseas obtener
          default: 12
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifica el formato del archivo de exportación
          default: json
    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: 'null'
          description: El estado inicial de suscripción del usuario en la conversión
        to_period:
          type: string
          description: El nuevo estado de suscripción del usuario tras la conversión
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifica el intervalo de tiempo para agregar los datos de análisis
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Especifica qué fecha debe tratarse como fecha de incorporación del usuario
          default: purchase_date
        segmentation:
          type: string
          description: Establece la base para la segmentación
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifica el formato del archivo de exportación
          default: json
    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifica el intervalo de tiempo para agregar los datos de analíticas
        show_value_as:
          type: string
          enum:
            - absolute
            - relative
            - both
          description: Especifica cómo se muestran los valores
        segmentation:
          type: string
          description: Establece la base para la segmentación
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifica el formato del archivo de exportación
          default: json
    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifique el intervalo de tiempo para agregar los datos de análisis
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Analice los datos por renovaciones o por días
        segmentation:
          type: string
          description: Establece la base para la segmentación
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifique el formato del archivo de exportación
          default: json
    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Especifica el intervalo de tiempo para agregar los datos de análisis
        segmentation:
          type: string
          description: Establece la base para la segmentación
        use_trial:
          type: boolean
          description: Booleano que indica si se utilizó un período de prueba
          default: false
        format:
          type: string
          enum:
            - json
            - csv
          description: Especifica el formato del archivo de exportación
          default: json
    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum:
                - paywall
                - onboarding
              description: Filtra qué placements se enviarán en la respuesta
    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: ID del placement
              placement_name:
                type: string
                description: Nombre del placement
              audience_name:
                type: string
                description: Nombre de la audiencia
              segment_name:
                type: string
                description: ID de la audiencia
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: Nombre de la prueba A/B entre placements
              ab_test_name:
                type: string
                nullable: true
                description: Nombre de la prueba A/B
              paywall_name:
                type: string
                description: Nombre del paywall (solo se devuelve si placement_type es paywall)
              onboarding_name:
                type: string
                description: Nombre del onboarding (solo se devuelve si placement_type es onboarding)
    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: Introduce la fecha o el período de tiempo para el que deseas recuperar los datos del gráfico
        compare_date:
          type: array
          items:
            type: string
          description: Introduce la fecha o el período de tiempo de comparación
        store:
          type: array
          items:
            type: string
          description: Filtra por el store donde se realizó la compra
        country:
          type: array
          items:
            type: string
          description: Filtra por el código de país de 2 letras donde se realizó la compra
        store_product_id:
          type: array
          items:
            type: string
          description: ID de producto cualificado por store, con el formato `<store>:<product_id>` — por ejemplo `app_store:premium_monthly` o `play_store:premium_sub:monthly-base-plan` para una suscripción de Google con un plan base. Se rechaza un ID de producto sin prefijo de store.
        duration:
          type: array
          items:
            type: string
          description: Especifica la duración de la suscripción
        attribution_source:
          type: array
          items:
            type: string
          description: La integración de origen para la atribución
        attribution_status:
          type: array
          items:
            type: string
          description: Indica si la atribución es orgánica o no orgánica
        attribution_channel:
          type: array
          items:
            type: string
          description: Canal de marketing que originó la transacción
        attribution_campaign:
          type: array
          items:
            type: string
          description: Campaña de marketing que originó la transacción
        attribution_adgroup:
          type: array
          items:
            type: string
          description: Grupo de anuncios de atribución que originó la transacción
        attribution_adset:
          type: array
          items:
            type: string
          description: Conjunto de anuncios de atribución que originó la transacción
        attribution_creative:
          type: array
          items:
            type: string
          description: Elementos visuales o de texto específicos de un anuncio o campaña cuyo seguimiento se realiza para medir su efectividad
        offer_category:
          type: array
          items:
            type: string
          description: Especifica las categorías de oferta para las que deseas recuperar datos
        offer_type:
          type: array
          items:
            type: string
          description: Especifica los tipos de oferta para los que deseas recuperar datos
        offer_id:
          type: array
          items:
            type: string
          description: Especifica las ofertas concretas para las que deseas recuperar datos
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    AnalyticsDataResponse:
      type: object
      description: Respuesta que contiene datos de análisis para el tipo de gráfico solicitado
      properties:
        data:
          type: object
          description: Objeto que contiene diferentes tipos de métricas (revenue, proceeds, net_revenue, etc.)
          additionalProperties:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      description: Datos de métrica individual que contienen valores, descripciones y metadatos
      properties:
        data:
          type: array
          description: Matriz de puntos de datos para la métrica (puede estar vacía para métricas agregadas)
          items:
            type: object
        value:
          type: number
          description: El valor principal de esta métrica
        value_from:
          type: number
          nullable: true
          description: Valor inicial del período (si corresponde)
        value_to:
          type: number
          nullable: true
          description: Valor final del período (si corresponde)
        compare_value_from:
          type: number
          nullable: true
          description: Valor inicial del período de comparación (si corresponde)
        compare_value_to:
          type: number
          nullable: true
          description: Valor final del período de comparación (si corresponde)
        title:
          type: string
          description: Título de visualización de la métrica
        type:
          type: string
          description: Tipo de métrica (p. ej., 'multi', 'single')
        default_aggregation:
          type: string
          description: Método de agregación predeterminado (p. ej., 'sum', 'average')
        description:
          type: string
          description: Descripción en HTML que explica qué representa esta métrica y cómo se calcula
        metric_name:
          type: string
          description: Nombre interno de la métrica
        is_json:
          type: boolean
          description: Indica si los datos están en formato JSON
        unit:
          type: string
          description: Unidad de medida (p. ej., 'USD', 'percent')
        recommended_period:
          type: object
          nullable: true
          description: Rango de fechas recomendado para esta métrica
          properties:
            date_from:
              type: string
              description: Fecha de inicio del período recomendado
            date_to:
              type: string
              description: Fecha de fin del período recomendado
            period_unit:
              type: string
              description: Unidad de período recomendada (día, semana, mes, etc.)
    CohortDataResponse:
      type: object
      description: Respuesta que contiene datos de análisis de cohorte que muestran el comportamiento de los usuarios a lo largo del tiempo
      properties:
        data:
          type: array
          description: Array de segmentos de cohorte, cada uno representa un grupo de usuarios que comenzaron en el mismo período
          items:
            $ref: '#/components/schemas/CohortSegment'
    CohortSegment:
      type: object
      description: Un segmento de cohorte que representa a los usuarios que comenzaron en el mismo período
      properties:
        segment_start_date:
          type: string
          description: La fecha de inicio de este segmento de cohorte
        type:
          type: string
          description: Tipo de segmento ('total' para datos agregados, 'single' para cohorte individual)
        title:
          type: string
          description: Título de visualización para este segmento de cohorte
        total_installs:
          type: integer
          description: Número total de instalaciones de la app en esta cohorte
        total_subscriptions:
          type: integer
          description: Número total de suscripciones en esta cohorte
        total_paid_subscribers:
          type: integer
          description: Número total de suscriptores de pago en esta cohorte
        total_revenue_usd:
          type: number
          description: Ingresos totales en USD para esta cohorte
        total_proceeds_usd:
          type: number
          description: Ingresos netos totales en USD para esta cohorte (después de las comisiones del store)
        total_net_revenue_usd:
          type: number
          description: Ingresos netos totales en USD para esta cohorte
        total_anrpas_usd:
          type: number
          description: Ingresos medios totales por suscriptor activo (ANRPAS) en USD
        total_appas_usd:
          type: number
          description: Ingresos netos medios totales por suscriptor activo (APPAS) en USD
        total_arpas_usd:
          type: number
          description: Ingresos medios totales por suscriptor activo (ARPAS) en USD
        total_anrppu_usd:
          type: number
          description: Ingresos medios totales por usuario de pago (ANRPPU) en USD
        total_apppu_usd:
          type: number
          description: Ingresos netos medios totales por usuario de pago (APPPU) en USD
        total_arppu_usd:
          type: number
          description: Ingresos medios totales por usuario de pago (ARPPU) en USD
        total_anrpu_usd:
          type: number
          description: Ingresos medios totales por usuario (ANRPU) en USD
        total_appu_usd:
          type: number
          description: Ingresos netos medios totales por usuario (APPU) en USD
        total_arpu_usd:
          type: number
          description: Ingresos medios totales por usuario (ARPU) en USD
        predict:
          type: object
          nullable: true
          description: Datos de predicción para esta cohorte (si están disponibles)
        values:
          type: array
          description: Array de valores basados en períodos que muestran el rendimiento de la cohorte a lo largo del tiempo
          items:
            $ref: '#/components/schemas/CohortValue'
    CohortValue:
      type: object
      description: Valor de período individual dentro de un segmento de cohorte que muestra métricas de rendimiento para un período de tiempo específico
      properties:
        arpas_usd:
          type: number
          description: Ingresos medios por suscriptor activo en USD para este período
        appas_usd:
          type: number
          description: Ingresos netos medios por suscriptor activo en USD para este período
        anrpas_usd:
          type: number
          description: Ingresos netos medios por suscriptor activo en USD para este período
        anrppu_usd:
          type: number
          description: Ingresos netos medios por usuario de pago en USD para este período
        apppu_usd:
          type: number
          description: Ingresos netos medios por usuario de pago en USD para este período
        arppu_usd:
          type: number
          description: Ingresos medios por usuario de pago en USD para este período
        anrpu_usd:
          type: number
          description: Ingresos netos medios por usuario en USD para este período
        appu_usd:
          type: number
          description: Ingresos netos medios por usuario en USD para este período
        arpu_usd:
          type: number
          description: Ingresos medios por usuario en USD para este período
        installs:
          type: integer
          description: Número de instalaciones de la aplicación en este período
        period:
          type: integer
          description: Número de período (1 = primer período, 2 = segundo período, etc.)
        revenue_usd:
          type: number
          description: Ingresos totales en USD para este período
        proceeds_usd:
          type: number
          description: Ingresos netos totales en USD para este período (después de las comisiones del store)
        net_revenue_usd:
          type: number
          description: Ingresos netos totales en USD para este período
        revenue_relative:
          type: number
          description: Ingresos como porcentaje relativo al primer período (100% = primer período)
        proceeds_relative:
          type: number
          description: Ingresos netos como porcentaje relativo al primer período (100% = primer período)
        net_revenue_relative:
          type: number
          description: Ingresos netos como porcentaje relativo al primer período (100% = primer período)
        subscriptions:
          type: integer
          description: Número de suscripciones en este período
        subscriptions_relative:
          type: number
          description: Suscripciones como porcentaje relativo al primer período (100% = primer período)
        subscribers:
          type: integer
          description: Número de suscriptores en este período
        subscribers_relative:
          type: number
          description: Suscriptores como porcentaje relativo al primer período (100% = primer período)
        currently_active_period:
          type: boolean
          description: Indica si este es el período actualmente activo para la cohorte
    ConversionDataResponse:
      type: object
      description: Respuesta que contiene datos de conversión que muestran la progresión de los usuarios entre estados de suscripción
      properties:
        data:
          type: array
          description: Array de puntos de datos de conversión (puede estar vacío para métricas agregadas)
          items:
            type: object
        value:
          type: number
          description: El valor de la tasa de conversión
        value_from:
          type: integer
          description: Estado de suscripción inicial para la conversión
        value_to:
          type: integer
          description: Estado de suscripción objetivo para la conversión
        compare_value_from:
          type: number
          nullable: true
          description: Valor inicial para el período de comparación
        compare_value_to:
          type: number
          nullable: true
          description: Valor final para el período de comparación
        title:
          type: string
          description: Título de visualización que describe el tipo de conversión
        type:
          type: string
          description: Tipo de métrica de conversión
        default_aggregation:
          type: string
          description: Método de agregación predeterminado para esta métrica
        description:
          type: string
          description: Explicación detallada de cómo se calcula la tasa de conversión
        metric_name:
          type: string
          description: Nombre interno de la métrica de conversión
        is_json:
          type: boolean
          description: Indica si los datos están en formato JSON
        unit:
          type: string
          description: Unidad de medida (normalmente 'percent' para tasas de conversión)
        recommended_period:
          type: object
          description: Rango de fechas recomendado para esta métrica de conversión
          properties:
            date_from:
              type: string
              description: Fecha de inicio del período recomendado
            date_to:
              type: string
              description: Fecha de fin del período recomendado
            period_unit:
              type: string
              description: Unidad de período recomendada
    FunnelDataResponse:
      type: object
      description: Respuesta que contiene datos de análisis de embudo que muestra la progresión de usuarios a través de las etapas de conversión
      properties:
        data:
          type: array
          description: Array de segmentos de embudo que muestran las diferentes etapas del proceso de conversión
          items:
            $ref: '#/components/schemas/FunnelSegment'
    FunnelSegment:
      type: object
      description: Un segmento de embudo que representa una etapa en el proceso de conversión
      properties:
        title:
          type: string
          description: Título de visualización para este segmento de embudo
        type:
          type: string
          description: Tipo de segmento de embudo ('total' para datos agregados)
        values:
          type: array
          description: Array de valores del embudo que muestra la progresión a través de las etapas
          items:
            $ref: '#/components/schemas/FunnelValue'
    FunnelValue:
      type: object
      description: Valor individual de etapa del embudo que muestra la progresión y abandono de usuarios
      properties:
        period:
          type: integer
          description: Número de período en el embudo (-2 = Instalación, -1 = Paywall mostrado, etc.)
        title:
          type: string
          description: Título de visualización para esta etapa del embudo
        value:
          type: integer
          description: Número de usuarios que alcanzaron esta etapa
        value_relative:
          type: number
          description: Porcentaje de usuarios que alcanzaron esta etapa en relación con la primera etapa
        relative_changes:
          type: number
          description: Cambio en la tasa de conversión en comparación con el período anterior
        following_changes:
          type: object
          description: Información sobre los usuarios que abandonaron después de esta etapa
          properties:
            title:
              type: string
              description: Título para la etapa de abandono
            value:
              type: integer
              description: Número de usuarios que abandonaron
            value_relative:
              type: number
              description: Porcentaje de usuarios que abandonaron
        churn_reason_title:
          type: string
          description: Título que describe el motivo de la cancelación en esta etapa
        churn_reasons:
          type: array
          description: Array de motivos específicos de cancelación
          items:
            type: object
        values:
          type: array
          description: Valores anidados adicionales para esta etapa del embudo
          items:
            type: object
    LTVDataResponse:
      type: object
      description: Respuesta que contiene datos de Valor de Vida del Cliente (LTV) para diferentes tipos de ingresos
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV calculado usando los ingresos brutos
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV calculado usando los ingresos netos (después de las comisiones del store)
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: LTV calculado usando los ingresos netos
    LTVMetric:
      type: object
      description: Métrica LTV individual que contiene datos de cohorte y cálculos
      properties:
        data:
          type: array
          description: Array de puntos de datos LTV para diferentes cohortes
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: Descripción en HTML que explica cómo se calcula el LTV
        value:
          type: number
          description: El valor LTV general
        unit:
          type: string
          description: Unidad de medida (normalmente 'USD')
        title:
          type: string
          description: Título de presentación para esta métrica LTV
    LTVData:
      type: object
      description: Punto de datos LTV individual para una cohorte específica
      properties:
        title:
          type: string
          description: Título de visualización para este punto de datos LTV
        type:
          type: string
          description: Tipo de datos LTV ('total' para datos agregados)
        value:
          type: number
          description: Valor LTV para esta cohorte
        values:
          type: array
          description: Array de valores LTV basados en períodos
          items:
            type: object
        cohort_size:
          type: integer
          description: Número de usuarios en esta cohorte
    RetentionDataResponse:
      type: object
      description: Respuesta que contiene datos de retención que muestran la participación de los usuarios a lo largo del tiempo
      properties:
        data:
          type: array
          description: Array de puntos de datos de retención (puede estar vacío para algunos tipos de retención)
          items:
            type: object
        title:
          type: string
          description: Título de visualización para la métrica de retención
        metric_name:
          type: string
          description: Nombre interno de la métrica de retención
        description:
          type: string
          description: Explicación de cómo se calcula la retención (valores absolutos o relativos)
        value_type:
          type: string
          nullable: true
          description: Tipo de valor de retención (absoluto o relativo)
security:
  - apikeyAuth: []
