openapi: 3.1.0
info:
  title: Adapty Export Analytics API
  version: 1.0.0
  description: |
    Adapty Export Analytics API, analiz verilerinizi CSV veya JSON formatında dışa aktarmanıza olanak tanır;
    uygulamanızın performans metriklerini daha derinlemesine inceleme, raporları özelleştirme
    ve zaman içindeki eğilimleri analiz etme esnekliği sunar. Bu API ile ayrıntılı analiz verilerini kolayca çekebilir,
    verilerinizi takip etmeyi, paylaşmayı ve gerektiğinde veri içgörülerinizi iyileştirmeyi pratik hale getirebilirsiniz.
servers:
  - url: https://api-admin.adapty.io
    description: Production server
paths:
  /api/v1/client-api/metrics/analytics/:
    post:
      summary: Analitik verilerini getir
      description: |-
        Grafiklerde kullanılmak üzere kullanıcı davranışı ve performans metrikleri hakkında içgörüler için analitik verilerini getirir.

        Bu endpoint'ten elde edilen gelir **olay tabanlıdır**: her değer **işlem tarihine** — satın alma, yenileme veya iadenin gerçekleştiği güne — atfedilir. Geliri her kullanıcının kurulum tarihine göre atfetmek için (örneğin Ads Manager ile mutabakat sağlamak amacıyla) kohort endpoint'ini kullanın (`POST /api/v1/client-api/metrics/cohort/`).

        Hız sınırı: saniyede 2 istek.
      operationId: retrieveAnalyticsData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsDataRequest'
            examples:
              basic:
                summary: Basic analytics data request
                value:
                  chart_id: revenue
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    country:
                      - us
                    attribution_channel:
                      - social_media_influencers
                  period_unit: week
                  segmentation: attribution_campaign
      responses:
        '200':
          description: Analitik verileri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsDataResponse'
              example:
                data:
                  revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  proceeds:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
                  net_revenue:
                    data: []
                    value: 0
                    value_from: null
                    value_to: null
                    compare_value_from: null
                    compare_value_to: null
                    title: revenue
                    type: multi
                    default_aggregation: sum
                    description: |-
                      <div>Total money received from both subscriptions and one-time purchases. Does not include
                      revenue from subscriptions and purchases that were refunded afterward. Calculated before the store's fee.<br />
                      For example, there were 5 monthly $10 subs, 1 yearly $100 sub and 10 one-time $50 purchases today,<br />
                      revenue = 5*$10 + 1*$100 + 10*$50 = $650</div>
                    metric_name: Revenue
                    is_json: true
                    unit: USD
                    recommended_period: null
            text/csv:
              schema:
                type: string
                description: CSV formatında analitik verileri
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
  /api/v1/client-api/metrics/cohort/:
    post:
      summary: Kohort verilerini getir
      description: |-
        Kullanıcı gruplarını zaman içinde takip etmek için kohort verilerini getirin.

        Bu endpoint'ten elde edilen gelir, **kurulum tarihi kohortuna** dayalıdır: her kullanıcının geliri, işlem tarihine değil **kurulum tarihine** atfedilir. Yanıt, `total_revenue_usd` ve `total_proceeds_usd` değerlerini içerir. Dahili raporları Ads Manager ile mutabık kılmak için analytics endpoint'i yerine bu endpoint'i kullanın; Ads Manager da kohort/kurulum tarihi bazlıdır.

        Hız sınırı: saniyede 2 istek.
      operationId: retrieveCohortData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortDataRequest'
            examples:
              basic:
                summary: Temel kohort verisi isteği
                value:
                  filters:
                    date:
                      - '2024-04-01'
                      - '2024-09-30'
                    store:
                      - app_store
                    country:
                      - us
                  period_unit: month
                  period_type: renewals
                  value_type: absolute
                  value_field: subscriptions
      responses:
        '200':
          description: Kohort verileri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortDataResponse'
              example:
                data:
                  - segment_start_date: '2024-04-01'
                    type: total
                    title: Total
                    total_installs: 0
                    total_subscriptions: 0
                    total_paid_subscribers: 0
                    total_revenue_usd: 0
                    total_proceeds_usd: 0
                    total_net_revenue_usd: 0
                    total_anrpas_usd: 0
                    total_appas_usd: 0
                    total_arpas_usd: 0
                    total_anrppu_usd: 0
                    total_apppu_usd: 0
                    total_arppu_usd: 0
                    total_anrpu_usd: 0
                    total_appu_usd: 0
                    total_arpu_usd: 0
                    predict: null
                    values:
                      - arpas_usd: 0
                        appas_usd: 0
                        anrpas_usd: 0
                        anrppu_usd: 0
                        apppu_usd: 0
                        arppu_usd: 0
                        anrpu_usd: 0
                        appu_usd: 0
                        arpu_usd: 0
                        installs: 0
                        period: 1
                        revenue_usd: 0
                        proceeds_usd: 0
                        net_revenue_usd: 0
                        revenue_relative: 0
                        proceeds_relative: 0
                        net_revenue_relative: 0
                        subscriptions: 0
                        subscriptions_relative: 0
                        subscribers: 0
                        subscribers_relative: 0
                        currently_active_period: false
            text/csv:
              schema:
                type: string
                description: CSV formatında kohort verileri
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
  /api/v1/client-api/metrics/conversion/:
    post:
      summary: Dönüşüm verilerini getir
      description: |-
        Kullanıcı eylemlerini analiz etmek ve pazarlama çalışmalarının zaman içindeki etkinliğini ölçmek için dönüşüm verilerini getirir.

        Hız sınırı: Saniyede 2 istek.
      operationId: retrieveConversionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionDataRequest'
            examples:
              basic:
                summary: Basic conversion data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                  from_period: 1
                  to_period: 6+
                  period_unit: month
                  date_type: purchase_date
                  segmentation: country
                  format: json
      responses:
        '200':
          description: Dönüşüm verileri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionDataResponse'
              example:
                data: []
                value: 0
                value_from: 0
                value_to: 0
                compare_value_from: null
                compare_value_to: null
                title: Conversion rate from Paid to more than 6 months
                type: multi
                default_aggregation: sum
                description: If Х - the number of the 1st payments taken during the selected date, and Y - the amount of the renewals that happened after the 6 months since the selected date from those 1st payments, then Conversion = (Y / X) * 100%. For example, we had 100 1st subscriptions of various products on the 1st of January and among them 20 renewed on the 1st week of July (the 25th payment). On the 8th of July, we open the chart and see the conversion of the 1st of January = (20 / 100) * 100% = 20%. Then 30 more subscribers of the 1st of January renewed by the start of August (the 8th payment). We open the chart on the 1st of August and see that the conversion of the 1st of January = ((20+30) / 100) * 100% = 50%. This number shows which part of those who had their 1st payment on the 1st of January converted to the period > 6 months with any number of payments by the current moment.
                metric_name: from_paid_to_6_months_conversion
                is_json: true
                unit: percent
                recommended_period:
                  date_from: '2018-04-29'
                  date_to: '2024-12-31'
                  period_unit: month
            text/csv:
              schema:
                type: string
                description: CSV formatında dönüşüm verileri
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
  /api/v1/client-api/metrics/funnel/:
    post:
      summary: Funnel verilerini getir
      description: |-
        Kullanıcıların bir dönüşüm sürecinin belirli aşamalarından geçişini izlemek için funnel verilerini getirir.

        Hız sınırı: Saniyede 2 istek.
      operationId: retrieveFunnelData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelDataRequest'
            examples:
              basic:
                summary: Basic funnel data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - promotional
                  period_unit: quarter
                  show_value_as: absolute
                  format: csv
      responses:
        '200':
          description: Funnel verileri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelDataResponse'
              example:
                data:
                  - title: Total
                    type: total
                    values:
                      - period: -2
                        title: Install
                        value: 2
                        value_relative: 100
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 2
                          value_relative: 100
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
                      - period: -1
                        title: Paywall displayed
                        value: 0
                        value_relative: 0
                        relative_changes: 0
                        following_changes:
                          title: Drop off
                          value: 0
                          value_relative: 0
                        churn_reason_title: ''
                        churn_reasons: []
                        values: []
            text/csv:
              schema:
                type: string
                description: CSV formatında funnel verileri
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede en fazla 2 istek.
  /api/v1/client-api/metrics/ltv/:
    post:
      summary: Yaşam Boyu Değer (LTV) verilerini al
      description: |-
        Müşterilerin etkileşim süresi boyunca uzun vadeli gelir potansiyelini değerlendirmek için LTV verilerini getirir.

        Hız sınırı: Saniyede 2 istek.
      operationId: retrieveLTVData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LTVDataRequest'
            examples:
              basic:
                summary: Temel LTV verisi isteği
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                    offer_category:
                      - introductory
                    store:
                      - app_store
                    country:
                      - us
                    attribution_source:
                      - appsflyer
                    attribution_status:
                      - organic
                    attribution_channel:
                      - social_media
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: LTV verileri başarıyla alındı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LTVDataResponse'
              example:
                revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                proceeds:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
                net_revenue:
                  data:
                    - title: Total
                      type: total
                      value: 0
                      values: []
                      cohort_size: 0
                  description: |-
                    <div>LTV (Lifetime Value) is calculated as revenue for the period / number of subscribers on start.
                     It's an actual, not predicted LTV.
                     <a target="_blank" rel="noopener noreferrer" href='https://adapty.io/docs/ltv'> Read more</a>.</div>
                  value: 0
                  unit: USD
                  title: LTV
            text/csv:
              schema:
                type: string
                description: CSV formatında LTV verileri
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
  /api/v1/client-api/metrics/retention/:
    post:
      summary: Elde tutma verilerini al
      description: |-
        Bir ürünün kullanıcıları zaman içinde etkileşimde tutma yeteneğini analiz etmek için elde tutma verilerini alır.

        Hız sınırı: Saniyede 2 istek.
      operationId: retrieveRetentionData
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionDataRequest'
            examples:
              basic:
                summary: Basic retention data request
                value:
                  filters:
                    date:
                      - '2024-01-01'
                      - '2024-12-31'
                    compare_date:
                      - '2023-01-01'
                      - '2023-12-31'
                  period_unit: quarter
                  period_type: renewals
                  segmentation: store_product_id
                  format: csv
      responses:
        '200':
          description: Elde tutma verileri başarıyla alındı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionDataResponse'
              example:
                data: []
                title: Subscription retention
                metric_name: Subscription retention
                description: Absolute value is the amount of users who entered the current step - subscribed for a trial or paid for a subscription. Relative is calculated as a percentage of these users among those who got a trial. So it starts with 100% for the trial step.
                value_type: null
            text/csv:
              schema:
                type: string
                description: CSV formatında elde tutma verileri
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
  /api/v1/client-api/exports/placements/:
    post:
      summary: Placement bilgilerini al
      description: |-
        Paywall veya onboarding placement'larına ilişkin bilgileri alır: paywall'lar, segment'ler, kitleler ve A/B testleri. Bu, sahip olduğunuz her placement'ı ayrı ayrı açmak zorunda kalmadan her şeyin doğru şekilde ayarlandığından emin olmanıza yardımcı olabilir.

        Hız sınırı: Saniyede 2 istek.
      operationId: retrievePlacementInfo
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlacementInfoRequest'
            examples:
              basic:
                summary: Basic placement info request
                value:
                  filters:
                    placement_type: paywall
      responses:
        '200':
          description: Placement bilgileri başarıyla alındı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacementInfoResponse'
            text/csv:
              schema:
                type: string
                description: CSV formatında placement bilgileri
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '429':
          description: Hız sınırı aşıldı. API anahtarı başına saniyede maksimum 2 istek.
components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        API isteklerinizi, gizli API anahtarınızla Authorization başlığı olarak doğrulamanız gerekir.
        Bunu Uygulama Ayarları'nda bulabilirsiniz. Format şu şekildedir: `Api-Key {YOUR_SECRET_API_KEY}`,
        örneğin: `Api-Key secret_live_...`.
  schemas:
    AnalyticsDataRequest:
      type: object
      required:
        - chart_id
        - filters
      properties:
        chart_id:
          type: string
          enum:
            - revenue
            - mrr
            - arr
            - arppu
            - subscriptions_active
            - subscriptions_new
            - subscriptions_renewal_cancelled
            - subscriptions_expired
            - trials_active
            - trials_new
            - trials_renewal_cancelled
            - trials_expired
            - grace_period
            - billing_issue
            - refund_events
            - refund_money
            - non_subscriptions
            - arpu
            - installs
          description: Hangi grafiğe ihtiyacınız olduğunu belirtin. Her istekte yalnızca bir grafik türü belirtebilirsiniz.
          example: revenue
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Kullanıcının katılım tarihi olarak hangi tarihin kullanılacağını belirtin
          default: purchase_date
        segmentation:
          type: string
          description: Segmentasyonun temelini belirler
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    CohortDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
          default: month
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Verileri yenilemeler veya günler bazında analiz edin
          default: renewals
        value_type:
          type: string
          enum:
            - absolute
            - relative
          description: Değerlerin nasıl görüntüleneceğini belirtin
          default: absolute
        value_field:
          type: string
          enum:
            - revenue
            - arppu
            - arpu
            - arpas
            - subscribers
            - subscriptions
          description: Görüntülenen değerlerin türünü belirtin
          default: revenue
        accounting_type:
          type: string
          enum:
            - revenue
            - proceeds
            - net_revenue
          description: Kullanılan muhasebe yöntemi
          default: revenue
        renewal_days:
          type: array
          items:
            type: integer
          description: period_type=days kohort türü için uygulamanın yüklenmesinden bu yana geçen gün listesi
        prediction_months:
          type: integer
          enum:
            - 3
            - 6
            - 9
            - 12
            - 18
            - 24
          description: Kaç aylık tahmin istediğinizi girin
          default: 12
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    ConversionDataRequest:
      type: object
      required:
        - filters
        - from_period
        - to_period
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        from_period:
          oneOf:
            - type: string
            - type: 'null'
          description: Kullanıcının dönüşümdeki başlangıç abonelik durumu
        to_period:
          type: string
          description: Dönüşümden sonra kullanıcının yeni abonelik durumu
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
          default: month
        date_type:
          type: string
          enum:
            - purchase_date
            - profile_install_date
          description: Kullanıcının katılım tarihi olarak hangi tarihin kullanılacağını belirtin
          default: purchase_date
        segmentation:
          type: string
          description: Segmentasyonun temelini belirler
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    FunnelDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
        show_value_as:
          type: string
          enum:
            - absolute
            - relative
            - both
          description: Değerlerin nasıl görüntüleneceğini belirtin
        segmentation:
          type: string
          description: Segmentasyonun temelini belirler
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    LTVDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
        period_type:
          type: string
          enum:
            - renewals
            - days
          description: Verileri yenilemeler veya günler bazında analiz edin
        segmentation:
          type: string
          description: Segmentasyonun temelini belirler
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    RetentionDataRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          $ref: '#/components/schemas/MetricsFilters'
        period_unit:
          type: string
          enum:
            - day
            - week
            - month
            - quarter
            - year
          description: Analitik verilerini toplamak için zaman aralığını belirtin
        segmentation:
          type: string
          description: Segmentasyonun temelini belirler
        use_trial:
          type: boolean
          description: Deneme sürümünün kullanılıp kullanılmadığını belirten boolean değer
          default: false
        format:
          type: string
          enum:
            - json
            - csv
          description: Dışa aktarma dosya biçimini belirtin
          default: json
    PlacementInfoRequest:
      type: object
      required:
        - filters
      properties:
        filters:
          type: object
          required:
            - placement_type
          properties:
            placement_type:
              type: string
              enum:
                - paywall
                - onboarding
              description: Yanıtta hangi placement'ların gönderileceğini filtreler
    PlacementInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              developer_id:
                type: string
                description: Placement ID
              placement_name:
                type: string
                description: Placement adı
              audience_name:
                type: string
                description: Kitle adı
              segment_name:
                type: string
                description: Kitle ID
              cross_placement_ab_test_name:
                type: string
                nullable: true
                description: Placement'lar arası A/B testi adı
              ab_test_name:
                type: string
                nullable: true
                description: A/B testi adı
              paywall_name:
                type: string
                description: Paywall adı (yalnızca placement_type paywall olduğunda döndürülür)
              onboarding_name:
                type: string
                description: Onboarding adı (yalnızca placement_type onboarding olduğunda döndürülür)
    MetricsFilters:
      type: object
      required:
        - date
      properties:
        date:
          type: array
          items:
            type: string
          description: Grafik verilerini almak istediğiniz tarihi veya zaman dilimini girin
        compare_date:
          type: array
          items:
            type: string
          description: Karşılaştırma tarihini veya zaman dilimini girin
        store:
          type: array
          items:
            type: string
          description: Satın almanın gerçekleştiği uygulama mağazasına göre filtreleyin
        country:
          type: array
          items:
            type: string
          description: Satın almanın gerçekleştiği ülkenin 2 harfli ülke koduna göre filtreleyin
        store_product_id:
          type: array
          items:
            type: string
          description: Mağaza nitelikli ürün kimliği; `<store>:<product_id>` biçiminde belirtilir — örneğin `app_store:premium_monthly` veya temel plana sahip bir Google aboneliği için `play_store:premium_sub:monthly-base-plan`. Mağaza öneki içermeyen bir ürün kimliği reddedilir.
        duration:
          type: array
          items:
            type: string
          description: Abonelik süresini belirtin
        attribution_source:
          type: array
          items:
            type: string
          description: Attribution için kaynak entegrasyon
        attribution_status:
          type: array
          items:
            type: string
          description: Attribution'ın organik mi yoksa organik olmayan mı olduğunu gösterir
        attribution_channel:
          type: array
          items:
            type: string
          description: İşleme yol açan pazarlama kanalı
        attribution_campaign:
          type: array
          items:
            type: string
          description: İşlemi getiren pazarlama kampanyası
        attribution_adgroup:
          type: array
          items:
            type: string
          description: İşlemi getiren attribution reklam grubu
        attribution_adset:
          type: array
          items:
            type: string
          description: İşleme yol açan attribution reklam seti
        attribution_creative:
          type: array
          items:
            type: string
          description: Etkinliği ölçmek amacıyla takip edilen bir reklam veya kampanyadaki belirli görsel ya da metin öğeleri
        offer_category:
          type: array
          items:
            type: string
          description: Veri almak istediğiniz teklif kategorilerini belirtin
        offer_type:
          type: array
          items:
            type: string
          description: Veri almak istediğiniz teklif türlerini belirtin
        offer_id:
          type: array
          items:
            type: string
          description: Veri almak istediğiniz belirli teklifleri belirtin
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer
    AnalyticsDataResponse:
      type: object
      description: İstenen grafik türü için analitik verilerini içeren yanıt
      properties:
        data:
          type: object
          description: Farklı metrik türlerini içeren nesne (revenue, proceeds, net_revenue, vb.)
          additionalProperties:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      description: Değerleri, açıklamaları ve meta verileri içeren bireysel metrik verisi
      properties:
        data:
          type: array
          description: Metrik için veri noktaları dizisi (toplu metrikler için boş olabilir)
          items:
            type: object
        value:
          type: number
          description: Bu metrik için ana değer
        value_from:
          type: number
          nullable: true
          description: Dönem için başlangıç değeri (varsa)
        value_to:
          type: number
          nullable: true
          description: Dönem için bitiş değeri (varsa)
        compare_value_from:
          type: number
          nullable: true
          description: Karşılaştırma dönemi için başlangıç değeri (varsa)
        compare_value_to:
          type: number
          nullable: true
          description: Karşılaştırma dönemi için bitiş değeri (varsa)
        title:
          type: string
          description: Metrik için görüntüleme başlığı
        type:
          type: string
          description: Metrik türü (örn. 'multi', 'single')
        default_aggregation:
          type: string
          description: Varsayılan toplama yöntemi (örn. 'sum', 'average')
        description:
          type: string
          description: Bu metriğin ne ifade ettiğini ve nasıl hesaplandığını açıklayan HTML açıklaması
        metric_name:
          type: string
          description: Metriğin dahili adı
        is_json:
          type: boolean
          description: Verinin JSON formatında olup olmadığı
        unit:
          type: string
          description: Ölçüm birimi (örn. 'USD', 'percent')
        recommended_period:
          type: object
          nullable: true
          description: Bu metrik için önerilen tarih aralığı
          properties:
            date_from:
              type: string
              description: Önerilen dönemin başlangıç tarihi
            date_to:
              type: string
              description: Önerilen dönemin bitiş tarihi
            period_unit:
              type: string
              description: Önerilen dönem birimi (gün, hafta, ay vb.)
    CohortDataResponse:
      type: object
      description: Aynı dönemde başlayan kullanıcı gruplarının zaman içindeki davranışlarını gösteren kohort analizi verilerini içeren yanıt
      properties:
        data:
          type: array
          description: Her biri aynı dönemde başlayan bir kullanıcı grubunu temsil eden kohort segmentlerinden oluşan dizi
          items:
            $ref: '#/components/schemas/CohortSegment'
    CohortSegment:
      type: object
      description: Aynı dönemde başlayan kullanıcıları temsil eden bir kohort segmenti
      properties:
        segment_start_date:
          type: string
          description: Bu kohort segmentinin başlangıç tarihi
        type:
          type: string
          description: Segment türü (toplanmış veriler için 'total', bireysel kohort için 'single')
        title:
          type: string
          description: Bu kohort segmenti için görüntüleme başlığı
        total_installs:
          type: integer
          description: Bu kohortdaki toplam uygulama kurulum sayısı
        total_subscriptions:
          type: integer
          description: Bu kohortdaki toplam abonelik sayısı
        total_paid_subscribers:
          type: integer
          description: Bu kohortdaki toplam ücretli abone sayısı
        total_revenue_usd:
          type: number
          description: Bu kohort için USD cinsinden toplam gelir
        total_proceeds_usd:
          type: number
          description: Bu kohort için USD cinsinden toplam hasılat (mağaza ücretleri düşüldükten sonra)
        total_net_revenue_usd:
          type: number
          description: Bu kohort için USD cinsinden toplam net gelir
        total_anrpas_usd:
          type: number
          description: USD cinsinden toplam Aktif Abone Başına Ortalama Net Gelir (ANRPAS)
        total_appas_usd:
          type: number
          description: USD cinsinden toplam Aktif Abone Başına Ortalama Hasılat (APPAS)
        total_arpas_usd:
          type: number
          description: USD cinsinden toplam Aktif Abone Başına Ortalama Gelir (ARPAS)
        total_anrppu_usd:
          type: number
          description: USD cinsinden toplam Ödeme Yapan Kullanıcı Başına Ortalama Net Gelir (ANRPPU)
        total_apppu_usd:
          type: number
          description: USD cinsinden toplam Ödeme Yapan Kullanıcı Başına Ortalama Hasılat (APPPU)
        total_arppu_usd:
          type: number
          description: USD cinsinden toplam Ödeme Yapan Kullanıcı Başına Ortalama Gelir (ARPPU)
        total_anrpu_usd:
          type: number
          description: USD cinsinden toplam Kullanıcı Başına Ortalama Net Gelir (ANRPU)
        total_appu_usd:
          type: number
          description: USD cinsinden toplam Kullanıcı Başına Ortalama Hasılat (APPU)
        total_arpu_usd:
          type: number
          description: USD cinsinden toplam Kullanıcı Başına Ortalama Gelir (ARPU)
        predict:
          type: object
          nullable: true
          description: Bu kohort için tahmin verisi (mevcutsa)
        values:
          type: array
          description: Kohort performansını zaman içinde gösteren dönem bazlı değerler dizisi
          items:
            $ref: '#/components/schemas/CohortValue'
    CohortValue:
      type: object
      description: Belirli bir zaman dönemi için performans metriklerini gösteren bir kohort segmenti içindeki bireysel dönem değeri
      properties:
        arpas_usd:
          type: number
          description: Bu dönem için USD cinsinden Aktif Abone Başına Ortalama Gelir
        appas_usd:
          type: number
          description: Bu dönem için USD cinsinden Aktif Abone Başına Ortalama Gelir Payı
        anrpas_usd:
          type: number
          description: Bu dönem için USD cinsinden Aktif Abone Başına Ortalama Net Gelir
        anrppu_usd:
          type: number
          description: Bu dönem için USD cinsinden Ödeme Yapan Kullanıcı Başına Ortalama Net Gelir
        apppu_usd:
          type: number
          description: Bu dönem için USD cinsinden Ödeme Yapan Kullanıcı Başına Ortalama Gelir Payı
        arppu_usd:
          type: number
          description: Bu dönem için USD cinsinden Ödeme Yapan Kullanıcı Başına Ortalama Gelir
        anrpu_usd:
          type: number
          description: Bu dönem için USD cinsinden Kullanıcı Başına Ortalama Net Gelir
        appu_usd:
          type: number
          description: Bu dönem için USD cinsinden Kullanıcı Başına Ortalama Gelir Payı
        arpu_usd:
          type: number
          description: Bu dönem için USD cinsinden Kullanıcı Başına Ortalama Gelir
        installs:
          type: integer
          description: Bu dönemdeki uygulama kurulum sayısı
        period:
          type: integer
          description: Dönem numarası (1 = birinci dönem, 2 = ikinci dönem, vb.)
        revenue_usd:
          type: number
          description: Bu dönem için USD cinsinden toplam gelir
        proceeds_usd:
          type: number
          description: Bu dönem için USD cinsinden toplam gelir payı (mağaza ücretleri düşüldükten sonra)
        net_revenue_usd:
          type: number
          description: Bu dönem için USD cinsinden toplam net gelir
        revenue_relative:
          type: number
          description: Birinci döneme göre yüzde olarak gelir (%100 = birinci dönem)
        proceeds_relative:
          type: number
          description: Birinci döneme göre yüzde olarak gelir payı (%100 = birinci dönem)
        net_revenue_relative:
          type: number
          description: Birinci döneme göre yüzde olarak net gelir (%100 = birinci dönem)
        subscriptions:
          type: integer
          description: Bu dönemdeki abonelik sayısı
        subscriptions_relative:
          type: number
          description: Birinci döneme göre yüzde olarak abonelik sayısı (%100 = birinci dönem)
        subscribers:
          type: integer
          description: Bu dönemdeki abone sayısı
        subscribers_relative:
          type: number
          description: Birinci döneme göre yüzde olarak abone sayısı (%100 = birinci dönem)
        currently_active_period:
          type: boolean
          description: Bunun kohort için şu anda aktif dönem olup olmadığı
    ConversionDataResponse:
      type: object
      description: Kullanıcıların abonelik durumları arasındaki geçişini gösteren dönüşüm verilerini içeren yanıt
      properties:
        data:
          type: array
          description: Dönüşüm veri noktalarından oluşan dizi (toplu metrikler için boş olabilir)
          items:
            type: object
        value:
          type: number
          description: Dönüşüm oranı değeri
        value_from:
          type: integer
          description: Dönüşüm için başlangıç abonelik durumu
        value_to:
          type: integer
          description: Dönüşüm için hedef abonelik durumu
        compare_value_from:
          type: number
          nullable: true
          description: Karşılaştırma dönemi için başlangıç değeri
        compare_value_to:
          type: number
          nullable: true
          description: Karşılaştırma dönemi için bitiş değeri
        title:
          type: string
          description: Dönüşüm türünü açıklayan görüntüleme başlığı
        type:
          type: string
          description: Dönüşüm metriğinin türü
        default_aggregation:
          type: string
          description: Bu metrik için varsayılan toplama yöntemi
        description:
          type: string
          description: Dönüşüm oranının nasıl hesaplandığına ilişkin ayrıntılı açıklama
        metric_name:
          type: string
          description: Dönüşüm metriğinin dahili adı
        is_json:
          type: boolean
          description: Verinin JSON formatında olup olmadığı
        unit:
          type: string
          description: Ölçüm birimi (dönüşüm oranları için genellikle 'percent')
        recommended_period:
          type: object
          description: Bu dönüşüm metriği için önerilen tarih aralığı
          properties:
            date_from:
              type: string
              description: Önerilen dönemin başlangıç tarihi
            date_to:
              type: string
              description: Önerilen dönemin bitiş tarihi
            period_unit:
              type: string
              description: Önerilen dönem birimi
    FunnelDataResponse:
      type: object
      description: Kullanıcıların dönüşüm aşamalarındaki ilerleyişini gösteren huni analizi verilerini içeren yanıt
      properties:
        data:
          type: array
          description: Dönüşüm sürecinin farklı aşamalarını gösteren huni segmentleri dizisi
          items:
            $ref: '#/components/schemas/FunnelSegment'
    FunnelSegment:
      type: object
      description: Dönüşüm sürecindeki bir aşamayı temsil eden huni segmenti
      properties:
        title:
          type: string
          description: Bu huni segmenti için görüntüleme başlığı
        type:
          type: string
          description: Huni segmentinin türü (toplu veriler için 'total')
        values:
          type: array
          description: Aşamalar boyunca ilerlemeyi gösteren huni değerleri dizisi
          items:
            $ref: '#/components/schemas/FunnelValue'
    FunnelValue:
      type: object
      description: Kullanıcı ilerlemesini ve ayrılmayı gösteren bireysel huni aşaması değeri
      properties:
        period:
          type: integer
          description: Hunideki dönem numarası (-2 = Yükleme, -1 = Paywall görüntülendi, vb.)
        title:
          type: string
          description: Bu huni aşaması için görüntüleme başlığı
        value:
          type: integer
          description: Bu aşamaya ulaşan kullanıcı sayısı
        value_relative:
          type: number
          description: İlk aşamaya göre bu aşamaya ulaşan kullanıcıların yüzdesi
        relative_changes:
          type: number
          description: Önceki döneme kıyasla dönüşüm oranındaki değişim
        following_changes:
          type: object
          description: Bu aşamadan sonra ayrılan kullanıcılara ilişkin bilgiler
          properties:
            title:
              type: string
              description: Ayrılma aşaması için başlık
            value:
              type: integer
              description: Ayrılan kullanıcı sayısı
            value_relative:
              type: number
              description: Ayrılan kullanıcıların yüzdesi
        churn_reason_title:
          type: string
          description: Bu aşamadaki kayıp nedenini açıklayan başlık
        churn_reasons:
          type: array
          description: Belirli kayıp nedenlerinin dizisi
          items:
            type: object
        values:
          type: array
          description: Bu huni aşamasına ait ek iç içe değerler
          items:
            type: object
    LTVDataResponse:
      type: object
      description: Farklı gelir türleri için Yaşam Boyu Değer (LTV) verilerini içeren yanıt
      properties:
        revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: Brüt gelir kullanılarak hesaplanan LTV
        proceeds:
          $ref: '#/components/schemas/LTVMetric'
          description: Hasılat kullanılarak hesaplanan LTV (mağaza ücretleri düşüldükten sonra)
        net_revenue:
          $ref: '#/components/schemas/LTVMetric'
          description: Net gelir kullanılarak hesaplanan LTV
    LTVMetric:
      type: object
      description: Kohort verilerini ve hesaplamalarını içeren bireysel LTV metriği
      properties:
        data:
          type: array
          description: Farklı kohortlar için LTV veri noktalarının dizisi
          items:
            $ref: '#/components/schemas/LTVData'
        description:
          type: string
          description: LTV'nin nasıl hesaplandığını açıklayan HTML açıklaması
        value:
          type: number
          description: Genel LTV değeri
        unit:
          type: string
          description: Ölçüm birimi (genellikle 'USD')
        title:
          type: string
          description: Bu LTV metriği için görüntüleme başlığı
    LTVData:
      type: object
      description: Belirli bir kohort için bireysel LTV veri noktası
      properties:
        title:
          type: string
          description: Bu LTV veri noktası için görüntüleme başlığı
        type:
          type: string
          description: LTV verisi türü (toplu veriler için 'total')
        value:
          type: number
          description: Bu kohort için LTV değeri
        values:
          type: array
          description: Dönem bazlı LTV değerlerinden oluşan dizi
          items:
            type: object
        cohort_size:
          type: integer
          description: Bu kohortdaki kullanıcı sayısı
    RetentionDataResponse:
      type: object
      description: Zaman içinde kullanıcı etkileşimini gösteren tutma verilerini içeren yanıt
      properties:
        data:
          type: array
          description: Tutma veri noktaları dizisi (bazı tutma türleri için boş olabilir)
          items:
            type: object
        title:
          type: string
          description: Tutma metriği için görüntü başlığı
        metric_name:
          type: string
          description: Tutma metriğinin dahili adı
        description:
          type: string
          description: Tutmanın nasıl hesaplandığının açıklaması (mutlak ve göreli değerler)
        value_type:
          type: string
          nullable: true
          description: Tutma değerinin türü (mutlak veya göreli)
security:
  - apikeyAuth: []
