openapi: 3.1.0
info:
  title: Adapty Web API
  version: 1.0.0
  description: |
    Adapty Web API позволяет интегрировать платформу управления подписками Adapty
    в ваши веб-приложения. Этот API предоставляет эндпоинты для получения пейволов,
    записи просмотров пейвола и добавления данных атрибуции.
servers:
  - url: https://api.adapty.io
    description: Продакшн-сервер
paths:
  /api/v2/web-api/paywall/:
    post:
      summary: Получить пейвол
      description: Возвращает пейвол из указанного плейсмента.
      operationId: getPaywall
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
            examples:
              basic:
                summary: Базовый запрос пейвола
                value:
                  store: "app_store"
                  locale: "en"
                  placement_id: "PaywallPlacementId"
                  customer_user_id: "user123"
      responses:
        '200':
          description: Успешный ответ будет содержать объект пейвола.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              examples:
                basic:
                  summary: Базовый ответ пейвола
                  value:
                    placement_id: "onboarding"
                    variation_id: "d76feea0-c0cf-4942-bef5-84ed701fc6db"
                    paywall_id: "9a93fe6f-9162-4dc0-b4b7-73079ed95c34"
                    ab_test_name: "1 week + 1 month | apple picture"
                    paywall_name: "1 week + 1 month | apple picture"
                    products:
                      - title: "1 week"
                        is_consumable: false
                        adapty_product_id: "1c3e03e1-9c43-4f94-aeb5-c7ae2f73d0c2"
                        vendor_product_id: "1_week_apple"
                        introductory_offer_eligibility: true
                        promotional_offer_eligibility: true
                        base_plan_id: null
                        offer: null
                      - title: "1 month"
                        is_consumable: false
                        adapty_product_id: "f4088450-45a8-4737-8db0-367e642d7dcb"
                        vendor_product_id: "1_month_apple"
                        introductory_offer_eligibility: true
                        promotional_offer_eligibility: true
                        base_plan_id: null
                        offer: null
                    remote_config:
                      lang: "en"
                      data: "{\"default_product_number\":1,\"features\":[\"#fresh\",\"#green\",\"#healthy1\"],\"soft_paywall\":false,\"image_url\":\"https://adapty.io/apple.png\"}"
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseError'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationIdNotFoundError'

  /api/v2/web-api/paywall/visit/:
    post:
      summary: Записать просмотр пейвола
      description: |
        Adapty позволяет измерять конверсию ваших пейволов. Однако для этого необходимо
        фиксировать каждый показ пейвола — без этого мы будем знать только о пользователях,
        совершивших покупку, и не будем учитывать тех, кто этого не сделал.
        Используйте этот запрос для записи просмотра пейвола.
      operationId: recordPaywallView
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordPaywallViewRequest'
            examples:
              basic:
                summary: Базовая запись просмотра пейвола
                value:
                  visited_at: "2024-08-24T14:15:22Z"
                  store: "app_store"
                  variation_id: "00000000-0000-0000-0000-000000000000"
                  customer_user_id: "user123"
      responses:
        '201':
          description: Просмотр пейвола успешно записан.
          content:
            application/json:
              schema:
                type: object
                description: Пустое тело ответа
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDateFormatError'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundError'

  /api/v2/web-api/attribution/:
    post:
      summary: Добавить пользовательскую атрибуцию
      description: Добавляет пользовательские данные маркетинговой атрибуции к профилю.
      operationId: addAttribution
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAttributionRequest'
            examples:
              basic:
                summary: Базовые данные атрибуции
                value:
                  status: "organic"
                  attribution_user_id: "attribution_user_id_value"
                  channel: "marketing_channel_value"
                  campaign: "campaign_name_value"
                  ad_group: "ad_group_name_value"
                  ad_set: "ad_set_name_value"
                  creative: "creative_name_value"
                  customer_user_id: "user123"
      responses:
        '201':
          description: Атрибуция успешно добавлена к профилю. Тело ответа пустое.
          content:
            application/json:
              schema:
                type: object
                description: Пустое тело ответа
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidEnumerationMemberError'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundError'

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        API-запросы должны быть аутентифицированы с помощью вашего публичного API-ключа, передаваемого в заголовке **Authorization**
        со значением `Api-Key {your_public_api_key}`, например,
        `Api-Key public_live_...`. Найдите этот ключ в дашборде Adapty ->
        **App Settings** -> вкладка **General** -> раздел **API keys**.

  schemas:
    GetPaywallRequest:
      type: object
      required:
        - store
        - placement_id
      properties:
        store:
          type: string
          description: |
            Стор, в котором был куплен продукт. Возможные значения: `app_store`, `play_store`, `stripe` или `Store ID` вашего пользовательского стора.
          example: "app_store"
        locale:
          type: string
          description: Идентификатор локали пейвола. Ожидается языковой код, состоящий из одного или нескольких субтегов, разделённых символом «-». Первый субтег — для языка, второй — для региона.
          example: "en"
        placement_id:
          type: string
          description: Идентификатор плейсмента. Это значение, которое вы указали при создании плейсмента в дашборде Adapty.
          example: "PaywallPlacementId"
        customer_user_id:
          type: string
          description: Требуется либо `customer_user_id`, либо `profile_id`. Идентификатор пользователя, который вы используете в своём приложении. Например, это может быть UUID пользователя, email или любой другой идентификатор.
          example: "user123"
        profile_id:
          type: string
          description: Требуется либо `customer_user_id`, либо `profile_id`. Идентификатор пользователя в Adapty.
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"

    RecordPaywallViewRequest:
      type: object
      required:
        - store
        - variation_id
      properties:
        customer_user_id:
          type: string
          description: Идентификатор пользователя в вашей системе. Требуется либо `customer_user_id`, либо `profile_id`.
          example: "user123"
        profile_id:
          type: string
          description: Идентификатор пользователя в Adapty. Требуется либо `customer_user_id`, либо `profile_id`.
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
        visited_at:
          type: string
          format: date-time
          description: Дата и время, когда пользователь открыл пейвол.
          example: "2024-08-24T14:15:22Z"
        store:
          type: string
          description: |
            Стор, в котором был куплен продукт. Возможные значения: `app_store`, `play_store`, `stripe` или `Store ID` вашего пользовательского стора.
          example: "app_store"
        variation_id:
          type: string
          format: uuid
          description: Идентификатор варианта, используемый для отслеживания покупок, связанных с конкретным пейволом.
          example: "00000000-0000-0000-0000-000000000000"

    AddAttributionRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [organic, non_organic, unknown]
          description: Указывает, является ли атрибуция органической или неорганической.
          example: "organic"
        attribution_user_id:
          type: string
          description: Идентификатор, присвоенный пользователю источником атрибуции.
          example: "attribution_user_id_value"
        channel:
          type: string
          description: Название маркетингового канала.
          example: "marketing_channel_value"
        campaign:
          type: string
          description: Название маркетинговой кампании.
          example: "campaign_name_value"
        ad_group:
          type: string
          description: Группа объявлений атрибуции.
          example: "ad_group_name_value"
        ad_set:
          type: string
          description: Набор объявлений атрибуции.
          example: "ad_set_name_value"
        creative:
          type: string
          description: Ключевое слово креатива атрибуции.
          example: "creative_name_value"
        customer_user_id:
          type: string
          description: Идентификатор пользователя, который вы используете в своём приложении. Например, это может быть UUID пользователя, email или любой другой идентификатор. Равен null, если вы его не задали. Требуется либо `customer_user_id`, либо `profile_id`.
          example: "user123"
        profile_id:
          type: string
          description: Идентификатор пользователя в Adapty. Его можно найти в поле **Adapty ID** профиля в дашборде Adapty. Требуется либо `customer_user_id`, либо `profile_id`.
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"

    PaywallResponse:
      type: object
      required:
        - placement_id
        - variation_id
        - paywall_id
        - paywall_name
        - products
      properties:
        placement_id:
          type: string
          description: Идентификатор плейсмента, в котором отображается этот пейвол. Это значение задаётся при создании плейсмента в дашборде Adapty.
          example: "onboarding"
        variation_id:
          type: string
          format: uuid
          description: Идентификатор варианта, используемый для отслеживания покупок, связанных с конкретным пейволом.
          example: "d76feea0-c0cf-4942-bef5-84ed701fc6db"
        paywall_id:
          type: string
          format: uuid
          description: Уникальный идентификатор пейвола.
          example: "9a93fe6f-9162-4dc0-b4b7-73079ed95c34"
        ab_test_name:
          type: string
          description: Название родительского A/B-теста.
          example: "1 week + 1 month | apple picture"
        paywall_name:
          type: string
          description: Название пейвола, заданное в дашборде Adapty.
          example: "1 week + 1 month | apple picture"
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
          description: Массив объектов продуктов, содержащих информацию о продуктах для пейвола.
        remote_config:
          $ref: '#/components/schemas/RemoteConfig'
          description: Объект RemoteConfig, содержащий полный Remote Config пейвола.

    Product:
      type: object
      required:
        - is_consumable
        - vendor_product_id
      properties:
        title:
          type: string
          description: Название продукта из раздела «Products» в дашборде Adapty.
        is_consumable:
          type: boolean
          description: Указывает, является ли продукт расходуемой покупкой.
        adapty_product_id:
          type: string
          format: uuid
          description: Внутренний идентификатор продукта в Adapty.
        vendor_product_id:
          type: string
          description: Идентификатор продукта в сторах приложений.
        introductory_offer_eligibility:
          type: boolean
          description: Указывает, имеет ли пользователь право на introductory offer для iOS.
        promotional_offer_eligibility:
          type: boolean
          description: Указывает, имеет ли пользователь право на promotional offer.
        base_plan_id:
          type: string
          nullable: true
          description: |
            Идентификатор базового плана для Google Play или идентификатор цены для Stripe.
            См. [Base plan ID](https://support.google.com/googleplay/android-developer/answer/12154973) для Google Play или
            [price ID](https://docs.stripe.com/products-prices/how-products-and-prices-work#use-products-and-prices) для Stripe.
        offer:
          allOf:
            - $ref: '#/components/schemas/Offer'
          nullable: true
          description: Объект Offer в формате JSON.

    Offer:
      type: object
      required:
        - category
        - type
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: Категория применённого предложения.
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front, unknown]
          description: Тип активного предложения. Если это значение не равно null, предложение было применено в текущем расчётном периоде подписки.
        id:
          type: string
          nullable: true
          description: Идентификатор применённого предложения.

    RemoteConfig:
      type: object
      required:
        - lang
        - data
      properties:
        lang:
          type: string
          description: |
            Код локали для локализации пейвола. Использует субтеги языка и региона,
            разделённые дефисом (-). Примеры: `en` для английского, `pt-br` для бразильского португальского.
          example: "en"
        data:
          type: string
          description: |
            Сериализованная JSON-строка, представляющая Remote Config вашего пейвола.
            Её можно найти на вкладке Remote Config конкретного пейвола в дашборде Adapty.

    ParseError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    VariationIdNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    InvalidDateFormatError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    InvalidEnumerationMemberError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    ProfileNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

security:
  - apikeyAuth: []