openapi: 3.1.0
info:
  title: Adapty Web API
  version: 1.0.0
  description: |
    Adapty Web API, Adapty'nin abonelik yönetim platformunu web uygulamalarınıza entegre etmenizi sağlar.
    Bu API; paywall'ları almak, paywall görüntülemelerini kaydetmek ve attribution verisi eklemek için uç noktalar sunar.
servers:
  - url: https://api.adapty.io
    description: Üretim sunucusu
paths:
  /api/v2/web-api/paywall/:
    post:
      summary: Paywall'ı al
      description: Belirtilen placement'tan paywall'ı alır.
      operationId: getPaywall
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaywallRequest'
            examples:
              basic:
                summary: Temel paywall isteği
                value:
                  store: "app_store"
                  locale: "en"
                  placement_id: "PaywallPlacementId"
                  customer_user_id: "user123"
      responses:
        '200':
          description: Başarılı yanıt, Paywall nesnesini içerecektir.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaywallResponse'
              examples:
                basic:
                  summary: Temel paywall yanıtı
                  value:
                    placement_id: "onboarding"
                    variation_id: "d76feea0-c0cf-4942-bef5-84ed701fc6db"
                    paywall_id: "9a93fe6f-9162-4dc0-b4b7-73079ed95c34"
                    ab_test_name: "1 week + 1 month | apple picture"
                    paywall_name: "1 week + 1 month | apple picture"
                    products:
                      - title: "1 week"
                        is_consumable: false
                        adapty_product_id: "1c3e03e1-9c43-4f94-aeb5-c7ae2f73d0c2"
                        vendor_product_id: "1_week_apple"
                        introductory_offer_eligibility: true
                        promotional_offer_eligibility: true
                        base_plan_id: null
                        offer: null
                      - title: "1 month"
                        is_consumable: false
                        adapty_product_id: "f4088450-45a8-4737-8db0-367e642d7dcb"
                        vendor_product_id: "1_month_apple"
                        introductory_offer_eligibility: true
                        promotional_offer_eligibility: true
                        base_plan_id: null
                        offer: null
                    remote_config:
                      lang: "en"
                      data: "{\"default_product_number\":1,\"features\":[\"#fresh\",\"#green\",\"#healthy1\"],\"soft_paywall\":false,\"image_url\":\"https://adapty.io/apple.png\"}"
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseError'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationIdNotFoundError'

  /api/v2/web-api/paywall/visit/:
    post:
      summary: Paywall görüntülemesini kaydet
      description: |
        Adapty, paywall'larınızın dönüşümünü ölçmenize yardımcı olabilir. Ancak bunun için
        bir paywall her gösterildiğinde bunu kaydetmeniz gerekir; aksi takdirde yalnızca
        satın alma yapan kullanıcıları bilebiliriz ve satın alma yapmayanları kaçırırız.
        Bir paywall görüntülemesini kaydetmek için bu isteği kullanın.
      operationId: recordPaywallView
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordPaywallViewRequest'
            examples:
              basic:
                summary: Temel paywall görüntüleme kaydı
                value:
                  visited_at: "2024-08-24T14:15:22Z"
                  store: "app_store"
                  variation_id: "00000000-0000-0000-0000-000000000000"
                  customer_user_id: "user123"
      responses:
        '201':
          description: Paywall görüntülemesi başarıyla kaydedildi.
          content:
            application/json:
              schema:
                type: object
                description: Boş yanıt gövdesi
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidDateFormatError'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundError'

  /api/v2/web-api/attribution/:
    post:
      summary: Özel attribution ekle
      description: Bir profile pazarlama özel attribution verisi ekler.
      operationId: addAttribution
      security:
        - apikeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAttributionRequest'
            examples:
              basic:
                summary: Temel attribution verisi
                value:
                  status: "organic"
                  attribution_user_id: "attribution_user_id_value"
                  channel: "marketing_channel_value"
                  campaign: "campaign_name_value"
                  ad_group: "ad_group_name_value"
                  ad_set: "ad_set_name_value"
                  creative: "creative_name_value"
                  customer_user_id: "user123"
      responses:
        '201':
          description: Attribution, profile'a başarıyla eklendi. Yanıt gövdesi boştur.
          content:
            application/json:
              schema:
                type: object
                description: Boş yanıt gövdesi
        '400':
          description: Hatalı İstek
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidEnumerationMemberError'
        '401':
          description: Yetkisiz
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '404':
          description: Bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileNotFoundError'

components:
  securitySchemes:
    apikeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        API isteklerinin kimliği, **Authorization** başlığında `Api-Key {your_public_api_key}` değeriyle
        (örneğin `Api-Key public_live_...`) genel API anahtarınız kullanılarak doğrulanmalıdır.
        Bu anahtarı Adapty Kontrol Paneli -> **Uygulama Ayarları** -> **Genel** sekmesi -> **API anahtarları** bölümünde bulabilirsiniz.

  schemas:
    GetPaywallRequest:
      type: object
      required:
        - store
        - placement_id
      properties:
        store:
          type: string
          description: |
            Ürünün satın alındığı mağaza. Olası değerler: `app_store`, `play_store`, `stripe` veya özel mağazanızın `Store ID`'si.
          example: "app_store"
        locale:
          type: string
          description: Paywall yerelleştirmesinin tanımlayıcısı. Bu parametrenin "-" karakteriyle ayrılmış bir veya daha fazla alt etiket içeren bir dil kodu olması beklenir. İlk alt etiket dil içindir, ikincisi bölge içindir.
          example: "en"
        placement_id:
          type: string
          description: Placement'ın tanımlayıcısı. Bu, Adapty Kontrol Paneli'nde bir placement oluştururken belirttiğiniz değerdir.
          example: "PaywallPlacementId"
        customer_user_id:
          type: string
          description: "`customer_user_id` veya `profile_id`'den biri zorunludur. Kullanıyorsanız uygulamanızda kullanıcıyı tanımlamak için kullandığınız kullanıcı kimliği. Örneğin, kullanıcı UUID'niz, e-postanız veya başka herhangi bir kimlik olabilir."
          example: "user123"
        profile_id:
          type: string
          description: "`customer_user_id` veya `profile_id`'den biri zorunludur. Adapty'deki bir kullanıcının tanımlayıcısı."
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"

    RecordPaywallViewRequest:
      type: object
      required:
        - store
        - variation_id
      properties:
        customer_user_id:
          type: string
          description: "Sisteminizde bir kullanıcının tanımlayıcısı. `customer_user_id` veya `profile_id`'den biri zorunludur."
          example: "user123"
        profile_id:
          type: string
          description: "Adapty'deki bir kullanıcının tanımlayıcısı. `customer_user_id` veya `profile_id`'den biri zorunludur."
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"
        visited_at:
          type: string
          format: date-time
          description: Kullanıcının paywall'ı açtığı tarih ve saat.
          example: "2024-08-24T14:15:22Z"
        store:
          type: string
          description: |
            Ürünün satın alındığı mağaza. Olası değerler: `app_store`, `play_store`, `stripe` veya özel mağazanızın `Store ID`'si.
          example: "app_store"
        variation_id:
          type: string
          format: uuid
          description: Satın alımları yapıldıkları belirli paywall'a izlemek için kullanılan varyant kimliği.
          example: "00000000-0000-0000-0000-000000000000"

    AddAttributionRequest:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [organic, non_organic, unknown]
          description: Attribution'ın organik mi yoksa organik olmayan mı olduğunu belirtir.
          example: "organic"
        attribution_user_id:
          type: string
          description: Attribution kaynağı tarafından kullanıcıya atanan kimlik.
          example: "attribution_user_id_value"
        channel:
          type: string
          description: Pazarlama kanalı adı.
          example: "marketing_channel_value"
        campaign:
          type: string
          description: Pazarlama kampanyası adı.
          example: "campaign_name_value"
        ad_group:
          type: string
          description: Attribution reklam grubu.
          example: "ad_group_name_value"
        ad_set:
          type: string
          description: Attribution reklam seti.
          example: "ad_set_name_value"
        creative:
          type: string
          description: Attribution kreatif anahtar kelimesi.
          example: "creative_name_value"
        customer_user_id:
          type: string
          description: "Kullanıyorsanız uygulamanızda kullanıcıyı tanımlamak için kullandığınız kullanıcı kimliği. Örneğin, kullanıcı UUID'niz, e-postanız veya başka herhangi bir kimlik olabilir. Ayarlamadıysanız null. `customer_user_id` veya `profile_id`'den biri zorunludur."
          example: "user123"
        profile_id:
          type: string
          description: "Adapty'deki bir kullanıcının tanımlayıcısı. Adapty Kontrol Paneli'nde profilin **Adapty ID** alanında bulabilirsiniz. `customer_user_id` veya `profile_id`'den biri zorunludur."
          example: "3286abd3-48b0-4e9c-a5f6-ac0a006804a6"

    PaywallResponse:
      type: object
      required:
        - placement_id
        - variation_id
        - paywall_id
        - paywall_name
        - products
      properties:
        placement_id:
          type: string
          description: Bu paywall'ın gösterildiği placement'ın kimliği. Bu değer, Adapty Kontrol Paneli'nde bir placement oluştururken belirlenir.
          example: "onboarding"
        variation_id:
          type: string
          format: uuid
          description: Bu belirli paywall'a bağlı satın alımları izlemek için kullanılan varyant kimliği.
          example: "d76feea0-c0cf-4942-bef5-84ed701fc6db"
        paywall_id:
          type: string
          format: uuid
          description: Paywall'ın benzersiz tanımlayıcısı.
          example: "9a93fe6f-9162-4dc0-b4b7-73079ed95c34"
        ab_test_name:
          type: string
          description: Üst A/B testinin adı.
          example: "1 week + 1 month | apple picture"
        paywall_name:
          type: string
          description: Adapty Kontrol Paneli'nde tanımlandığı şekliyle paywall'ın adı.
          example: "1 week + 1 month | apple picture"
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
          description: Paywall için ürün bilgilerini içeren Product nesnelerinden oluşan dizi.
        remote_config:
          $ref: '#/components/schemas/RemoteConfig'
          description: Paywall'ın tam remote config'ini içeren bir RemoteConfig nesnesi.

    Product:
      type: object
      required:
        - is_consumable
        - vendor_product_id
      properties:
        title:
          type: string
          description: Adapty Kontrol Paneli'ndeki Ürünler bölümünden ürün adı.
        is_consumable:
          type: boolean
          description: Ürünün consumable olup olmadığını belirtir.
        adapty_product_id:
          type: string
          format: uuid
          description: Adapty'de kullanılan dahili ürün kimliği.
        vendor_product_id:
          type: string
          description: Uygulama mağazalarındaki ürün kimliği.
        introductory_offer_eligibility:
          type: boolean
          description: Kullanıcının iOS başlangıç teklifi için uygun olup olmadığını belirtir.
        promotional_offer_eligibility:
          type: boolean
          description: Kullanıcının promosyon teklifi için uygun olup olmadığını belirtir.
        base_plan_id:
          type: string
          nullable: true
          description: |
            Google Play için temel plan kimliği veya Stripe için fiyat kimliği.
            Google Play için [Temel plan kimliği](https://support.google.com/googleplay/android-developer/answer/12154973)'ne veya
            Stripe için [fiyat kimliği](https://docs.stripe.com/products-prices/how-products-and-prices-work#use-products-and-prices)'ne bakın.
        offer:
          allOf:
            - $ref: '#/components/schemas/Offer'
          nullable: true
          description: JSON olarak bir Offer nesnesi.

    Offer:
      type: object
      required:
        - category
        - type
      properties:
        category:
          type: string
          enum: [introductory, promotional, offer_code, win_back]
          description: Uygulanan teklifin kategorisi.
        type:
          type: string
          enum: [free_trial, pay_as_you_go, pay_up_front, unknown]
          description: Aktif teklifin türü. Bu null değilse, teklifin mevcut abonelik döneminde uygulandığı anlamına gelir.
        id:
          type: string
          nullable: true
          description: Uygulanan teklifin kimliği.

    RemoteConfig:
      type: object
      required:
        - lang
        - data
      properties:
        lang:
          type: string
          description: |
            Paywall yerelleştirmesi için yerel ayar kodu. Dil ve bölge alt etiketlerini tire (-) ile ayırarak kullanır.
            Örnekler: İngilizce için `en`, Brezilya Portekizcesi için `pt-br`.
          example: "en"
        data:
          type: string
          description: |
            Paywall'ınızın remote config'ini temsil eden serileştirilmiş JSON dizesi.
            Adapty Kontrol Paneli'nde belirli bir paywall'ın Remote Config sekmesinde bulabilirsiniz.

    ParseError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    UnauthorizedError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    VariationIdNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    InvalidDateFormatError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    InvalidEnumerationMemberError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

    ProfileNotFoundError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              errors:
                type: array
                items:
                  type: string
        error_code:
          type: string
        status_code:
          type: integer

security:
  - apikeyAuth: []